<p>
  <b>Feria2010jefe:</b>
  <%=h @feria2010calificacion.feria2010jefe_id %>
</p>

<p>
  <b>Nroformulario:</b>
  <%=h @feria2010calificacion.nroformulario %>
</p>

<p>
  <b>Calificacion:</b>
  <%=h @feria2010calificacion.calificacion %>
</p>

<p>
  <b>Puntaje:</b>
  <%=h @feria2010calificacion.puntaje %>
</p>


<%= link_to 'Edit', edit_feria2010calificacion_path(@feria2010calificacion) %> |
<%= link_to 'Back', feria2010calificaciones_path %>