<table width="100%" border="0" cellpadding="2" cellspacing="2" align="center">
  <tr>
    <td width="90%" height="30"><div class="col_enc">ACTIVIDADES</div></td>
    <td width="10%" height="30">
    <% form_tag buscar_empleadosactividades_path, :method => 'get' do %>
<table width="80%" border="0" cellpadding="2" align="center" cellspacing="2">
  <tr>
    <td  height="30"><div align="right">
      <div class="uiButton"><img class="img" src="/images/excel.png"/>&nbsp;&nbsp;<span class="uiButtonText">
      <%= submit_tag "Buscar", :name => 'format', :value => 'xls' %>
          </span></div>
</div></td>
  </tr>
</table>
<% end %>
      </td>
  </tr>
  <tr>
    <td height="10"></td>
  </tr>
</table>
<div align="center">
<% remote_form_for [@empleado, @empleadosactividad] do |form| %>
    <% if permiso("empleadosactividad","C").to_s == "S" %>
   <% if !@empleadosactividad.id %>
      <tr class="<%=cycle('even1', 'odd1')%>">
	<%= render :partial => "/empleadosactividades/empleadosactividades_form" %>
      </tr>
   <% end %>
<% end %>
<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr valign="middle">
    <td width="10%" height="30" class="oce-first">Fecha</td>
    <td width="35%" height="30" class="oce-first">Tipo Actividad</td>
    <td width="10%" height="30" class="oce-first">Valor</td>
    <td width="30%" height="30" class="oce-first">Observacion</td>
    <td width="15%" height="30" class="oce-first"></td>
  </tr>
</table>
<% @empleado.empleadosactividades.each do |empleadosactividad| %>
   <% if empleadosactividad.id != @empleadosactividad.id %>
<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" id="one-column-emphasis">
   <tr  valign="middle" class="<%=cycle('even1', 'odd1')%>" id="empleadosactividad_<%= empleadosactividad.id%>">
     <td width="10%" height="30" class="camposDesc"><%=empleadosactividad.fecha%></td>
     <td width="35%" height="30" class="camposDesc"><%=empleadosactividad.tipo_actividad%></td>
     <td width="10%" height="30" class="camposDesc">$ <%=number_to_currency(empleadosactividad.valor,{:precision => 0, :unit=>"", :delimiter =>"."})%></td>
     <td width="30%" height="30" class="camposDesc"><%=empleadosactividad.observaciones%></td>
      <td width="15%" class="camposDesc">
        <% if permiso("empleadosactividad","A").to_s == "S" %>
        <%= link_to_remote('Editar',{:url => edit_empleado_empleadosactividad_path(@empleado, empleadosactividad),
		:method => :get}, :class=>"editarlink")%>
        <% end %>
        <% if permiso("empleadosactividad","E").to_s == "S" %>&nbsp;|
        <%= link_to_remote('Borrar',{:url => empleado_empleadosactividad_path(@empleado, empleadosactividad),
		:method => :delete, :confirm => "¿Seguro?"}, :class=>"borrarlink")%>
        <% end %>
      </td>
 </tr>
</table>
 <% else %>
      <fieldset>
      <table width="100%" border="0" cellpadding="2" cellspacing="2">
        <tr>
          <td  height="30"><div class="col_enc">EDITAR ACTIVIDADES</div></td>
        </tr>
      </table>
    <tr class="<%=cycle('even1', 'odd1')%>" id="empleadosactividad_<%=@empleadosactividad.id%>">
     <%= render :partial => "/empleadosactividades/empleadosactividades_form" %>
    </tr>
    </fieldset>
<% end %>
<% end %>
    <%= hidden_field :empleado, :id %>

<% end %>
<br/>
<% if flash[:empleadosactividad] %>
<div id="empleadosactividad">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#E5E5E5">
   <tr>
        <td width="5%"><div align="right"><img src="/images/connect.png"></div></td>
        <td width="95%" class="campos">&nbsp;&nbsp;<%= flash[:empleadosactividad] %></td>
   </tr>
  </table>
</div>
<script type="text/javascript">
  setTimeout("new Effect.Fade('empleadosactividad');", 5000)
</script>
<% end %>
</div>