<p>
  <b>Persona:</b>
  <%=h @desplazado.persona_id %>
</p>

<p>
  <b>Catastro medellin:</b>
  <%=h @desplazado.catastro_medellin %>
</p>

<p>
  <b>Lista espera:</b>
  <%=h @desplazado.lista_espera %>
</p>

<p>
  <b>Auto 092:</b>
  <%=h @desplazado.auto_092 %>
</p>

<p>
  <b>Municipio desplazamiento:</b>
  <%=h @desplazado.municipio_desplazamiento %>
</p>

<p>
  <b>Municipio aspiracion:</b>
  <%=h @desplazado.municipio_aspiracion %>
</p>

<p>
  <b>Cogestor:</b>
  <%=h @desplazado.cogestor %>
</p>

<p>
  <b>Comuna:</b>
  <%=h @desplazado.comuna %>
</p>

<p>
  <b>Gerencia desplazados:</b>
  <%=h @desplazado.gerencia_desplazados %>
</p>

<p>
  <b>Presento reajuste:</b>
  <%=h @desplazado.presento_reajuste %>
</p>

<p>
  <b>Carta medellin:</b>
  <%=h @desplazado.carta_medellin %>
</p>

<p>
  <b>Colilla banco:</b>
  <%=h @desplazado.colilla_banco %>
</p>

<p>
  <b>Fecha:</b>
  <%=h @desplazado.fecha %>
</p>

<p>
  <b>Hora:</b>
  <%=h @desplazado.hora %>
</p>

<p>
  <b>Entero:</b>
  <%=h @desplazado.entero %>
</p>


<%= link_to 'Edit', edit_desplazado_path(@desplazado) %> |
<%= link_to 'Back', desplazados_path %>