<p>
  <b>Feria2010jefe:</b>
  <%=h @feria2010observacion.feria2010jefe_id %>
</p>

<p>
  <b>Nroformulario:</b>
  <%=h @feria2010observacion.nroformulario %>
</p>

<p>
  <b>Observacion:</b>
  <%=h @feria2010observacion.observacion %>
</p>


<%= link_to 'Edit', edit_feria2010observacion_path(@feria2010observacion) %> |
<%= link_to 'Back', feria2010observaciones_path %>