<p>
  <b>Descripcion:</b>
  <%=h @tipostramite.descripcion %>
</p>

<p>
  <b>Tiempo:</b>
  <%=h @tipostramite.tiempo %>
</p>

<p>
  <b>Responsable:</b>
  <%=h @tipostramite.responsable %>
</p>


<%= link_to 'Edit', edit_tipostramite_path(@tipostramite) %> |
<%= link_to 'Back', tipostramites_path %>