<p>
  <b>Codigo comuna:</b>
  <%=h @comuna.codigo_comuna %>
</p>

<p>
  <b>Comuna:</b>
  <%=h @comuna.comuna %>
</p>

<p>
  <b>Codigo barrio:</b>
  <%=h @comuna.codigo_barrio %>
</p>

<p>
  <b>Barrio:</b>
  <%=h @comuna.barrio %>
</p>

<p>
  <b>Descripcion:</b>
  <%=h @comuna.descripcion %>
</p>


<%= link_to 'Edit', edit_comuna_path(@comuna) %> |
<%= link_to 'Back', comunas_path %>