<table width="100%" height="40">
  <tr>
    <td>
      <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="3%"><img src="/images/mibmin.png" width="64" height="64"/></td>
          <td width="86%"><div class="col_enc">MEJORAMIENTOS ITEMS</div></td>
          <td width="11%"><div align="right">
              <% if permiso("mejoramientositem","C").to_s == "S" %>
               <%= link_to image_tag('nuevo.png',
                                { :border=>0, :title => "Nuevo"}),new_mejoramientositem_path %>
              <% end %>
              <%= link_to image_tag('atras.png',
	            { :border=>0, :title => "Regresar a Mejoramientos"}),mejoramientos_path %>
          </div></td>
        </tr>
      </table></td>
  </tr>
</table>
<div align="center">
<% form_tag request.path, :method => 'get' do %>
    <% content_tag :label do %>
<table width="60%" height="40" border="0" cellpadding="0" cellspacing="0">
   <tr>
     <td width="30%">Digite el dato a buscar :</td>
     <td width="70%"><%= text_field_tag :search, params[:search],{ :class => "campo2",  :size => "50",
  :onChange=> "javascript:this.value=this.value.toUpperCase();",
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" } %>
      <%= image_submit_tag '/images/find.png', :width => '18', :name => nil %></td>
   </tr>
</table>
    <% end %>
  <% end %>
</div>
<br/>
<table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr valign="middle">
    <td width="80%" height="30" class="oce-first">Descripcion</td>
    <td width="10%" height="30" class="oce-first"><div align="center">Unidad</div></td>
    <td width="10%" class="oce-first">&nbsp;</td>
  </tr>
<% @mejoramientositems.each do |mejoramientositem| %>
  <tr class="<%=cycle('even1', 'odd1')%>">
    <td class="camposDesc"><div align="justify"><%=h mejoramientositem.descripcion %></div></td>
    <td class="camposDesc"><div align="center"><%=h mejoramientositem.unidad %></div></td>
    <td  class="camposDesc"><div align="center"><%= link_to 'Editar', edit_mejoramientositem_path(mejoramientositem), :class=>"editarlink"%>
      <% if Conveniosmejoramiento.exists?(["mejoramientositem_id = #{mejoramientositem.id}"]) == false%>
        &nbsp;<%= link_to 'Eliminar', mejoramientositem, :confirm => 'Esta seguro que desea eliminiar este registro?', :method => :delete,:class=>"borrarlink" %>
      <% end %></div></td>
  </tr>
<% end %>
</table>
<br/>
<table width="90%" height="40" border="0" cellpadding="0" cellspacing="0">
   <tr>
     <td width="100%" class="acci_titcontenido2"><div align="center"><%= will_paginate @mejoramientositems, :previous_label => 'Anterior', :next_label => 'Siguiente' %></div></td>
   </tr>
   <tr>
     <td width="100%" class="acci_titcontenido2"><div align="center">Total Registros: <%= @mejoramientositems.total_entries %></div></td>
   </tr>
</table>
<br/>
