<p>
  <b>Fecha:</b>
  <%=h @fiduciasrendimiento.fecha %>
</p>

<p>
  <b>Valor:</b>
  <%=h @fiduciasrendimiento.valor %>
</p>

<p>
  <b>Valor comisiones:</b>
  <%=h @fiduciasrendimiento.valor_comisiones %>
</p>

<p>
  <b>Fiducia:</b>
  <%=h @fiduciasrendimiento.fiducia %>
</p>

<p>
  <b>User:</b>
  <%=h @fiduciasrendimiento.user %>
</p>


<%= link_to 'Edit', edit_fiduciasrendimiento_path(@fiduciasrendimiento) %> |
<%= link_to 'Back', fiduciasrendimientos_path %>