<table width="100%" height="40">
      <tr>
        <td>
          <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="3%"><img src="/images/correspondenciarecibidamin.png" width="64" height="64"/></td>
              <td width="85%"><div class="col_enc">CORRESPONDENCIA RECIBIDA</div></td>
              <% if permiso("correspondenciasrecibida","C").to_s == "S" %>
              <td width="12%"><div align="right">
                  <%= link_to image_tag('nuevo.png',
	                            { :border=>0, :title => "Nuevo"}),new_correspondenciasrecibida_path %>
                  <%= link_to image_tag('atras.png',
	            { :border=>0, :title => "Buscar"}),correspondencias_path %>
                </div></td>
              <% end %>
            </tr>
          </table></td>
      </tr>
</table>
<br/>
<% form_tag buscar_correspondenciasrecibidas_path, :method => 'get' do
    last_id = Correspondenciasrecibida.maximum('id')
    begin
      correspondenciasrecibida = Correspondenciasrecibida.find(last_id)
      @ultimoradicado = correspondenciasrecibida.nro_radicado.to_i
    end
%>
<div align="center">
<table width="70%" border="0" cellspacing="0" cellpadding="0">
    <tr class="odd1">
          <td width="33%" height="20" class="campos" align="left">Nro Radicado </td>
          <td class="camposDesc" align="left"><%= text_field_tag :nro_radicado, params[:nro_radicado],{ :class => "campo", :size => 10,
                  :onChange=> "javascript:this.value=this.value.toUpperCase();",
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" } %>&nbsp;&nbsp;<h class="cerror">* Ultimo Radicado ... <%=@ultimoradicado%></h></td>
        </tr>
         <tr>
          <td width="33%" height="20" class="campos" align="left">Numero Externo </td>
          <td class="camposDesc" align="left"><%= text_field_tag :nro_externo, params[:nro_externo],{ :class => "campo", :size => 10,
                  :onChange=> "javascript:this.value=this.value.toUpperCase();",
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" } %>&nbsp;&nbsp;</td>
        </tr>
    <tr class="odd1">
      <td width="33%" height="20" class="campos" align="left">Remitente Identificacion</td>
      <td class="camposDesc" align="left"><%= text_field_tag :identificacion, params[:identificacion],{ :class => "campo", :size => 20,
                  :onChange=> "javascript:this.value=this.value.toUpperCase();",
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" } %></td>
    </tr>
    <tr>
      <td width="33%" height="20" class="campos" align="left">Remitente Identificacion Bene</td>
      <td class="camposDesc" align="left"><%= text_field_tag :identificacionb, params[:identificacionb],{ :class => "campo", :size => 20,
                  :onChange=> "javascript:this.value=this.value.toUpperCase();",
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" } %></td>
    </tr>
    <tr class="odd1">
      <td width="33%" height="20" class="campos" align="left">Remitente Empresa</td>
      <td class="camposDesc" align="left">
        <%=select("ubicacion", "correspondenciasremitente_id", select_correspondenciasremitente.collect {|p| [ p.entidad.to_s + " - "+p.nombre.to_s, p.id ] }, { :include_blank => true },
      { :style=>"width:450px", :class => "campo", :onFocus => "this.style.border='1px solid #f00'", :onBlur => "this.style.border='1px solid #bbb'" }) %>
      </td>
    </tr>
    <tr>
      <td width="33%" height="20" class="campos" align="left">Fecha Elaboracion</td>
      <td class="camposDesc" align="left">
        Entre <%= calendar_date_select "ubicacion", "fchelainicial", :year_range => select_rangocalendar, :class=> "campo", :size => 10, :time => false, :onfocus=>"this.blur()"%> &nbsp;&nbsp;y&nbsp;<%= calendar_date_select "ubicacion", "fchelafinal", :year_range => select_rangocalendar, :class=> "campo", :size => 10, :time => false, :onfocus=>"this.blur()"%>
      </td>
    </tr>
    <tr class="odd1">
      <td width="33%" height="20" class="campos" align="left">Fecha Recibido</td>
      <td class="camposDesc" align="left">
        Entre <%= calendar_date_select "ubicacion", "fchrecinicial", :year_range => select_rangocalendar, :class=> "campo", :size => 10, :time => false, :onfocus=>"this.blur()"%> &nbsp;&nbsp;y&nbsp;<%= calendar_date_select "ubicacion", "fchrecfinal", :year_range => select_rangocalendar, :class=> "campo", :size => 10, :time => false, :onfocus=>"this.blur()"%>
      </td>
    </tr>
    <tr>
      <td width="33%" height="20" class="campos" align="left">Dependencia</td>
      <td class="camposDesc" align="left">
        <%=select("ubicacion", "dependencia_id", select_dependencia.collect {|p| [ p.descripcion, p.id ] }, { :include_blank => true },
      { :style=>"width:450px", :class => "campo", :onFocus => "this.style.border='1px solid #f00'", :onBlur => "this.style.border='1px solid #bbb'" }) %>
      </td>
    </tr>
    <tr class="odd1">
      <td width="33%" height="20" class="campos" align="left">Clase</td>
      <td class="camposDesc" align="left">
        <%=select("ubicacion", "correspondenciasclase_id", select_correspondenciasclase.collect {|p| [ p.descripcion.to_s, p.id ] }, { :include_blank => true },
      { :style=>"width:250px", :class => "campo", :onFocus => "this.style.border='1px solid #f00'", :onBlur => "this.style.border='1px solid #bbb'" }) %>
      </td>
    </tr>
    <tr>
      <td width="33%" height="20" class="campos" align="left">Asunto</td>
      <td class="camposDesc" align="left">
        <%= text_field_tag :asunto, params[:asunto],{ :class => "campo", :size => 80,
                  :onChange=> "javascript:this.value=this.value.toUpperCase();",
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" } %>
      </td>
    </tr>
    <tr class="odd1">
      <td width="33%" height="20" class="campos" align="left">Observaciones</td>
      <td class="camposDesc" align="left">
        <%= text_field_tag :observacion, params[:observacion],{ :class => "campo", :size => 80,
                  :onChange=> "javascript:this.value=this.value.toUpperCase();",
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" } %>
      </td>
    </tr>
    <tr>
      <td width="33%" height="20" class="campos" align="left">** Nombre Entidad</td>
      <td class="camposDesc" align="left">
        <%= text_field_tag :empresa, params[:empresa],{ :class => "campo", :size => 80,
                  :onChange=> "javascript:this.value=this.value.toUpperCase();",
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" } %>
      </td>
    </tr>
    <tr class="odd1">
      <td width="33%" height="20" class="campos" align="left">** Nombre Resp Entidad</td>
      <td class="camposDesc" align="left">
        <%= text_field_tag :empresar, params[:empresar],{ :class => "campo", :size => 80,
                :onChange=> "javascript:this.value=this.value.toUpperCase();",
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" } %>
      </td>
    </tr>
</table>
<table width="80%" height="0" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="10"><hr size="1" noshade class="hrlinea"/></td>
  </tr>
</table>
<table width="80%" border="0" cellpadding="2" align="center" cellspacing="2">
  <tr>
    <td  height="30"><div align="right">
    <div class="uiButton"><img class="img" src="/images/search.png"/>&nbsp;&nbsp;<span class="uiButtonText">
      <%= submit_tag "Buscar", :name => 'nil', :value => 'Buscar', :disable_with => "Buscando..." %>
          </span></div>
</div></td>
  </tr>
</table>
</div>
<% end %>
<br/>
<table width="80%" border="0" cellpadding="2" cellspacing="2"  align="center">
  <tr><td></td></tr>
  <tr>
    <td align="left" height="30"><div class="col_enc">PARAMETROS INFORME</div></td>
  </tr>
</table>
<% form_tag consolidado_correspondenciasrecibidas_path, :method => 'get' do%>
<div align="center">
<table width="70%" border="0" cellspacing="0" cellpadding="0">
    <tr class="odd1">
      <td width="33%" height="20" class="campos" align="left">Remitente Identificacion</td>
      <td class="camposDesc" align="left"><%= text_field_tag :identificacion, params[:identificacion],{ :class => "campo", :size => 20,
                  :onChange=> "javascript:this.value=this.value.toUpperCase();",
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" } %></td>
    </tr>
    <tr>
      <td width="33%" height="20" class="campos" align="left">Remitente Empresa</td>
      <td class="camposDesc" align="left">
        <%=select("ubicacion", "correspondenciasremitente_id", select_correspondenciasremitente.collect {|p| [ p.entidad.to_s + " - "+p.nombre.to_s, p.id ] }, { :include_blank => true },
      { :style=>"width:450px", :class => "campo", :onFocus => "this.style.border='1px solid #f00'", :onBlur => "this.style.border='1px solid #bbb'" }) %>
      </td>
    </tr>
    <tr class="odd1">
      <td width="33%" height="20" class="campos" align="left">Fecha Elaboracion</td>
      <td class="camposDesc" align="left">
        Entre <%= calendar_date_select "ubicacion", "fchelainicial", :year_range => select_rangocalendar, :class=> "campo", :size => 10, :time => false, :onfocus=>"this.blur()"%> &nbsp;&nbsp;y&nbsp;<%= calendar_date_select "ubicacion", "fchelafinal", :year_range => select_rangocalendar, :class=> "campo", :size => 10, :time => false, :onfocus=>"this.blur()"%>
      </td>
    </tr>
    <tr>
      <td width="33%" height="20" class="campos" align="left">Fecha Recibido</td>
      <td class="camposDesc" align="left">
        Entre <%= calendar_date_select "ubicacion", "fchrecinicial", :year_range => select_rangocalendar, :class=> "campo", :size => 10, :time => false, :onfocus=>"this.blur()"%> &nbsp;&nbsp;y&nbsp;<%= calendar_date_select "ubicacion", "fchrecfinal", :year_range => select_rangocalendar, :class=> "campo", :size => 10, :time => false, :onfocus=>"this.blur()"%>
      </td>
    </tr>
    <tr class="odd1">
      <td width="33%" height="20" class="campos" align="left">Dependencia</td>
      <td class="camposDesc" align="left">
        <%=select("ubicacion", "dependencia_id", select_dependencia.collect {|p| [ p.descripcion, p.id ] }, { :include_blank => true },
      { :style=>"width:450px", :class => "campo", :onFocus => "this.style.border='1px solid #f00'", :onBlur => "this.style.border='1px solid #bbb'" }) %>
      </td>
    </tr>
    <tr>
      <td width="33%" height="20" class="campos" align="left">Clase</td>
      <td class="camposDesc" align="left">
       <%=select("ubicacion", "correspondenciasclase_id", select_correspondenciasclase.collect {|p| [ p.descripcion.to_s, p.id ] }, { :include_blank => true },
      { :style=>"width:250px", :class => "campo", :onFocus => "this.style.border='1px solid #f00'", :onBlur => "this.style.border='1px solid #bbb'" }) %>
      </td>
    </tr>
    <tr class="odd1">
      <td width="33%" height="20" class="campos" align="left">Entregado a?</td>
      <td class="camposDesc" align="left">
       <%=select("ubicacion", "userentregado_id", select_user.collect {|p| [ p.nombre, p.id ] }, { :include_blank => true },
      { :style=>"width:450px", :class => "campo", :onFocus => "this.style.border='1px solid #f00'", :onBlur => "this.style.border='1px solid #bbb'" }) %>
      </td>
    </tr>
    <tr>
      <td width="33%" height="20" class="campos" align="left">Fechas Entrega Sub</td>
      <td class="camposDesc" align="left">
        Entre <%= calendar_date_select "ubicacion", "entregafchelainicial", :year_range => select_rangocalendar, :class=> "campo", :size => 10, :time => false, :onfocus=>"this.blur()"%> &nbsp;&nbsp;y&nbsp;<%= calendar_date_select "ubicacion", "entregafchelafinal", :year_range => select_rangocalendar, :class=> "campo", :size => 10, :time => false, :onfocus=>"this.blur()"%>
      </td>
    </tr>
    <tr class="odd1">
      <td width="33%" height="20" class="campos" align="left">Asignado a?</td>
      <td class="camposDesc" align="left">
       <%=select("ubicacion", "userasignado_id", select_user.collect {|p| [ p.nombre, p.id ] }, { :include_blank => true },
      { :style=>"width:450px", :class => "campo", :onFocus => "this.style.border='1px solid #f00'", :onBlur => "this.style.border='1px solid #bbb'" }) %>
      </td>
    </tr>
    <tr>
      <td width="33%" height="20" class="campos" align="left">Asunto</td>
      <td class="camposDesc" align="left">
        <%= text_field_tag :asunto, params[:asunto],{ :class => "campo", :size => 80,
                  :onChange=> "javascript:this.value=this.value.toUpperCase();",
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" } %>
      </td>
    </tr>
</table>
<table width="80%" height="0" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="10"><hr size="1" noshade class="hrlinea"/></td>
      </tr>
</table>
<table width="80%" border="0" cellpadding="2" align="center" cellspacing="2">
  <tr>
    <td  height="30"><div align="right">
    <div class="uiButton"><img class="img" src="/images/excel.png"/>&nbsp;&nbsp;<span class="uiButtonText">
      <%= submit_tag "Generar", :name => 'nil', :value => 'Generar'%>
          </span></div>
</div></td>
  </tr>
</table>
</div>
<% end %>
<br/>
<% if permiso("correspondenciasrecibida","C").to_s == "S" %>
    <table width="80%" border="0" cellpadding="2" cellspacing="2"  align="center">
      <tr><td></td></tr>
      <tr>
        <td align="left" height="30"><div class="col_enc">PENDIENTES</div></td>
      </tr>
    </table>
    <div align="center">
    <table width="80%" border="0" cellpadding="2" align="center" cellspacing="2">
      <tr>
        <td  height="30"><div align="right">
        <div class="uiButton"><img class="img" src="/images/excel.png"/>&nbsp;&nbsp;<span class="uiButtonText">
            <%= link_to 'Generar', {:controller=>"correspondenciasrecibidas", :action=>"pendiente", :host => is_host}%>
              </span></div>
    </div></td>
      </tr>
    </table>
    </div>
    <br/>
    <br/>
    <table width="80%" border="0" cellpadding="2" cellspacing="2"  align="center">
      <tr><td></td></tr>
      <tr>
        <td align="left" height="30"><div class="col_enc">GENERACION DE STIKER</div></td>
      </tr>
    </table>
    <table width="80%" border="0" cellpadding="2" align="center" cellspacing="2">
      <tr>
        <td  height="30"><div align="right">
           <div class="uiButton"><img class="img" src="/images/excel.png"/>&nbsp;&nbsp;<span class="uiButtonText">
              <%= link_to 'Parametros Informe', stikerinforme_correspondenciasrecibidas_path, :popup => ['new_window','height=350,width=750,scrollbars=yes']%>
            </span></div>
    </div></td>
      </tr>
    </table>
    <br/>
<% end %>
<% if is_admin == '10002' %>
<%= link_to 'C', recordaciones_correspondenciasrecibidas_path, :confirm=>"esta seguro?"%>
<% end %>
<% if permiso("correspondenciasmasivo","C").to_s == "S" %>
<br/>
<table width="80%" border="0" cellpadding="2" cellspacing="2"  align="center">
  <tr><td></td></tr>
  <tr>
    <td align="left" height="30"><div class="col_enc">CARGUE MASIVO DE DOCUMENTOS</div></td>
  </tr>
</table>
<table width="80%" border="0" cellpadding="2" align="center" cellspacing="2">
  <tr>
    <td  height="30"><div align="right">
       <div class="uiButton"><img class="img" src="/images/search.png"/>&nbsp;&nbsp;<span class="uiButtonText">
           <%= link_to 'Cargue Masivo', {:controller => "correspondenciasrecibidas", :action => "upload", :id=>1, :host => is_host}, :popup => ['new_window','height=350,width=700,scrollbars=yes'], :confirm=>"Esta seguro que desea ejecutar el proceso" %>
        </span></div>
</div></td>
  </tr>
</table>
<% end %>
<br/>