<h1>Listing personasbases</h1>

<table>
  <tr>
    <th>Persona</th>
    <th>Id estado</th>
    <th>Estado</th>
    <th>Noform</th>
    <th>Id hogares</th>
    <th>Hogar</th>
    <th>Persona</th>
    <th>Codpersonsa</th>
    <th>Codhogar</th>
    <th>P1</th>
    <th>P2</th>
    <th>P3</th>
    <th>P4</th>
    <th>P5</th>
    <th>P6</th>
    <th>P6 1</th>
    <th>P7</th>
    <th>P8</th>
    <th>P9</th>
    <th>P10</th>
    <th>P11</th>
    <th>P11 1</th>
    <th>P12</th>
    <th>P12 1</th>
    <th>P13</th>
    <th>P14</th>
    <th>P15</th>
    <th>P16</th>
    <th>P17</th>
    <th>P18</th>
    <th>P19</th>
    <th>P20</th>
    <th>P21</th>
    <th>P22</th>
    <th>P23</th>
    <th>P24</th>
    <th>P25</th>
    <th>P26</th>
    <th>P27</th>
    <th>P28</th>
    <th>P29</th>
    <th>P30</th>
    <th>P31</th>
    <th>P32</th>
    <th>P33</th>
    <th>P34</th>
    <th>P35</th>
    <th>P36</th>
    <th>P37</th>
    <th>P38</th>
    <th>P39</th>
    <th>P40</th>
    <th>P40 1</th>
    <th>P41</th>
    <th>P41 1</th>
    <th>P42</th>
    <th>P42 1</th>
    <th>P43</th>
    <th>P44</th>
    <th>P45</th>
    <th>P46</th>
    <th>P47</th>
    <th>P48</th>
    <th>P49</th>
    <th>P49 1</th>
    <th>P50</th>
    <th>P51</th>
    <th>P52</th>
    <th>P53</th>
    <th>P54</th>
    <th>P55</th>
    <th>P56</th>
    <th>P57</th>
    <th>P58</th>
    <th>P59</th>
    <th>P60</th>
    <th>P61</th>
    <th>P62</th>
    <th>P63</th>
    <th>P71</th>
    <th>P72</th>
    <th>P73</th>
    <th>P74</th>
    <th>P75</th>
    <th>P76</th>
    <th>P77</th>
    <th>P78</th>
    <th>P79</th>
    <th>P80</th>
    <th>P81</th>
    <th>P82</th>
    <th>P83</th>
    <th>P84</th>
    <th>P85</th>
    <th>P86</th>
    <th>P87</th>
    <th>P88</th>
    <th>P89</th>
    <th>P90</th>
    <th>P91</th>
    <th>P92</th>
    <th>P92 2</th>
    <th>P93</th>
    <th>P94</th>
    <th>P95</th>
    <th>P96</th>
    <th>P97</th>
    <th>P98</th>
    <th>P99</th>
    <th>P100</th>
    <th>P101</th>
    <th>P102</th>
    <th>P103</th>
    <th>P104</th>
    <th>P105</th>
    <th>P106</th>
    <th>P107</th>
    <th>P108</th>
    <th>P109</th>
    <th>P110</th>
    <th>P111</th>
    <th>P112</th>
    <th>P113</th>
    <th>P114</th>
    <th>P115</th>
    <th>P116</th>
    <th>P117</th>
    <th>P118</th>
    <th>P119</th>
    <th>P120</th>
    <th>P121</th>
    <th>P122</th>
    <th>P123</th>
    <th>P124</th>
    <th>P125</th>
    <th>P126</th>
    <th>P127</th>
    <th>P128</th>
    <th>P129</th>
    <th>P130</th>
    <th>P131</th>
    <th>P132</th>
    <th>P133</th>
    <th>P134</th>
    <th>P135</th>
    <th>P136</th>
    <th>P137</th>
    <th>P138</th>
    <th>P139</th>
    <th>P140</th>
    <th>P141</th>
    <th>P142</th>
    <th>P143</th>
    <th>P144</th>
    <th>P145</th>
    <th>P146</th>
    <th>P147</th>
    <th>P148</th>
    <th>P149</th>
    <th>P150</th>
    <th>P151</th>
    <th>P152</th>
    <th>P153</th>
    <th>P154</th>
    <th>P155</th>
    <th>P156</th>
    <th>P157</th>
    <th>P158</th>
    <th>P159</th>
    <th>P160</th>
    <th>P161</th>
    <th>P162</th>
    <th>P163</th>
    <th>P164</th>
    <th>P165</th>
    <th>P166</th>
    <th>P167</th>
    <th>P168</th>
    <th>P169</th>
    <th>P170</th>
    <th>P171</th>
    <th>P172</th>
    <th>P173</th>
    <th>P174</th>
    <th>P175</th>
    <th>P176</th>
    <th>P177</th>
    <th>P178</th>
    <th>P179</th>
    <th>P180</th>
    <th>P181</th>
    <th>P182</th>
    <th>P183</th>
    <th>P184</th>
    <th>P185</th>
    <th>P186</th>
    <th>P187</th>
    <th>P188</th>
    <th>P189</th>
    <th>P190</th>
    <th>P191</th>
    <th>P192</th>
    <th>P193</th>
    <th>P194</th>
    <th>P198</th>
    <th>P198 1</th>
    <th>P199</th>
    <th>P200</th>
    <th>P201</th>
    <th>P202</th>
    <th>Empadronador</th>
    <th>Supervisor</th>
    <th>Coordinador</th>
  </tr>

<% @personasbases.each do |personasbase| %>
  <tr>
    <td><%=h personasbase.persona_id %></td>
    <td><%=h personasbase.id_estado %></td>
    <td><%=h personasbase.estado %></td>
    <td><%=h personasbase.NoForm %></td>
    <td><%=h personasbase.id_hogares %></td>
    <td><%=h personasbase.HOGAR %></td>
    <td><%=h personasbase.PERSONA %></td>
    <td><%=h personasbase.CodPersonsa %></td>
    <td><%=h personasbase.CodHogar %></td>
    <td><%=h personasbase.P1 %></td>
    <td><%=h personasbase.P2 %></td>
    <td><%=h personasbase.P3 %></td>
    <td><%=h personasbase.P4 %></td>
    <td><%=h personasbase.P5 %></td>
    <td><%=h personasbase.P6 %></td>
    <td><%=h personasbase.P6_1 %></td>
    <td><%=h personasbase.P7 %></td>
    <td><%=h personasbase.P8 %></td>
    <td><%=h personasbase.P9 %></td>
    <td><%=h personasbase.P10 %></td>
    <td><%=h personasbase.P11 %></td>
    <td><%=h personasbase.P11_1 %></td>
    <td><%=h personasbase.P12 %></td>
    <td><%=h personasbase.P12_1 %></td>
    <td><%=h personasbase.P13 %></td>
    <td><%=h personasbase.P14 %></td>
    <td><%=h personasbase.P15 %></td>
    <td><%=h personasbase.P16 %></td>
    <td><%=h personasbase.P17 %></td>
    <td><%=h personasbase.P18 %></td>
    <td><%=h personasbase.P19 %></td>
    <td><%=h personasbase.P20 %></td>
    <td><%=h personasbase.P21 %></td>
    <td><%=h personasbase.P22 %></td>
    <td><%=h personasbase.P23 %></td>
    <td><%=h personasbase.P24 %></td>
    <td><%=h personasbase.P25 %></td>
    <td><%=h personasbase.P26 %></td>
    <td><%=h personasbase.P27 %></td>
    <td><%=h personasbase.P28 %></td>
    <td><%=h personasbase.P29 %></td>
    <td><%=h personasbase.P30 %></td>
    <td><%=h personasbase.P31 %></td>
    <td><%=h personasbase.P32 %></td>
    <td><%=h personasbase.P33 %></td>
    <td><%=h personasbase.P34 %></td>
    <td><%=h personasbase.P35 %></td>
    <td><%=h personasbase.P36 %></td>
    <td><%=h personasbase.P37 %></td>
    <td><%=h personasbase.P38 %></td>
    <td><%=h personasbase.P39 %></td>
    <td><%=h personasbase.P40 %></td>
    <td><%=h personasbase.P40_1 %></td>
    <td><%=h personasbase.P41 %></td>
    <td><%=h personasbase.P41_1 %></td>
    <td><%=h personasbase.P42 %></td>
    <td><%=h personasbase.P42_1 %></td>
    <td><%=h personasbase.P43 %></td>
    <td><%=h personasbase.P44 %></td>
    <td><%=h personasbase.P45 %></td>
    <td><%=h personasbase.P46 %></td>
    <td><%=h personasbase.P47 %></td>
    <td><%=h personasbase.P48 %></td>
    <td><%=h personasbase.P49 %></td>
    <td><%=h personasbase.P49_1 %></td>
    <td><%=h personasbase.P50 %></td>
    <td><%=h personasbase.P51 %></td>
    <td><%=h personasbase.P52 %></td>
    <td><%=h personasbase.P53 %></td>
    <td><%=h personasbase.P54 %></td>
    <td><%=h personasbase.P55 %></td>
    <td><%=h personasbase.P56 %></td>
    <td><%=h personasbase.P57 %></td>
    <td><%=h personasbase.P58 %></td>
    <td><%=h personasbase.P59 %></td>
    <td><%=h personasbase.P60 %></td>
    <td><%=h personasbase.P61 %></td>
    <td><%=h personasbase.P62 %></td>
    <td><%=h personasbase.P63 %></td>
    <td><%=h personasbase.P71 %></td>
    <td><%=h personasbase.P72 %></td>
    <td><%=h personasbase.P73 %></td>
    <td><%=h personasbase.P74 %></td>
    <td><%=h personasbase.P75 %></td>
    <td><%=h personasbase.P76 %></td>
    <td><%=h personasbase.P77 %></td>
    <td><%=h personasbase.P78 %></td>
    <td><%=h personasbase.P79 %></td>
    <td><%=h personasbase.P80 %></td>
    <td><%=h personasbase.P81 %></td>
    <td><%=h personasbase.P82 %></td>
    <td><%=h personasbase.P83 %></td>
    <td><%=h personasbase.P84 %></td>
    <td><%=h personasbase.P85 %></td>
    <td><%=h personasbase.P86 %></td>
    <td><%=h personasbase.P87 %></td>
    <td><%=h personasbase.P88 %></td>
    <td><%=h personasbase.P89 %></td>
    <td><%=h personasbase.P90 %></td>
    <td><%=h personasbase.P91 %></td>
    <td><%=h personasbase.P92 %></td>
    <td><%=h personasbase.P92_2 %></td>
    <td><%=h personasbase.P93 %></td>
    <td><%=h personasbase.P94 %></td>
    <td><%=h personasbase.P95 %></td>
    <td><%=h personasbase.P96 %></td>
    <td><%=h personasbase.P97 %></td>
    <td><%=h personasbase.P98 %></td>
    <td><%=h personasbase.P99 %></td>
    <td><%=h personasbase.P100 %></td>
    <td><%=h personasbase.P101 %></td>
    <td><%=h personasbase.P102 %></td>
    <td><%=h personasbase.P103 %></td>
    <td><%=h personasbase.P104 %></td>
    <td><%=h personasbase.P105 %></td>
    <td><%=h personasbase.P106 %></td>
    <td><%=h personasbase.P107 %></td>
    <td><%=h personasbase.P108 %></td>
    <td><%=h personasbase.P109 %></td>
    <td><%=h personasbase.P110 %></td>
    <td><%=h personasbase.P111 %></td>
    <td><%=h personasbase.P112 %></td>
    <td><%=h personasbase.P113 %></td>
    <td><%=h personasbase.P114 %></td>
    <td><%=h personasbase.P115 %></td>
    <td><%=h personasbase.P116 %></td>
    <td><%=h personasbase.P117 %></td>
    <td><%=h personasbase.P118 %></td>
    <td><%=h personasbase.P119 %></td>
    <td><%=h personasbase.P120 %></td>
    <td><%=h personasbase.P121 %></td>
    <td><%=h personasbase.P122 %></td>
    <td><%=h personasbase.P123 %></td>
    <td><%=h personasbase.P124 %></td>
    <td><%=h personasbase.P125 %></td>
    <td><%=h personasbase.P126 %></td>
    <td><%=h personasbase.P127 %></td>
    <td><%=h personasbase.P128 %></td>
    <td><%=h personasbase.P129 %></td>
    <td><%=h personasbase.P130 %></td>
    <td><%=h personasbase.P131 %></td>
    <td><%=h personasbase.P132 %></td>
    <td><%=h personasbase.P133 %></td>
    <td><%=h personasbase.P134 %></td>
    <td><%=h personasbase.P135 %></td>
    <td><%=h personasbase.P136 %></td>
    <td><%=h personasbase.P137 %></td>
    <td><%=h personasbase.P138 %></td>
    <td><%=h personasbase.P139 %></td>
    <td><%=h personasbase.P140 %></td>
    <td><%=h personasbase.P141 %></td>
    <td><%=h personasbase.P142 %></td>
    <td><%=h personasbase.P143 %></td>
    <td><%=h personasbase.P144 %></td>
    <td><%=h personasbase.P145 %></td>
    <td><%=h personasbase.P146 %></td>
    <td><%=h personasbase.P147 %></td>
    <td><%=h personasbase.P148 %></td>
    <td><%=h personasbase.P149 %></td>
    <td><%=h personasbase.P150 %></td>
    <td><%=h personasbase.P151 %></td>
    <td><%=h personasbase.P152 %></td>
    <td><%=h personasbase.P153 %></td>
    <td><%=h personasbase.P154 %></td>
    <td><%=h personasbase.P155 %></td>
    <td><%=h personasbase.P156 %></td>
    <td><%=h personasbase.P157 %></td>
    <td><%=h personasbase.P158 %></td>
    <td><%=h personasbase.P159 %></td>
    <td><%=h personasbase.P160 %></td>
    <td><%=h personasbase.P161 %></td>
    <td><%=h personasbase.P162 %></td>
    <td><%=h personasbase.P163 %></td>
    <td><%=h personasbase.P164 %></td>
    <td><%=h personasbase.P165 %></td>
    <td><%=h personasbase.P166 %></td>
    <td><%=h personasbase.P167 %></td>
    <td><%=h personasbase.P168 %></td>
    <td><%=h personasbase.P169 %></td>
    <td><%=h personasbase.P170 %></td>
    <td><%=h personasbase.P171 %></td>
    <td><%=h personasbase.P172 %></td>
    <td><%=h personasbase.P173 %></td>
    <td><%=h personasbase.P174 %></td>
    <td><%=h personasbase.P175 %></td>
    <td><%=h personasbase.P176 %></td>
    <td><%=h personasbase.P177 %></td>
    <td><%=h personasbase.P178 %></td>
    <td><%=h personasbase.P179 %></td>
    <td><%=h personasbase.P180 %></td>
    <td><%=h personasbase.P181 %></td>
    <td><%=h personasbase.P182 %></td>
    <td><%=h personasbase.P183 %></td>
    <td><%=h personasbase.P184 %></td>
    <td><%=h personasbase.P185 %></td>
    <td><%=h personasbase.P186 %></td>
    <td><%=h personasbase.P187 %></td>
    <td><%=h personasbase.P188 %></td>
    <td><%=h personasbase.P189 %></td>
    <td><%=h personasbase.P190 %></td>
    <td><%=h personasbase.P191 %></td>
    <td><%=h personasbase.P192 %></td>
    <td><%=h personasbase.P193 %></td>
    <td><%=h personasbase.P194 %></td>
    <td><%=h personasbase.P198 %></td>
    <td><%=h personasbase.P198_1 %></td>
    <td><%=h personasbase.P199 %></td>
    <td><%=h personasbase.P200 %></td>
    <td><%=h personasbase.P201 %></td>
    <td><%=h personasbase.P202 %></td>
    <td><%=h personasbase.Empadronador %></td>
    <td><%=h personasbase.Supervisor %></td>
    <td><%=h personasbase.Coordinador %></td>
    <td><%= link_to 'Show', personasbase %></td>
    <td><%= link_to 'Edit', edit_personasbase_path(personasbase) %></td>
    <td><%= link_to 'Destroy', personasbase, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New personasbase', new_personasbase_path %>