<h1>New personasbase</h1>

<% form_for(@personasbase) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :persona_id %><br />
    <%= f.text_field :persona_id %>
  </p>
  <p>
    <%= f.label :id_estado %><br />
    <%= f.text_field :id_estado %>
  </p>
  <p>
    <%= f.label :estado %><br />
    <%= f.text_field :estado %>
  </p>
  <p>
    <%= f.label :NoForm %><br />
    <%= f.text_field :NoForm %>
  </p>
  <p>
    <%= f.label :id_hogares %><br />
    <%= f.text_field :id_hogares %>
  </p>
  <p>
    <%= f.label :HOGAR %><br />
    <%= f.text_field :HOGAR %>
  </p>
  <p>
    <%= f.label :PERSONA %><br />
    <%= f.text_field :PERSONA %>
  </p>
  <p>
    <%= f.label :CodPersonsa %><br />
    <%= f.text_field :CodPersonsa %>
  </p>
  <p>
    <%= f.label :CodHogar %><br />
    <%= f.text_field :CodHogar %>
  </p>
  <p>
    <%= f.label :P1 %><br />
    <%= f.text_field :P1 %>
  </p>
  <p>
    <%= f.label :P2 %><br />
    <%= f.text_field :P2 %>
  </p>
  <p>
    <%= f.label :P3 %><br />
    <%= f.text_field :P3 %>
  </p>
  <p>
    <%= f.label :P4 %><br />
    <%= f.text_field :P4 %>
  </p>
  <p>
    <%= f.label :P5 %><br />
    <%= f.text_field :P5 %>
  </p>
  <p>
    <%= f.label :P6 %><br />
    <%= f.text_field :P6 %>
  </p>
  <p>
    <%= f.label :P6_1 %><br />
    <%= f.text_field :P6_1 %>
  </p>
  <p>
    <%= f.label :P7 %><br />
    <%= f.text_field :P7 %>
  </p>
  <p>
    <%= f.label :P8 %><br />
    <%= f.text_field :P8 %>
  </p>
  <p>
    <%= f.label :P9 %><br />
    <%= f.text_field :P9 %>
  </p>
  <p>
    <%= f.label :P10 %><br />
    <%= f.text_field :P10 %>
  </p>
  <p>
    <%= f.label :P11 %><br />
    <%= f.text_field :P11 %>
  </p>
  <p>
    <%= f.label :P11_1 %><br />
    <%= f.text_field :P11_1 %>
  </p>
  <p>
    <%= f.label :P12 %><br />
    <%= f.text_field :P12 %>
  </p>
  <p>
    <%= f.label :P12_1 %><br />
    <%= f.text_field :P12_1 %>
  </p>
  <p>
    <%= f.label :P13 %><br />
    <%= f.text_field :P13 %>
  </p>
  <p>
    <%= f.label :P14 %><br />
    <%= f.text_field :P14 %>
  </p>
  <p>
    <%= f.label :P15 %><br />
    <%= f.text_field :P15 %>
  </p>
  <p>
    <%= f.label :P16 %><br />
    <%= f.text_field :P16 %>
  </p>
  <p>
    <%= f.label :P17 %><br />
    <%= f.text_field :P17 %>
  </p>
  <p>
    <%= f.label :P18 %><br />
    <%= f.text_field :P18 %>
  </p>
  <p>
    <%= f.label :P19 %><br />
    <%= f.text_field :P19 %>
  </p>
  <p>
    <%= f.label :P20 %><br />
    <%= f.text_field :P20 %>
  </p>
  <p>
    <%= f.label :P21 %><br />
    <%= f.text_field :P21 %>
  </p>
  <p>
    <%= f.label :P22 %><br />
    <%= f.text_field :P22 %>
  </p>
  <p>
    <%= f.label :P23 %><br />
    <%= f.text_field :P23 %>
  </p>
  <p>
    <%= f.label :P24 %><br />
    <%= f.text_field :P24 %>
  </p>
  <p>
    <%= f.label :P25 %><br />
    <%= f.text_field :P25 %>
  </p>
  <p>
    <%= f.label :P26 %><br />
    <%= f.text_field :P26 %>
  </p>
  <p>
    <%= f.label :P27 %><br />
    <%= f.text_field :P27 %>
  </p>
  <p>
    <%= f.label :P28 %><br />
    <%= f.text_field :P28 %>
  </p>
  <p>
    <%= f.label :P29 %><br />
    <%= f.text_field :P29 %>
  </p>
  <p>
    <%= f.label :P30 %><br />
    <%= f.text_field :P30 %>
  </p>
  <p>
    <%= f.label :P31 %><br />
    <%= f.text_field :P31 %>
  </p>
  <p>
    <%= f.label :P32 %><br />
    <%= f.text_field :P32 %>
  </p>
  <p>
    <%= f.label :P33 %><br />
    <%= f.text_field :P33 %>
  </p>
  <p>
    <%= f.label :P34 %><br />
    <%= f.text_field :P34 %>
  </p>
  <p>
    <%= f.label :P35 %><br />
    <%= f.text_field :P35 %>
  </p>
  <p>
    <%= f.label :P36 %><br />
    <%= f.text_field :P36 %>
  </p>
  <p>
    <%= f.label :P37 %><br />
    <%= f.text_field :P37 %>
  </p>
  <p>
    <%= f.label :P38 %><br />
    <%= f.text_field :P38 %>
  </p>
  <p>
    <%= f.label :P39 %><br />
    <%= f.text_field :P39 %>
  </p>
  <p>
    <%= f.label :P40 %><br />
    <%= f.text_field :P40 %>
  </p>
  <p>
    <%= f.label :P40_1 %><br />
    <%= f.text_field :P40_1 %>
  </p>
  <p>
    <%= f.label :P41 %><br />
    <%= f.text_field :P41 %>
  </p>
  <p>
    <%= f.label :P41_1 %><br />
    <%= f.text_field :P41_1 %>
  </p>
  <p>
    <%= f.label :P42 %><br />
    <%= f.text_field :P42 %>
  </p>
  <p>
    <%= f.label :P42_1 %><br />
    <%= f.text_field :P42_1 %>
  </p>
  <p>
    <%= f.label :P43 %><br />
    <%= f.text_field :P43 %>
  </p>
  <p>
    <%= f.label :P44 %><br />
    <%= f.text_field :P44 %>
  </p>
  <p>
    <%= f.label :P45 %><br />
    <%= f.text_field :P45 %>
  </p>
  <p>
    <%= f.label :P46 %><br />
    <%= f.text_field :P46 %>
  </p>
  <p>
    <%= f.label :P47 %><br />
    <%= f.text_field :P47 %>
  </p>
  <p>
    <%= f.label :P48 %><br />
    <%= f.text_field :P48 %>
  </p>
  <p>
    <%= f.label :P49 %><br />
    <%= f.text_field :P49 %>
  </p>
  <p>
    <%= f.label :P49_1 %><br />
    <%= f.text_field :P49_1 %>
  </p>
  <p>
    <%= f.label :P50 %><br />
    <%= f.text_field :P50 %>
  </p>
  <p>
    <%= f.label :P51 %><br />
    <%= f.text_field :P51 %>
  </p>
  <p>
    <%= f.label :P52 %><br />
    <%= f.text_field :P52 %>
  </p>
  <p>
    <%= f.label :P53 %><br />
    <%= f.text_field :P53 %>
  </p>
  <p>
    <%= f.label :P54 %><br />
    <%= f.text_field :P54 %>
  </p>
  <p>
    <%= f.label :P55 %><br />
    <%= f.text_field :P55 %>
  </p>
  <p>
    <%= f.label :P56 %><br />
    <%= f.text_field :P56 %>
  </p>
  <p>
    <%= f.label :P57 %><br />
    <%= f.text_field :P57 %>
  </p>
  <p>
    <%= f.label :P58 %><br />
    <%= f.text_field :P58 %>
  </p>
  <p>
    <%= f.label :P59 %><br />
    <%= f.text_field :P59 %>
  </p>
  <p>
    <%= f.label :P60 %><br />
    <%= f.text_field :P60 %>
  </p>
  <p>
    <%= f.label :P61 %><br />
    <%= f.text_field :P61 %>
  </p>
  <p>
    <%= f.label :P62 %><br />
    <%= f.text_field :P62 %>
  </p>
  <p>
    <%= f.label :P63 %><br />
    <%= f.text_field :P63 %>
  </p>
  <p>
    <%= f.label :P71 %><br />
    <%= f.text_field :P71 %>
  </p>
  <p>
    <%= f.label :P72 %><br />
    <%= f.text_field :P72 %>
  </p>
  <p>
    <%= f.label :P73 %><br />
    <%= f.text_field :P73 %>
  </p>
  <p>
    <%= f.label :P74 %><br />
    <%= f.text_field :P74 %>
  </p>
  <p>
    <%= f.label :P75 %><br />
    <%= f.text_field :P75 %>
  </p>
  <p>
    <%= f.label :P76 %><br />
    <%= f.text_field :P76 %>
  </p>
  <p>
    <%= f.label :P77 %><br />
    <%= f.text_field :P77 %>
  </p>
  <p>
    <%= f.label :P78 %><br />
    <%= f.text_field :P78 %>
  </p>
  <p>
    <%= f.label :P79 %><br />
    <%= f.text_field :P79 %>
  </p>
  <p>
    <%= f.label :P80 %><br />
    <%= f.text_field :P80 %>
  </p>
  <p>
    <%= f.label :P81 %><br />
    <%= f.text_field :P81 %>
  </p>
  <p>
    <%= f.label :P82 %><br />
    <%= f.text_field :P82 %>
  </p>
  <p>
    <%= f.label :P83 %><br />
    <%= f.text_field :P83 %>
  </p>
  <p>
    <%= f.label :P84 %><br />
    <%= f.text_field :P84 %>
  </p>
  <p>
    <%= f.label :P85 %><br />
    <%= f.text_field :P85 %>
  </p>
  <p>
    <%= f.label :P86 %><br />
    <%= f.text_field :P86 %>
  </p>
  <p>
    <%= f.label :P87 %><br />
    <%= f.text_field :P87 %>
  </p>
  <p>
    <%= f.label :P88 %><br />
    <%= f.text_field :P88 %>
  </p>
  <p>
    <%= f.label :P89 %><br />
    <%= f.text_field :P89 %>
  </p>
  <p>
    <%= f.label :P90 %><br />
    <%= f.text_field :P90 %>
  </p>
  <p>
    <%= f.label :P91 %><br />
    <%= f.text_field :P91 %>
  </p>
  <p>
    <%= f.label :P92 %><br />
    <%= f.text_field :P92 %>
  </p>
  <p>
    <%= f.label :P92_2 %><br />
    <%= f.text_field :P92_2 %>
  </p>
  <p>
    <%= f.label :P93 %><br />
    <%= f.text_field :P93 %>
  </p>
  <p>
    <%= f.label :P94 %><br />
    <%= f.text_field :P94 %>
  </p>
  <p>
    <%= f.label :P95 %><br />
    <%= f.text_field :P95 %>
  </p>
  <p>
    <%= f.label :P96 %><br />
    <%= f.text_field :P96 %>
  </p>
  <p>
    <%= f.label :P97 %><br />
    <%= f.text_field :P97 %>
  </p>
  <p>
    <%= f.label :P98 %><br />
    <%= f.text_field :P98 %>
  </p>
  <p>
    <%= f.label :P99 %><br />
    <%= f.text_field :P99 %>
  </p>
  <p>
    <%= f.label :P100 %><br />
    <%= f.text_field :P100 %>
  </p>
  <p>
    <%= f.label :P101 %><br />
    <%= f.text_field :P101 %>
  </p>
  <p>
    <%= f.label :P102 %><br />
    <%= f.text_field :P102 %>
  </p>
  <p>
    <%= f.label :P103 %><br />
    <%= f.text_field :P103 %>
  </p>
  <p>
    <%= f.label :P104 %><br />
    <%= f.text_field :P104 %>
  </p>
  <p>
    <%= f.label :P105 %><br />
    <%= f.text_field :P105 %>
  </p>
  <p>
    <%= f.label :P106 %><br />
    <%= f.text_field :P106 %>
  </p>
  <p>
    <%= f.label :P107 %><br />
    <%= f.text_field :P107 %>
  </p>
  <p>
    <%= f.label :P108 %><br />
    <%= f.text_field :P108 %>
  </p>
  <p>
    <%= f.label :P109 %><br />
    <%= f.text_field :P109 %>
  </p>
  <p>
    <%= f.label :P110 %><br />
    <%= f.text_field :P110 %>
  </p>
  <p>
    <%= f.label :P111 %><br />
    <%= f.text_field :P111 %>
  </p>
  <p>
    <%= f.label :P112 %><br />
    <%= f.text_field :P112 %>
  </p>
  <p>
    <%= f.label :P113 %><br />
    <%= f.text_field :P113 %>
  </p>
  <p>
    <%= f.label :P114 %><br />
    <%= f.text_field :P114 %>
  </p>
  <p>
    <%= f.label :P115 %><br />
    <%= f.text_field :P115 %>
  </p>
  <p>
    <%= f.label :P116 %><br />
    <%= f.text_field :P116 %>
  </p>
  <p>
    <%= f.label :P117 %><br />
    <%= f.text_field :P117 %>
  </p>
  <p>
    <%= f.label :P118 %><br />
    <%= f.text_field :P118 %>
  </p>
  <p>
    <%= f.label :P119 %><br />
    <%= f.text_field :P119 %>
  </p>
  <p>
    <%= f.label :P120 %><br />
    <%= f.text_field :P120 %>
  </p>
  <p>
    <%= f.label :P121 %><br />
    <%= f.text_field :P121 %>
  </p>
  <p>
    <%= f.label :P122 %><br />
    <%= f.text_field :P122 %>
  </p>
  <p>
    <%= f.label :P123 %><br />
    <%= f.text_field :P123 %>
  </p>
  <p>
    <%= f.label :P124 %><br />
    <%= f.text_field :P124 %>
  </p>
  <p>
    <%= f.label :P125 %><br />
    <%= f.text_field :P125 %>
  </p>
  <p>
    <%= f.label :P126 %><br />
    <%= f.text_field :P126 %>
  </p>
  <p>
    <%= f.label :P127 %><br />
    <%= f.text_field :P127 %>
  </p>
  <p>
    <%= f.label :P128 %><br />
    <%= f.text_field :P128 %>
  </p>
  <p>
    <%= f.label :P129 %><br />
    <%= f.text_field :P129 %>
  </p>
  <p>
    <%= f.label :P130 %><br />
    <%= f.text_field :P130 %>
  </p>
  <p>
    <%= f.label :P131 %><br />
    <%= f.text_field :P131 %>
  </p>
  <p>
    <%= f.label :P132 %><br />
    <%= f.text_field :P132 %>
  </p>
  <p>
    <%= f.label :P133 %><br />
    <%= f.text_field :P133 %>
  </p>
  <p>
    <%= f.label :P134 %><br />
    <%= f.text_field :P134 %>
  </p>
  <p>
    <%= f.label :P135 %><br />
    <%= f.text_field :P135 %>
  </p>
  <p>
    <%= f.label :P136 %><br />
    <%= f.text_field :P136 %>
  </p>
  <p>
    <%= f.label :P137 %><br />
    <%= f.text_field :P137 %>
  </p>
  <p>
    <%= f.label :P138 %><br />
    <%= f.text_field :P138 %>
  </p>
  <p>
    <%= f.label :P139 %><br />
    <%= f.text_field :P139 %>
  </p>
  <p>
    <%= f.label :P140 %><br />
    <%= f.text_field :P140 %>
  </p>
  <p>
    <%= f.label :P141 %><br />
    <%= f.text_field :P141 %>
  </p>
  <p>
    <%= f.label :P142 %><br />
    <%= f.text_field :P142 %>
  </p>
  <p>
    <%= f.label :P143 %><br />
    <%= f.text_field :P143 %>
  </p>
  <p>
    <%= f.label :P144 %><br />
    <%= f.text_field :P144 %>
  </p>
  <p>
    <%= f.label :P145 %><br />
    <%= f.text_field :P145 %>
  </p>
  <p>
    <%= f.label :P146 %><br />
    <%= f.text_field :P146 %>
  </p>
  <p>
    <%= f.label :P147 %><br />
    <%= f.text_field :P147 %>
  </p>
  <p>
    <%= f.label :P148 %><br />
    <%= f.text_field :P148 %>
  </p>
  <p>
    <%= f.label :P149 %><br />
    <%= f.text_field :P149 %>
  </p>
  <p>
    <%= f.label :P150 %><br />
    <%= f.text_field :P150 %>
  </p>
  <p>
    <%= f.label :P151 %><br />
    <%= f.text_field :P151 %>
  </p>
  <p>
    <%= f.label :P152 %><br />
    <%= f.text_field :P152 %>
  </p>
  <p>
    <%= f.label :P153 %><br />
    <%= f.text_field :P153 %>
  </p>
  <p>
    <%= f.label :P154 %><br />
    <%= f.text_field :P154 %>
  </p>
  <p>
    <%= f.label :P155 %><br />
    <%= f.text_field :P155 %>
  </p>
  <p>
    <%= f.label :P156 %><br />
    <%= f.text_field :P156 %>
  </p>
  <p>
    <%= f.label :P157 %><br />
    <%= f.text_field :P157 %>
  </p>
  <p>
    <%= f.label :P158 %><br />
    <%= f.text_field :P158 %>
  </p>
  <p>
    <%= f.label :P159 %><br />
    <%= f.text_field :P159 %>
  </p>
  <p>
    <%= f.label :P160 %><br />
    <%= f.text_field :P160 %>
  </p>
  <p>
    <%= f.label :P161 %><br />
    <%= f.text_field :P161 %>
  </p>
  <p>
    <%= f.label :P162 %><br />
    <%= f.text_field :P162 %>
  </p>
  <p>
    <%= f.label :P163 %><br />
    <%= f.text_field :P163 %>
  </p>
  <p>
    <%= f.label :P164 %><br />
    <%= f.text_field :P164 %>
  </p>
  <p>
    <%= f.label :P165 %><br />
    <%= f.text_field :P165 %>
  </p>
  <p>
    <%= f.label :P166 %><br />
    <%= f.text_field :P166 %>
  </p>
  <p>
    <%= f.label :P167 %><br />
    <%= f.text_field :P167 %>
  </p>
  <p>
    <%= f.label :P168 %><br />
    <%= f.text_field :P168 %>
  </p>
  <p>
    <%= f.label :P169 %><br />
    <%= f.text_field :P169 %>
  </p>
  <p>
    <%= f.label :P170 %><br />
    <%= f.text_field :P170 %>
  </p>
  <p>
    <%= f.label :P171 %><br />
    <%= f.text_field :P171 %>
  </p>
  <p>
    <%= f.label :P172 %><br />
    <%= f.text_field :P172 %>
  </p>
  <p>
    <%= f.label :P173 %><br />
    <%= f.text_field :P173 %>
  </p>
  <p>
    <%= f.label :P174 %><br />
    <%= f.text_field :P174 %>
  </p>
  <p>
    <%= f.label :P175 %><br />
    <%= f.text_field :P175 %>
  </p>
  <p>
    <%= f.label :P176 %><br />
    <%= f.text_field :P176 %>
  </p>
  <p>
    <%= f.label :P177 %><br />
    <%= f.text_field :P177 %>
  </p>
  <p>
    <%= f.label :P178 %><br />
    <%= f.text_field :P178 %>
  </p>
  <p>
    <%= f.label :P179 %><br />
    <%= f.text_field :P179 %>
  </p>
  <p>
    <%= f.label :P180 %><br />
    <%= f.text_field :P180 %>
  </p>
  <p>
    <%= f.label :P181 %><br />
    <%= f.text_field :P181 %>
  </p>
  <p>
    <%= f.label :P182 %><br />
    <%= f.text_field :P182 %>
  </p>
  <p>
    <%= f.label :P183 %><br />
    <%= f.text_field :P183 %>
  </p>
  <p>
    <%= f.label :P184 %><br />
    <%= f.text_field :P184 %>
  </p>
  <p>
    <%= f.label :P185 %><br />
    <%= f.text_field :P185 %>
  </p>
  <p>
    <%= f.label :P186 %><br />
    <%= f.text_field :P186 %>
  </p>
  <p>
    <%= f.label :P187 %><br />
    <%= f.text_field :P187 %>
  </p>
  <p>
    <%= f.label :P188 %><br />
    <%= f.text_field :P188 %>
  </p>
  <p>
    <%= f.label :P189 %><br />
    <%= f.text_field :P189 %>
  </p>
  <p>
    <%= f.label :P190 %><br />
    <%= f.text_field :P190 %>
  </p>
  <p>
    <%= f.label :P191 %><br />
    <%= f.text_field :P191 %>
  </p>
  <p>
    <%= f.label :P192 %><br />
    <%= f.text_field :P192 %>
  </p>
  <p>
    <%= f.label :P193 %><br />
    <%= f.text_field :P193 %>
  </p>
  <p>
    <%= f.label :P194 %><br />
    <%= f.text_field :P194 %>
  </p>
  <p>
    <%= f.label :P198 %><br />
    <%= f.text_field :P198 %>
  </p>
  <p>
    <%= f.label :P198_1 %><br />
    <%= f.text_field :P198_1 %>
  </p>
  <p>
    <%= f.label :P199 %><br />
    <%= f.text_field :P199 %>
  </p>
  <p>
    <%= f.label :P200 %><br />
    <%= f.text_field :P200 %>
  </p>
  <p>
    <%= f.label :P201 %><br />
    <%= f.text_field :P201 %>
  </p>
  <p>
    <%= f.label :P202 %><br />
    <%= f.text_field :P202 %>
  </p>
  <p>
    <%= f.label :Empadronador %><br />
    <%= f.text_field :Empadronador %>
  </p>
  <p>
    <%= f.label :Supervisor %><br />
    <%= f.text_field :Supervisor %>
  </p>
  <p>
    <%= f.label :Coordinador %><br />
    <%= f.text_field :Coordinador %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', personasbases_path %>