<p>
  <b>Persona:</b>
  <%=h @personasbase.persona_id %>
</p>

<p>
  <b>Id estado:</b>
  <%=h @personasbase.id_estado %>
</p>

<p>
  <b>Estado:</b>
  <%=h @personasbase.estado %>
</p>

<p>
  <b>Noform:</b>
  <%=h @personasbase.NoForm %>
</p>

<p>
  <b>Id hogares:</b>
  <%=h @personasbase.id_hogares %>
</p>

<p>
  <b>Hogar:</b>
  <%=h @personasbase.HOGAR %>
</p>

<p>
  <b>Persona:</b>
  <%=h @personasbase.PERSONA %>
</p>

<p>
  <b>Codpersonsa:</b>
  <%=h @personasbase.CodPersonsa %>
</p>

<p>
  <b>Codhogar:</b>
  <%=h @personasbase.CodHogar %>
</p>

<p>
  <b>P1:</b>
  <%=h @personasbase.P1 %>
</p>

<p>
  <b>P2:</b>
  <%=h @personasbase.P2 %>
</p>

<p>
  <b>P3:</b>
  <%=h @personasbase.P3 %>
</p>

<p>
  <b>P4:</b>
  <%=h @personasbase.P4 %>
</p>

<p>
  <b>P5:</b>
  <%=h @personasbase.P5 %>
</p>

<p>
  <b>P6:</b>
  <%=h @personasbase.P6 %>
</p>

<p>
  <b>P6 1:</b>
  <%=h @personasbase.P6_1 %>
</p>

<p>
  <b>P7:</b>
  <%=h @personasbase.P7 %>
</p>

<p>
  <b>P8:</b>
  <%=h @personasbase.P8 %>
</p>

<p>
  <b>P9:</b>
  <%=h @personasbase.P9 %>
</p>

<p>
  <b>P10:</b>
  <%=h @personasbase.P10 %>
</p>

<p>
  <b>P11:</b>
  <%=h @personasbase.P11 %>
</p>

<p>
  <b>P11 1:</b>
  <%=h @personasbase.P11_1 %>
</p>

<p>
  <b>P12:</b>
  <%=h @personasbase.P12 %>
</p>

<p>
  <b>P12 1:</b>
  <%=h @personasbase.P12_1 %>
</p>

<p>
  <b>P13:</b>
  <%=h @personasbase.P13 %>
</p>

<p>
  <b>P14:</b>
  <%=h @personasbase.P14 %>
</p>

<p>
  <b>P15:</b>
  <%=h @personasbase.P15 %>
</p>

<p>
  <b>P16:</b>
  <%=h @personasbase.P16 %>
</p>

<p>
  <b>P17:</b>
  <%=h @personasbase.P17 %>
</p>

<p>
  <b>P18:</b>
  <%=h @personasbase.P18 %>
</p>

<p>
  <b>P19:</b>
  <%=h @personasbase.P19 %>
</p>

<p>
  <b>P20:</b>
  <%=h @personasbase.P20 %>
</p>

<p>
  <b>P21:</b>
  <%=h @personasbase.P21 %>
</p>

<p>
  <b>P22:</b>
  <%=h @personasbase.P22 %>
</p>

<p>
  <b>P23:</b>
  <%=h @personasbase.P23 %>
</p>

<p>
  <b>P24:</b>
  <%=h @personasbase.P24 %>
</p>

<p>
  <b>P25:</b>
  <%=h @personasbase.P25 %>
</p>

<p>
  <b>P26:</b>
  <%=h @personasbase.P26 %>
</p>

<p>
  <b>P27:</b>
  <%=h @personasbase.P27 %>
</p>

<p>
  <b>P28:</b>
  <%=h @personasbase.P28 %>
</p>

<p>
  <b>P29:</b>
  <%=h @personasbase.P29 %>
</p>

<p>
  <b>P30:</b>
  <%=h @personasbase.P30 %>
</p>

<p>
  <b>P31:</b>
  <%=h @personasbase.P31 %>
</p>

<p>
  <b>P32:</b>
  <%=h @personasbase.P32 %>
</p>

<p>
  <b>P33:</b>
  <%=h @personasbase.P33 %>
</p>

<p>
  <b>P34:</b>
  <%=h @personasbase.P34 %>
</p>

<p>
  <b>P35:</b>
  <%=h @personasbase.P35 %>
</p>

<p>
  <b>P36:</b>
  <%=h @personasbase.P36 %>
</p>

<p>
  <b>P37:</b>
  <%=h @personasbase.P37 %>
</p>

<p>
  <b>P38:</b>
  <%=h @personasbase.P38 %>
</p>

<p>
  <b>P39:</b>
  <%=h @personasbase.P39 %>
</p>

<p>
  <b>P40:</b>
  <%=h @personasbase.P40 %>
</p>

<p>
  <b>P40 1:</b>
  <%=h @personasbase.P40_1 %>
</p>

<p>
  <b>P41:</b>
  <%=h @personasbase.P41 %>
</p>

<p>
  <b>P41 1:</b>
  <%=h @personasbase.P41_1 %>
</p>

<p>
  <b>P42:</b>
  <%=h @personasbase.P42 %>
</p>

<p>
  <b>P42 1:</b>
  <%=h @personasbase.P42_1 %>
</p>

<p>
  <b>P43:</b>
  <%=h @personasbase.P43 %>
</p>

<p>
  <b>P44:</b>
  <%=h @personasbase.P44 %>
</p>

<p>
  <b>P45:</b>
  <%=h @personasbase.P45 %>
</p>

<p>
  <b>P46:</b>
  <%=h @personasbase.P46 %>
</p>

<p>
  <b>P47:</b>
  <%=h @personasbase.P47 %>
</p>

<p>
  <b>P48:</b>
  <%=h @personasbase.P48 %>
</p>

<p>
  <b>P49:</b>
  <%=h @personasbase.P49 %>
</p>

<p>
  <b>P49 1:</b>
  <%=h @personasbase.P49_1 %>
</p>

<p>
  <b>P50:</b>
  <%=h @personasbase.P50 %>
</p>

<p>
  <b>P51:</b>
  <%=h @personasbase.P51 %>
</p>

<p>
  <b>P52:</b>
  <%=h @personasbase.P52 %>
</p>

<p>
  <b>P53:</b>
  <%=h @personasbase.P53 %>
</p>

<p>
  <b>P54:</b>
  <%=h @personasbase.P54 %>
</p>

<p>
  <b>P55:</b>
  <%=h @personasbase.P55 %>
</p>

<p>
  <b>P56:</b>
  <%=h @personasbase.P56 %>
</p>

<p>
  <b>P57:</b>
  <%=h @personasbase.P57 %>
</p>

<p>
  <b>P58:</b>
  <%=h @personasbase.P58 %>
</p>

<p>
  <b>P59:</b>
  <%=h @personasbase.P59 %>
</p>

<p>
  <b>P60:</b>
  <%=h @personasbase.P60 %>
</p>

<p>
  <b>P61:</b>
  <%=h @personasbase.P61 %>
</p>

<p>
  <b>P62:</b>
  <%=h @personasbase.P62 %>
</p>

<p>
  <b>P63:</b>
  <%=h @personasbase.P63 %>
</p>

<p>
  <b>P71:</b>
  <%=h @personasbase.P71 %>
</p>

<p>
  <b>P72:</b>
  <%=h @personasbase.P72 %>
</p>

<p>
  <b>P73:</b>
  <%=h @personasbase.P73 %>
</p>

<p>
  <b>P74:</b>
  <%=h @personasbase.P74 %>
</p>

<p>
  <b>P75:</b>
  <%=h @personasbase.P75 %>
</p>

<p>
  <b>P76:</b>
  <%=h @personasbase.P76 %>
</p>

<p>
  <b>P77:</b>
  <%=h @personasbase.P77 %>
</p>

<p>
  <b>P78:</b>
  <%=h @personasbase.P78 %>
</p>

<p>
  <b>P79:</b>
  <%=h @personasbase.P79 %>
</p>

<p>
  <b>P80:</b>
  <%=h @personasbase.P80 %>
</p>

<p>
  <b>P81:</b>
  <%=h @personasbase.P81 %>
</p>

<p>
  <b>P82:</b>
  <%=h @personasbase.P82 %>
</p>

<p>
  <b>P83:</b>
  <%=h @personasbase.P83 %>
</p>

<p>
  <b>P84:</b>
  <%=h @personasbase.P84 %>
</p>

<p>
  <b>P85:</b>
  <%=h @personasbase.P85 %>
</p>

<p>
  <b>P86:</b>
  <%=h @personasbase.P86 %>
</p>

<p>
  <b>P87:</b>
  <%=h @personasbase.P87 %>
</p>

<p>
  <b>P88:</b>
  <%=h @personasbase.P88 %>
</p>

<p>
  <b>P89:</b>
  <%=h @personasbase.P89 %>
</p>

<p>
  <b>P90:</b>
  <%=h @personasbase.P90 %>
</p>

<p>
  <b>P91:</b>
  <%=h @personasbase.P91 %>
</p>

<p>
  <b>P92:</b>
  <%=h @personasbase.P92 %>
</p>

<p>
  <b>P92 2:</b>
  <%=h @personasbase.P92_2 %>
</p>

<p>
  <b>P93:</b>
  <%=h @personasbase.P93 %>
</p>

<p>
  <b>P94:</b>
  <%=h @personasbase.P94 %>
</p>

<p>
  <b>P95:</b>
  <%=h @personasbase.P95 %>
</p>

<p>
  <b>P96:</b>
  <%=h @personasbase.P96 %>
</p>

<p>
  <b>P97:</b>
  <%=h @personasbase.P97 %>
</p>

<p>
  <b>P98:</b>
  <%=h @personasbase.P98 %>
</p>

<p>
  <b>P99:</b>
  <%=h @personasbase.P99 %>
</p>

<p>
  <b>P100:</b>
  <%=h @personasbase.P100 %>
</p>

<p>
  <b>P101:</b>
  <%=h @personasbase.P101 %>
</p>

<p>
  <b>P102:</b>
  <%=h @personasbase.P102 %>
</p>

<p>
  <b>P103:</b>
  <%=h @personasbase.P103 %>
</p>

<p>
  <b>P104:</b>
  <%=h @personasbase.P104 %>
</p>

<p>
  <b>P105:</b>
  <%=h @personasbase.P105 %>
</p>

<p>
  <b>P106:</b>
  <%=h @personasbase.P106 %>
</p>

<p>
  <b>P107:</b>
  <%=h @personasbase.P107 %>
</p>

<p>
  <b>P108:</b>
  <%=h @personasbase.P108 %>
</p>

<p>
  <b>P109:</b>
  <%=h @personasbase.P109 %>
</p>

<p>
  <b>P110:</b>
  <%=h @personasbase.P110 %>
</p>

<p>
  <b>P111:</b>
  <%=h @personasbase.P111 %>
</p>

<p>
  <b>P112:</b>
  <%=h @personasbase.P112 %>
</p>

<p>
  <b>P113:</b>
  <%=h @personasbase.P113 %>
</p>

<p>
  <b>P114:</b>
  <%=h @personasbase.P114 %>
</p>

<p>
  <b>P115:</b>
  <%=h @personasbase.P115 %>
</p>

<p>
  <b>P116:</b>
  <%=h @personasbase.P116 %>
</p>

<p>
  <b>P117:</b>
  <%=h @personasbase.P117 %>
</p>

<p>
  <b>P118:</b>
  <%=h @personasbase.P118 %>
</p>

<p>
  <b>P119:</b>
  <%=h @personasbase.P119 %>
</p>

<p>
  <b>P120:</b>
  <%=h @personasbase.P120 %>
</p>

<p>
  <b>P121:</b>
  <%=h @personasbase.P121 %>
</p>

<p>
  <b>P122:</b>
  <%=h @personasbase.P122 %>
</p>

<p>
  <b>P123:</b>
  <%=h @personasbase.P123 %>
</p>

<p>
  <b>P124:</b>
  <%=h @personasbase.P124 %>
</p>

<p>
  <b>P125:</b>
  <%=h @personasbase.P125 %>
</p>

<p>
  <b>P126:</b>
  <%=h @personasbase.P126 %>
</p>

<p>
  <b>P127:</b>
  <%=h @personasbase.P127 %>
</p>

<p>
  <b>P128:</b>
  <%=h @personasbase.P128 %>
</p>

<p>
  <b>P129:</b>
  <%=h @personasbase.P129 %>
</p>

<p>
  <b>P130:</b>
  <%=h @personasbase.P130 %>
</p>

<p>
  <b>P131:</b>
  <%=h @personasbase.P131 %>
</p>

<p>
  <b>P132:</b>
  <%=h @personasbase.P132 %>
</p>

<p>
  <b>P133:</b>
  <%=h @personasbase.P133 %>
</p>

<p>
  <b>P134:</b>
  <%=h @personasbase.P134 %>
</p>

<p>
  <b>P135:</b>
  <%=h @personasbase.P135 %>
</p>

<p>
  <b>P136:</b>
  <%=h @personasbase.P136 %>
</p>

<p>
  <b>P137:</b>
  <%=h @personasbase.P137 %>
</p>

<p>
  <b>P138:</b>
  <%=h @personasbase.P138 %>
</p>

<p>
  <b>P139:</b>
  <%=h @personasbase.P139 %>
</p>

<p>
  <b>P140:</b>
  <%=h @personasbase.P140 %>
</p>

<p>
  <b>P141:</b>
  <%=h @personasbase.P141 %>
</p>

<p>
  <b>P142:</b>
  <%=h @personasbase.P142 %>
</p>

<p>
  <b>P143:</b>
  <%=h @personasbase.P143 %>
</p>

<p>
  <b>P144:</b>
  <%=h @personasbase.P144 %>
</p>

<p>
  <b>P145:</b>
  <%=h @personasbase.P145 %>
</p>

<p>
  <b>P146:</b>
  <%=h @personasbase.P146 %>
</p>

<p>
  <b>P147:</b>
  <%=h @personasbase.P147 %>
</p>

<p>
  <b>P148:</b>
  <%=h @personasbase.P148 %>
</p>

<p>
  <b>P149:</b>
  <%=h @personasbase.P149 %>
</p>

<p>
  <b>P150:</b>
  <%=h @personasbase.P150 %>
</p>

<p>
  <b>P151:</b>
  <%=h @personasbase.P151 %>
</p>

<p>
  <b>P152:</b>
  <%=h @personasbase.P152 %>
</p>

<p>
  <b>P153:</b>
  <%=h @personasbase.P153 %>
</p>

<p>
  <b>P154:</b>
  <%=h @personasbase.P154 %>
</p>

<p>
  <b>P155:</b>
  <%=h @personasbase.P155 %>
</p>

<p>
  <b>P156:</b>
  <%=h @personasbase.P156 %>
</p>

<p>
  <b>P157:</b>
  <%=h @personasbase.P157 %>
</p>

<p>
  <b>P158:</b>
  <%=h @personasbase.P158 %>
</p>

<p>
  <b>P159:</b>
  <%=h @personasbase.P159 %>
</p>

<p>
  <b>P160:</b>
  <%=h @personasbase.P160 %>
</p>

<p>
  <b>P161:</b>
  <%=h @personasbase.P161 %>
</p>

<p>
  <b>P162:</b>
  <%=h @personasbase.P162 %>
</p>

<p>
  <b>P163:</b>
  <%=h @personasbase.P163 %>
</p>

<p>
  <b>P164:</b>
  <%=h @personasbase.P164 %>
</p>

<p>
  <b>P165:</b>
  <%=h @personasbase.P165 %>
</p>

<p>
  <b>P166:</b>
  <%=h @personasbase.P166 %>
</p>

<p>
  <b>P167:</b>
  <%=h @personasbase.P167 %>
</p>

<p>
  <b>P168:</b>
  <%=h @personasbase.P168 %>
</p>

<p>
  <b>P169:</b>
  <%=h @personasbase.P169 %>
</p>

<p>
  <b>P170:</b>
  <%=h @personasbase.P170 %>
</p>

<p>
  <b>P171:</b>
  <%=h @personasbase.P171 %>
</p>

<p>
  <b>P172:</b>
  <%=h @personasbase.P172 %>
</p>

<p>
  <b>P173:</b>
  <%=h @personasbase.P173 %>
</p>

<p>
  <b>P174:</b>
  <%=h @personasbase.P174 %>
</p>

<p>
  <b>P175:</b>
  <%=h @personasbase.P175 %>
</p>

<p>
  <b>P176:</b>
  <%=h @personasbase.P176 %>
</p>

<p>
  <b>P177:</b>
  <%=h @personasbase.P177 %>
</p>

<p>
  <b>P178:</b>
  <%=h @personasbase.P178 %>
</p>

<p>
  <b>P179:</b>
  <%=h @personasbase.P179 %>
</p>

<p>
  <b>P180:</b>
  <%=h @personasbase.P180 %>
</p>

<p>
  <b>P181:</b>
  <%=h @personasbase.P181 %>
</p>

<p>
  <b>P182:</b>
  <%=h @personasbase.P182 %>
</p>

<p>
  <b>P183:</b>
  <%=h @personasbase.P183 %>
</p>

<p>
  <b>P184:</b>
  <%=h @personasbase.P184 %>
</p>

<p>
  <b>P185:</b>
  <%=h @personasbase.P185 %>
</p>

<p>
  <b>P186:</b>
  <%=h @personasbase.P186 %>
</p>

<p>
  <b>P187:</b>
  <%=h @personasbase.P187 %>
</p>

<p>
  <b>P188:</b>
  <%=h @personasbase.P188 %>
</p>

<p>
  <b>P189:</b>
  <%=h @personasbase.P189 %>
</p>

<p>
  <b>P190:</b>
  <%=h @personasbase.P190 %>
</p>

<p>
  <b>P191:</b>
  <%=h @personasbase.P191 %>
</p>

<p>
  <b>P192:</b>
  <%=h @personasbase.P192 %>
</p>

<p>
  <b>P193:</b>
  <%=h @personasbase.P193 %>
</p>

<p>
  <b>P194:</b>
  <%=h @personasbase.P194 %>
</p>

<p>
  <b>P198:</b>
  <%=h @personasbase.P198 %>
</p>

<p>
  <b>P198 1:</b>
  <%=h @personasbase.P198_1 %>
</p>

<p>
  <b>P199:</b>
  <%=h @personasbase.P199 %>
</p>

<p>
  <b>P200:</b>
  <%=h @personasbase.P200 %>
</p>

<p>
  <b>P201:</b>
  <%=h @personasbase.P201 %>
</p>

<p>
  <b>P202:</b>
  <%=h @personasbase.P202 %>
</p>

<p>
  <b>Empadronador:</b>
  <%=h @personasbase.Empadronador %>
</p>

<p>
  <b>Supervisor:</b>
  <%=h @personasbase.Supervisor %>
</p>

<p>
  <b>Coordinador:</b>
  <%=h @personasbase.Coordinador %>
</p>


<%= link_to 'Edit', edit_personasbase_path(@personasbase) %> |
<%= link_to 'Back', personasbases_path %>