<h1>Listing sisbenes</h1>

<table>
  <tr>
    <th>Descripcion</th>
  </tr>

<% @sisbenes.each do |sisben| %>
  <tr>
    <td><%=h sisben.descripcion %></td>
    <td><%= link_to 'Show', sisben %></td>
    <td><%= link_to 'Edit', edit_sisben_path(sisben) %></td>
    <td><%= link_to 'Destroy', sisben, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New sisben', new_sisben_path %>