<h1>New ficha</h1>

<% form_for(@ficha) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :proyecto_id %><br />
    <%= f.text_field :proyecto_id %>
  </p>
  <p>
    <%= f.label :fichaselemento_id %><br />
    <%= f.text_field :fichaselemento_id %>
  </p>
  <p>
    <%= f.label :valor %><br />
    <%= f.text_field :valor %>
  </p>
  <p>
    <%= f.label :observaciones %><br />
    <%= f.text_field :observaciones %>
  </p>
  <p>
    <%= f.label :fuente1 %><br />
    <%= f.text_field :fuente1 %>
  </p>
  <p>
    <%= f.label :fuente2 %><br />
    <%= f.text_field :fuente2 %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', fichas_path %>