<table width="100%" border="0" cellspacing="2" cellpadding="0">
  <tr class="odd1">
    <td class="campos" align="left">Tipo Modificación*</td>
    <td class="campos" align="left">Valor</td>
    <td class="campos" align="left">Plazo Meses</td>
    <td class="campos" align="left">Plazo Dias</td>
  </tr>
  <tr valign="top">
        <td align="left"><%= select(:estudiosmodificacion, :tipo_modificacion, select_plazo,{ :include_blank => true },
                      { :style=>"width:250px", :class => "campo", :onFocus => "this.style.border='1px solid #f00'", :onBlur => "this.style.border='1px solid #bbb'" })%>
     <%=  error_message_on :estudiosmodificacion, :tipo_modificacion, :css_class =>"cerror"%></td>
    <td align="left"><%= text_field :estudiosmodificacion, :valor,{ :class => "campo", :size => 20,
                :onChange=> "javascript:this.value=this.value.toUpperCase();",
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" }%>
    <%=  error_message_on :estudiosmodificacion, :valor, :css_class =>"cerror"%></td>
     <td align="left"><%= text_field :estudiosmodificacion, :plazo_mes,{ :class => "campo", :size => 6,:maxlength => 2,
                :onChange=> "javascript:this.value=this.value.toUpperCase();",
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" }%>
     <%=  error_message_on :estudiosmodificacion, :plazo_mes, :css_class =>"cerror"%></td>
     <td align="left"><%= text_field :estudiosmodificacion, :plazo_dias,{ :class => "campo", :size => 6,:maxlength => 2,
                :onChange=> "javascript:this.value=this.value.toUpperCase();",
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" }%>
     <%=  error_message_on :estudiosmodificacion, :plazo_dias, :css_class =>"cerror"%></td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="2" cellpadding="0">
  <tr class="odd1">
     <td class="campos" valing="top" align="left">CDP 1</td>
     <td class="campos" valing="top" align="left">CDP 2</td>
     <td class="campos" valing="top" align="left">Observaciones</td>
  </tr>
  <tr valign="top">
    <td align="left" class="camposDesc"><%= text_field :estudiosmodificacion, :cdp1,{ :class => "campo", :size => 10,
                :onChange=> "javascript:this.value=this.value.toUpperCase();",
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" }%>
    Fecha: <%= calendar_date_select "estudiosmodificacion", "fecha_cdp1", :year_range => select_rangocalendar, :class=> "campo", :size => 10, :time => false, :onfocus=>"this.blur()"%></td>
    <td align="left" class="camposDesc"><%= text_field :estudiosmodificacion, :cdp2,{ :class => "campo", :size => 10,
                :onChange=> "javascript:this.value=this.value.toUpperCase();",
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" }%>
    Fecha: <%= calendar_date_select "estudiosmodificacion", "fecha_cdp2", :year_range => select_rangocalendar, :class=> "campo", :size => 10, :time => false, :onfocus=>"this.blur()"%></td>
     <td align="left"><%= text_area(:estudiosmodificacion, :observaciones, { :class => "campoMultiLinea", :cols=>"30", :rows=>"3",
                :onChange=> "javascript:this.value=this.value.toUpperCase();",
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" }) %></td>     
  </tr>
</table>
<table width="100%" height="0" border="0" cellpadding="0" cellspacing="0">
  <tr><td height="10"><hr size="1" noshade class="hrlinea"/></td></tr>
</table>
<table width="100%" border="0" cellspacing="2" cellpadding="0">
  <tr valign="top">
     <td height="30"><div align="right">
        <div class="uiButton"><img class="img" src="/images/guardar.png"/>&nbsp;&nbsp;<span class="uiButtonText"><%= hidden_field :estudiosmodificacion, :id %><%= submit_tag "Guardar", :disable_with => "Guardando..."%></span></div>
       </div></td>
  </tr>
</table>
<br/>