<table width="700" height="65" border="0" align="center" cellpadding="0" cellspacing="0" background="http://190.0.34.154:3013/images/frame.png">
    <tr>
      <td style="border:0px solid #000000; font-family: Tahoma; font-size: 12px;"><div align="right"><strong>SOLICITUD DE COMPROMISO PRESUPUESTAL</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div></td>
    </tr>
</table>
<div align="center">
<table width="700" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
    <tr>
      <td width="25%" style="border:0px solid #000000; font-family: Tahoma; font-size: 11px;"><div align="center">Código: F-GF-04</div></td>
      <td width="25%" style="border:0px solid #000000; font-family: Tahoma; font-size: 11px;"><div align="center">Versión: 1</div></td>
      <td width="25%" style="border:0px solid #000000; font-family: Tahoma; font-size: 11px;"><div align="center">Fecha: 17-04-2009</div></td>
      <td width="25%" style="border:0px solid #000000; font-family: Tahoma; font-size: 11px;"><div align="center">Página 1 de 1</div></td>
    </tr>
</table>
<br/>
<table width="700" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
    <tr>
      <td width="25%" style="font-family: Tahoma; font-size: 12px;"><div align="left">Señores:</div></td>
    </tr>
    <tr>
      <td width="25%" style="font-family: Tahoma; font-size: 12px;"><strong><div align="left">SUBDIRECCIÓN ADMINISTRATIVA Y FINANCIERA</div></strong></td>
    </tr>
</table>
<br/>
<table width="700" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
    <tr>
      <td width="25%" style="font-family: Tahoma; font-size: 12px;"><div align="left">Asunto: Solicitud Compromiso</div></td>
    </tr>
</table>
<br/>
<table width="700" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
    <tr>
      <td width="25%" style="font-family: Tahoma; font-size: 12px;"><div align="left">Cordialmente solicito expedir compromiso presupuestal, con la información que relaciono a continuación:</div></td>
    </tr>
</table>
<br/>
<table width="700" border="0" cellspacing="2" cellpadding="0" style="border-collapse:collapse">
  <tr>
    <td width="228" height="20" style="border:1px solid #000000; font-family: Tahoma; font-size: 11px;"><strong>FECHA</strong></td>
    <td colspan="4" style="border:1px solid #000000; font-family: Tahoma; font-size: 11px;"><div align="left"><%=@estudiosmodificacion.estudiosprevio.contrato.namesdatehoy rescue nil%></div></td>
  </tr>
  <tr>
    <td width="228" height="20" rowspan="2" style="border:1px solid #000000; font-family: Tahoma; font-size: 11px;"><strong>DESCRIPCIÓN</strong></td>
    <td width="104" style="border:1px solid #000000; font-family: Tahoma; font-size: 11px;"><div align="center"><strong>CONTRATO</strong></div></td>
    <td width="119" style="border:1px solid #000000; font-family: Tahoma; font-size: 11px;"><div align="center"><strong>CONVENIO</strong></div></td>
    <td width="146" style="border:1px solid #000000; font-family: Tahoma; font-size: 11px;"><div align="center"><strong>RESOLUCIÓN</strong></div></td>
    <td width="105" style="border:1px solid #000000; font-family: Tahoma; font-size: 11px;"><div align="center"><strong>OTROS</strong></div></td>
  </tr>
  <tr>
    <td width="104" height="20" valign="top" style="border:1px solid #000000; font-family: Tahoma; font-size: 11px;"><div align="center">X</div></td>
    <td width="119" style="border:1px solid #000000; font-family: Tahoma; font-size: 11px;"><div align="center">&nbsp;</div></td>
    <td width="146" valign="top" style="border:1px solid #000000; font-family: Tahoma; font-size: 11px;"><div align="center">&nbsp;</div></td>
    <td width="105" valign="top" style="border:1px solid #000000; font-family: Tahoma; font-size: 11px;"><div align="center">&nbsp;</div></td>
  </tr>
  <tr >
    <td width="228" height="20" style="border:1px solid #000000; font-family: Tahoma; font-size: 11px;"><strong>NOMBRE</strong></td>
    <td colspan="4" valign="top" style="border:1px solid #000000; font-family: Tahoma; font-size: 11px;"><div align="left"><%=@estudiosmodificacion.estudiosprevio.contrato.empleado.nombres rescue nil%></div></td>
  </tr>
  <tr>
    <td width="228" height="20" style="border:1px solid #000000; font-family: Tahoma; font-size: 11px;"><strong>NIT / C.C.</strong></td>
    <td colspan="4" style="border:1px solid #000000; font-family: Tahoma; font-size: 11px;"><div align="left"><%=@estudiosmodificacion.estudiosprevio.contrato.empleado.documento.descripcion rescue nil%>  <%=@estudiosmodificacion.estudiosprevio.contrato.empleado.identificacion rescue nil%> - <%=@estudiosmodificacion.estudiosprevio.contrato.empleado.verificacion rescue nil%></div></td>
  </tr>
  <tr>
    <td width="228" height="20" style="border:1px solid #000000; font-family: Tahoma; font-size: 11px;"><strong>DIRECCIÓN</strong></td>
    <td colspan="4" style="border:1px solid #000000; font-family: Tahoma; font-size: 11px;"><div align="left"><%=@estudiosmodificacion.estudiosprevio.contrato.empleado.direccion rescue nil%></div></td>
  </tr>
  <tr>
    <td width="228" height="20" style="border:1px solid #000000; font-family: Tahoma; font-size: 11px;"><strong>TELÉFONO</strong></td>
    <td colspan="4" style="border:1px solid #000000; font-family: Tahoma; font-size: 11px;"><div align="left"><%=@estudiosmodificacion.estudiosprevio.contrato.empleado.telefono rescue nil%></div></td>
  </tr>
  <tr>
    <td width="228" height="20" style="border:1px solid #000000; font-family: Tahoma; font-size: 11px;"><strong>OBJETO</strong></td>
    <td colspan="4" style="border:1px solid #000000; font-family: Tahoma; font-size: 11px;"><div align="justify"><%=@estudiosmodificacion.estudiosprevio.contrato.objeto%></div></td>
  </tr>
  <tr>
    <td width="228" height="20" style="border:1px solid #000000; font-family: Tahoma; font-size: 11px;"><strong>VALOR</strong></td>
    <td colspan="4" style="border:1px solid #000000; font-family: Tahoma; font-size: 11px;"><div align="left">$ <%=number_to_currency(@estudiosmodificacion.valor,{:precision => 0, :unit=>"", :delimiter =>"."})%></div></td>
  </tr>
  <tr>
    <td width="228" height="20" style="border:1px solid #000000; font-family: Tahoma; font-size: 11px;"><strong>PROYECTO</strong></td>
    <td colspan="4" valign="top" style="border:1px solid #000000; font-family: Tahoma; font-size: 11px;">
      <div align="left"><% if @estudiosmodificacion.estudiosmrubros.exists? %>
          <% @estudiosmodificacion.estudiosmrubros.each do |estudiosmrubro| %>
            *  <%=estudiosmrubro.rubro.descripcion rescue nil %> - $ <%=number_to_currency(estudiosmrubro.valor,{:precision => 0, :unit=>"", :delimiter =>"."})%><br/>
          <% end %>
      <% else %>
         No hay proyectos registradas
      <% end %></div>
    </td>
  </tr>
  <tr>
    <td width="228" height="20" style="border:1px solid #000000; font-family: Tahoma; font-size: 11px;"><strong>RUBRO PRESUPUESTAL</strong></td>
    <td colspan="4" valign="top" style="border:1px solid #000000; font-family: Tahoma; font-size: 11px;">
      <div align="left"><% if @estudiosmodificacion.estudiosmrubros.exists? %>
          <% @estudiosmodificacion.estudiosmrubros.each do |estudiosmrubro| %>
            *  <%=estudiosmrubro.rubro.codigo_corto rescue nil %><br/>
          <% end %>
      <% else %>
         No hay rubros registradas
      <% end %></div>
    </td>
  </tr>
  <tr valign="middle">
    <td height="20" style="border:1px solid #000000; font-family: Tahoma; font-size: 11px;"><strong>DISPONIBILIDAD 1</strong> </td>
    <td colspan="4" style="border:1px solid #000000; font-family: Tahoma; font-size: 11px;"><div align="left">Nro. <%=@estudiosmodificacion.cdp1%>&nbsp;&nbsp;Fecha CDP &nbsp;&nbsp;<%=@estudiosmodificacion.fecha_cdp1%></div></td>
  </tr>
  <% if @estudiosmodificacion.cdp2 %>
  <tr valign="middle">
    <td height="20" style="border:1px solid #000000; font-family: Tahoma; font-size: 11px;"><strong>DISPONIBILIDAD 2</strong> </td>
    <td colspan="4" style="border:1px solid #000000; font-family: Tahoma; font-size: 11px;"><div align="left"><%=@estudiosmodificacion.cdp2%>&nbsp;&nbsp;Fecha CDP &nbsp;&nbsp;<%=@estudiosmodificacion.fecha_cdp2%></div></td>
  </tr>
  <% end %>
  <tr>
    <td width="228" height="20" style="border:1px solid #000000; font-family: Tahoma; font-size: 11px;"><strong>No Y FECHA CONTRATO</strong></td>
    <td colspan="4" style="border:1px solid #000000; font-family: Tahoma; font-size: 11px;"><div align="left">
        Modificación (<%=@estudiosmodificacion.dtipomodificacion rescue nil%>) - Contrato <%=@estudiosmodificacion.estudiosprevio.contrato.nro_contrato rescue nil%> de <%=@estudiosmodificacion.estudiosprevio.contrato.fecha_inicio.strftime("%Y") rescue nil%></div></td>
  </tr>
  <tr>
    <td width="228" height="20" style="border:1px solid #000000; font-family: Tahoma; font-size: 11px;"><strong>DEPENDENCIA</strong></td>
    <td colspan="4" style="border:1px solid #000000; font-family: Tahoma; font-size: 11px;"><div align="left"><%=@estudiosmodificacion.estudiosprevio.userdependencia rescue nil%></div></td>
  </tr>
  <tr>
    <td width="228" height="20" style="border:1px solid #000000; font-family: Tahoma; font-size: 11px;"><strong>OBSERVACION</strong></td>
    <td colspan="4" style="border:1px solid #000000; font-family: Tahoma; font-size: 11px;"><div align="left"><%=@estudiosmodificacion.observaciones rescue nil%></div></td>
  </tr>
  <tr>
    <td width="228" height="20" style="border:1px solid #000000; font-family: Tahoma; font-size: 11px;"><strong>ID SIFI</strong></td>
    <td colspan="4" style="border:1px solid #000000; font-family: Tahoma; font-size: 11px;"><div align="left"><%=@estudiosmodificacion.estudiosprevio.id rescue nil%></div></td>
  </tr>
</table>
</div>