<p>
  <b>Persona:</b>
  <%=h @feria2014puntaje.persona_id %>
</p>

<p>
  <b>Variable:</b>
  <%=h @feria2014puntaje.variable %>
</p>

<p>
  <b>Puntaje:</b>
  <%=h @feria2014puntaje.puntaje %>
</p>


<%= link_to 'Edit', edit_feria2014puntaje_path(@feria2014puntaje) %> |
<%= link_to 'Back', feria2014puntajes_path %>