<p>
  <b>Codcomuna:</b>
  <%=h @catastro.codcomuna %>
</p>

<p>
  <b>Codbarrio:</b>
  <%=h @catastro.codbarrio %>
</p>

<p>
  <b>Manzana:</b>
  <%=h @catastro.manzana %>
</p>

<p>
  <b>Usopredial:</b>
  <%=h @catastro.usopredial %>
</p>

<p>
  <b>Estrato:</b>
  <%=h @catastro.estrato %>
</p>

<p>
  <b>Cedcat:</b>
  <%=h @catastro.cedcat %>
</p>

<p>
  <b>Cbml:</b>
  <%=h @catastro.cbml %>
</p>

<p>
  <b>Matricula:</b>
  <%=h @catastro.matricula %>
</p>

<p>
  <b>Direccion:</b>
  <%=h @catastro.direccion %>
</p>

<p>
  <b>Arealote:</b>
  <%=h @catastro.arealote %>
</p>

<p>
  <b>Codigopropietario:</b>
  <%=h @catastro.codigopropietario %>
</p>

<p>
  <b>Documento:</b>
  <%=h @catastro.documento %>
</p>

<p>
  <b>Nombre:</b>
  <%=h @catastro.nombre %>
</p>

<p>
  <b>Apellidos:</b>
  <%=h @catastro.apellidos %>
</p>

<p>
  <b>Telefonoprop:</b>
  <%=h @catastro.telefonoprop %>
</p>


<%= link_to 'Edit', edit_catastro_path(@catastro) %> |
<%= link_to 'Back', catastros_path %>