<h1>Editing poblacionesespecial</h1>

<% form_for(@poblacionesespecial) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @poblacionesespecial %> |
<%= link_to 'Back', poblacionesespeciales_path %>