<p>
  <b>User:</b>
  <%=h @bdhogaresbienestar.user %>
</p>

<p>
  <b>Persona:</b>
  <%=h @bdhogaresbienestar.persona %>
</p>

<p>
  <b>Codigounidadserviciouds:</b>
  <%=h @bdhogaresbienestar.codigounidadserviciouds %>
</p>

<p>
  <b>Nombreunidadserviciouds:</b>
  <%=h @bdhogaresbienestar.nombreunidadserviciouds %>
</p>

<p>
  <b>Nombremunicipiouds:</b>
  <%=h @bdhogaresbienestar.nombremunicipiouds %>
</p>

<p>
  <b>Nombrezonarestouds:</b>
  <%=h @bdhogaresbienestar.nombrezonarestouds %>
</p>

<p>
  <b>Nombrecentropobladouds:</b>
  <%=h @bdhogaresbienestar.nombrecentropobladouds %>
</p>

<p>
  <b>Nombrecomunauds:</b>
  <%=h @bdhogaresbienestar.nombrecomunauds %>
</p>

<p>
  <b>Nombrebarriouds:</b>
  <%=h @bdhogaresbienestar.nombrebarriouds %>
</p>

<p>
  <b>Direccionuds:</b>
  <%=h @bdhogaresbienestar.direccionuds %>
</p>

<p>
  <b>Telefonouds:</b>
  <%=h @bdhogaresbienestar.telefonouds %>
</p>

<p>
  <b>Identificacion:</b>
  <%=h @bdhogaresbienestar.identificacion %>
</p>

<p>
  <b>Primernombre:</b>
  <%=h @bdhogaresbienestar.primernombre %>
</p>

<p>
  <b>Segundonombre:</b>
  <%=h @bdhogaresbienestar.segundonombre %>
</p>

<p>
  <b>Primerapellido:</b>
  <%=h @bdhogaresbienestar.primerapellido %>
</p>

<p>
  <b>Segundoapellido:</b>
  <%=h @bdhogaresbienestar.segundoapellido %>
</p>

<p>
  <b>Nombreservicio:</b>
  <%=h @bdhogaresbienestar.nombreservicio %>
</p>


<%= link_to 'Edit', edit_bdhogaresbienestar_path(@bdhogaresbienestar) %> |
<%= link_to 'Back', bdhogaresbienestares_path %>