<h1>Listing resolucionesclases</h1>

<table>
  <tr>
    <th>Descripcion</th>
  </tr>

<% @resolucionesclases.each do |resolucionesclase| %>
  <tr>
    <td><%=h resolucionesclase.descripcion %></td>
    <td><%= link_to 'Show', resolucionesclase %></td>
    <td><%= link_to 'Edit', edit_resolucionesclase_path(resolucionesclase) %></td>
    <td><%= link_to 'Destroy', resolucionesclase, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New resolucionesclase', new_resolucionesclase_path %>