<p>
  <b>Titulacion:</b>
  <%=h @titulacionescargue.titulacion_id %>
</p>

<p>
  <b>User:</b>
  <%=h @titulacionescargue.user_id %>
</p>

<p>
  <b>Identificacion:</b>
  <%=h @titulacionescargue.identificacion %>
</p>

<p>
  <b>Primer nombre:</b>
  <%=h @titulacionescargue.primer_nombre %>
</p>

<p>
  <b>Segundo nombre:</b>
  <%=h @titulacionescargue.segundo_nombre %>
</p>

<p>
  <b>Primer apellido:</b>
  <%=h @titulacionescargue.primer_apellido %>
</p>

<p>
  <b>Segundo apellido:</b>
  <%=h @titulacionescargue.segundo_apellido %>
</p>

<p>
  <b>Direccion:</b>
  <%=h @titulacionescargue.direccion %>
</p>

<p>
  <b>Telefono1:</b>
  <%=h @titulacionescargue.telefono1 %>
</p>

<p>
  <b>Telefono2:</b>
  <%=h @titulacionescargue.telefono2 %>
</p>


<%= link_to 'Edit', edit_titulacionescargue_path(@titulacionescargue) %> |
<%= link_to 'Back', titulacionescargues_path %>