<p>
  <b>Persona:</b>
  <%=h @ayudashumanitaria.persona_id %>
</p>

<p>
  <b>Estado atencion:</b>
  <%=h @ayudashumanitaria.estado_atencion %>
</p>

<p>
  <b>Nro carpeta:</b>
  <%=h @ayudashumanitaria.nro_carpeta %>
</p>

<p>
  <b>Tipo evacuacion:</b>
  <%=h @ayudashumanitaria.tipo_evacuacion %>
</p>

<p>
  <b>Fecha remision:</b>
  <%=h @ayudashumanitaria.fecha_remision %>
</p>

<p>
  <b>Nro ficha simpad:</b>
  <%=h @ayudashumanitaria.nro_ficha_simpad %>
</p>

<p>
  <b>Evento:</b>
  <%=h @ayudashumanitaria.evento %>
</p>

<p>
  <b>Direccion evento:</b>
  <%=h @ayudashumanitaria.direccion_evento %>
</p>

<p>
  <b>Telefono evento:</b>
  <%=h @ayudashumanitaria.telefono_evento %>
</p>

<p>
  <b>Barrio evento:</b>
  <%=h @ayudashumanitaria.barrio_evento %>
</p>

<p>
  <b>Direccion nueva viv:</b>
  <%=h @ayudashumanitaria.direccion_nueva_viv %>
</p>

<p>
  <b>Telefono nueva viv:</b>
  <%=h @ayudashumanitaria.telefono_nueva_viv %>
</p>

<p>
  <b>Barrio nueva viv:</b>
  <%=h @ayudashumanitaria.barrio_nueva_viv %>
</p>

<p>
  <b>Fecha contrato:</b>
  <%=h @ayudashumanitaria.fecha_contrato %>
</p>


<%= link_to 'Edit', edit_ayudashumanitaria_path(@ayudashumanitaria) %> |
<%= link_to 'Back', ayudashumanitarias_path %>