<h1>Listing titulacionesdoctipos</h1>

<table>
  <tr>
    <th>Documento</th>
  </tr>

<% @titulacionesdoctipos.each do |titulacionesdoctipo| %>
  <tr>
    <td><%=h titulacionesdoctipo.documento %></td>
    <td><%= link_to 'Show', titulacionesdoctipo %></td>
    <td><%= link_to 'Edit', edit_titulacionesdoctipo_path(titulacionesdoctipo) %></td>
    <td><%= link_to 'Destroy', titulacionesdoctipo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New titulacionesdoctipo', new_titulacionesdoctipo_path %>