<h1>New titulacionesdoctipo</h1>

<% form_for(@titulacionesdoctipo) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :documento %><br />
    <%= f.text_field :documento %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', titulacionesdoctipos_path %>