<%= stylesheet_link_tag 'scaffold'%>
<fieldset>
<table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr>
    <td height="30"><div class="col_enc">OBSERVACIONES </div></td>
  </tr>
</table>
<% remote_form_for [@correspondenciasinterna, @corresinternasobservacion] do |form| %>
  <%# if permiso("corresinternasobservacion","C").to_s == "S" %>

  <%= render :partial => "/corresinternasobservaciones/corresinternasobservaciones_form" %>
  
  <%#end%>
<% if @correspondenciasinterna.corresinternasobservaciones.exists? %>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr valign="middle">
    <td width="15%" height="30" class="oce-first">Fecha</td>
    <td width="75%" class="oce-first">Observaciones</td>
    <td width="10%" height="30" align="left" class="oce-first"></td>
  </tr>
</table>
<% for corresinternasobservacion in @correspondenciasinterna.corresinternasobservaciones.find(:all, :order => 'created_at DESC') %>
   <% if corresinternasobservacion.id != @corresinternasobservacion.id %>
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" id="one-column-emphasis">
   <tr  valign="middle" class="<%=cycle('even1', 'odd1')%>" id="corresinternasobservacion_<%=corresinternasobservacion.id%>">
    <td width="15%" height="30" class="camposDesc"><%= corresinternasobservacion.user.username rescue nil %> <%=corresinternasobservacion.created_at.strftime("%Y-%m-%d %X") rescue nil%> </td>
    <td width="75%" class="camposDesc"><%=corresinternasobservacion.observacion rescue nil%></td>
    <td width="10%" class="camposDesc">
     <%# if permiso("corresinternasobservacion","E").to_s == "S" %>
           <%= link_to_remote('Borrar',{:url => correspondenciasinterna_corresinternasobservacion_path(@correspondenciasinterna, corresinternasobservacion),
		:method => :delete, :confirm => "¿Seguro?"}, :class=>"borrarlink")%>
    <%# end %></td>
 </tr>
</table>
  <% else %>
      <fieldset>
      <table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr>
    <td  height="30"><div class="col_enc">EDITAR DEPENDENCIAS</div></td>
  </tr>
</table>
    <tr class="<%=cycle('even1', 'odd1')%>" id="corresinternasobservacion_<%=@corresinternasobservacion.id%>">
     <%= render :partial => "corresinternasobservaciones_form" %>
    </tr>
    </fieldset>
  <% end %>
<% end %>
<% else %>
<table width="40%" border="0" cellpadding="0" align="center" cellspacing="0" bgcolor="#E5E5E5">
      <tr>
        <td width="10%"><div align="right"><img src="/images/alerta.png"></div></td>
        <td width="90%" class="campos">&nbsp;&nbsp;No hay datos asociados.</td>
     </tr>
</table>
<% end %>
            <%= hidden_field :correspondenciasinterna, :id %>
<% end %>
<br/>

<% if flash[:corresinternasobservacion] %>
<div id="corresinternasobservacion">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#E5E5E5">
   <tr>
        <td width="5%"><div align="right"><img src="/images/connect.png"></div></td>
        <td width="95%" class="campos">&nbsp;&nbsp;<%= flash[:corresinternasobservacion] %></td>
   </tr>
  </table>
</div>
<script type="text/javascript">
  setTimeout("new Effect.Fade('corresinternasobservacion');", 5000)
</script>
<% end %>
</fieldset>
