<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
   <title>SIFI</title>
   <%= stylesheet_link_tag 'scaffold','/greybox/gb_styles', 'dhtml-horiz'%>
   <%= javascript_include_tag '/greybox/AJS' %>
   <%= javascript_include_tag '/greybox/AJS_fx' %>
   <%= javascript_include_tag '/greybox/gb_scripts' %>
   <%= javascript_include_tag 'script' %>
   <%= javascript_include_tag 'prototype' %>
   <%= javascript_include_tag :defaults %>
   <%= javascript_include_tag "sorttable" %>
<%= calendar_date_select_includes "red",:locale=>'es' %>
</head>
<body>
<div id="yield">
    <%= yield :head %><%=yield %>
</div>
</body>
</html>
