<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
   <title>Vivienda RAILS</title>
<script type="text/javascript">
    var GB_ROOT_DIR = "/greybox/";
</script>
   <%= stylesheet_link_tag 'scaffold','/greybox/gb_styles', 'dhtml-horiz'%>
   <%= javascript_include_tag '/greybox/AJS' %>
   <%= javascript_include_tag '/greybox/AJS_fx' %>
   <%= javascript_include_tag '/greybox/gb_scripts' %>
   <%= javascript_include_tag 'script' %>
   <%= javascript_include_tag 'prototype' %>
   <%= javascript_include_tag :defaults %>
   <%= javascript_include_tag "sorttable" %>
<%= calendar_date_select_includes "red",:locale=>'es' %>
</head>
<body onload="setFocus();">
<% if flash[:notice] %>
<div id="footer_wrap">
<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFF99">
      <tr>
        <td width="5%"><div align="right"><img src="/images/connect.png"></div></td>
        <td width="95%" class="campos">&nbsp;&nbsp;<%= flash[:notice] %></td>
     </tr>
  </table>
</div>
<script type="text/javascript">
    setTimeout("new Effect.Fade('footer_wrap');", 5000)
</script>
<% end %>
<% if flash[:warning] %>
<div id="footer_wrap">
<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFF99">
      <tr>
        <td width="5%"><div align="right"><img src="/images/cancel.png"></div></td>
        <td width="95%" class="campos">&nbsp;&nbsp;<%= flash[:warning] %></td>
     </tr>
  </table>
</div>
<script type="text/javascript">
    setTimeout("new Effect.Fade('footer_wrap');", 5000)
</script>
<% end %>
    <div id="yield">
      <%= yield :head %><%=yield %>
    </div>
<div align="center"><hr width="75%" size="1" noshade class="hrlinea"/>
<table width="75%" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="5" class="camposDescN"><div align="right">© 2009-2018, Todos los Derechos Reservados - Instituto Social de Vivienda y Hábitat de Medellin.</div></td>
  </tr>
</table>
</div>
<br/>
  </body>
</html>
