<h1>Listing feria2010beneficiarios</h1>

<table>
  <tr>
    <th>Nroformulario</th>
    <th>Documento</th>
    <th>Identificacion</th>
    <th>Primernombre</th>
    <th>Segundonombre</th>
    <th>Primerapellido</th>
    <th>Segundoapellido</th>
    <th>Fecha nacimiento</th>
    <th>Parentesco</th>
    <th>Estadocivil</th>
    <th>Ocupacion</th>
    <th>Condicionespecial</th>
    <th>Ingresos mensuales</th>
  </tr>

<% @feria2010beneficiarios.each do |feria2010beneficiario| %>
  <tr>
    <td><%=h feria2010beneficiario.nroformulario %></td>
    <td><%=h feria2010beneficiario.documento %></td>
    <td><%=h feria2010beneficiario.identificacion %></td>
    <td><%=h feria2010beneficiario.primernombre %></td>
    <td><%=h feria2010beneficiario.segundonombre %></td>
    <td><%=h feria2010beneficiario.primerapellido %></td>
    <td><%=h feria2010beneficiario.segundoapellido %></td>
    <td><%=h feria2010beneficiario.fecha_nacimiento %></td>
    <td><%=h feria2010beneficiario.parentesco %></td>
    <td><%=h feria2010beneficiario.estadocivil %></td>
    <td><%=h feria2010beneficiario.ocupacion %></td>
    <td><%=h feria2010beneficiario.condicionespecial %></td>
    <td><%=h feria2010beneficiario.ingresos_mensuales %></td>
    <td><%= link_to 'Show', feria2010beneficiario %></td>
    <td><%= link_to 'Edit', edit_feria2010beneficiario_path(feria2010beneficiario) %></td>
    <td><%= link_to 'Destroy', feria2010beneficiario, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New feria2010beneficiario', new_feria2010beneficiario_path %>