<p>
  <b>Nroformulario:</b>
  <%=h @feria2010beneficiario.nroformulario %>
</p>

<p>
  <b>Documento:</b>
  <%=h @feria2010beneficiario.documento %>
</p>

<p>
  <b>Identificacion:</b>
  <%=h @feria2010beneficiario.identificacion %>
</p>

<p>
  <b>Primernombre:</b>
  <%=h @feria2010beneficiario.primernombre %>
</p>

<p>
  <b>Segundonombre:</b>
  <%=h @feria2010beneficiario.segundonombre %>
</p>

<p>
  <b>Primerapellido:</b>
  <%=h @feria2010beneficiario.primerapellido %>
</p>

<p>
  <b>Segundoapellido:</b>
  <%=h @feria2010beneficiario.segundoapellido %>
</p>

<p>
  <b>Fecha nacimiento:</b>
  <%=h @feria2010beneficiario.fecha_nacimiento %>
</p>

<p>
  <b>Parentesco:</b>
  <%=h @feria2010beneficiario.parentesco %>
</p>

<p>
  <b>Estadocivil:</b>
  <%=h @feria2010beneficiario.estadocivil %>
</p>

<p>
  <b>Ocupacion:</b>
  <%=h @feria2010beneficiario.ocupacion %>
</p>

<p>
  <b>Condicionespecial:</b>
  <%=h @feria2010beneficiario.condicionespecial %>
</p>

<p>
  <b>Ingresos mensuales:</b>
  <%=h @feria2010beneficiario.ingresos_mensuales %>
</p>


<%= link_to 'Edit', edit_feria2010beneficiario_path(@feria2010beneficiario) %> |
<%= link_to 'Back', feria2010beneficiarios_path %>