<h1>Editing feria2010rechazado</h1>

<% form_for(@feria2010rechazado) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :feria2010jefe_id %><br />
    <%= f.text_field :feria2010jefe_id %>
  </p>
  <p>
    <%= f.label :nroformulario %><br />
    <%= f.text_field :nroformulario %>
  </p>
  <p>
    <%= f.label :causarechazo %><br />
    <%= f.text_field :causarechazo %>
  </p>
  <p>
    <%= f.label :formula %><br />
    <%= f.text_field :formula %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @feria2010rechazado %> |
<%= link_to 'Back', feria2010rechazados_path %>