<p>
  <b>Feria2010jefe:</b>
  <%=h @feria2010rechazado.feria2010jefe_id %>
</p>

<p>
  <b>Nroformulario:</b>
  <%=h @feria2010rechazado.nroformulario %>
</p>

<p>
  <b>Causarechazo:</b>
  <%=h @feria2010rechazado.causarechazo %>
</p>

<p>
  <b>Formula:</b>
  <%=h @feria2010rechazado.formula %>
</p>


<%= link_to 'Edit', edit_feria2010rechazado_path(@feria2010rechazado) %> |
<%= link_to 'Back', feria2010rechazados_path %>