<table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr>
    <td  height="30"><div class="col_enc">FICHAS</div></td>
  </tr>
</table>
<% remote_form_for [@ayuda, @ayudasficha] do |form| %>
  <% if permiso("ayudasficha","C").to_s == "S" %>
        <% if !@ayudasficha.id %>
	<%= render :partial => "/ayudasfichas/ayudasfichas_form" %>
    <% end %>
 <% end %>
<% if @ayuda.ayudasfichas.exists? %>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr valign="middle">
    <td width="15%" height="30" align="left" class="oce-first">Fecha</td>
    <td width="20%" height="30" align="left" class="oce-first">Nro Ficha</td>
    <td width="28%" height="30" align="left" class="oce-first">Evento</td>
    <td width="10%" height="30" align="left" class="oce-first">Fecha Evento</td>
    <td width="15%" height="30" align="left" class="oce-first">Riesgo Asociado</td>
    <td width="12%" height="30" align="left" class="oce-first"></td>
  </tr>
</table>
<% for ayudasficha in @ayuda.ayudasfichas.find(:all, :order => 'created_at DESC') %>
   <% if ayudasficha.id != @ayudasficha.id %>
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="<%=cycle('even1', 'odd1')%>">
   <tr  valign="middle" id="ayudasficha_<%=ayudasficha.id%>">
     <td width="15%" height="30" align="left" class="camposDesc">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                 <td class="camposDesc" align="left"><%=ayudasficha.created_at.strftime("%Y-%m-%d %X")%></td>
              </tr>
              <tr>
                 <td class="camposDesc" align="left"><a title="<%=ayudasficha.user.nombre rescue nil%>"><%=ayudasficha.user.username rescue nil%></a></td>
              </tr>
            </table>
     </td>
     <td width="20%" height="30" align="left" class="camposDesc"><%=ayudasficha.nro_ficha%></td>
     <td width="28%" height="30" align="left" class="camposDesc"><%=ayudasficha.ayudastiposevento.descripcion rescue nil%></td>
     <td width="10%" height="30" align="left" class="camposDesc"><%=ayudasficha.fecha_evento%></td>
     <td width="15%" height="30" align="left" class="camposDesc"><%=ayudasficha.riesgo_asociado%></td>
    <td width="12%" class="camposDesc">
    <% if permiso("ayudasficha","A").to_s == "S" %>
      <%= link_to_remote('Editar',{:url => edit_ayuda_ayudasficha_path(@ayuda, ayudasficha),
		:method => :get}, :class=>"editarlink")%>
    <%  end %>
    <% if permiso("ayudasficha","E").to_s == "S" %>
      |&nbsp;<%= link_to_remote('Borrar',{:url => ayuda_ayudasficha_path(@ayuda, ayudasficha),
		:method => :delete, :confirm => "¿Seguro?"}, :class=>"borrarlink")%>
    <%  end %>
    </td>
 </tr>
</table>
<% else %>
      <fieldset>
      <table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr>
    <td  height="30"><div class="col_enc">EDITAR AYUDAS FICHAS</div></td>
  </tr>
</table>
    <tr class="<%=cycle('even1', 'odd1')%>" id="ayudasficha_<%=@ayudasficha.id%>">
     <%= render :partial => "ayudasfichas_form" %>
    </tr>
    </fieldset>
<% end %>
        <% end %>
<% else %>
<table width="40%" border="0" cellpadding="0" align="center" cellspacing="0" bgcolor="#E5E5E5">
      <tr>
        <td width="10%"><div align="right"><img src="/images/alerta.png"></div></td>
        <td width="90%" class="campos">&nbsp;&nbsp;No hay datos asociados.</td>
     </tr>
</table>
<% end %>
            <%= hidden_field :ayuda, :id %>
<% end %>
<br/>
<% if flash[:ayudasficha] %>
<div id="ayudasficha">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#E5E5E5">
   <tr>
        <td width="5%"><div align="right"><img src="/images/connect.png"></div></td>
        <td width="95%" class="campos" align="left" >&nbsp;&nbsp;<%= flash[:ayudasficha] %></td>
   </tr>
  </table>
</div>
<script type="text/javascript">
  setTimeout("new Effect.Fade('ayudasficha');", 5000)
</script>
<% end %>
