<table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr>
    <td  height="30"><div class="col_enc">INFORMACIÓN DEL EVENTO</div></td>
  </tr>
</table>
<% remote_form_for [@ayuda, @ayudasevento] do |form| %>
  <% if permiso("ayudasevento","C").to_s == "S" %>
        <% if !@ayudasevento.id %>
	<%= render :partial => "/ayudaseventos/ayudaseventos_form" %>
    <% end %>
 <% end %>
<% if @ayuda.ayudaseventos.exists? %>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr valign="middle">
    <td width="15%" height="30" align="left" class="oce-first"></td>
    <td width="10%" height="30" align="left" class="oce-first">Ficha</td>
    <td width="10%" height="30" align="left" class="oce-first">Fecha evento</td>
    <td width="15%" height="30" align="left" class="oce-first">Evento</td>
    <td width="15%" height="30" align="left" class="oce-first">Dirección del evento</td>
    <td width="15%" height="30" align="left" class="oce-first">Integrantes</td>
    <td width="15%" height="30" align="left" class="oce-first"></td>
  </tr>
</table>
<% for ayudasevento in @ayuda.ayudaseventos.find(:all, :order => 'created_at DESC') %>
   <% if ayudasevento.id != @ayudasevento.id %>
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="<%=cycle('even1', 'odd1')%>">
   <tr  valign="middle" id="ayudasevento_<%=ayudasevento.id%>">
     <td width="15%" height="30" align="left" class="camposDesc">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                 <td class="camposDesc" align="left"><%=ayudasevento.created_at.strftime("%Y-%m-%d %X")%></td>
              </tr>
              <tr>
                 <td class="camposDesc" align="left"><a title="<%=ayudasevento.user.nombre rescue nil%>"><%=ayudasevento.user.username rescue nil%></a></td>
              </tr>
            </table>
     </td>
     <td width="10%" height="30" align="left" class="camposDesc"><%=ayudasevento.ficha rescue nil%></td>
     <td width="10%" height="30" align="left" class="camposDesc"><%=ayudasevento.fecha rescue nil%></td>
     <td width="15%" height="30" align="left" class="camposDesc"><%=ayudasevento.evento rescue nil%></td>
     <td width="15%" height="30" align="left" class="camposDesc"><%=ayudasevento.direccion rescue nil%></td>
     <td width="15%" height="30" align="left" class="camposDesc"><%=ayudasevento.integrantes rescue nil%></td>
    <td width="15%" class="camposDesc">
    <% if permiso("ayudasevento","A").to_s == "S" %>
      <%= link_to_remote('Editar',{:url => edit_ayuda_ayudasevento_path(@ayuda, ayudasevento),
		:method => :get}, :class=>"editarlink")%>
    <%  end %>
    <% if permiso("ayudasevento","E").to_s == "S" %>
      |&nbsp;<%= link_to_remote('Borrar',{:url => ayuda_ayudasevento_path(@ayuda, ayudasevento),
		:method => :delete, :confirm => "¿Seguro?"}, :class=>"borrarlink")%>
    <%  end %>
    </td>
 </tr>
</table>
<% else %>
      <fieldset>
      <table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr>
    <td  height="30"><div class="col_enc">EDITAR AYUDAS FICHAS</div></td>
  </tr>
</table>
    <tr class="<%=cycle('even1', 'odd1')%>" id="ayudasevento_<%=@ayudasevento.id%>">
     <%= render :partial => "ayudaseventos_form" %>
    </tr>
    </fieldset>
<% end %>
        <% end %>
<% else %>
<table width="40%" border="0" cellpadding="0" align="center" cellspacing="0" bgcolor="#E5E5E5">
      <tr>
        <td width="10%"><div align="right"><img src="/images/alerta.png"></div></td>
        <td width="90%" class="campos">&nbsp;&nbsp;No hay datos asociados.</td>
     </tr>
</table>
<% end %>
            <%= hidden_field :ayuda, :id %>
<% end %>
<br/>
<% if flash[:ayudasevento] %>
<div id="ayudasevento">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#E5E5E5">
   <tr>
        <td width="5%"><div align="right"><img src="/images/connect.png"></div></td>
        <td width="95%" class="campos" align="left" >&nbsp;&nbsp;<%= flash[:ayudasevento] %></td>
   </tr>
  </table>
</div>
<script type="text/javascript">
  setTimeout("new Effect.Fade('ayudasevento');", 5000)
</script>
<% end %>
