<table width="80%" border="0" cellpadding="2" cellspacing="2"  align="center">
  <tr><td></td></tr>
  <tr>
    <td align="left" height="30"><div class="col_enc">PENDIENTES VENCIDOS (<%=@pendientesv.count%>)</div></td>
  </tr>
</table>
<br/>
<% if @pendientesv.count.to_i > 0 %>
    <table width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="3%" height="30" class="oce-first"></td>
        <td width="11%" class="oce-first">Fecha<br/>Asignación</td>
        <td width="11%" class="oce-first">Fecha<br/>Vencimiento</td>
        <td width="12%" class="oce-first">Estado</td>
        <td width="58%" class="oce-first">Tarea / Actividad</td>
        <td width="5%" class="oce-first">&nbsp;</td>
      </tr>
    <% @pendientesv.each do |pendiente| %>
    <tr valign="middle" class="<%=cycle('even1', 'odd1')%>">
        <td class="camposDesc"><%= pendiente.estado_pendiente rescue nil%></td>
        <td class="camposDesc"><%=h pendiente.fecha_asignacion%></td>
        <td class="camposDesc" align="left"><%=pendiente.fecha_vence rescue nil%></td>
        <td class="camposDesc" align="left"><%=pendiente.estado rescue nil%></td>
        <td class="camposDesc" align="justify"><%=pendiente.tarea rescue nil%>
          <strong><br/>Responsables: </strong><%=pendiente.asignadoa rescue nil%>
        </td>
        <td class="camposDesc"><div align="center">
        <%= link_to 'Editar', edit_pendiente_path(pendiente),:class=>"editarlink"%>
          </div></td>
    <% end %>
    </table>
<% else %>
    <table width="40%" border="0" cellpadding="0" align="center" cellspacing="0" bgcolor="#E5E5E5">
      <tr>
        <td width="10%"><div align="right"><img src="/images/alerta.png"></div></td>
        <td width="90%" class="campos">&nbsp;&nbsp;No hay pendientes vencidos</td>
     </tr>
    </table>
<% end %>