<p>
  <b>Nroformulario:</b>
  <%=h @feria2010jefe.nroformulario %>
</p>

<p>
  <b>Documento:</b>
  <%=h @feria2010jefe.documento %>
</p>

<p>
  <b>Identificacion:</b>
  <%=h @feria2010jefe.identificacion %>
</p>

<p>
  <b>Primernombre:</b>
  <%=h @feria2010jefe.primernombre %>
</p>

<p>
  <b>Segundonombre:</b>
  <%=h @feria2010jefe.segundonombre %>
</p>

<p>
  <b>Primerapellido:</b>
  <%=h @feria2010jefe.primerapellido %>
</p>

<p>
  <b>Segundoapellido:</b>
  <%=h @feria2010jefe.segundoapellido %>
</p>

<p>
  <b>Fecha nacimiento:</b>
  <%=h @feria2010jefe.fecha_nacimiento %>
</p>

<p>
  <b>Parentesco:</b>
  <%=h @feria2010jefe.parentesco %>
</p>

<p>
  <b>Estadocivil:</b>
  <%=h @feria2010jefe.estadocivil %>
</p>

<p>
  <b>Ocupacion:</b>
  <%=h @feria2010jefe.ocupacion %>
</p>

<p>
  <b>Condicionespecial:</b>
  <%=h @feria2010jefe.condicionespecial %>
</p>

<p>
  <b>Ingresos mensuales:</b>
  <%=h @feria2010jefe.ingresos_mensuales %>
</p>

<p>
  <b>Direccion:</b>
  <%=h @feria2010jefe.direccion %>
</p>

<p>
  <b>Barrio:</b>
  <%=h @feria2010jefe.barrio %>
</p>

<p>
  <b>Ciudad:</b>
  <%=h @feria2010jefe.ciudad %>
</p>

<p>
  <b>Telefonos1:</b>
  <%=h @feria2010jefe.telefonos1 %>
</p>

<p>
  <b>Telefonos2:</b>
  <%=h @feria2010jefe.telefonos2 %>
</p>

<p>
  <b>Celular:</b>
  <%=h @feria2010jefe.celular %>
</p>

<p>
  <b>Antiguedad annos:</b>
  <%=h @feria2010jefe.antiguedad_annos %>
</p>

<p>
  <b>Antiguedad meses:</b>
  <%=h @feria2010jefe.antiguedad_meses %>
</p>

<p>
  <b>Jal:</b>
  <%=h @feria2010jefe.jal %>
</p>

<p>
  <b>Ahorro:</b>
  <%=h @feria2010jefe.ahorro %>
</p>

<p>
  <b>Valor ahorro:</b>
  <%=h @feria2010jefe.valor_ahorro %>
</p>

<p>
  <b>Sisben:</b>
  <%=h @feria2010jefe.sisben %>
</p>

<p>
  <b>Opv:</b>
  <%=h @feria2010jefe.opv %>
</p>

<p>
  <b>Opv cual:</b>
  <%=h @feria2010jefe.opv_cual %>
</p>

<p>
  <b>Fecha registro:</b>
  <%=h @feria2010jefe.fecha_registro %>
</p>

<p>
  <b>Fechahora reg:</b>
  <%=h @feria2010jefe.fechahora_reg %>
</p>

<p>
  <b>Fechahora ult act:</b>
  <%=h @feria2010jefe.fechahora_ult_act %>
</p>

<p>
  <b>Estacion:</b>
  <%=h @feria2010jefe.estacion %>
</p>

<p>
  <b>Turno:</b>
  <%=h @feria2010jefe.turno %>
</p>

<p>
  <b>Barrio mod:</b>
  <%=h @feria2010jefe.barrio_mod %>
</p>

<p>
  <b>Codigobarrio:</b>
  <%=h @feria2010jefe.codigobarrio %>
</p>

<p>
  <b>Sisben bd:</b>
  <%=h @feria2010jefe.sisben_bd %>
</p>

<p>
  <b>Municipio mod:</b>
  <%=h @feria2010jefe.municipio_mod %>
</p>

<p>
  <b>Sisben bdtotal:</b>
  <%=h @feria2010jefe.sisben_bdtotal %>
</p>

<p>
  <b>Site direccion ubicacion:</b>
  <%=h @feria2010jefe.site_direccion_ubicacion %>
</p>

<p>
  <b>Site barrio:</b>
  <%=h @feria2010jefe.site_barrio %>
</p>

<p>
  <b>Site estado:</b>
  <%=h @feria2010jefe.site_estado %>
</p>


<%= link_to 'Edit', edit_feria2010jefe_path(@feria2010jefe) %> |
<%= link_to 'Back', feria2010jefes_path %>