<h1>Editing comitestipo</h1>

<% form_for(@comitestipo) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @comitestipo %> |
<%= link_to 'Back', comitestipos_path %>