<h1>Listing comitestipos</h1>

<table>
  <tr>
    <th>Descripcion</th>
  </tr>

<% @comitestipos.each do |comitestipo| %>
  <tr>
    <td><%=h comitestipo.descripcion %></td>
    <td><%= link_to 'Show', comitestipo %></td>
    <td><%= link_to 'Edit', edit_comitestipo_path(comitestipo) %></td>
    <td><%= link_to 'Destroy', comitestipo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New comitestipo', new_comitestipo_path %>