<h1>Editing diaslaboral</h1>

<% form_for(@diaslaboral) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :fecha %><br />
    <%= f.date_select :fecha %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @diaslaboral %> |
<%= link_to 'Back', diaslaborales_path %>