<h1>Editing iguanastipo</h1>

<% form_for(@iguanastipo) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @iguanastipo %> |
<%= link_to 'Back', iguanastipos_path %>