<h1>Listing iguanastipos</h1>

<table>
  <tr>
    <th>Descripcion</th>
  </tr>

<% @iguanastipos.each do |iguanastipo| %>
  <tr>
    <td><%=h iguanastipo.descripcion %></td>
    <td><%= link_to 'Show', iguanastipo %></td>
    <td><%= link_to 'Edit', edit_iguanastipo_path(iguanastipo) %></td>
    <td><%= link_to 'Destroy', iguanastipo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New iguanastipo', new_iguanastipo_path %>