<h1>Listing estados_civiles</h1>

<table>
  <tr>
    <th>Descripcion</th>
  </tr>

<% @estados_civiles.each do |estados_civil| %>
  <tr>
    <td><%=h estados_civil.descripcion %></td>
    <td><%= link_to 'Show', estados_civil %></td>
    <td><%= link_to 'Edit', edit_estados_civil_path(estados_civil) %></td>
    <td><%= link_to 'Destroy', estados_civil, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New estados_civil', new_estados_civil_path %>