<p>
  <b>Feriadocentejefe:</b>
  <%=h @feriadocenterechazado.feriadocentejefe_id %>
</p>

<p>
  <b>Nroformulario:</b>
  <%=h @feriadocenterechazado.nroformulario %>
</p>

<p>
  <b>Causarechazo:</b>
  <%=h @feriadocenterechazado.causarechazo %>
</p>

<p>
  <b>Formula:</b>
  <%=h @feriadocenterechazado.formula %>
</p>


<%= link_to 'Edit', edit_feriadocenterechazado_path(@feriadocenterechazado) %> |
<%= link_to 'Back', feriadocenterechazados_path %>