<h1>Editing tiposcontrato</h1>

<% form_for(@tiposcontrato) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @tiposcontrato %> |
<%= link_to 'Back', tiposcontratos_path %>