<p>
  <b>Feria2009jefe:</b>
  <%=h @feria2009rechazado.feria2009jefe_id %>
</p>

<p>
  <b>Nroformulario:</b>
  <%=h @feria2009rechazado.nroformulario %>
</p>

<p>
  <b>Causarechazo:</b>
  <%=h @feria2009rechazado.causarechazo %>
</p>

<p>
  <b>Fecha:</b>
  <%=h @feria2009rechazado.fecha %>
</p>


<%= link_to 'Edit', edit_feria2009rechazado_path(@feria2009rechazado) %> |
<%= link_to 'Back', feria2009rechazados_path %>