<h1>Editing iguanasestado</h1>

<% form_for(@iguanasestado) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @iguanasestado %> |
<%= link_to 'Back', iguanasestados_path %>