<h1>Editing rubro</h1>

<% form_for(@rubro) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :codigo_corto %><br />
    <%= f.text_field :codigo_corto %>
  </p>
  <p>
    <%= f.label :codigo %><br />
    <%= f.text_field :codigo %>
  </p>
  <p>
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @rubro %> |
<%= link_to 'Back', rubros_path %>