<p>
  <b>Codigo corto:</b>
  <%=h @rubro.codigo_corto %>
</p>

<p>
  <b>Codigo:</b>
  <%=h @rubro.codigo %>
</p>

<p>
  <b>Descripcion:</b>
  <%=h @rubro.descripcion %>
</p>


<%= link_to 'Edit', edit_rubro_path(@rubro) %> |
<%= link_to 'Back', rubros_path %>