<h1>Editing fase2beneficiario</h1>

<% form_for(@fase2beneficiario) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :persona_id %><br />
    <%= f.text_field :persona_id %>
  </p>
  <p>
    <%= f.label :noform %><br />
    <%= f.text_field :noform %>
  </p>
  <p>
    <%= f.label :p15 %><br />
    <%= f.text_field :p15 %>
  </p>
  <p>
    <%= f.label :p17 %><br />
    <%= f.text_field :p17 %>
  </p>
  <p>
    <%= f.label :p18 %><br />
    <%= f.text_field :p18 %>
  </p>
  <p>
    <%= f.label :p19 %><br />
    <%= f.text_field :p19 %>
  </p>
  <p>
    <%= f.label :p20 %><br />
    <%= f.text_field :p20 %>
  </p>
  <p>
    <%= f.label :p21 %><br />
    <%= f.text_field :p21 %>
  </p>
  <p>
    <%= f.label :p64 %><br />
    <%= f.text_field :p64 %>
  </p>
  <p>
    <%= f.label :p65 %><br />
    <%= f.text_field :p65 %>
  </p>
  <p>
    <%= f.label :p66 %><br />
    <%= f.text_field :p66 %>
  </p>
  <p>
    <%= f.label :p67 %><br />
    <%= f.text_field :p67 %>
  </p>
  <p>
    <%= f.label :p68 %><br />
    <%= f.text_field :p68 %>
  </p>
  <p>
    <%= f.label :p69 %><br />
    <%= f.text_field :p69 %>
  </p>
  <p>
    <%= f.label :p70 %><br />
    <%= f.text_field :p70 %>
  </p>
  <p>
    <%= f.label :p71 %><br />
    <%= f.text_field :p71 %>
  </p>
  <p>
    <%= f.label :p72 %><br />
    <%= f.text_field :p72 %>
  </p>
  <p>
    <%= f.label :p73 %><br />
    <%= f.text_field :p73 %>
  </p>
  <p>
    <%= f.label :p74 %><br />
    <%= f.text_field :p74 %>
  </p>
  <p>
    <%= f.label :p75 %><br />
    <%= f.text_field :p75 %>
  </p>
  <p>
    <%= f.label :p76 %><br />
    <%= f.text_field :p76 %>
  </p>
  <p>
    <%= f.label :p77 %><br />
    <%= f.text_field :p77 %>
  </p>
  <p>
    <%= f.label :p198 %><br />
    <%= f.text_field :p198 %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @fase2beneficiario %> |
<%= link_to 'Back', fase2beneficiarios_path %>