<p>
  <b>Persona:</b>
  <%=h @fase2beneficiario.persona_id %>
</p>

<p>
  <b>Noform:</b>
  <%=h @fase2beneficiario.noform %>
</p>

<p>
  <b>P15:</b>
  <%=h @fase2beneficiario.p15 %>
</p>

<p>
  <b>P17:</b>
  <%=h @fase2beneficiario.p17 %>
</p>

<p>
  <b>P18:</b>
  <%=h @fase2beneficiario.p18 %>
</p>

<p>
  <b>P19:</b>
  <%=h @fase2beneficiario.p19 %>
</p>

<p>
  <b>P20:</b>
  <%=h @fase2beneficiario.p20 %>
</p>

<p>
  <b>P21:</b>
  <%=h @fase2beneficiario.p21 %>
</p>

<p>
  <b>P64:</b>
  <%=h @fase2beneficiario.p64 %>
</p>

<p>
  <b>P65:</b>
  <%=h @fase2beneficiario.p65 %>
</p>

<p>
  <b>P66:</b>
  <%=h @fase2beneficiario.p66 %>
</p>

<p>
  <b>P67:</b>
  <%=h @fase2beneficiario.p67 %>
</p>

<p>
  <b>P68:</b>
  <%=h @fase2beneficiario.p68 %>
</p>

<p>
  <b>P69:</b>
  <%=h @fase2beneficiario.p69 %>
</p>

<p>
  <b>P70:</b>
  <%=h @fase2beneficiario.p70 %>
</p>

<p>
  <b>P71:</b>
  <%=h @fase2beneficiario.p71 %>
</p>

<p>
  <b>P72:</b>
  <%=h @fase2beneficiario.p72 %>
</p>

<p>
  <b>P73:</b>
  <%=h @fase2beneficiario.p73 %>
</p>

<p>
  <b>P74:</b>
  <%=h @fase2beneficiario.p74 %>
</p>

<p>
  <b>P75:</b>
  <%=h @fase2beneficiario.p75 %>
</p>

<p>
  <b>P76:</b>
  <%=h @fase2beneficiario.p76 %>
</p>

<p>
  <b>P77:</b>
  <%=h @fase2beneficiario.p77 %>
</p>

<p>
  <b>P198:</b>
  <%=h @fase2beneficiario.p198 %>
</p>


<%= link_to 'Edit', edit_fase2beneficiario_path(@fase2beneficiario) %> |
<%= link_to 'Back', fase2beneficiarios_path %>