<table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr>
    <td  height="30"><div class="col_enc">RADICADOS</div></td>
  </tr>
</table>
<div align="center">
<% remote_form_for [@obraspublica, @obrasradicado] do |form| %>
  <% if permiso("obrasradicado","C").to_s == "S" %>
        <% if !@obrasradicado.id %>
	<%= render :partial => "/obrasradicados/obrasradicados_form" %>
    <% end %>
 <% end %>
<% if @obraspublica.obrasradicados.exists? %>
<table width="70%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr valign="middle">
    <td width="25%" height="30" align="left" class="oce-first">Nro Radicado</td>
    <td width="20%" height="30" align="left" class="oce-first">Fecha Radicado</td>
    <td width="35%" height="30" align="left" class="oce-first">Usuario</td>
    <td width="20%" height="30" align="left" class="oce-first"></td>
  </tr>
</table>
<% @obraspublica.obrasradicados.each do |obrasradicado| %>
   <% if obrasradicado.id != @obrasradicado.id %>
  <table width="70%" border="0" align="center" cellpadding="0" cellspacing="0" id="one-column-emphasis">
   <tr  valign="middle" class="<%=cycle('even1', 'odd1')%>" id="obrasradicado_<%=obrasradicado.id%>">
     <td width="25%" height="30" align="left" class="camposDesc"><%=obrasradicado.nro_radicado%></td>
     <td width="20%" height="30" align="left" class="camposDesc"><%=obrasradicado.fecha%></td>
     <td width="35%" height="30" align="left" class="camposDesc"><%=obrasradicado.user.nombre rescue nil%></td>
    <td width="20%" class="camposDesc">
    <% if permiso("obrasradicado","A").to_s == "S" %>
      <%= link_to_remote('Editar',{:url => edit_obraspublica_obrasradicado_path(@obraspublica, obrasradicado),
		:method => :get}, :class=>"editarlink")%>
    <%  end %>
    <% if permiso("obrasradicado","E").to_s == "S" %>
      |&nbsp;<%= link_to_remote('Borrar',{:url => obraspublica_obrasradicado_path(@obraspublica, obrasradicado),
		:method => :delete, :confirm => "¿Seguro?"}, :class=>"borrarlink")%>
    <%  end %>
    </td>
 </tr>
</table>
<% else %>
      <fieldset>
      <table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr>
    <td  height="30"><div class="col_enc">EDITAR RADICADOS</div></td>
  </tr>
</table>
    <tr class="<%=cycle('even1', 'odd1')%>" id="obrasradicado_<%=@obrasradicado.id%>">
     <%= render :partial => "obrasradicados_form" %>
    </tr>
    </fieldset>
<% end %>
        <% end %>
<% else %>
<table width="40%" border="0" cellpadding="0" align="center" cellspacing="0" bgcolor="#E5E5E5">
      <tr>
        <td width="10%"><div align="right"><img src="/images/alerta.png"></div></td>
        <td width="90%" class="campos">&nbsp;&nbsp;No hay datos asociados.</td>
     </tr>
</table>
<% end %>
            <%= hidden_field :obraspublica, :id %>
<% end %>
<br/>
<% if flash[:obrasradicado] %>
<div id="obrasradicado">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#E5E5E5">
   <tr>
        <td width="5%"><div align="right"><img src="/images/connect.png"></div></td>
        <td width="95%" class="campos" align="left" >&nbsp;&nbsp;<%= flash[:obrasradicado] %></td>
   </tr>
  </table>
</div>
<script type="text/javascript">
  setTimeout("new Effect.Fade('obrasradicado');", 5000)
</script>
<% end %>
</div>
