<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
</link><style type="text/css">
<!--
  H1.SaltoDePagina { PAGE-BREAK-AFTER: always  }
-->
</style>
<% for viviendasreporte in @viviendasreportes
     if Viviendaspersona.exists?(["persona_id = ?", viviendasreporte.persona_id]) == true
       @viviendaspersona = Viviendaspersona.find_by_persona_id(viviendasreporte.persona_id)
%>
        <table width="100%"  border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="50%" height="30"><div align="left"><img src="../../images/minvivienda.png"/></div></td>
            <td width="50%" height="30"><div align="right"><img src="../../images/logoisvimed_midle.png"/></div></td>
          </tr>
        </table><br/>
        <div align="center" style="font-size: 18px; font-family: Arial Narrow;"><strong>
        ACTA DE ENTREGA DE LA VIVIENDA<br/>PROGRAMA DE VIVIENDA GRATUITA</strong>
        </div>
        <div align="justify" style="font-size: 18px; font-family: Arial Narrow; line-height: 150%; ">
        <br/>
        <table width="100%"  border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="20%" height="30" style="font-size: 18px; font-family: Arial Narrow;"><strong>FECHA:</strong></td>
            <td width="80%" height="30" style="font-size: 18px; font-family: Arial Narrow;">Medellín, ________ de ___________________ de ______</td>
          </tr>
          <tr>
            <td height="30" style="font-size: 18px; font-family: Arial Narrow;"><strong>PROYECTO:</strong></td>
            <td height="30" style="font-size: 18px; font-family: Arial Narrow;"><%=@viviendaspersona.vivienda.proyecto.descripcion rescue nil %></td>
          </tr>
          <tr>
            <td height="30" style="font-size: 18px; font-family: Arial Narrow;"><strong>LUGAR:</strong></td>
            <td height="30" style="font-size: 18px; font-family: Arial Narrow;"><%=@viviendaspersona.vivienda.proyecto.descripcion rescue nil %></td>
          </tr>
        </table><br/>
        <strong>ASISTENTES:</strong><br/><br/>
        <strong>Comparecieron: </strong><br/>
        <strong>A)&nbsp;&nbsp;&nbsp;<%=@viviendaspersona.persona.nombres rescue nil%></strong>, identificado con la cédula de ciudadanía No. <strong><%=@viviendaspersona.persona.identificacion rescue nil%></strong>, obrando en su propio nombre y en su condición de jefe del hogar conformado de la siguiente manera:<br/><br/>
        <table width="100%"  border="0" cellspacing="0" cellpadding="0" class="sample">
          <tr>
            <td width="5%" height="40" style="font-size: 18px; font-family: Arial Narrow;"><strong>Nro. </strong></td>
            <td width="50%" style="font-size: 18px; font-family: Arial Narrow;"><strong>NOMBRE</strong></td>
            <td width="25%" style="font-size: 18px; font-family: Arial Narrow;"><strong><div align="center">DOCUMENTO DE IDENTIFICACIÓN</div></strong></td>
            <td width="20%" style="font-size: 18px; font-family: Arial Narrow;"><strong><div align="center">PARENTESCO CON EL JEFE DE HOGAR</div></strong></td>
          </tr>
          <% i = 0
            @beneviviendas = Benevivienda.find_all_by_persona_id(@viviendaspersona.persona_id);
            ident = ""
            for benevivienda in @beneviviendas
              i = i + 1
              if benevivienda.identificacion.to_s != ""
                ident = benevivienda.identificacion
              else
                ident = "ME"
              end
          %>
          <tr>
            <td height="25" style="font-size: 18px; font-family: Arial Narrow;"><div align="center"><%=i%></div></td>
            <td style="font-size: 18px; font-family: Arial Narrow;"><%=benevivienda.primer_nombre%> <%=benevivienda.segundo_nombre%> <%=benevivienda.primer_apellido%> <%=benevivienda.segundo_apellido%></td>
            <td style="font-size: 18px; font-family: Arial Narrow;"><div align="center"><%=ident%></div></td>
            <td style="font-size: 18px; font-family: Arial Narrow;"><div align="center"><%=benevivienda.parentesco.descripcion rescue nil%></div></td>
          </tr>
          <% end %>
        </table>
        <br/>
        <strong>B)&nbsp;&nbsp;&nbsp;</strong><strong><%=Sifi.find(17).valor rescue nil%></strong>, identificado con la cédula de ciudadanía <%=Sifi.find(18).valor rescue nil%>, en su condición de <%=Sifi.find(19).valor rescue nil%>, del Instituto Social de Vivienda y Hábitat de Medellín-ISVIMED, Instituto que prometió vender al FIDEICOMISO – PROGRAMA DE VIVIENDA GRATUITA la vivienda objeto de entrega.<br/><br/>
        <div align="center" style="font-size: 18px; font-family: Arial Narrow;"><strong>CONSIDERACIONES</strong></div>
        <br/>
        <strong>1.&nbsp;&nbsp;&nbsp;</strong>El hogar cuyo jefe comparece a la presente diligencia de entrega material, fue beneficiario de un subsidio familiar de vivienda en especie, de acuerdo con la resolución No. <strong><%=@viviendaspersona.persona.fchsubnacionalres %></strong> del <strong><%=namedate(@viviendaspersona.persona.fchsubnacionalfch.to_date) rescue nil %></strong>, expedida por el Fondo Nacional de Vivienda. <br/><br/>
        <strong>2.&nbsp;&nbsp;&nbsp;</strong>De acuerdo con el acta del sorteo realizado el día <strong><%=namedate(@viviendaspersona.vivienda.fecha_sorteo) rescue nil %></strong>, para la asignación de las viviendas del mencionado proyecto de vivienda, al hogar beneficiario le correspondió la vivienda ubicada en el bloque <strong><%=@viviendaspersona.vivienda.bloque.descripcion rescue nil%></strong>, apartamento <strong><%=@viviendaspersona.vivienda.apto.descripcion rescue nil%></strong>, identificada de la siguiente manera: No. <strong><%=@viviendaspersona.vivienda.nro_matricula rescue nil %></strong><br/><br/>
        <strong>3.&nbsp;&nbsp;&nbsp;</strong>El jefe del hogar antes identificado, en nombre de suyo y de todos los miembros del hogar, en compañía de un designado de CAVIS – UT, realizó una diligencia de reconocimiento de la vivienda mencionada en el numeral anterior y, como consta en acta el <strong><%=namedate(@viviendaspersona.vivienda.fecha_cavis) rescue nil %></strong>, aceptó que la misma fuera adquirida en su favor. <br/><br/>
        <strong>4.&nbsp;&nbsp;&nbsp;</strong>El jefe del hogar que suscribe la presente acta, el día <strong><%=namedate(@viviendaspersona.vivienda.fecha_poder) rescue 'XXXXXXXXXXXXXXXXXXX' %></strong> ante la Notaría <strong><%=@viviendaspersona.vivienda.notaria_poder rescue 'XXXXXXXXXXXXXXXXXXX' %></strong> otorgó poder a la Fiduciaria Bogotá S.A, para que esta: a) adquiera en su favor la vivienda de interés prioritario, b) constituya patrimonio de familia sobre la vivienda adquirida, c) incluya en la escritura pública de adquisición, su obligación expresa, clara y exigible de restituir la vivienda, en los casos que incumpla las obligaciones contenidas en las normas vigentes. <br/><br/>
        Teniendo en cuenta lo expuesto, y en consecuencia se suscribe la presente ACTA DE ENTREGA Y RECIBO MATERIAL, en la cual las partes deciden:
        <br/><br/>
        <strong>PRIMERO:&nbsp;&nbsp;&nbsp;</strong>El señor <strong><%=Sifi.find(17).valor rescue nil%></strong>, en su condición <%=Sifi.find(19).valor rescue nil%> del ISVIMED, vendedor del apartamento en mención, procede  a entregar materialmente, al jefe del hogar beneficiario antes descrito en la presente acta, el inmueble identificado con el folio de matrícula inmobiliaria número de la Oficina de Registro de Instrumentos Públicos de la Zona Norte, el cual se encuentra descrito con su cabida y linderos en la escritura publica nro. <strong><%=@viviendaspersona.vivienda.esc_nro_escritura rescue nil %></strong>.
        <br/><br/>
        <strong>SEGUNDO:&nbsp;&nbsp;&nbsp;</strong>De conformidad con el certificado de existencia de la vivienda y los documentos anexos que hacen parte integral del mismo, emitido por la Financiera de Desarrollo Territorial - FINDETER, el inmueble que se entrega, cuenta con: Salón comedor; tres (3) alcobas, cocina, baño social y  con un área privada de 47.8 m2 y que posee los siguientes elementos:
        <br/>
        <ul style="font-size: 18px; font-family: Arial Narrow; line-height: 150%;">
          <li>Muros en concreto a la vista, ladrillo cocido de 40x20x10 cara lisa revitado y calados en arcilla para ventilación en zona de cocina y ropas. Piso en concreto.</li>
          <li>Ventanas en aluminio con su respectiva alfajía y vidrio claro o grabado de 4mm: Tres (3) unidades de tres cuerpos (dos fijos y otro corredizo) de 0.80m*1.5m ubicadas cada en una de las habitaciones. Una (1) unidad de dos cuerpos fijos de 0.60m*1.50m con vidrio grabado, ubicada en el cocina.</li>
          <li>Puerta de acceso: marco y ala metálica en lámina doblada en frio y pintada al horno con chapa doble macho.</li>
          <li>Puerta baño: ala en madera pintada con laca y marco metálico en lámina doblada en frio pintado al horno y con chapa sencilla.</li>
          <li>Pasamanos: en tubería metálica calibre 18 de diferentes diámetros pintado con anticorrosivo acabado en esmalte alquidico ubicado en los balcones.</li>
          <li>Mesón en acero inoxidable: de 1.40m*0.50m con pozuelo y salpicadero.</li>
          <li>Lavadero prefabricado: en grano pulido de 0.55m*0.60m.</li>
          <li>Cubierta: en losa de concreto pendientada, debidamente impermeabilizada, con muros áticos perimetrales protegidos con lagrimales en concreto, prefabricados y escotilla metálica para ingreso.</li>
          <li>Instalaciones Hidrosanitarias: medidor de acueducto independiente por apartamento, salida acueducto para lavadora con tapón, una (1) llave tipo ganso en lavaplatos, una (1) llave tipo boca manguera en lavadero, ducha tipo Grival sencilla regadera y maneral acrílico, juego de cuatro incrustaciones (ganchos, toallero, jabonera para ducha y lavamanos ), sanitario línea Trevi blanco con grifería y abasto plástico; lavamanos línea Trevi grifería sencilla pomo acrílico y abasto plástico; desagües sanitario y lavamanos, desagües en zona de ducha y baño con su respectiva rejilla plástica, desagüe lavaplatos, desagüe lavadero, desagüe lavadora con tapón, redes comunes de desagües de aguas lluvias y de aguas negras colgadas en cocina y baño; tubería PVC 1/2" presión para abasto de agua potable expuestas por piso y pared para cocina y lavadero.</li>
          <li>Instalaciones eléctricas completas, así: un (1) medidor de energía individual; un (1) tablero de protecciones de seis (6) breakers con cuatro (4) unidades de 20 amperios, dos (2) unidades de 30 amperios; un (1) toma trifilar para la estufa, quince (15) tomas dobles, dos (2) tomas GFCI en cocina y baño, siete (7) interruptores sencillos; un (1)interruptor doble, ocho (8) salidas de alumbrado con sus respectivos plafones en porcelana.</li>
          <li>Red telefónica y televisión: el apartamento cuenta con una (1) salida telefónica debidamente alambrada en salón comedor y una (1) canalización en tubería PVC para salida de televisión sin cableado y con aparato eléctrico, el interesado a su cargo, deberá solicitar el servicio ante la Entidad proveedora de los mismos.</li>
          <li>Instalaciones de Gas: consta de una (1) salida doble para cocción y horno con su respectiva válvula de cierre y tubería de conducción expuesta en acero sch-40, con conexión al centro de medición, acrílicos de señalización, NO INCLUYE MEDIDOR NI REGULADOR, pues estos deberán ser solicitados por el interesado a su cargo, cuando se tramite el servicio ante EPM. </li>
        </ul>
        <strong>TERCERO:&nbsp;&nbsp;&nbsp;</strong>El <strong>Instituto Social de Vivienda y Hábitat de Medellín-ISVIMED</strong> en su condición de vendedor de la vivienda identificada al inicio de la presente acta, procede a entregar al jefe del hogar beneficiario antes descrito en la presente acta, las llaves de la vivienda y del Manual de Usuario de la misma.
        <br/><br/>
        <strong>CUARTO:&nbsp;&nbsp;&nbsp;</strong>De acuerdo con lo establecido en el parágrafo 2º del artículo 6º de la Ley 1537 de 2012, <em>“Las obligaciones que establezcan las normas vigentes sobre las garantías relativas a la obra, se entenderán como obligaciones a cargo de los constructores y no de los patrimonios autónomos que se constituyan ara el desarrollo de proyectos de vivienda de interés prioritario”</em>.
        <br/><br/>
        En constancia de lo anterior, firman la presente acta el jefe de hogar y el <%=Sifi.find(19).valor rescue nil%> del ISVIMED, como vendedor de la vivienda en tres originales, uno con destino a cada una de las partes comparecientes y otro con destino a la Fiduciaria Bogotá en su condición de vocera del FIDEICOMISO – PROGRAMA DE VIVIENDA GRATUITA.
        <br/><br/><br/>
        <strong>FIRMAS&nbsp;&nbsp;</strong><br/><br/><br/>
        <table width="100%"  border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="45%"><hr></hr></td>
            <td width="10%">&nbsp;</td>
            <td width="45%"><hr></hr></td>
          </tr>
          <tr>
            <td style="font-size: 18px; font-family: Arial Narrow;">(Firma y Huella del Jefe de Hogar)</td>
            <td>&nbsp;</td>
            <td style="font-size: 18px; font-family: Arial Narrow;">(Firma del vendedor)</td>
          </tr>
        </table><br/><br/>
        </div>
        <H1 class=SaltoDePagina> </H1>
        <H1 class=SaltoDePagina> </H1>
        <H1 class=SaltoDePagina> </H1>
        <H1 class=SaltoDePagina>. </H1>
<%
      end
    end
%>
