<table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr><td  height="30"><div class="col_enc">PAGOS</div></td></tr>
</table>
<% remote_form_for [@fiducia, @fiduciaspago] do |form| %>
  <%# if permiso("fiduciaspago","C").to_s == "S" %>
     <% if !@fiduciaspago.id %>
        <%= render :partial => "/fiduciaspagos/fiduciaspagos_form" %>
     <% end %>
  <%# end %>
<% if @fiducia.fiduciaspagos.exists? %>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr valign="middle">
    <td width="15%" class="oce-first">Fecha</td>
    <td width="10%" class="oce-first"><div align="center">Nr° Pago</div></td>
    <td width="25%" class="oce-first">Entidad</td>
    <td width="10%" class="oce-first">Estado</td>
    <td width="25%" class="oce-first">Concepto</td>
    <td width="15%" class="oce-first">&nbsp;</td>
  </tr>
</table>
<% @fiducia.fiduciaspagos.each do |fiduciaspago| %>
<% if fiduciaspago.id != @fiduciaspago.id %>
  <table width="100%" border="0" cellpadding="0" cellspacing="0" id="one-column-emphasis">
   <tr  valign="middle" class="<%=cycle('even1', 'odd1')%>" id="fiduciaspago_<%=fiduciaspago.id%>">
    <td width="15%" class="camposDesc"><%=fiduciaspago.created_at.strftime("%Y-%m-%d %X")%></td>
    <td width="10%" class="camposDesc"><div align="center"><%=fiduciaspago.nro_pago rescue nil%></div></td>
    <td width="25%" class="camposDesc"><%=fiduciaspago.entidad rescue nil%></td>
    <td width="10%" class="camposDesc"><%=fiduciaspago.estado rescue nil%></td>
    <td width="25%" class="camposDesc"><%=fiduciaspago.concepto rescue nil%></td>
    <td width="15%" class="camposDesc">
      <div align="center">
            <%# if permiso("fiduciaspago","A").to_s == "S" %>
              <%= link_to_remote('Editar',{:url => edit_fiducia_fiduciaspago_path(@fiducia, fiduciaspago),
                        :method => :get}, :class=>"editarlink")%>
            <%# end %>
            <%# if permiso("fiduciaspago","E").to_s == "S" %>
               |&nbsp;<%= link_to_remote('Borrar',{:url => fiducia_fiduciaspago_path(@fiducia, fiduciaspago),
                        :method => :delete, :confirm => "¿Seguro?"}, :class=>"borrarlink")%>
            <%# end %>
      </div></td>
 </tr>
</table>
<% else %>
      <fieldset>
      <table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr>
    <td  height="30"><div class="col_enc">EDITAR CARACTERISTICAS</div></td>
  </tr>
  </table>
    <tr class="<%=cycle('even1', 'odd1')%>" id="fiduciaspago_<%=@fiduciaspago.id%>">
      <%= render :partial => "fiduciaspagos_form" %>
    </tr>
    </fieldset>
<% end %>
        <% end %>
<% else %>
<table width="40%" border="0" cellpadding="0" align="center" cellspacing="0" bgcolor="#E5E5E5">
      <tr>
        <td width="10%"><div align="right"><img src="/images/alerta.png"></div></td>
        <td width="90%" class="campos">&nbsp;&nbsp;No hay datos asociados.</td>
     </tr>
</table>
<% end %>
            <%= hidden_field :fiducia, :id %>
<% end %>
<br/>
<% if flash[:fiduciaspago] %>
<div id="fiduciaspago">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#E5E5E5">
   <tr>
        <td width="5%"><div align="right"><img src="/images/connect.png"></div></td>
        <td width="95%" align="left" class="campos">&nbsp;&nbsp;<%= flash[:fiduciaspago] %></td>
   </tr>
  </table>
</div>
<script type="text/javascript">
  setTimeout("new Effect.Fade('fiduciaspago');", 5000)
</script>
<% end %>


