<p>
  <b>Feriadocentejefe:</b>
  <%=h @feriadocentecalificacion.feriadocentejefe_id %>
</p>

<p>
  <b>Nroformulario:</b>
  <%=h @feriadocentecalificacion.nroformulario %>
</p>

<p>
  <b>Calificacion:</b>
  <%=h @feriadocentecalificacion.calificacion %>
</p>

<p>
  <b>Puntaje:</b>
  <%=h @feriadocentecalificacion.puntaje %>
</p>


<%= link_to 'Edit', edit_feriadocentecalificacion_path(@feriadocentecalificacion) %> |
<%= link_to 'Back', feriadocentecalificaciones_path %>