<p>
  <b>Identificacion jefe:</b>
  <%=h @ayudastemporal.identificacion_jefe %>
</p>

<p>
  <b>Identificacion bene:</b>
  <%=h @ayudastemporal.identificacion_bene %>
</p>

<p>
  <b>Nombre:</b>
  <%=h @ayudastemporal.nombre %>
</p>

<p>
  <b>Apellido:</b>
  <%=h @ayudastemporal.apellido %>
</p>

<p>
  <b>Parentesco:</b>
  <%=h @ayudastemporal.parentesco %>
</p>

<p>
  <b>Estado atencion:</b>
  <%=h @ayudastemporal.estado_atencion %>
</p>

<p>
  <b>Nro carpeta:</b>
  <%=h @ayudastemporal.nro_carpeta %>
</p>

<p>
  <b>Tipo evacuacion:</b>
  <%=h @ayudastemporal.tipo_evacuacion %>
</p>

<p>
  <b>Fecha remision:</b>
  <%=h @ayudastemporal.fecha_remision %>
</p>

<p>
  <b>Nro ficha simpad:</b>
  <%=h @ayudastemporal.nro_ficha_simpad %>
</p>

<p>
  <b>Evento:</b>
  <%=h @ayudastemporal.evento %>
</p>

<p>
  <b>Direccion evento:</b>
  <%=h @ayudastemporal.direccion_evento %>
</p>

<p>
  <b>Telefono evento:</b>
  <%=h @ayudastemporal.telefono_evento %>
</p>

<p>
  <b>Barrio evento:</b>
  <%=h @ayudastemporal.barrio_evento %>
</p>

<p>
  <b>Direccion nueva viv:</b>
  <%=h @ayudastemporal.direccion_nueva_viv %>
</p>

<p>
  <b>Telefono nueva viv:</b>
  <%=h @ayudastemporal.telefono_nueva_viv %>
</p>

<p>
  <b>Barrio nueva viv:</b>
  <%=h @ayudastemporal.barrio_nueva_viv %>
</p>

<p>
  <b>Fecha contrato:</b>
  <%=h @ayudastemporal.fecha_contrato %>
</p>


<%= link_to 'Edit', edit_ayudastemporal_path(@ayudastemporal) %> |
<%= link_to 'Back', ayudastemporales_path %>