<p>
  <b>Matricula:</b>
  <%=h @almacenesinmueble.matricula %>
</p>

<p>
  <b>Descripcion:</b>
  <%=h @almacenesinmueble.descripcion %>
</p>

<p>
  <b>Direccion certificado:</b>
  <%=h @almacenesinmueble.direccion_certificado %>
</p>

<p>
  <b>Lugar:</b>
  <%=h @almacenesinmueble.lugar %>
</p>

<p>
  <b>Estado:</b>
  <%=h @almacenesinmueble.estado %>
</p>

<p>
  <b>Direccion catastro:</b>
  <%=h @almacenesinmueble.direccion_catastro %>
</p>

<p>
  <b>Avaluo:</b>
  <%=h @almacenesinmueble.avaluo %>
</p>


<%= link_to 'Edit', edit_almacenesinmueble_path(@almacenesinmueble) %> |
<%= link_to 'Back', almacenesinmuebles_path %>