<table width="100%" border="0" cellpadding="2" cellspacing="2" align="center">
  <tr>
    <td height="30"><div class="col_enc">MEJORAS</div></td>
  </tr>
  <tr>
    <td height="10"></td>
  </tr>
</table>
<div align="center">
<% remote_form_for [@valorizacion, @valorizacionesmejora] do |form| %>
<% if permiso("valorizacionesmejora","C").to_s == "S" %>
    <% if @valorizacion.proyecto = "IGUANA" and permiso("reasentamientosvalorizacion","C").to_s == "S" %>
       <% if !@valorizacionesmejora.id %>
            <%= render :partial => "/valorizacionesmejoras/valorizacionesmejoras_form" %>
       <% end %>
    <% end %>
<% end %>
<br/>
<% if @valorizacion.valorizacionesmejoras.exists? %>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr valign="middle">
    <td width="20%" height="30" class="oce-first">Fecha</td>
    <td width="10%" height="30" align="left" class="oce-first">Nro Mejora</td>
    <td width="10%" height="30" align="left" class="oce-first">Encuesta</td>
    <td width="20%" height="30" align="left" class="oce-first">Direccion</td>
    <td width="30%" height="30" align="left" class="oce-first">Estado Vivienda</td>
    <td width="10%" height="30" align="left" class="oce-first"></td>
  </tr>
</table>
<% @valorizacion.valorizacionesmejoras.each do |valorizacionesmejora| %>
   <% if valorizacionesmejora.id != @valorizacionesmejora.id %>
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
   <tr  valign="middle" class="<%=cycle('even1', 'odd1')%>" id="valorizacionesmejora_<%= valorizacionesmejora.id%>">
     <td width="20%" align="left" width="15%" >
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                 <td class="camposDesc" align="left"><%=valorizacionesmejora.created_at.strftime("%Y-%m-%d %X")%></td>
              </tr>
              <tr>
                 <td class="camposDesc" align="left"><a title="<%=valorizacionesmejora.user.nombre rescue nil%>"><%=valorizacionesmejora.user.username rescue nil%></a></td>
              </tr>
            </table>
          </td>
     <td width="10%" height="30" align="left" class="camposDesc"><%=valorizacionesmejora.id%></td>
     <td width="10%" height="30" align="left" class="camposDesc"><%=valorizacionesmejora.encuesta%></td>
     <td width="20%" height="30" align="left" class="camposDesc"><%=valorizacionesmejora.direccion%></td>
     <td width="30%" height="30" align="left" class="camposDesc"><%=valorizacionesmejora.estado_vivienda%></td>
     <td width="10%" align="right" class="camposDesc">
       <% if permiso("valorizacionesmejora","A").to_s == "S" %>
           <% if @valorizacion.proyecto = "IGUANA" and permiso("reasentamientosvalorizacion","C").to_s == "S" %>
                <%= link_to_remote('Editar',{:url => edit_valorizacion_valorizacionesmejora_path(@valorizacion, valorizacionesmejora),
		:method => :get}, :class=>"editarlink")%>
            <% end %>
       <% end %>
        <% if permiso("valorizacionesmejora","E").to_s == "S" %>
            <% if @valorizacion.proyecto = "IGUANA" and permiso("reasentamientosvalorizacion","C").to_s == "S" %>
                <%= link_to_remote('Borrar',{:url => valorizacion_valorizacionesmejora_path(@valorizacion, valorizacionesmejora),
                        :method => :delete, :confirm => "¿Seguro?"}, :class=>"borrarlink")%>
            <% end %>
        <% end %>
       </td>
 </tr>
</table>
<% else %>
      <fieldset>
      <table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr>
    <td  height="30"><div class="col_enc">EDITAR MEJORAS</div></td>
  </tr>
</table>
    <tr class="<%=cycle('even1', 'odd1')%>" id="valorizacionesmejora_<%=@valorizacionesmejora.id%>">
     <%= render :partial => "valorizacionesmejoras_form" %>
    </tr>
    </fieldset>
<% end %>
        <% end %>
<% else %>
<table width="40%" border="0" cellpadding="0" align="center" cellspacing="0" bgcolor="#E5E5E5">
      <tr>
        <td width="10%"><div align="right"><img src="/images/alerta.png"></div></td>
        <td width="90%" align="left" class="campos">&nbsp;&nbsp;No hay datos asociados.</td>
     </tr>
</table>
<% end %>
            <%= hidden_field :valorizacion, :id %>
<% end %>
<br/>
<% if flash[:valorizacionesmejora] %>
<div id="valorizacionesmejora">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#E5E5E5">
   <tr>
        <td width="5%"><div align="right"><img src="/images/connect.png"/></div></td>
        <td width="95%" align="left" class="campos">&nbsp;&nbsp;<%= flash[:valorizacionesmejora] %></td>
   </tr>
  </table>
</div>
<script type="text/javascript">
  setTimeout("new Effect.Fade('valorizacionesmejora');", 5000)
</script>
<% end %>
</div>