<h1>New censo</h1>

<% form_for(@censo) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :persona_id %><br />
    <%= f.text_field :persona_id %>
  </p>
  <p>
    <%= f.label :Idformulario %><br />
    <%= f.text_field :Idformulario %>
  </p>
  <p>
    <%= f.label :campo1 %><br />
    <%= f.text_field :campo1 %>
  </p>
  <p>
    <%= f.label :campo2 %><br />
    <%= f.text_field :campo2 %>
  </p>
  <p>
    <%= f.label :campo3 %><br />
    <%= f.text_field :campo3 %>
  </p>
  <p>
    <%= f.label :campo4 %><br />
    <%= f.text_field :campo4 %>
  </p>
  <p>
    <%= f.label :campo5 %><br />
    <%= f.text_field :campo5 %>
  </p>
  <p>
    <%= f.label :campo6 %><br />
    <%= f.text_field :campo6 %>
  </p>
  <p>
    <%= f.label :campo7 %><br />
    <%= f.text_field :campo7 %>
  </p>
  <p>
    <%= f.label :campo8 %><br />
    <%= f.text_field :campo8 %>
  </p>
  <p>
    <%= f.label :campo9 %><br />
    <%= f.text_field :campo9 %>
  </p>
  <p>
    <%= f.label :campo10 %><br />
    <%= f.text_field :campo10 %>
  </p>
  <p>
    <%= f.label :campo11 %><br />
    <%= f.text_field :campo11 %>
  </p>
  <p>
    <%= f.label :campo12 %><br />
    <%= f.text_field :campo12 %>
  </p>
  <p>
    <%= f.label :campo13 %><br />
    <%= f.text_field :campo13 %>
  </p>
  <p>
    <%= f.label :campo14 %><br />
    <%= f.text_field :campo14 %>
  </p>
  <p>
    <%= f.label :campo15 %><br />
    <%= f.text_field :campo15 %>
  </p>
  <p>
    <%= f.label :campo16 %><br />
    <%= f.text_field :campo16 %>
  </p>
  <p>
    <%= f.label :campo17 %><br />
    <%= f.text_field :campo17 %>
  </p>
  <p>
    <%= f.label :campo18 %><br />
    <%= f.text_field :campo18 %>
  </p>
  <p>
    <%= f.label :campo19 %><br />
    <%= f.text_field :campo19 %>
  </p>
  <p>
    <%= f.label :campo20 %><br />
    <%= f.text_field :campo20 %>
  </p>
  <p>
    <%= f.label :campo21 %><br />
    <%= f.text_field :campo21 %>
  </p>
  <p>
    <%= f.label :campo22 %><br />
    <%= f.text_field :campo22 %>
  </p>
  <p>
    <%= f.label :campo23 %><br />
    <%= f.text_field :campo23 %>
  </p>
  <p>
    <%= f.label :campo24 %><br />
    <%= f.text_field :campo24 %>
  </p>
  <p>
    <%= f.label :campo25 %><br />
    <%= f.text_field :campo25 %>
  </p>
  <p>
    <%= f.label :campo26 %><br />
    <%= f.text_field :campo26 %>
  </p>
  <p>
    <%= f.label :campo27 %><br />
    <%= f.text_field :campo27 %>
  </p>
  <p>
    <%= f.label :campo28 %><br />
    <%= f.text_field :campo28 %>
  </p>
  <p>
    <%= f.label :campo29 %><br />
    <%= f.text_field :campo29 %>
  </p>
  <p>
    <%= f.label :campo30 %><br />
    <%= f.text_field :campo30 %>
  </p>
  <p>
    <%= f.label :campo31 %><br />
    <%= f.text_field :campo31 %>
  </p>
  <p>
    <%= f.label :campo32 %><br />
    <%= f.text_field :campo32 %>
  </p>
  <p>
    <%= f.label :campo33 %><br />
    <%= f.text_field :campo33 %>
  </p>
  <p>
    <%= f.label :campo34 %><br />
    <%= f.text_field :campo34 %>
  </p>
  <p>
    <%= f.label :campo35 %><br />
    <%= f.text_field :campo35 %>
  </p>
  <p>
    <%= f.label :campo36 %><br />
    <%= f.text_field :campo36 %>
  </p>
  <p>
    <%= f.label :campo37 %><br />
    <%= f.text_field :campo37 %>
  </p>
  <p>
    <%= f.label :campo38 %><br />
    <%= f.text_field :campo38 %>
  </p>
  <p>
    <%= f.label :campo39 %><br />
    <%= f.text_field :campo39 %>
  </p>
  <p>
    <%= f.label :campo40 %><br />
    <%= f.text_field :campo40 %>
  </p>
  <p>
    <%= f.label :campo41 %><br />
    <%= f.text_field :campo41 %>
  </p>
  <p>
    <%= f.label :campo42 %><br />
    <%= f.text_field :campo42 %>
  </p>
  <p>
    <%= f.label :campo43 %><br />
    <%= f.text_field :campo43 %>
  </p>
  <p>
    <%= f.label :campo44 %><br />
    <%= f.text_field :campo44 %>
  </p>
  <p>
    <%= f.label :campo45 %><br />
    <%= f.text_field :campo45 %>
  </p>
  <p>
    <%= f.label :campo46 %><br />
    <%= f.text_field :campo46 %>
  </p>
  <p>
    <%= f.label :campo47 %><br />
    <%= f.text_field :campo47 %>
  </p>
  <p>
    <%= f.label :campo48 %><br />
    <%= f.text_field :campo48 %>
  </p>
  <p>
    <%= f.label :campo49 %><br />
    <%= f.text_field :campo49 %>
  </p>
  <p>
    <%= f.label :campo50 %><br />
    <%= f.text_field :campo50 %>
  </p>
  <p>
    <%= f.label :campo51 %><br />
    <%= f.text_field :campo51 %>
  </p>
  <p>
    <%= f.label :campo52 %><br />
    <%= f.text_field :campo52 %>
  </p>
  <p>
    <%= f.label :campo53 %><br />
    <%= f.text_field :campo53 %>
  </p>
  <p>
    <%= f.label :campo54 %><br />
    <%= f.text_field :campo54 %>
  </p>
  <p>
    <%= f.label :campo55 %><br />
    <%= f.text_field :campo55 %>
  </p>
  <p>
    <%= f.label :campo56 %><br />
    <%= f.text_field :campo56 %>
  </p>
  <p>
    <%= f.label :campo57 %><br />
    <%= f.text_field :campo57 %>
  </p>
  <p>
    <%= f.label :campo58 %><br />
    <%= f.text_field :campo58 %>
  </p>
  <p>
    <%= f.label :campo59 %><br />
    <%= f.text_field :campo59 %>
  </p>
  <p>
    <%= f.label :campo60 %><br />
    <%= f.text_field :campo60 %>
  </p>
  <p>
    <%= f.label :campo61 %><br />
    <%= f.text_field :campo61 %>
  </p>
  <p>
    <%= f.label :campo62 %><br />
    <%= f.text_field :campo62 %>
  </p>
  <p>
    <%= f.label :campo63 %><br />
    <%= f.text_field :campo63 %>
  </p>
  <p>
    <%= f.label :campo64 %><br />
    <%= f.text_field :campo64 %>
  </p>
  <p>
    <%= f.label :campo65 %><br />
    <%= f.text_field :campo65 %>
  </p>
  <p>
    <%= f.label :campo66 %><br />
    <%= f.text_field :campo66 %>
  </p>
  <p>
    <%= f.label :campo67 %><br />
    <%= f.text_field :campo67 %>
  </p>
  <p>
    <%= f.label :campo68 %><br />
    <%= f.text_field :campo68 %>
  </p>
  <p>
    <%= f.label :campo69 %><br />
    <%= f.text_field :campo69 %>
  </p>
  <p>
    <%= f.label :campo70 %><br />
    <%= f.text_field :campo70 %>
  </p>
  <p>
    <%= f.label :campo71 %><br />
    <%= f.text_field :campo71 %>
  </p>
  <p>
    <%= f.label :campo72 %><br />
    <%= f.text_field :campo72 %>
  </p>
  <p>
    <%= f.label :campo73 %><br />
    <%= f.text_field :campo73 %>
  </p>
  <p>
    <%= f.label :campo74 %><br />
    <%= f.text_field :campo74 %>
  </p>
  <p>
    <%= f.label :campo75 %><br />
    <%= f.text_field :campo75 %>
  </p>
  <p>
    <%= f.label :campo76 %><br />
    <%= f.text_field :campo76 %>
  </p>
  <p>
    <%= f.label :campo77 %><br />
    <%= f.text_field :campo77 %>
  </p>
  <p>
    <%= f.label :campo78 %><br />
    <%= f.text_field :campo78 %>
  </p>
  <p>
    <%= f.label :campo79 %><br />
    <%= f.text_field :campo79 %>
  </p>
  <p>
    <%= f.label :campo80 %><br />
    <%= f.text_field :campo80 %>
  </p>
  <p>
    <%= f.label :campo81 %><br />
    <%= f.text_field :campo81 %>
  </p>
  <p>
    <%= f.label :campo82 %><br />
    <%= f.text_field :campo82 %>
  </p>
  <p>
    <%= f.label :campo83 %><br />
    <%= f.text_field :campo83 %>
  </p>
  <p>
    <%= f.label :campo84 %><br />
    <%= f.text_field :campo84 %>
  </p>
  <p>
    <%= f.label :campo85 %><br />
    <%= f.text_field :campo85 %>
  </p>
  <p>
    <%= f.label :campo86 %><br />
    <%= f.text_field :campo86 %>
  </p>
  <p>
    <%= f.label :campo87 %><br />
    <%= f.text_field :campo87 %>
  </p>
  <p>
    <%= f.label :campo88 %><br />
    <%= f.text_field :campo88 %>
  </p>
  <p>
    <%= f.label :campo89 %><br />
    <%= f.text_field :campo89 %>
  </p>
  <p>
    <%= f.label :campo90 %><br />
    <%= f.text_field :campo90 %>
  </p>
  <p>
    <%= f.label :campo91 %><br />
    <%= f.text_field :campo91 %>
  </p>
  <p>
    <%= f.label :campo92 %><br />
    <%= f.text_field :campo92 %>
  </p>
  <p>
    <%= f.label :campo93 %><br />
    <%= f.text_field :campo93 %>
  </p>
  <p>
    <%= f.label :campo94 %><br />
    <%= f.text_field :campo94 %>
  </p>
  <p>
    <%= f.label :campo95 %><br />
    <%= f.text_field :campo95 %>
  </p>
  <p>
    <%= f.label :campo96 %><br />
    <%= f.text_field :campo96 %>
  </p>
  <p>
    <%= f.label :campo97 %><br />
    <%= f.text_field :campo97 %>
  </p>
  <p>
    <%= f.label :campo98 %><br />
    <%= f.text_field :campo98 %>
  </p>
  <p>
    <%= f.label :campo99 %><br />
    <%= f.text_field :campo99 %>
  </p>
  <p>
    <%= f.label :campo100 %><br />
    <%= f.text_field :campo100 %>
  </p>
  <p>
    <%= f.label :campo101 %><br />
    <%= f.text_field :campo101 %>
  </p>
  <p>
    <%= f.label :campo102 %><br />
    <%= f.text_field :campo102 %>
  </p>
  <p>
    <%= f.label :campo103 %><br />
    <%= f.text_field :campo103 %>
  </p>
  <p>
    <%= f.label :campo104 %><br />
    <%= f.text_field :campo104 %>
  </p>
  <p>
    <%= f.label :campo105 %><br />
    <%= f.text_field :campo105 %>
  </p>
  <p>
    <%= f.label :campo106 %><br />
    <%= f.text_field :campo106 %>
  </p>
  <p>
    <%= f.label :campo107 %><br />
    <%= f.text_field :campo107 %>
  </p>
  <p>
    <%= f.label :campo108 %><br />
    <%= f.text_field :campo108 %>
  </p>
  <p>
    <%= f.label :campo109 %><br />
    <%= f.text_field :campo109 %>
  </p>
  <p>
    <%= f.label :campo110 %><br />
    <%= f.text_field :campo110 %>
  </p>
  <p>
    <%= f.label :campo111 %><br />
    <%= f.text_field :campo111 %>
  </p>
  <p>
    <%= f.label :campo112 %><br />
    <%= f.text_field :campo112 %>
  </p>
  <p>
    <%= f.label :campo113 %><br />
    <%= f.text_field :campo113 %>
  </p>
  <p>
    <%= f.label :campo114 %><br />
    <%= f.text_field :campo114 %>
  </p>
  <p>
    <%= f.label :campo115 %><br />
    <%= f.text_field :campo115 %>
  </p>
  <p>
    <%= f.label :campo116 %><br />
    <%= f.text_field :campo116 %>
  </p>
  <p>
    <%= f.label :campo117 %><br />
    <%= f.text_field :campo117 %>
  </p>
  <p>
    <%= f.label :campo118 %><br />
    <%= f.text_field :campo118 %>
  </p>
  <p>
    <%= f.label :campo119 %><br />
    <%= f.text_field :campo119 %>
  </p>
  <p>
    <%= f.label :campo120 %><br />
    <%= f.text_field :campo120 %>
  </p>
  <p>
    <%= f.label :campo121 %><br />
    <%= f.text_field :campo121 %>
  </p>
  <p>
    <%= f.label :campo122 %><br />
    <%= f.text_field :campo122 %>
  </p>
  <p>
    <%= f.label :campo123 %><br />
    <%= f.text_field :campo123 %>
  </p>
  <p>
    <%= f.label :campo124 %><br />
    <%= f.text_field :campo124 %>
  </p>
  <p>
    <%= f.label :campo125 %><br />
    <%= f.text_field :campo125 %>
  </p>
  <p>
    <%= f.label :campo126 %><br />
    <%= f.text_field :campo126 %>
  </p>
  <p>
    <%= f.label :campo127 %><br />
    <%= f.text_field :campo127 %>
  </p>
  <p>
    <%= f.label :campo128 %><br />
    <%= f.text_field :campo128 %>
  </p>
  <p>
    <%= f.label :campo129 %><br />
    <%= f.text_field :campo129 %>
  </p>
  <p>
    <%= f.label :campo130 %><br />
    <%= f.text_field :campo130 %>
  </p>
  <p>
    <%= f.label :campo131 %><br />
    <%= f.text_field :campo131 %>
  </p>
  <p>
    <%= f.label :campo132 %><br />
    <%= f.text_field :campo132 %>
  </p>
  <p>
    <%= f.label :campo133 %><br />
    <%= f.text_field :campo133 %>
  </p>
  <p>
    <%= f.label :campo134 %><br />
    <%= f.text_field :campo134 %>
  </p>
  <p>
    <%= f.label :campo135 %><br />
    <%= f.text_field :campo135 %>
  </p>
  <p>
    <%= f.label :campo136 %><br />
    <%= f.text_field :campo136 %>
  </p>
  <p>
    <%= f.label :campo137 %><br />
    <%= f.text_field :campo137 %>
  </p>
  <p>
    <%= f.label :campo138 %><br />
    <%= f.text_field :campo138 %>
  </p>
  <p>
    <%= f.label :campo139 %><br />
    <%= f.text_field :campo139 %>
  </p>
  <p>
    <%= f.label :campo140 %><br />
    <%= f.text_field :campo140 %>
  </p>
  <p>
    <%= f.label :campo141 %><br />
    <%= f.text_field :campo141 %>
  </p>
  <p>
    <%= f.label :campo142 %><br />
    <%= f.text_field :campo142 %>
  </p>
  <p>
    <%= f.label :campo143 %><br />
    <%= f.text_field :campo143 %>
  </p>
  <p>
    <%= f.label :campo144 %><br />
    <%= f.text_field :campo144 %>
  </p>
  <p>
    <%= f.label :campo145 %><br />
    <%= f.text_field :campo145 %>
  </p>
  <p>
    <%= f.label :campo146 %><br />
    <%= f.text_field :campo146 %>
  </p>
  <p>
    <%= f.label :campo147 %><br />
    <%= f.text_field :campo147 %>
  </p>
  <p>
    <%= f.label :campo148 %><br />
    <%= f.text_field :campo148 %>
  </p>
  <p>
    <%= f.label :campo149 %><br />
    <%= f.text_field :campo149 %>
  </p>
  <p>
    <%= f.label :campo150 %><br />
    <%= f.text_field :campo150 %>
  </p>
  <p>
    <%= f.label :campo151 %><br />
    <%= f.text_field :campo151 %>
  </p>
  <p>
    <%= f.label :campo152 %><br />
    <%= f.text_field :campo152 %>
  </p>
  <p>
    <%= f.label :campo153 %><br />
    <%= f.text_field :campo153 %>
  </p>
  <p>
    <%= f.label :campo154 %><br />
    <%= f.text_field :campo154 %>
  </p>
  <p>
    <%= f.label :campo155 %><br />
    <%= f.text_field :campo155 %>
  </p>
  <p>
    <%= f.label :campo156 %><br />
    <%= f.text_field :campo156 %>
  </p>
  <p>
    <%= f.label :campo157 %><br />
    <%= f.text_field :campo157 %>
  </p>
  <p>
    <%= f.label :campo158 %><br />
    <%= f.text_field :campo158 %>
  </p>
  <p>
    <%= f.label :campo159 %><br />
    <%= f.text_field :campo159 %>
  </p>
  <p>
    <%= f.label :campo160 %><br />
    <%= f.text_field :campo160 %>
  </p>
  <p>
    <%= f.label :campo161 %><br />
    <%= f.text_field :campo161 %>
  </p>
  <p>
    <%= f.label :campo162 %><br />
    <%= f.text_field :campo162 %>
  </p>
  <p>
    <%= f.label :campo163 %><br />
    <%= f.text_field :campo163 %>
  </p>
  <p>
    <%= f.label :campo164 %><br />
    <%= f.text_field :campo164 %>
  </p>
  <p>
    <%= f.label :campo165 %><br />
    <%= f.text_field :campo165 %>
  </p>
  <p>
    <%= f.label :campo166 %><br />
    <%= f.text_field :campo166 %>
  </p>
  <p>
    <%= f.label :campo167 %><br />
    <%= f.text_field :campo167 %>
  </p>
  <p>
    <%= f.label :campo168 %><br />
    <%= f.text_field :campo168 %>
  </p>
  <p>
    <%= f.label :campo169 %><br />
    <%= f.text_field :campo169 %>
  </p>
  <p>
    <%= f.label :campo170 %><br />
    <%= f.text_field :campo170 %>
  </p>
  <p>
    <%= f.label :campo171 %><br />
    <%= f.text_field :campo171 %>
  </p>
  <p>
    <%= f.label :campo172 %><br />
    <%= f.text_field :campo172 %>
  </p>
  <p>
    <%= f.label :campo173 %><br />
    <%= f.text_field :campo173 %>
  </p>
  <p>
    <%= f.label :campo174 %><br />
    <%= f.text_field :campo174 %>
  </p>
  <p>
    <%= f.label :campo175 %><br />
    <%= f.text_field :campo175 %>
  </p>
  <p>
    <%= f.label :campo176 %><br />
    <%= f.text_field :campo176 %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', censos_path %>