<p>
  <b>Persona:</b>
  <%=h @censo.persona_id %>
</p>

<p>
  <b>Idformulario:</b>
  <%=h @censo.Idformulario %>
</p>

<p>
  <b>Campo1:</b>
  <%=h @censo.campo1 %>
</p>

<p>
  <b>Campo2:</b>
  <%=h @censo.campo2 %>
</p>

<p>
  <b>Campo3:</b>
  <%=h @censo.campo3 %>
</p>

<p>
  <b>Campo4:</b>
  <%=h @censo.campo4 %>
</p>

<p>
  <b>Campo5:</b>
  <%=h @censo.campo5 %>
</p>

<p>
  <b>Campo6:</b>
  <%=h @censo.campo6 %>
</p>

<p>
  <b>Campo7:</b>
  <%=h @censo.campo7 %>
</p>

<p>
  <b>Campo8:</b>
  <%=h @censo.campo8 %>
</p>

<p>
  <b>Campo9:</b>
  <%=h @censo.campo9 %>
</p>

<p>
  <b>Campo10:</b>
  <%=h @censo.campo10 %>
</p>

<p>
  <b>Campo11:</b>
  <%=h @censo.campo11 %>
</p>

<p>
  <b>Campo12:</b>
  <%=h @censo.campo12 %>
</p>

<p>
  <b>Campo13:</b>
  <%=h @censo.campo13 %>
</p>

<p>
  <b>Campo14:</b>
  <%=h @censo.campo14 %>
</p>

<p>
  <b>Campo15:</b>
  <%=h @censo.campo15 %>
</p>

<p>
  <b>Campo16:</b>
  <%=h @censo.campo16 %>
</p>

<p>
  <b>Campo17:</b>
  <%=h @censo.campo17 %>
</p>

<p>
  <b>Campo18:</b>
  <%=h @censo.campo18 %>
</p>

<p>
  <b>Campo19:</b>
  <%=h @censo.campo19 %>
</p>

<p>
  <b>Campo20:</b>
  <%=h @censo.campo20 %>
</p>

<p>
  <b>Campo21:</b>
  <%=h @censo.campo21 %>
</p>

<p>
  <b>Campo22:</b>
  <%=h @censo.campo22 %>
</p>

<p>
  <b>Campo23:</b>
  <%=h @censo.campo23 %>
</p>

<p>
  <b>Campo24:</b>
  <%=h @censo.campo24 %>
</p>

<p>
  <b>Campo25:</b>
  <%=h @censo.campo25 %>
</p>

<p>
  <b>Campo26:</b>
  <%=h @censo.campo26 %>
</p>

<p>
  <b>Campo27:</b>
  <%=h @censo.campo27 %>
</p>

<p>
  <b>Campo28:</b>
  <%=h @censo.campo28 %>
</p>

<p>
  <b>Campo29:</b>
  <%=h @censo.campo29 %>
</p>

<p>
  <b>Campo30:</b>
  <%=h @censo.campo30 %>
</p>

<p>
  <b>Campo31:</b>
  <%=h @censo.campo31 %>
</p>

<p>
  <b>Campo32:</b>
  <%=h @censo.campo32 %>
</p>

<p>
  <b>Campo33:</b>
  <%=h @censo.campo33 %>
</p>

<p>
  <b>Campo34:</b>
  <%=h @censo.campo34 %>
</p>

<p>
  <b>Campo35:</b>
  <%=h @censo.campo35 %>
</p>

<p>
  <b>Campo36:</b>
  <%=h @censo.campo36 %>
</p>

<p>
  <b>Campo37:</b>
  <%=h @censo.campo37 %>
</p>

<p>
  <b>Campo38:</b>
  <%=h @censo.campo38 %>
</p>

<p>
  <b>Campo39:</b>
  <%=h @censo.campo39 %>
</p>

<p>
  <b>Campo40:</b>
  <%=h @censo.campo40 %>
</p>

<p>
  <b>Campo41:</b>
  <%=h @censo.campo41 %>
</p>

<p>
  <b>Campo42:</b>
  <%=h @censo.campo42 %>
</p>

<p>
  <b>Campo43:</b>
  <%=h @censo.campo43 %>
</p>

<p>
  <b>Campo44:</b>
  <%=h @censo.campo44 %>
</p>

<p>
  <b>Campo45:</b>
  <%=h @censo.campo45 %>
</p>

<p>
  <b>Campo46:</b>
  <%=h @censo.campo46 %>
</p>

<p>
  <b>Campo47:</b>
  <%=h @censo.campo47 %>
</p>

<p>
  <b>Campo48:</b>
  <%=h @censo.campo48 %>
</p>

<p>
  <b>Campo49:</b>
  <%=h @censo.campo49 %>
</p>

<p>
  <b>Campo50:</b>
  <%=h @censo.campo50 %>
</p>

<p>
  <b>Campo51:</b>
  <%=h @censo.campo51 %>
</p>

<p>
  <b>Campo52:</b>
  <%=h @censo.campo52 %>
</p>

<p>
  <b>Campo53:</b>
  <%=h @censo.campo53 %>
</p>

<p>
  <b>Campo54:</b>
  <%=h @censo.campo54 %>
</p>

<p>
  <b>Campo55:</b>
  <%=h @censo.campo55 %>
</p>

<p>
  <b>Campo56:</b>
  <%=h @censo.campo56 %>
</p>

<p>
  <b>Campo57:</b>
  <%=h @censo.campo57 %>
</p>

<p>
  <b>Campo58:</b>
  <%=h @censo.campo58 %>
</p>

<p>
  <b>Campo59:</b>
  <%=h @censo.campo59 %>
</p>

<p>
  <b>Campo60:</b>
  <%=h @censo.campo60 %>
</p>

<p>
  <b>Campo61:</b>
  <%=h @censo.campo61 %>
</p>

<p>
  <b>Campo62:</b>
  <%=h @censo.campo62 %>
</p>

<p>
  <b>Campo63:</b>
  <%=h @censo.campo63 %>
</p>

<p>
  <b>Campo64:</b>
  <%=h @censo.campo64 %>
</p>

<p>
  <b>Campo65:</b>
  <%=h @censo.campo65 %>
</p>

<p>
  <b>Campo66:</b>
  <%=h @censo.campo66 %>
</p>

<p>
  <b>Campo67:</b>
  <%=h @censo.campo67 %>
</p>

<p>
  <b>Campo68:</b>
  <%=h @censo.campo68 %>
</p>

<p>
  <b>Campo69:</b>
  <%=h @censo.campo69 %>
</p>

<p>
  <b>Campo70:</b>
  <%=h @censo.campo70 %>
</p>

<p>
  <b>Campo71:</b>
  <%=h @censo.campo71 %>
</p>

<p>
  <b>Campo72:</b>
  <%=h @censo.campo72 %>
</p>

<p>
  <b>Campo73:</b>
  <%=h @censo.campo73 %>
</p>

<p>
  <b>Campo74:</b>
  <%=h @censo.campo74 %>
</p>

<p>
  <b>Campo75:</b>
  <%=h @censo.campo75 %>
</p>

<p>
  <b>Campo76:</b>
  <%=h @censo.campo76 %>
</p>

<p>
  <b>Campo77:</b>
  <%=h @censo.campo77 %>
</p>

<p>
  <b>Campo78:</b>
  <%=h @censo.campo78 %>
</p>

<p>
  <b>Campo79:</b>
  <%=h @censo.campo79 %>
</p>

<p>
  <b>Campo80:</b>
  <%=h @censo.campo80 %>
</p>

<p>
  <b>Campo81:</b>
  <%=h @censo.campo81 %>
</p>

<p>
  <b>Campo82:</b>
  <%=h @censo.campo82 %>
</p>

<p>
  <b>Campo83:</b>
  <%=h @censo.campo83 %>
</p>

<p>
  <b>Campo84:</b>
  <%=h @censo.campo84 %>
</p>

<p>
  <b>Campo85:</b>
  <%=h @censo.campo85 %>
</p>

<p>
  <b>Campo86:</b>
  <%=h @censo.campo86 %>
</p>

<p>
  <b>Campo87:</b>
  <%=h @censo.campo87 %>
</p>

<p>
  <b>Campo88:</b>
  <%=h @censo.campo88 %>
</p>

<p>
  <b>Campo89:</b>
  <%=h @censo.campo89 %>
</p>

<p>
  <b>Campo90:</b>
  <%=h @censo.campo90 %>
</p>

<p>
  <b>Campo91:</b>
  <%=h @censo.campo91 %>
</p>

<p>
  <b>Campo92:</b>
  <%=h @censo.campo92 %>
</p>

<p>
  <b>Campo93:</b>
  <%=h @censo.campo93 %>
</p>

<p>
  <b>Campo94:</b>
  <%=h @censo.campo94 %>
</p>

<p>
  <b>Campo95:</b>
  <%=h @censo.campo95 %>
</p>

<p>
  <b>Campo96:</b>
  <%=h @censo.campo96 %>
</p>

<p>
  <b>Campo97:</b>
  <%=h @censo.campo97 %>
</p>

<p>
  <b>Campo98:</b>
  <%=h @censo.campo98 %>
</p>

<p>
  <b>Campo99:</b>
  <%=h @censo.campo99 %>
</p>

<p>
  <b>Campo100:</b>
  <%=h @censo.campo100 %>
</p>

<p>
  <b>Campo101:</b>
  <%=h @censo.campo101 %>
</p>

<p>
  <b>Campo102:</b>
  <%=h @censo.campo102 %>
</p>

<p>
  <b>Campo103:</b>
  <%=h @censo.campo103 %>
</p>

<p>
  <b>Campo104:</b>
  <%=h @censo.campo104 %>
</p>

<p>
  <b>Campo105:</b>
  <%=h @censo.campo105 %>
</p>

<p>
  <b>Campo106:</b>
  <%=h @censo.campo106 %>
</p>

<p>
  <b>Campo107:</b>
  <%=h @censo.campo107 %>
</p>

<p>
  <b>Campo108:</b>
  <%=h @censo.campo108 %>
</p>

<p>
  <b>Campo109:</b>
  <%=h @censo.campo109 %>
</p>

<p>
  <b>Campo110:</b>
  <%=h @censo.campo110 %>
</p>

<p>
  <b>Campo111:</b>
  <%=h @censo.campo111 %>
</p>

<p>
  <b>Campo112:</b>
  <%=h @censo.campo112 %>
</p>

<p>
  <b>Campo113:</b>
  <%=h @censo.campo113 %>
</p>

<p>
  <b>Campo114:</b>
  <%=h @censo.campo114 %>
</p>

<p>
  <b>Campo115:</b>
  <%=h @censo.campo115 %>
</p>

<p>
  <b>Campo116:</b>
  <%=h @censo.campo116 %>
</p>

<p>
  <b>Campo117:</b>
  <%=h @censo.campo117 %>
</p>

<p>
  <b>Campo118:</b>
  <%=h @censo.campo118 %>
</p>

<p>
  <b>Campo119:</b>
  <%=h @censo.campo119 %>
</p>

<p>
  <b>Campo120:</b>
  <%=h @censo.campo120 %>
</p>

<p>
  <b>Campo121:</b>
  <%=h @censo.campo121 %>
</p>

<p>
  <b>Campo122:</b>
  <%=h @censo.campo122 %>
</p>

<p>
  <b>Campo123:</b>
  <%=h @censo.campo123 %>
</p>

<p>
  <b>Campo124:</b>
  <%=h @censo.campo124 %>
</p>

<p>
  <b>Campo125:</b>
  <%=h @censo.campo125 %>
</p>

<p>
  <b>Campo126:</b>
  <%=h @censo.campo126 %>
</p>

<p>
  <b>Campo127:</b>
  <%=h @censo.campo127 %>
</p>

<p>
  <b>Campo128:</b>
  <%=h @censo.campo128 %>
</p>

<p>
  <b>Campo129:</b>
  <%=h @censo.campo129 %>
</p>

<p>
  <b>Campo130:</b>
  <%=h @censo.campo130 %>
</p>

<p>
  <b>Campo131:</b>
  <%=h @censo.campo131 %>
</p>

<p>
  <b>Campo132:</b>
  <%=h @censo.campo132 %>
</p>

<p>
  <b>Campo133:</b>
  <%=h @censo.campo133 %>
</p>

<p>
  <b>Campo134:</b>
  <%=h @censo.campo134 %>
</p>

<p>
  <b>Campo135:</b>
  <%=h @censo.campo135 %>
</p>

<p>
  <b>Campo136:</b>
  <%=h @censo.campo136 %>
</p>

<p>
  <b>Campo137:</b>
  <%=h @censo.campo137 %>
</p>

<p>
  <b>Campo138:</b>
  <%=h @censo.campo138 %>
</p>

<p>
  <b>Campo139:</b>
  <%=h @censo.campo139 %>
</p>

<p>
  <b>Campo140:</b>
  <%=h @censo.campo140 %>
</p>

<p>
  <b>Campo141:</b>
  <%=h @censo.campo141 %>
</p>

<p>
  <b>Campo142:</b>
  <%=h @censo.campo142 %>
</p>

<p>
  <b>Campo143:</b>
  <%=h @censo.campo143 %>
</p>

<p>
  <b>Campo144:</b>
  <%=h @censo.campo144 %>
</p>

<p>
  <b>Campo145:</b>
  <%=h @censo.campo145 %>
</p>

<p>
  <b>Campo146:</b>
  <%=h @censo.campo146 %>
</p>

<p>
  <b>Campo147:</b>
  <%=h @censo.campo147 %>
</p>

<p>
  <b>Campo148:</b>
  <%=h @censo.campo148 %>
</p>

<p>
  <b>Campo149:</b>
  <%=h @censo.campo149 %>
</p>

<p>
  <b>Campo150:</b>
  <%=h @censo.campo150 %>
</p>

<p>
  <b>Campo151:</b>
  <%=h @censo.campo151 %>
</p>

<p>
  <b>Campo152:</b>
  <%=h @censo.campo152 %>
</p>

<p>
  <b>Campo153:</b>
  <%=h @censo.campo153 %>
</p>

<p>
  <b>Campo154:</b>
  <%=h @censo.campo154 %>
</p>

<p>
  <b>Campo155:</b>
  <%=h @censo.campo155 %>
</p>

<p>
  <b>Campo156:</b>
  <%=h @censo.campo156 %>
</p>

<p>
  <b>Campo157:</b>
  <%=h @censo.campo157 %>
</p>

<p>
  <b>Campo158:</b>
  <%=h @censo.campo158 %>
</p>

<p>
  <b>Campo159:</b>
  <%=h @censo.campo159 %>
</p>

<p>
  <b>Campo160:</b>
  <%=h @censo.campo160 %>
</p>

<p>
  <b>Campo161:</b>
  <%=h @censo.campo161 %>
</p>

<p>
  <b>Campo162:</b>
  <%=h @censo.campo162 %>
</p>

<p>
  <b>Campo163:</b>
  <%=h @censo.campo163 %>
</p>

<p>
  <b>Campo164:</b>
  <%=h @censo.campo164 %>
</p>

<p>
  <b>Campo165:</b>
  <%=h @censo.campo165 %>
</p>

<p>
  <b>Campo166:</b>
  <%=h @censo.campo166 %>
</p>

<p>
  <b>Campo167:</b>
  <%=h @censo.campo167 %>
</p>

<p>
  <b>Campo168:</b>
  <%=h @censo.campo168 %>
</p>

<p>
  <b>Campo169:</b>
  <%=h @censo.campo169 %>
</p>

<p>
  <b>Campo170:</b>
  <%=h @censo.campo170 %>
</p>

<p>
  <b>Campo171:</b>
  <%=h @censo.campo171 %>
</p>

<p>
  <b>Campo172:</b>
  <%=h @censo.campo172 %>
</p>

<p>
  <b>Campo173:</b>
  <%=h @censo.campo173 %>
</p>

<p>
  <b>Campo174:</b>
  <%=h @censo.campo174 %>
</p>

<p>
  <b>Campo175:</b>
  <%=h @censo.campo175 %>
</p>

<p>
  <b>Campo176:</b>
  <%=h @censo.campo176 %>
</p>


<%= link_to 'Edit', edit_censo_path(@censo) %> |
<%= link_to 'Back', censos_path %>