<p>
  <b>Documento:</b>
  <%=h @persona.documento_id %>
</p>

<p>
  <b>Identificacion:</b>
  <%=h @persona.identificacion %>
</p>

<p>
  <b>Primer nombre:</b>
  <%=h @persona.primer_nombre %>
</p>

<p>
  <b>Segundo nombre:</b>
  <%=h @persona.segundo_nombre %>
</p>

<p>
  <b>Primer apellido:</b>
  <%=h @persona.primer_apellido %>
</p>

<p>
  <b>Segundo apellido:</b>
  <%=h @persona.segundo_apellido %>
</p>

<p>
  <b>Genero:</b>
  <%=h @persona.genero %>
</p>

<p>
  <b>Fecha nacimiento:</b>
  <%=h @persona.fecha_nacimiento %>
</p>

<p>
  <b>Parentesco:</b>
  <%=h @persona.parentesco_id %>
</p>

<p>
  <b>Estado civil:</b>
  <%=h @persona.estado_civil_id %>
</p>

<p>
  <b>Ocupacion:</b>
  <%=h @persona.ocupacion_id %>
</p>

<p>
  <b>Especial:</b>
  <%=h @persona.especial_id %>
</p>

<p>
  <b>Familiar:</b>
  <%=h @persona.familiar_id %>
</p>

<p>
  <b>Ingresos:</b>
  <%=h @persona.ingresos %>
</p>

<p>
  <b>Sisben:</b>
  <%=h @persona.sisben_id %>
</p>

<p>
  <b>Caja:</b>
  <%=h @persona.caja_id %>
</p>

<p>
  <b>Direccion:</b>
  <%=h @persona.direccion %>
</p>

<p>
  <b>Estrato:</b>
  <%=h @persona.estrato %>
</p>

<p>
  <b>Telefonos1:</b>
  <%=h @persona.telefonos1 %>
</p>

<p>
  <b>Telefonos2:</b>
  <%=h @persona.telefonos2 %>
</p>

<p>
  <b>Celular:</b>
  <%=h @persona.celular %>
</p>

<p>
  <b>E mail:</b>
  <%=h @persona.e_mail %>
</p>


<%= link_to 'Edit', edit_persona_path(@persona) %> |
<%= link_to 'Back', personas_path %>