<fieldset>
<table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr>
    <td height="30"><div class="col_enc">INFORMACION CRUCES</div></td>
  </tr>
</table>
<br/>
<%
  last_id = Cruce.maximum('id',:conditions=>["persona_id = #{@persona.id}"])
  if last_id
    @cruce = Cruce.find(last_id)
    if Crucesdato.exists?(["cruce_id = ?", last_id]) == false
%>
      <div align="center">
        <table width="95%" id="one-column-emphasis">
          <tr>
            <td height="20" class="oce-first"><div align="center">CRUCE JEFE DE HOGAR CON IDENTIFICACION <%=@persona.identificacion%></div></td>
          </tr>
          <tr>
            <td height="20" class="camposDesc" ><div align="center">**** No presenta cruce. Fecha de la ultima solicitud de cruce <strong><%=@cruce.fecha_cruce.strftime("%Y-%m-%d")%></strong></div></td>
          </tr>
        </table>
      </div>
<%  else
      cruzado1 = ""
      cruzado2 = ""
      cruzado3 = ""
      cruzado4 = ""
      cruzado5 = ""
      cruzado6 = ""
      cruzado7 = ""
      cruzado8 = ""
      @crucesdatos = Crucesdato.find_by_sql("select distinct tipo_entidad from crucesdatos where cruce_id = #{last_id}")
      @crucesdatos.each do |crucesdato|
        if crucesdato.tipo_entidad == '1'
          cruzado1 = "X"
        elsif crucesdato.tipo_entidad == '2'
          cruzado2 = "X"
        elsif crucesdato.tipo_entidad == '3'
          cruzado3 = "X"
        elsif crucesdato.tipo_entidad == '4'
          cruzado4 = "X"
        elsif crucesdato.tipo_entidad == '5'
          cruzado5 = "X"
        elsif crucesdato.tipo_entidad == '6'
          cruzado6 = "X"
        elsif crucesdato.tipo_entidad == '7'
          cruzado7 = "X"
        elsif crucesdato.tipo_entidad == '8'
          cruzado8 = "X"
        end
      end
%>
      <div align="center">
      <table width="95%" id="one-column-emphasis">
        <tr>
          <td colspan="11" height="20" class="oce-first"><div align="center">CRUCE JEFE DE HOGAR CON IDENTIFICACION <%=@persona.identificacion%></div></td>
        </tr>
        <tr>
          <td width="10%" height="20" class="oce-first"><div align="center">Fecha Cruce</div></td>
          <td width="10%" height="20" class="oce-first"><div align="center">Identificacion</div></td>
          <td width="9%" class="oce-first"><div align="center">Afiliado</div></td>
          <td width="10%" class="oce-first"><div align="center">Beneficiarios</div></td>
          <td width="9%" class="oce-first"><div align="center">Catant</div></td>
          <td width="9%" class="oce-first"><div align="center">Catbog</div></td>
          <td width="9%" class="oce-first"><div align="center">Catcali</div></td>
          <td width="9%" class="oce-first"><div align="center">Catmed</div></td>
          <td width="9%" class="oce-first"><div align="center">Igac</div></td>
          <td width="10%" class="oce-first"><div align="center">Nuevo Hogar</div></td>
        </tr>
        <tr>
          <td class="camposDesc"><%=@cruce.fecha_cruce.strftime("%Y-%m-%d")%></td>
          <td class="camposDesc"><%=@cruce.identificacion%></td>
          <td class="camposDesc"><div align="center"><% if cruzado1.to_s != "" %><img src="/images/rojo1.png" title="*** Cruce con esta entidad"/><% end %></div></td>
          <td class="camposDesc"><div align="center"><% if cruzado2.to_s != "" %><img src="/images/rojo1.png" title="*** Cruce con esta entidad"/><% end %></div></td>
          <td class="camposDesc"><div align="center"><% if cruzado3.to_s != "" %><img src="/images/rojo1.png" title="*** Cruce con esta entidad"/><% end %></div></td>
          <td class="camposDesc"><div align="center"><% if cruzado4.to_s != "" %><img src="/images/rojo1.png" title="*** Cruce con esta entidad"/><% end %></div></td>
          <td class="camposDesc"><div align="center"><% if cruzado5.to_s != "" %><img src="/images/rojo1.png" title="*** Cruce con esta entidad"/><% end %></div></td>
          <td class="camposDesc"><div align="center"><% if cruzado6.to_s != "" %><img src="/images/rojo1.png" title="*** Cruce con esta entidad"/><% end %></div></td>
          <td class="camposDesc"><div align="center"><% if cruzado7.to_s != "" %><img src="/images/rojo1.png" title="*** Cruce con esta entidad"/><% end %></div></td>
          <td class="camposDesc"><div align="center"><% if cruzado8.to_s != "" %><img src="/images/rojo1.png" title="*** Cruce con esta entidad"/><% end %></div></td>
        </tr>
      </table>
      <table width="800"  border="0" cellspacing="0" cellpadding="0" >
        <tr>
          <td >
      <table width="100%" border="0" cellpadding="2" cellspacing="2">
        <tr>
          <td height="30"><div class="col_enc">INFORMACION DETALLADO CRUCES REALIZADO <%=@cruce.fecha_cruce.strftime("%Y-%m-%d")%></div></td>
        </tr>
      </table>
      <% if Crucesdato.exists?(["cruce_id = #{@cruce.id} and tipo_entidad = '1'"]) == true
           @crucesdatos = Crucesdato.find(:all, :conditions=>["cruce_id = #{@cruce.id} and tipo_entidad = '1'"]) %>

            <table width="100%" id="one-column-emphasis">
              <tr>
                <td colspan="11" height="20" class="oce-first"><div align="center">CRUCE AFILIADOS IDENTIFICACION</div></td>
              </tr>
              <tr>
                <td width="15%" class="oce-first"><div align="left">Nit Entidad</div></td>
                <td width="25%" class="oce-first"><div align="left">Nombre Entidad</div></td>
                <td width="20%" class="oce-first"><div align="left">Identificación</div></td>
                <td width="20%" class="oce-first"><div align="left">Apellidos</div></td>
                <td width="20%" class="oce-first"><div align="left">Nombres</div></td>
              </tr>
      <%   @crucesdatos.each do |crucesdato| %>
              <tr>
                <td class="camposDesc"><%=crucesdato.entidad%></td>
                <td class="camposDesc"><%=crucesdato.nombre_entidad%></td>
                <td class="camposDesc"><%=crucesdato.identificacion%></td>
                <td class="camposDesc"><%=crucesdato.apellidos%></td>
                <td class="camposDesc"><%=crucesdato.nombres%></td>
              </tr>
      <%   end %>
            </table>
      <br/>
      <% end
        if Crucesdato.exists?(["cruce_id = #{@cruce.id} and tipo_entidad = '2'"]) == true
          @crucesdatos = Crucesdato.find(:all, :conditions=>["cruce_id = #{@cruce.id} and tipo_entidad = '2'"]) %>
            <table width="100%" id="one-column-emphasis">
              <tr>
                <td colspan="11" height="20" class="oce-first"><div align="center">CRUCE BENEFICIARIOS IDENTIFICACION</div></td>
              </tr>
              <tr>
                <td width="15%" class="oce-first"><div align="left">Nit Entidad</div></td>
                <td width="25%" class="oce-first"><div align="left">Nombre Entidad</div></td>
                <td width="20%" class="oce-first"><div align="left">Identificación</div></td>
                <td width="20%" class="oce-first"><div align="left">Apellidos</div></td>
                <td width="20%" class="oce-first"><div align="left">Nombres</div></td>
              </tr>
      <% @crucesdatos.each do |crucesdato| %>
              <tr>
                <td class="camposDesc"><%=crucesdato.entidad%></td>
                <td class="camposDesc"><%=crucesdato.nombre_entidad%></td>
                <td class="camposDesc"><%=crucesdato.identificacion%></td>
                <td class="camposDesc"><%=crucesdato.apellidos%></td>
                <td class="camposDesc"><%=crucesdato.nombres%></td>
              </tr>
      <%   end %>
            </table>
      <br/>
      <% end
        if Crucesdato.exists?(["cruce_id = #{@cruce.id} and tipo_entidad = '3'"]) == true
        @crucesdatos = Crucesdato.find(:all, :conditions=>["cruce_id = #{@cruce.id} and tipo_entidad = '3'"]) %>
            <table width="100%" id="one-column-emphasis">
              <tr>
                <td colspan="11" height="20" class="oce-first"><div align="center">CRUCE CATASTRO ANTIOQUIA</div></td>
              </tr>
              <tr>
                <td width="10%" class="oce-first"><div align="left">Nit Entidad</div></td>
                <td width="20%" class="oce-first"><div align="left">Nombre Entidad</div></td>
                <td width="10%" class="oce-first"><div align="left">Identificación</div></td>
                <td width="20%" class="oce-first"><div align="left">Nombres</div></td>
                <td width="10%" class="oce-first"><div align="left">Cedula Catastral</div></td>
                <td width="10%" class="oce-first"><div align="left">Dirección Inmueble</div></td>
                <td width="10%" class="oce-first"><div align="left">Matricula Inmobiliaria</div></td>
                <td width="5%" class="oce-first"><div align="left">Dpto</div></td>
                <td width="5%" class="oce-first"><div align="left">Mpio</div></td>
              </tr>
      <% @crucesdatos.each do |crucesdato| %>
              <tr>
                <td class="camposDesc"><%=crucesdato.entidad%></td>
                <td class="camposDesc"><%=crucesdato.nombre_entidad%></td>
                <td class="camposDesc"><%=crucesdato.identificacion%></td>
                <td class="camposDesc"><%=crucesdato.apellidos%> <%=crucesdato.nombres%></td>
                <td class="camposDesc"><%=crucesdato.cedula_catastral%></td>
                <td class="camposDesc"><%=crucesdato.direccion_inmueble%></td>
                <td class="camposDesc"><%=crucesdato.matricula%></td>
                <td class="camposDesc"><%=crucesdato.departamento%></td>
                <td class="camposDesc"><%=crucesdato.municipio%></td>
              </tr>
      <%   end %>
            </table>
      <br/>
      <% end
        if Crucesdato.exists?(["cruce_id = #{@cruce.id} and tipo_entidad = '4'"]) == true
        @crucesdatos = Crucesdato.find(:all, :conditions=>["cruce_id = #{@cruce.id} and tipo_entidad = '4'"]) %>
            <table width="100%" id="one-column-emphasis">
              <tr>
                <td colspan="11" height="20" class="oce-first"><div align="center">CRUCE CATASTRO BOGOTA</div></td>
              </tr>
              <tr>
                <td width="10%" class="oce-first"><div align="left">Nit Entidad</div></td>
                <td width="10%" class="oce-first"><div align="left">Nombre Entidad</div></td>
                <td width="10%" class="oce-first"><div align="left">Identificación</div></td>
                <td width="10%" class="oce-first"><div align="center">APELLIDOS NOMBRES</div></td>
                <td width="10%" class="oce-first"><div align="left">Cedula Catastral</div></td>
                <td width="10%" class="oce-first"><div align="left">Dirección Inmueble</div></td>
                <td width="10%" class="oce-first"><div align="left">Matricula Inmobiliaria</div></td>
                <td width="10%" class="oce-first"><div align="left">Dpto</div></td>
                <td width="10%" class="oce-first"><div align="left">Mpio</div></td>
              </tr>
      <% @crucesdatos.each do |crucesdato| %>
              <tr>
                <td class="camposDesc"><%=crucesdato.entidad%></td>
                <td class="camposDesc"><%=crucesdato.nombre_entidad%></td>
                <td class="camposDesc"><%=crucesdato.identificacion%></td>
                <td class="camposDesc"><%=crucesdato.nombres%></td>
                <td class="camposDesc"><%=crucesdato.cedula_catastral%></td>
                <td class="camposDesc"><%=crucesdato.direccion_inmueble%></td>
                <td class="camposDesc"><%=crucesdato.matricula%></td>
                <td class="camposDesc"><%=crucesdato.departamento%></td>
                <td class="camposDesc"><%=crucesdato.municipio%></td>
              </tr>
      <%   end %>
            </table>
      <br/>
      <% end
        if Crucesdato.exists?(["cruce_id = #{@cruce.id} and tipo_entidad = '5'"]) == true
        @crucesdatos = Crucesdato.find(:all, :conditions=>["cruce_id = #{@cruce.id} and tipo_entidad = '5'"]) %>
            <table width="100%" id="one-column-emphasis">
              <tr>
                <td colspan="11" height="20" class="oce-first"><div align="center">CRUCE CATASTRO CALI</div></td>
              </tr>
              <tr>
                <td width="10%" class="oce-first"><div align="left">Nit Entidad</div></td>
                <td width="10%" class="oce-first"><div align="left">Nombre Entidad</div></td>
                <td width="10%" class="oce-first"><div align="left">Identificación</div></td>
                <td width="10%" class="oce-first"><div align="center">APELLIDOS NOMBRES</div></td>
                <td width="10%" class="oce-first"><div align="left">Matricula Inmobiliaria</div></td>
                <td width="10%" class="oce-first"><div align="left">Dpto</div></td>
                <td width="10%" class="oce-first"><div align="left">Mpio</div></td>
              </tr>
      <% @crucesdatos.each do |crucesdato| %>
              <tr>
                <td class="camposDesc"><%=crucesdato.entidad%></td>
                <td class="camposDesc"><%=crucesdato.nombre_entidad%></td>
                <td class="camposDesc"><%=crucesdato.identificacion%></td>
                <td class="camposDesc"><%=crucesdato.nombres%></td>
                <td class="camposDesc"><%=crucesdato.matricula%></td>
                <td class="camposDesc"><%=crucesdato.departamento%></td>
                <td class="camposDesc"><%=crucesdato.municipio%></td>
              </tr>
      <%   end %>
            </table>
      <br/>
      <% end
        if Crucesdato.exists?(["cruce_id = #{@cruce.id} and tipo_entidad = '6'"]) == true
        @crucesdatos = Crucesdato.find(:all, :conditions=>["cruce_id = #{@cruce.id} and tipo_entidad = '6'"]) %>
            <table width="100%" id="one-column-emphasis">
              <tr>
                <td colspan="11" height="20" class="oce-first"><div align="center">CRUCE CATASTRO MEDELLIN</div></td>
              </tr>
              <tr>
                <td width="15%" class="oce-first"><div align="left">Nombre Entidad</div></td>
                <td width="20%" class="oce-first"><div align="left">Identificación - Apellidos Nombres</div></td>
                <td width="24%" class="oce-first"><div align="left">Dirección Inmueble</div></td>
                <td width="8%" class="oce-first"><div align="left">Dpto</div></td>
                <td width="8%" class="oce-first"><div align="left">Mpio</div></td>
                <td width="10%" class="oce-first"><div align="left">Matricula Inmobiliaria</div></td>
                <td width="10%" class="oce-first"><div align="left">Cedula Catastral</div></td>
                <td width="5%" class="oce-first"></td>
              </tr>
      <% @crucesdatos.each do |crucesdato| %>
              <tr>
                <td class="camposDesc"><%=crucesdato.nombre_entidad%></td>
                <td class="camposDesc"><%=crucesdato.identificacion%><br/><%=crucesdato.nombres%></td>
                <td class="camposDesc"><%=crucesdato.direccion_inmueble%></td>
                <td class="camposDesc"><%=crucesdato.departamento%></td>
                <td class="camposDesc"><%=crucesdato.municipio%></td>
                <td class="camposDesc"><%=crucesdato.matricula%></td>
                <td class="camposDesc"><%=crucesdato.cedula_catastral%></td>
                <td class="camposDesc"><div align="center">
                     <% if crucesdato.ratifica.to_s == "SI"%>
                        <% if permiso("crucesratifica","C").to_s == "S" %>
                          <%= link_to image_tag("/images/connect.png", :title =>"*** Este cruce esta ratificado por Titulaciones."),
                           {:controller=>"crucesdatos", :action=>"edit", :id=>crucesdato.id}%>
                        <% else %>
                          <img class="img" src="/images/connect.png" title="*** Este cruce esta ratificado por Titulaciones."/>
                        <% end %>
                     <% elsif crucesdato.ratifica.to_s == "NO"%>
                          <img class="img" src="/images/1atras.png" title="*** Este cruce ha sido levantado. Observacion: #{crucesdato.ratifica_observaciones.to_s}"/>
                     <% else %>
                        <% if permiso("crucesratifica","C").to_s == "S" %>
                          <%=link_to 'Marcar', {:controller=>"crucesdatos", :action=>"marcar", :id=>crucesdato.id}, :confirm=>"Seguro que desea marcar este cruce como efectivo??", :class=>"verlink"%>
                        <% end %>
                     <% end%></div></td>
              </tr>
      <%   end %>
            </table>
      <br/>
      <% end
        if Crucesdato.exists?(["cruce_id = #{@cruce.id} and tipo_entidad = '7'"]) == true
        @crucesdatos = Crucesdato.find(:all, :conditions=>["cruce_id = #{@cruce.id} and tipo_entidad = '7'"]) %>
            <table width="100%" id="one-column-emphasis">
              <tr>
                <td colspan="11" height="20" class="oce-first"><div align="center">CRUCE IGAC</div></td>
              </tr>
              <tr>
                <td width="10%" class="oce-first"><div align="left">Nit Entidad</div></td>
                <td width="10%" class="oce-first"><div align="left">Nombre Entidad</div></td>
                <td width="10%" class="oce-first"><div align="left">Identificación</div></td>
                <td width="10%" class="oce-first"><div align="center">APELLIDOS NOMBRES</div></td>
                <td width="10%" class="oce-first"><div align="left">Cedula Catastral</div></td>
                <td width="10%" class="oce-first"><div align="left">Dirección Inmueble</div></td>
                <td width="10%" class="oce-first"><div align="left">Matricula Inmobiliaria</div></td>
                <td width="10%" class="oce-first"><div align="left">Dpto</div></td>
                <td width="10%" class="oce-first"><div align="left">Mpio</div></td>
              </tr>
      <% @crucesdatos.each do |crucesdato| %>
              <tr>
                <td class="camposDesc"><%=crucesdato.entidad%></td>
                <td class="camposDesc"><%=crucesdato.nombre_entidad%></td>
                <td class="camposDesc"><%=crucesdato.identificacion%></td>
                <td class="camposDesc"><%=crucesdato.nombres%></td>
                <td class="camposDesc"><%=crucesdato.cedula_catastral%></td>
                <td class="camposDesc"><%=crucesdato.direccion_inmueble%></td>
                <td class="camposDesc"><%=crucesdato.matricula%></td>
                <td class="camposDesc"><%=crucesdato.departamento%></td>
                <td class="camposDesc"><%=crucesdato.municipio%></td>
              </tr>
      <%   end %>
            </table>
      <% end %>
      </td>
        </tr>
      </table>
      </div>
<%  end
  else
%>
      <div align="center">
        <table width="95%" id="one-column-emphasis">
          <tr>
            <td height="20" class="oce-first"><div align="center">CRUCE JEFE DE HOGAR CON IDENTIFICACION <%=@persona.identificacion%></div></td>
          </tr>
          <tr>
            <td height="20" class="camposDesc" ><div align="center">**** No presenta cruce. Nunca se ha solicitad cruce</div></td>
          </tr>
        </table>
      </div>
<%
  end
%>
<br/>
<%
  @beneviviendas = Benevivienda.find_all_by_persona_id(@persona.id)
  @beneviviendas.each do |benevivienda|
  last_id = Cruce.maximum('id',:conditions=>["benevivienda_id = #{benevivienda.id}"])
  if last_id
    @cruce = Cruce.find(last_id)
    if Crucesdato.exists?(["cruce_id = ?", last_id]) == false
%>
      <div align="center">
        <table width="95%" id="one-column-emphasis">
          <tr>
            <td height="20" class="oce-first"><div align="center">CRUCE BENEFICIARIO CON IDENTIFICACION <%=benevivienda.identificacion%></div></td>
          </tr>
          <tr>
            <td height="20" class="camposDesc" ><div align="center">**** No presenta cruce. Fecha de la ultima solicitud de cruce <strong><%=@cruce.fecha_cruce.strftime("%Y-%m-%d")%></strong></div></td>
          </tr>
        </table>
      </div>
<%  else
      cruzado1 = ""
      cruzado2 = ""
      cruzado3 = ""
      cruzado4 = ""
      cruzado5 = ""
      cruzado6 = ""
      cruzado7 = ""
      cruzado8 = ""
      @crucesdatos = Crucesdato.find_by_sql("select distinct tipo_entidad from crucesdatos where cruce_id = #{last_id}")
      @crucesdatos.each do |crucesdato|
        if crucesdato.tipo_entidad == '1'
          cruzado1 = "X"
        elsif crucesdato.tipo_entidad == '2'
          cruzado2 = "X"
        elsif crucesdato.tipo_entidad == '3'
          cruzado3 = "X"
        elsif crucesdato.tipo_entidad == '4'
          cruzado4 = "X"
        elsif crucesdato.tipo_entidad == '5'
          cruzado5 = "X"
        elsif crucesdato.tipo_entidad == '6'
          cruzado6 = "X"
        elsif crucesdato.tipo_entidad == '7'
          cruzado7 = "X"
        elsif crucesdato.tipo_entidad == '8'
          cruzado8 = "X"
        end
      end
%>
      <div align="center">
      <table width="95%" id="one-column-emphasis">
        <tr>
          <td colspan="11" height="20" class="oce-first"><div align="center">CRUCE BENEFICIARIO CON IDENTIFICACION <%=benevivienda.identificacion%></div></td>
        </tr>
        <tr>
          <td width="10%" height="20" class="oce-first"><div align="center">Fecha Cruce</div></td>
          <td width="10%" height="20" class="oce-first"><div align="center">Identificacion</div></td>
          <td width="9%" class="oce-first"><div align="center">Afiliado</div></td>
          <td width="10%" class="oce-first"><div align="center">Beneficiarios</div></td>
          <td width="9%" class="oce-first"><div align="center">Catant</div></td>
          <td width="9%" class="oce-first"><div align="center">Catbog</div></td>
          <td width="9%" class="oce-first"><div align="center">Catcali</div></td>
          <td width="9%" class="oce-first"><div align="center">Catmed</div></td>
          <td width="9%" class="oce-first"><div align="center">Igac</div></td>
          <td width="10%" class="oce-first"><div align="center">Nuevo Hogar</div></td>
        </tr>
        <tr>
          <td class="camposDesc"><%=@cruce.fecha_cruce.strftime("%Y-%m-%d")%></td>
          <td class="camposDesc"><%=@cruce.identificacion%></td>
          <td class="camposDesc"><div align="center"><% if cruzado1.to_s != "" %><img src="/images/rojo1.png" title="*** Cruce con esta entidad"/><% end %></div></td>
          <td class="camposDesc"><div align="center"><% if cruzado2.to_s != "" %><img src="/images/rojo1.png" title="*** Cruce con esta entidad"/><% end %></div></td>
          <td class="camposDesc"><div align="center"><% if cruzado3.to_s != "" %><img src="/images/rojo1.png" title="*** Cruce con esta entidad"/><% end %></div></td>
          <td class="camposDesc"><div align="center"><% if cruzado4.to_s != "" %><img src="/images/rojo1.png" title="*** Cruce con esta entidad"/><% end %></div></td>
          <td class="camposDesc"><div align="center"><% if cruzado5.to_s != "" %><img src="/images/rojo1.png" title="*** Cruce con esta entidad"/><% end %></div></td>
          <td class="camposDesc"><div align="center"><% if cruzado6.to_s != "" %><img src="/images/rojo1.png" title="*** Cruce con esta entidad"/><% end %></div></td>
          <td class="camposDesc"><div align="center"><% if cruzado7.to_s != "" %><img src="/images/rojo1.png" title="*** Cruce con esta entidad"/><% end %></div></td>
          <td class="camposDesc"><div align="center"><% if cruzado8.to_s != "" %><img src="/images/rojo1.png" title="*** Cruce con esta entidad"/><% end %></div></td>
        </tr>
      </table>
      <table width="800"  border="0" cellspacing="0" cellpadding="0" >
        <tr>
          <td >
      <table width="100%" border="0" cellpadding="2" cellspacing="2">
        <tr>
          <td height="30"><div class="col_enc">INFORMACION DETALLADO CRUCES REALIZADO <%=@cruce.fecha_cruce.strftime("%Y-%m-%d")%></div></td>
        </tr>
      </table>
      <%
        if Crucesdato.exists?(["cruce_id = #{@cruce.id} and tipo_entidad = '1'"]) == true
          @crucesdatos = Crucesdato.find(:all, :conditions=>["cruce_id = #{@cruce.id} and tipo_entidad = '1'"]) %>

            <table width="100%" id="one-column-emphasis">
              <tr>
                <td colspan="11" height="20" class="oce-first"><div align="center">CRUCE AFILIADOS IDENTIFICACION</div></td>
              </tr>
              <tr>
                <td width="15%" class="oce-first"><div align="left">Nit Entidad</div></td>
                <td width="25%" class="oce-first"><div align="left">Nombre Entidad</div></td>
                <td width="20%" class="oce-first"><div align="left">Identificación</div></td>
                <td width="20%" class="oce-first"><div align="left">Apellidos</div></td>
                <td width="20%" class="oce-first"><div align="left">Nombres</div></td>
              </tr>
      <%   @crucesdatos.each do |crucesdato| %>
              <tr>
                <td class="camposDesc"><%=crucesdato.entidad%></td>
                <td class="camposDesc"><%=crucesdato.nombre_entidad%></td>
                <td class="camposDesc"><%=crucesdato.identificacion%></td>
                <td class="camposDesc"><%=crucesdato.apellidos%></td>
                <td class="camposDesc"><%=crucesdato.nombres%></td>
              </tr>
      <%   end %>
            </table>
      <br/>
      <% end
        if Crucesdato.exists?(["cruce_id = #{@cruce.id} and tipo_entidad = '2'"]) == true
          @crucesdatos = Crucesdato.find(:all, :conditions=>["cruce_id = #{@cruce.id} and tipo_entidad = '2'"]) %>
            <table width="100%" id="one-column-emphasis">
              <tr>
                <td colspan="11" height="20" class="oce-first"><div align="center">CRUCE BENEFICIARIOS IDENTIFICACION</div></td>
              </tr>
              <tr>
                <td width="15%" class="oce-first"><div align="left">Nit Entidad</div></td>
                <td width="25%" class="oce-first"><div align="left">Nombre Entidad</div></td>
                <td width="20%" class="oce-first"><div align="left">Identificación</div></td>
                <td width="20%" class="oce-first"><div align="left">Apellidos</div></td>
                <td width="20%" class="oce-first"><div align="left">Nombres</div></td>
              </tr>
      <% @crucesdatos.each do |crucesdato| %>
              <tr>
                <td class="camposDesc"><%=crucesdato.entidad%></td>
                <td class="camposDesc"><%=crucesdato.nombre_entidad%></td>
                <td class="camposDesc"><%=crucesdato.identificacion%></td>
                <td class="camposDesc"><%=crucesdato.apellidos%></td>
                <td class="camposDesc"><%=crucesdato.nombres%></td>
              </tr>
      <%   end %>
            </table>
      <br/>
      <% end
        if Crucesdato.exists?(["cruce_id = #{@cruce.id} and tipo_entidad = '3'"]) == true
        @crucesdatos = Crucesdato.find(:all, :conditions=>["cruce_id = #{@cruce.id} and tipo_entidad = '3'"]) %>
            <table width="100%" id="one-column-emphasis">
              <tr>
                <td colspan="11" height="20" class="oce-first"><div align="center">CRUCE CATASTRO ANTIOQUIA</div></td>
              </tr>
              <tr>
                <td width="10%" class="oce-first"><div align="left">Nit Entidad</div></td>
                <td width="20%" class="oce-first"><div align="left">Nombre Entidad</div></td>
                <td width="10%" class="oce-first"><div align="left">Identificación</div></td>
                <td width="20%" class="oce-first"><div align="left">Nombres</div></td>
                <td width="10%" class="oce-first"><div align="left">Cedula Catastral</div></td>
                <td width="10%" class="oce-first"><div align="left">Dirección Inmueble</div></td>
                <td width="10%" class="oce-first"><div align="left">Matricula Inmobiliaria</div></td>
                <td width="5%" class="oce-first"><div align="left">Dpto</div></td>
                <td width="5%" class="oce-first"><div align="left">Mpio</div></td>
              </tr>
      <% @crucesdatos.each do |crucesdato| %>
              <tr>
                <td class="camposDesc"><%=crucesdato.entidad%></td>
                <td class="camposDesc"><%=crucesdato.nombre_entidad%></td>
                <td class="camposDesc"><%=crucesdato.identificacion%></td>
                <td class="camposDesc"><%=crucesdato.apellidos%> <%=crucesdato.nombres%></td>
                <td class="camposDesc"><%=crucesdato.cedula_catastral%></td>
                <td class="camposDesc"><%=crucesdato.direccion_inmueble%></td>
                <td class="camposDesc"><%=crucesdato.matricula%></td>
                <td class="camposDesc"><%=crucesdato.departamento%></td>
                <td class="camposDesc"><%=crucesdato.municipio%></td>
              </tr>
      <%   end %>
            </table>
      <br/>
      <% end
        if Crucesdato.exists?(["cruce_id = #{@cruce.id} and tipo_entidad = '4'"]) == true
        @crucesdatos = Crucesdato.find(:all, :conditions=>["cruce_id = #{@cruce.id} and tipo_entidad = '4'"]) %>
            <table width="100%" id="one-column-emphasis">
              <tr>
                <td colspan="11" height="20" class="oce-first"><div align="center">CRUCE CATASTRO BOGOTA</div></td>
              </tr>
              <tr>
                <td width="10%" class="oce-first"><div align="left">Nit Entidad</div></td>
                <td width="10%" class="oce-first"><div align="left">Nombre Entidad</div></td>
                <td width="10%" class="oce-first"><div align="left">Identificación</div></td>
                <td width="10%" class="oce-first"><div align="center">APELLIDOS NOMBRES</div></td>
                <td width="10%" class="oce-first"><div align="left">Cedula Catastral</div></td>
                <td width="10%" class="oce-first"><div align="left">Dirección Inmueble</div></td>
                <td width="10%" class="oce-first"><div align="left">Matricula Inmobiliaria</div></td>
                <td width="10%" class="oce-first"><div align="left">Dpto</div></td>
                <td width="10%" class="oce-first"><div align="left">Mpio</div></td>
              </tr>
      <% @crucesdatos.each do |crucesdato| %>
              <tr>
                <td class="camposDesc"><%=crucesdato.entidad%></td>
                <td class="camposDesc"><%=crucesdato.nombre_entidad%></td>
                <td class="camposDesc"><%=crucesdato.identificacion%></td>
                <td class="camposDesc"><%=crucesdato.nombres%></td>
                <td class="camposDesc"><%=crucesdato.cedula_catastral%></td>
                <td class="camposDesc"><%=crucesdato.direccion_inmueble%></td>
                <td class="camposDesc"><%=crucesdato.matricula%></td>
                <td class="camposDesc"><%=crucesdato.departamento%></td>
                <td class="camposDesc"><%=crucesdato.municipio%></td>
              </tr>
      <%   end %>
            </table>
      <br/>
      <% end
        if Crucesdato.exists?(["cruce_id = #{@cruce.id} and tipo_entidad = '5'"]) == true
        @crucesdatos = Crucesdato.find(:all, :conditions=>["cruce_id = #{@cruce.id} and tipo_entidad = '5'"]) %>
            <table width="100%" id="one-column-emphasis">
              <tr>
                <td colspan="11" height="20" class="oce-first"><div align="center">CRUCE CATASTRO CALI</div></td>
              </tr>
              <tr>
                <td width="10%" class="oce-first"><div align="left">Nit Entidad</div></td>
                <td width="10%" class="oce-first"><div align="left">Nombre Entidad</div></td>
                <td width="10%" class="oce-first"><div align="left">Identificación</div></td>
                <td width="10%" class="oce-first"><div align="center">APELLIDOS NOMBRES</div></td>
                <td width="10%" class="oce-first"><div align="left">Matricula Inmobiliaria</div></td>
                <td width="10%" class="oce-first"><div align="left">Dpto</div></td>
                <td width="10%" class="oce-first"><div align="left">Mpio</div></td>
              </tr>
      <% @crucesdatos.each do |crucesdato| %>
              <tr>
                <td class="camposDesc"><%=crucesdato.entidad%></td>
                <td class="camposDesc"><%=crucesdato.nombre_entidad%></td>
                <td class="camposDesc"><%=crucesdato.identificacion%></td>
                <td class="camposDesc"><%=crucesdato.nombres%></td>
                <td class="camposDesc"><%=crucesdato.matricula%></td>
                <td class="camposDesc"><%=crucesdato.departamento%></td>
                <td class="camposDesc"><%=crucesdato.municipio%></td>
              </tr>
      <%   end %>
            </table>
      <br/>
      <% end
        if Crucesdato.exists?(["cruce_id = #{@cruce.id} and tipo_entidad = '6'"]) == true
        @crucesdatos = Crucesdato.find(:all, :conditions=>["cruce_id = #{@cruce.id} and tipo_entidad = '6'"]) %>
            <table width="100%" id="one-column-emphasis">
              <tr>
                <td colspan="11" height="20" class="oce-first"><div align="center">CRUCE CATASTRO MEDELLIN</div></td>
              </tr>
              <tr>
                <td width="10%" class="oce-first"><div align="left">Nombre Entidad</div></td>
                <td width="10%" class="oce-first"><div align="left">Identificación</div></td>
                <td width="10%" class="oce-first"><div align="center">APELLIDOS NOMBRES</div></td>
                <td width="10%" class="oce-first"><div align="left">Dirección Inmueble</div></td>
                <td width="10%" class="oce-first"><div align="left">Dpto</div></td>
                <td width="10%" class="oce-first"><div align="left">Mpio</div></td>
                <td width="10%" class="oce-first"><div align="left">Matricula Inmobiliaria</div></td>
                <td width="10%" class="oce-first"><div align="left">Cedula Catastral</div></td>
              </tr>
      <% @crucesdatos.each do |crucesdato| %>
              <tr>
                <td class="camposDesc"><%=crucesdato.nombre_entidad%></td>
                <td class="camposDesc"><%=crucesdato.identificacion%></td>
                <td class="camposDesc"><%=crucesdato.nombres%></td>
                <td class="camposDesc"><%=crucesdato.direccion_inmueble%></td>
                <td class="camposDesc"><%=crucesdato.departamento%></td>
                <td class="camposDesc"><%=crucesdato.municipio%></td>
                <td class="camposDesc"><%=crucesdato.matricula%></td>
                <td class="camposDesc"><%=crucesdato.cedula_catastral%></td>
              </tr>
      <%   end %>
            </table>
      <br/>
      <% end
        if Crucesdato.exists?(["cruce_id = #{@cruce.id} and tipo_entidad = '7'"]) == true
        @crucesdatos = Crucesdato.find(:all, :conditions=>["cruce_id = #{@cruce.id} and tipo_entidad = '7'"]) %>
            <table width="100%" id="one-column-emphasis">
              <tr>
                <td colspan="11" height="20" class="oce-first"><div align="center">CRUCE IGAC</div></td>
              </tr>
              <tr>
                <td width="10%" class="oce-first"><div align="left">Nit Entidad</div></td>
                <td width="10%" class="oce-first"><div align="left">Nombre Entidad</div></td>
                <td width="10%" class="oce-first"><div align="left">Identificación</div></td>
                <td width="10%" class="oce-first"><div align="center">APELLIDOS NOMBRES</div></td>
                <td width="10%" class="oce-first"><div align="left">Cedula Catastral</div></td>
                <td width="10%" class="oce-first"><div align="left">Dirección Inmueble</div></td>
                <td width="10%" class="oce-first"><div align="left">Matricula Inmobiliaria</div></td>
                <td width="10%" class="oce-first"><div align="left">Dpto</div></td>
                <td width="10%" class="oce-first"><div align="left">Mpio</div></td>
              </tr>
      <% @crucesdatos.each do |crucesdato| %>
              <tr>
                <td class="camposDesc"><%=crucesdato.entidad%></td>
                <td class="camposDesc"><%=crucesdato.nombre_entidad%></td>
                <td class="camposDesc"><%=crucesdato.identificacion%></td>
                <td class="camposDesc"><%=crucesdato.nombres%></td>
                <td class="camposDesc"><%=crucesdato.cedula_catastral%></td>
                <td class="camposDesc"><%=crucesdato.direccion_inmueble%></td>
                <td class="camposDesc"><%=crucesdato.matricula%></td>
                <td class="camposDesc"><%=crucesdato.departamento%></td>
                <td class="camposDesc"><%=crucesdato.municipio%></td>
              </tr>
      <%   end %>
            </table>
      <% end %>
      </td>
        </tr>
      </table>
      </div>
<%  end
  else
%>
      <div align="center">
        <table width="95%" id="one-column-emphasis">
          <tr>
            <td height="20" class="oce-first"><div align="center">CRUCE BENEFICIARIO CON IDENTIFICACION <%=benevivienda.identificacion%></div></td>
          </tr>
          <tr>
            <td height="20" class="camposDesc" ><div align="center">**** No presenta cruce. Nunca se ha solicitad cruce</div></td>
          </tr>
        </table>
      </div>
<%
  end
%>
<br/>
<%
  end
%>

</fieldset>



