<h1>Editing tiposproceso</h1>

<% form_for(@tiposproceso) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @tiposproceso %> |
<%= link_to 'Back', tiposprocesos_path %>