   <%= stylesheet_link_tag 'scaffold'%>
   <%=  javascript_include_tag :defaults %>
<table width="100%" height="40">
      <tr>
        <td>
          <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="3%"><img src="/images/proyectosmin.png" width="64" height="64"/></td>
              <td width="94%"><div class="col_enc">PLAN PARCIAL PAJARITO</div></td>
              <td width="3%"><div align="right"><%= link_to image_tag('atras.png',
              { :border=>0, :title => "Buscar"}),proyectos_path %>
                </div></td>
            </tr>
          </table></td>
      </tr>
</table>
<br/>
<table width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="10%" class="oce-first"><div align="center">Unidad de Gestión</div></td>
    <td width="40%" class="oce-first">Proyecto</td>
    <td width="8%" class="oce-first"><div align="center">Escritura</div></td>
    <td width="12%" class="oce-first"><div align="center">Fecha</div></td>
    <td width="12%" class="oce-first"><div align="center">Notaria</div></td>
    <td width="13%" class="oce-first"><div align="center">Matricula Inmobiliaria</div></td>
    <td width="5%" class="oce-first"></td>
  </tr>
<% @proyectopajaritos.each do |proyectopajarito| %>
<tr valign="middle" class="<%=cycle('even1', 'odd1')%>">
    <td class="camposDesc"><div align="center"><%= proyectopajarito.unidad_gestion rescue nil%></div></td>
    <td class="camposDesc"><%= proyectopajarito.proyecto rescue nil%></td>
    <td class="camposDesc"><div align="center"><%= proyectopajarito.escritura rescue nil%></div></td>
    <td class="camposDesc"><div align="center"><%= proyectopajarito.fecha rescue nil%></div></td>
    <td class="camposDesc"><div align="center"><%= proyectopajarito.notaria rescue nil%></div></td>
    <td class="camposDesc"><div align="center"><%= proyectopajarito.matricula_inmob rescue nil%></div></td>
    <td class="camposDesc"><div align="center">
    <%= link_to 'Editar', edit_proyectopajarito_path(proyectopajarito),:class=>"editarlink"%>
      </div></td>
<% end %>
</table>
<table width="80%" height="0" align="center" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="10"><hr size="1" noshade class="hrlinea"/></td>
  </tr>
</table>
<table width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr valign="middle">
    <td width="100%" height="30" class="camposDescN"><div align="center">Nro Total de Registro : <%=@proyectopajaritos.count%></div></td>
  </tr>
</table>


