<p>
  <b>Nroformulario:</b>
  <%=h @feria2009beneficiario.nroformulario %>
</p>

<p>
  <b>Documento:</b>
  <%=h @feria2009beneficiario.documento %>
</p>

<p>
  <b>Identificacion:</b>
  <%=h @feria2009beneficiario.identificacion %>
</p>

<p>
  <b>Primernombre:</b>
  <%=h @feria2009beneficiario.primernombre %>
</p>

<p>
  <b>Segundonombre:</b>
  <%=h @feria2009beneficiario.segundonombre %>
</p>

<p>
  <b>Primerapellido:</b>
  <%=h @feria2009beneficiario.primerapellido %>
</p>

<p>
  <b>Segundoapellido:</b>
  <%=h @feria2009beneficiario.segundoapellido %>
</p>

<p>
  <b>Fecha nacimiento:</b>
  <%=h @feria2009beneficiario.fecha_nacimiento %>
</p>

<p>
  <b>Parentesco:</b>
  <%=h @feria2009beneficiario.parentesco %>
</p>

<p>
  <b>Estadocivil:</b>
  <%=h @feria2009beneficiario.estadocivil %>
</p>

<p>
  <b>Ocupacion:</b>
  <%=h @feria2009beneficiario.ocupacion %>
</p>

<p>
  <b>Condicionespecial:</b>
  <%=h @feria2009beneficiario.condicionespecial %>
</p>

<p>
  <b>Condicionfamiliar:</b>
  <%=h @feria2009beneficiario.condicionfamiliar %>
</p>

<p>
  <b>Ingresos mensuales:</b>
  <%=h @feria2009beneficiario.ingresos_mensuales %>
</p>


<%= link_to 'Edit', edit_feria2009beneficiario_path(@feria2009beneficiario) %> |
<%= link_to 'Back', feria2009beneficiarios_path %>