<h1>New mejoramientosconcepto</h1>

<% form_for(@mejoramientosconcepto) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :mejoramiento_id %><br />
    <%= f.text_field :mejoramiento_id %>
  </p>
  <p>
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </p>
  <p>
    <%= f.label :tipo %><br />
    <%= f.text_field :tipo %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', mejoramientosconceptos_path %>