<h1>New feriadocentebeneficiario</h1>

<% form_for(@feriadocentebeneficiario) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nroformulario %><br />
    <%= f.text_field :nroformulario %>
  </p>
  <p>
    <%= f.label :documento %><br />
    <%= f.text_field :documento %>
  </p>
  <p>
    <%= f.label :identificacion %><br />
    <%= f.text_field :identificacion %>
  </p>
  <p>
    <%= f.label :primernombre %><br />
    <%= f.text_field :primernombre %>
  </p>
  <p>
    <%= f.label :segundonombre %><br />
    <%= f.text_field :segundonombre %>
  </p>
  <p>
    <%= f.label :primerapellido %><br />
    <%= f.text_field :primerapellido %>
  </p>
  <p>
    <%= f.label :segundoapellido %><br />
    <%= f.text_field :segundoapellido %>
  </p>
  <p>
    <%= f.label :fecha_nacimiento %><br />
    <%= f.text_field :fecha_nacimiento %>
  </p>
  <p>
    <%= f.label :parentesco %><br />
    <%= f.text_field :parentesco %>
  </p>
  <p>
    <%= f.label :estadocivil %><br />
    <%= f.text_field :estadocivil %>
  </p>
  <p>
    <%= f.label :ocupacion %><br />
    <%= f.text_field :ocupacion %>
  </p>
  <p>
    <%= f.label :condicionespecial %><br />
    <%= f.text_field :condicionespecial %>
  </p>
  <p>
    <%= f.label :ingresos_mensuales %><br />
    <%= f.text_field :ingresos_mensuales %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', feriadocentebeneficiarios_path %>