<p>
  <b>Nroformulario:</b>
  <%=h @feriadocentebeneficiario.nroformulario %>
</p>

<p>
  <b>Documento:</b>
  <%=h @feriadocentebeneficiario.documento %>
</p>

<p>
  <b>Identificacion:</b>
  <%=h @feriadocentebeneficiario.identificacion %>
</p>

<p>
  <b>Primernombre:</b>
  <%=h @feriadocentebeneficiario.primernombre %>
</p>

<p>
  <b>Segundonombre:</b>
  <%=h @feriadocentebeneficiario.segundonombre %>
</p>

<p>
  <b>Primerapellido:</b>
  <%=h @feriadocentebeneficiario.primerapellido %>
</p>

<p>
  <b>Segundoapellido:</b>
  <%=h @feriadocentebeneficiario.segundoapellido %>
</p>

<p>
  <b>Fecha nacimiento:</b>
  <%=h @feriadocentebeneficiario.fecha_nacimiento %>
</p>

<p>
  <b>Parentesco:</b>
  <%=h @feriadocentebeneficiario.parentesco %>
</p>

<p>
  <b>Estadocivil:</b>
  <%=h @feriadocentebeneficiario.estadocivil %>
</p>

<p>
  <b>Ocupacion:</b>
  <%=h @feriadocentebeneficiario.ocupacion %>
</p>

<p>
  <b>Condicionespecial:</b>
  <%=h @feriadocentebeneficiario.condicionespecial %>
</p>

<p>
  <b>Ingresos mensuales:</b>
  <%=h @feriadocentebeneficiario.ingresos_mensuales %>
</p>


<%= link_to 'Edit', edit_feriadocentebeneficiario_path(@feriadocentebeneficiario) %> |
<%= link_to 'Back', feriadocentebeneficiarios_path %>