<h1>Editing calidadtiposdocumento</h1>

<% form_for(@calidadtiposdocumento) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @calidadtiposdocumento %> |
<%= link_to 'Back', calidadtiposdocumentos_path %>