<%= stylesheet_link_tag 'tabs'%>
<%= javascript_include_tag 'fabtabulous' %>
<table width="100%" height="40">
      <tr>
        <td>
          <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="3%"><img src="/images/almacenmin.png" width="64" height="64"/></td>
              <td width="94%"><div class="col_enc">&nbsp;&nbsp;INFORMACION ALMACEN</div></td>
              <td width="3%"><div align="right">
                  <%= link_to image_tag('atras.png',
	                                           { :border=>0, :title => "Busca Personas"}),menus_path %>
                </div>            </td>
            </tr>
          </table></td>
      </tr>
</table>
<br/>
<div align="center">
<table width="0%" border="0" align="center" cellspacing="0" cellpadding="0">
  <tr>
    <td width="0%" align="left"><div align="center"><%= link_to image_tag('productos.png', { :border => 0, :title => "Consulta de Productos" }),
                              productos_path %></div>
    </td>
    <td width="0%" align="left"><div align="center"><%= link_to image_tag('salidas.png', { :border => 0, :title => "Salida de Productos" }),
                              busqueda_almacenessalidas_path %></div>
    </td>
    <td width="0%" align="left"><div align="center"><%= link_to image_tag('entradas.png', { :border => 0, :title => "Entradas de Productos" }),
                              busqueda_almacenesentradas_path %></div>
    </td>
    <td width="0%" align="left"><div align="center"><%= link_to image_tag('reportes.png', { :border => 0, :title => "Reportes" }),
                              reporte_almacenes_path %></div>
    </td>
    <td width="0%" align="left"><div align="center"><%= link_to image_tag('consultasolicitud.png', { :border => 0, :title => "Consulta de Solicitudes" }),
                              solicitud_almacenessolicitudes_path %></div>
    </td>
  </tr>
<tr>
    <td width="0%" align="left"><div align="center"><%= link_to image_tag('inmuebles.png', { :border => 0, :title => "Buscador de Inmuebles" }),
                              busqueda_almacenesinmuebles_path %></div>
    </td>
    <td width="0%" align="left"><div align="center"></div></td>
    <td width="0%" align="left"><div align="center"></div></td>
    <td width="0%" align="left"><div align="center"></div></td>
    <td width="0%" align="left"><div align="center"></div></td>
  </tr>
</table>
</div>
<br/>
