<td class="center">recuento <%= text_field :moravia, :recuento %></td>
        <td class="center">poligono <%= text_field :moravia, :poligono %></td>
        <td class="center">direccion <%= text_field :moravia, :direccion %></td>

	<td>
			<%= hidden_field :moravia, :id %>
			<%= submit_tag "Añadir", :class => "button" %>
	</td>
