<table width="100%" height="40">
      <tr>
        <td>
          <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="3%"><img src="/images/correspondenciaremitentemin.png" width="64" height="64"/></td>
              <td width="85%"><div class="col_enc">INFORMACION REMITENTES</div></td>
              <td width="12%"><div align="right">
               <% if permiso("correspondenciasremitente","C").to_s == "S" %>
               <%= link_to image_tag('database_add.png',
	                            { :border=>0, :title => "Nuevo"}),new_correspondenciasremitente_path %>
               <%= link_to image_tag('atras.png',
	        { :border=>0, :title => "Buscar"}),correspondencias_path %>

              </div>
              <% end %></td>
            </tr>
          </table></td>
      </tr>
</table>
<% form_tag request.path, :method => 'get' do %>
    <% content_tag :label do %>
        <table width="80%" height="40" border="0" align="center" cellpadding="0" cellspacing="0">
           <tr>
             <td width="30%">Digite el dato a buscar :</td>
             <td width="70%"><%= text_field_tag :search, params[:search],{ :class => "campo2",  :size => "50",
                        :onChange=> "javascript:this.value=this.value.toUpperCase();",
                        :onFocus => "this.style.border='1px solid #f00'",
                        :onBlur => "this.style.border='1px solid #bbb'" } %>
              <%= image_submit_tag '/images/find.png', :width => '18', :name => nil %></td>
           </tr>
        </table>
    <% end %>
  <% end %>
<br/>
<table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr valign="middle">
    <td width="15%" height="30" class="oce-first">Identificacion</td>
    <td width="30%" height="30" class="oce-first">Nombre</td>
    <td width="20%" class="oce-first">Cargo</td>
    <td width="30%" class="oce-first">Entidad</td>
    <td width="5%" class="oce-first">&nbsp;</td>
  </tr>
<% @correspondenciasremitentes.each do |correspondenciasremitente| %>
  <tr valign="middle" class="<%=cycle('even1', 'odd1')%>">
    <td class="camposDesc"><%=h correspondenciasremitente.identificacion %></td>
    <td class="camposDesc"><%=h correspondenciasremitente.nombre %></td>
    <td class="camposDesc"><%=h correspondenciasremitente.cargo %></td>
    <td class="camposDesc"><%=h correspondenciasremitente.entidad %></td>
    <td class="camposDesc" ><%= link_to 'Editar', edit_correspondenciasremitente_path(correspondenciasremitente) , :class=>"editarlink"%></td></td>
  </tr>
<% end %>
</table>
<br/>
<table width="90%" height="40" border="0" cellpadding="0" cellspacing="0">
   <tr>
     <td width="100%" class="camposDesc"><div align="center"><%= will_paginate @correspondenciasremitentes, :previous_label => 'Anterior', :next_label => 'Siguiente' %></div></td>
   </tr>
   <tr>
     <td width="100%" class="camposDesc"><div align="center">Total Registros: <%= @correspondenciasremitentes.total_entries %></div></td>
   </tr>
</table>
