<div align="center">
<%=image_tag("frame.png")%>
<table width="700" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="100%" border="0" cellspacing="2" cellpadding="0">
        <tr>
          <td align="left" class="camposDesc">&nbsp;</td>
          <td align="left" class="camposDesc">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="2" align="center" class="campos13">COMUNICACIÓN INTERNA _______</td>
        </tr>
        <tr>
          <td align="left" class="camposDesc">&nbsp;</td>
          <td align="left" class="camposDesc">&nbsp;</td>
        </tr>
        <tr>
          <td width="24%" align="left" class="camposDesc13">Medellin,</td>
          <td width="76%" align="left" class="campos">&nbsp;</td>
        </tr>
        <tr>
          <td align="left" class="camposDesc">&nbsp;</td>
          <td align="left" class="camposDesc">&nbsp;</td>
        </tr>
        <tr>
          <td align="left" class="camposDesc">&nbsp;</td>
          <td align="left" class="camposDesc">&nbsp;</td>
        </tr>
        <tr>
          <td align="left" class="camposDesc13">Para:</td>
          <td align="left" class="campos13">MARIA EUGENIA LOPERA</td>
        </tr>
        <tr>
          <td align="left" class="camposDesc">&nbsp;</td>
          <td align="left" class="camposDesc13">Sub-Dirección Tecnica</td>
        </tr>
        <tr>
          <td align="left" class="camposDesc">&nbsp;</td>
          <td align="left" class="camposDesc">&nbsp;</td>
        </tr>
        <tr>
          <td align="left" class="camposDesc13">De:</td>
          <td align="left" class="campos13">CATALINA MARTINEZ</td>
        </tr>
        <tr>
          <td align="left" class="camposDesc">&nbsp;</td>
          <td align="left" class="camposDesc13">Sub-Dirección Juridica</td>
        </tr>
        <tr>
          <td align="left" class="camposDesc">&nbsp;</td>
          <td align="left" class="camposDesc">&nbsp;</td>
        </tr>
        <tr>
          <td align="left" class="camposDesc">&nbsp;</td>
          <td align="left" class="camposDesc">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="2" align="left" class="camposDesc13">Asunto: Programaci&oacute;n entrega de apartamentos - Proyecto <%=@vivienda.proyecto.descripcion rescue nil%></td>
        </tr>
        <tr>
          <td align="left" class="camposDesc">&nbsp;</td>
          <td align="left" class="camposDesc">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="2" align="left" class="camposDesc13"> A continuaci&oacute;n relaciono grupo familiar que cuentan con escritura firmada y que por ende se les puede realizar la entrega de la vivienda: </td>
        </tr>
        <tr>
          <td align="left" class="camposDesc">&nbsp;</td>
          <td align="left" class="camposDesc">&nbsp;</td>
        </tr>
        <tr>
          <td align="left" class="campos">SOLUCION HABITACIONAL </td>
          <td align="left" class="camposDesc">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="2" align="left" class="camposDesc"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="20%" class="campos">Proyecto</td>
              <td width="20%" class="campos">Bloque</td>
              <td width="20%" class="campos">Direccion</td>
              <td width="20%" class="campos">Piso</td>
              <td width="20%" class="campos">Apto</td>
            </tr>
            <tr>
              <td class="camposDesc"><%=@vivienda.proyecto.descripcion rescue nil%></td>
              <td class="camposDesc"><%=@vivienda.bloque.descripcion rescue nil%></td>
              <td class="camposDesc"><%=@vivienda.bloque.direccion rescue nil%></td>
              <td class="camposDesc"><%=@vivienda.piso.descripcion rescue nil%></td>
              <td class="camposDesc"><%=@vivienda.apto.descripcion rescue nil%></td>
            </tr>
          </table></td>
        </tr>
        <tr>
          <td align="left" class="camposDesc">&nbsp;</td>
          <td align="left" class="camposDesc">&nbsp;</td>
        </tr>
        <tr>
          <td align="left" class="campos">JEFE DE HOGAR </td>
          <td align="left" class="camposDesc">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="2" align="left" class="camposDesc"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="181" class="campos">Identificacion</td>
              <td width="615" class="campos">Nombre</td>
            </tr>
<%
  viviendaspersona = Viviendaspersona.find_by_vivienda_id(@vivienda.id)
%>
            <tr>
              <td class="camposDesc"><%=viviendaspersona.persona.identificacion rescue nil%></td>
              <td class="camposDesc"><%=viviendaspersona.persona.primer_nombre rescue nil%> <%=viviendaspersona.persona.segundo_nombre rescue nil%> <%=viviendaspersona.persona.primer_apellido rescue nil%> <%=viviendaspersona.persona.segundo_apellido rescue nil%></td>
            </tr>
          </table></td>
        </tr>
        <tr>
          <td align="left" class="camposDesc">&nbsp;</td>
          <td align="left" class="camposDesc">&nbsp;</td>
        </tr>
        <tr>
          <td align="left" class="campos">BENEFICIARIOS</td>
          <td align="left" class="camposDesc">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="2" align="left" class="camposDesc"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="181" class="campos">Identificacion</td>
              <td width="615" class="campos">Nombre</td>
            </tr>

            <% @beneviviendas = Benevivienda.find_all_by_persona_id(viviendaspersona.persona_id);
              for benevivienda in @beneviviendas %>
            <tr>
              <td class="camposDesc"><%=benevivienda.identificacion%></td>
              <td class="camposDesc"><%=benevivienda.primer_nombre%> <%=benevivienda.segundo_nombre%> <%=benevivienda.primer_apellido%> <%=benevivienda.segundo_apellido%></td>
            </tr>
<% end %>

          </table></td>
        </tr>
        <tr>
          <td align="left" class="camposDesc">&nbsp;</td>
          <td align="left" class="camposDesc">&nbsp;</td>
        </tr>
        <tr>
          <td align="left" class="camposDesc">&nbsp;</td>
          <td align="left" class="camposDesc">&nbsp;</td>
        </tr>
        <tr>
          <td align="left" class="camposDesc13">Cordial Saludo, </td>
          <td align="left" class="camposDesc">&nbsp;</td>
        </tr>
        <tr>
          <td align="left" class="camposDesc">&nbsp;</td>
          <td align="left" class="camposDesc">&nbsp;</td>
        </tr>
        <tr>
          <td align="left" class="camposDesc">&nbsp;</td>
          <td align="left" class="camposDesc">&nbsp;</td>
        </tr>
        <tr>
          <td align="left" class="camposDesc">&nbsp;</td>
          <td align="left" class="camposDesc">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="2" align="left" class="campos13">CATALINA MARTINEZ</td>
        </tr>
        <tr>
          <td colspan="2" align="left" class="campos13">Subdirectora Juridica</td>
        </tr>
      </table></td>
  </tr>
</table>

<table width="90%" height="0" border="0" cellpadding="2" cellspacing="2"  align="center">
  <tr><td height="0"class="camposDesc">&nbsp;</td></tr>
  <tr><td height="0"class="camposDesc">&nbsp;&nbsp;&nbsp;S I F I - Sistema de Informacion ISVIMED - <%=Time.now().strftime("%Y-%m-%d %H:%M:%S")%></td></tr>
  <tr><td height="0"class="camposDesc">&nbsp;&nbsp;&nbsp;<%=User.find(is_admin).nombre%></td></tr>
  </table>