<p>
  <b>Consecutivo viv:</b>
  <%=h @vivienda.consecutivo_viv %>
</p>

<p>
  <b>Proyecto:</b>
  <%=h @vivienda.proyecto %>
</p>

<p>
  <b>Bloque:</b>
  <%=h @vivienda.bloque %>
</p>

<p>
  <b>Direccion:</b>
  <%=h @vivienda.direccion %>
</p>

<p>
  <b>Piso:</b>
  <%=h @vivienda.piso %>
</p>

<p>
  <b>Apto:</b>
  <%=h @vivienda.apto %>
</p>

<p>
  <b>Local:</b>
  <%=h @vivienda.local %>
</p>

<p>
  <b>Bun:</b>
  <%=h @vivienda.bun %>
</p>

<p>
  <b>Tenencia:</b>
  <%=h @vivienda.tenencia %>
</p>

<p>
  <b>Poblacion objeto:</b>
  <%=h @vivienda.poblacion_objeto %>
</p>

<p>
  <b>Valor vivienda:</b>
  <%=h @vivienda.valor_vivienda %>
</p>

<p>
  <b>Consig escrituras:</b>
  <%=h @vivienda.consig_escrituras %>
</p>

<p>
  <b>Pago escrituras:</b>
  <%=h @vivienda.pago_escrituras %>
</p>

<p>
  <b>Valor ahorro prog:</b>
  <%=h @vivienda.valor_ahorro_prog %>
</p>

<p>
  <b>Valor ahorro tras:</b>
  <%=h @vivienda.valor_ahorro_tras %>
</p>

<p>
  <b>Valor donacion:</b>
  <%=h @vivienda.valor_donacion %>
</p>

<p>
  <b>Entregado:</b>
  <%=h @vivienda.entregado %>
</p>

<p>
  <b>Fecha entrega:</b>
  <%=h @vivienda.fecha_entrega %>
</p>

<p>
  <b>Fonade:</b>
  <%=h @vivienda.fonade %>
</p>

<p>
  <b>Vinculado:</b>
  <%=h @vivienda.vinculado %>
</p>

<p>
  <b>Estado inmueble:</b>
  <%=h @vivienda.estado_inmueble %>
</p>

<p>
  <b>Estado:</b>
  <%=h @vivienda.estado %>
</p>

<p>
  <b>Persona:</b>
  <%=h @vivienda.persona_id %>
</p>


<%= link_to 'Edit', edit_vivienda_path(@vivienda) %> |
<%= link_to 'Back', viviendas_path %>