<p>
  <b>Codigo:</b>
  <%=h @notaria.codigo %>
</p>

<p>
  <b>Descripcion:</b>
  <%=h @notaria.descripcion %>
</p>

<p>
  <b>Email:</b>
  <%=h @notaria.email %>
</p>

<p>
  <b>Zona:</b>
  <%=h @notaria.zona %>
</p>

<p>
  <b>Utilizada:</b>
  <%=h @notaria.utilizada %>
</p>


<%= link_to 'Edit', edit_notaria_path(@notaria) %> |
<%= link_to 'Back', notarias_path %>