<h1>New correspondenciasasignada</h1>

<% form_for(@correspondenciasasignada) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :correspondenciasrecibida_id %><br />
    <%= f.text_field :correspondenciasrecibida_id %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :tipo_asignacion %><br />
    <%= f.text_field :tipo_asignacion %>
  </p>
  <p>
    <%= f.label :fecha_limite %><br />
    <%= f.date_select :fecha_limite %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', correspondenciasasignadas_path %>