<h1>Listing almacenessalidas</h1>

<table>
  <tr>
    <th>Producto</th>
    <th>User</th>
    <th>Cantidad</th>
    <th>Observaciones</th>
  </tr>

<% @almacenessalidas.each do |almacenessalida| %>
  <tr>
    <td><%=h almacenessalida.producto_id %></td>
    <td><%=h almacenessalida.user_id %></td>
    <td><%=h almacenessalida.cantidad %></td>
    <td><%=h almacenessalida.observaciones %></td>
    <td><%= link_to 'Show', almacenessalida %></td>
    <td><%= link_to 'Edit', edit_almacenessalida_path(almacenessalida) %></td>
    <td><%= link_to 'Destroy', almacenessalida, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New almacenessalida', new_almacenessalida_path %>