<h1>Editing archivosactualizacion</h1>

<% form_for(@archivosactualizacion) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :archivo_id %><br />
    <%= f.text_field :archivo_id %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @archivosactualizacion %> |
<%= link_to 'Back', archivosactualizaciones_path %>