<p>
  <b>Demanda:</b>
  <%=h @demandascobama.demanda_id %>
</p>

<p>
  <b>Cobama:</b>
  <%=h @demandascobama.cobama %>
</p>

<p>
  <b>User:</b>
  <%=h @demandascobama.user_id %>
</p>

<p>
  <b>User actualiza:</b>
  <%=h @demandascobama.user_actualiza %>
</p>


<%= link_to 'Edit', edit_demandascobama_path(@demandascobama) %> |
<%= link_to 'Back', demandascobamas_path %>