
<div align="center">
<table width="95%" border="0" cellspacing="0" cellpadding="0">
  <tr class="odd1">
    <td width="15%" class="campos">RPH *</td>
    <td width="13%" class="campos">Fecha *</td>
    <td width="22%" class="campos">Notaria *</td>
    <td width="15%" class="campos">RPH Aclaración</td>
    <td width="13%" class="campos">Fecha Aclaración</td>
    <td width="22%" class="campos">Notaria Aclaración</td>
  </tr>
  <tr>
     <td><%= text_field :legalizacionesreglamento, :rph,{ :class => "campo", :size => 10,
                :onChange=> "javascript:this.value=this.value.toUpperCase();",
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" } %>
         <strong><%= error_message_on :legalizacionesreglamento, :rph, :css_class =>"cerror"%></strong></td>
     <td><%= calendar_date_select "legalizacionesreglamento", "fecharph", :year_range => select_rangocalendar, :class=> "campo", :size => 10, :time => false, :onfocus=>"this.blur()"%>
         <strong><%= error_message_on :legalizacionesreglamento, :fecharph, :css_class=>"cerror"%></strong></td>
     <td><%= text_field :legalizacionesreglamento, :notariarph,{ :class => "campo", :size => 25,
                :onChange=> "javascript:this.value=this.value.toUpperCase();",
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" } %>
         <strong><%= error_message_on :legalizacionesreglamento, :notariarph, :css_class =>"cerror"%></strong></td>
     <td><%= text_field :legalizacionesreglamento, :escrituraaclara,{ :class => "campo", :size => 10,
                :onChange=> "javascript:this.value=this.value.toUpperCase();",
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" } %>
         <strong><%= error_message_on :legalizacionesreglamento, :escrituraaclara, :css_class =>"cerror"%></strong></td>
     <td><%= calendar_date_select "legalizacionesreglamento", "fechaaclara", :year_range => select_rangocalendar, :class=> "campo", :size => 10, :time => false, :onfocus=>"this.blur()"%>
         <strong><%= error_message_on :legalizacionesreglamento, :fechaaclara, :css_class=>"cerror"%></strong></td>
     <td><%= text_field :legalizacionesreglamento, :notariaaclara,{ :class => "campo", :size => 25,
                :onChange=> "javascript:this.value=this.value.toUpperCase();",
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" } %>
         <strong><%= error_message_on :legalizacionesreglamento, :notariaaclara, :css_class =>"cerror"%></strong></td>
  </tr>
</table>
<table width="95%" border="0" cellspacing="0" cellpadding="0">
  <tr><td height="10"><hr size="1" noshade class="hrlinea"/></td></tr>
</table>
<table width="95%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="30"><div align="right">
        <div class="uiButton"><img class="img" src="/images/guardar.png"/>
          <span class="uiButtonText"><%= hidden_field :legalizacionesreglamento, :id %><%= submit_tag "Guardar", :disable_with => "Guardando..."%></span></div></div>
    </td>
  </tr>
</table>
</div>