<p>
  <b>Cuota:</b>
  <%=h @plan.cuota %>
</p>

<p>
  <b>Fecha vence:</b>
  <%=h @plan.fecha_vence %>
</p>

<p>
  <b>Inicial:</b>
  <%=h @plan.inicial %>
</p>

<p>
  <b>Cuota:</b>
  <%=h @plan.cuota %>
</p>

<p>
  <b>Amortiza:</b>
  <%=h @plan.amortiza %>
</p>

<p>
  <b>Corriente:</b>
  <%=h @plan.corriente %>
</p>

<p>
  <b>Final:</b>
  <%=h @plan.final %>
</p>

<p>
  <b>Mora:</b>
  <%=h @plan.mora %>
</p>


<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', planes_path %>