<table width="100%" border="0" cellpadding="0" cellspacing="2">
        <tr class="odd1">
          <td width="50%"><span class="campos">Entidad *</span></td>
          <td width="20%"><span class="campos">Valor *</span></td>
          <td width="15%"><span class="campos">Fecha Credito *</span></td>
          <td width="15%"><span class="campos">Fecha Vencimiento *</span></td>
        </tr>
        <tr>
          <td><%=select("credito", "entidad_id", Entidad.all.collect {|p| [ p.descripcion, p.id ] }, { :include_blank => true },
      { :style=>"width:370px", :class => "campo", :onFocus => "this.style.border='1px solid #f00'", :onBlur => "this.style.border='1px solid #bbb'" }) %>
          <%= error_message_on :credito, :entidad_id, :css_class =>"cerror"%></td>
          <td><%= text_field :credito, :valor,{ :class => "campo", :size => 20,
                  :onChange=> "javascript:this.value=this.value.toUpperCase();",
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" }%>
          <%= error_message_on :credito, :valor, :css_class =>"cerror"%></td>
          <td><%= calendar_date_select "credito", "fecha_credito", :year_range => select_rangocalendar, :class=> "campo", :size => 10, :time => false, :onfocus=>"this.blur()"%>
          <%= error_message_on :credito, :fecha_credito, :css_class =>"cerror"%></td>
          <td><%= calendar_date_select "credito", "fecha_vencimiento", :year_range => select_rangocalendar, :class=> "campo", :size => 10, :time => false, :onfocus=>"this.blur()"%>
          <%= error_message_on :credito, :fecha_vencimiento, :css_class =>"cerror"%></td>
        </tr>
      </table>

<table width="100%" border="0" cellpadding="0" cellspacing="2">
        <tr class="odd1">
          <td width="40%"><span class="campos">Resolucion *</span></td>
          <td width="40%"><span class="campos">Observaciones</span></td>
          <td width="20%"><span class="campos">Estado *</span></td>
        </tr>
        <tr valign="top">
          <td><%= text_area(:credito, :resolucion, :cols => 50, :rows => 4, :class => 'campo',
                :onChange=> "javascript:this.value=this.value.toUpperCase();") %>
          <%= error_message_on :credito, :resolucion, :css_class =>"cerror"%></td>
          <td><%= text_area(:credito, :observaciones, :cols => 50, :rows => 4, :class => 'campo',
                :onChange=> "javascript:this.value=this.value.toUpperCase();") %></td>
          <td><%= select(:credito,
                :estado, { "COBRO CREDITO" => "COBRO CREDITO",
                           "APROBADO" => "APROBADO",
                           "DESEMBOLSADO" => "DESEMBOLSADO",
                           "RECHAZADO" => "RECHAZADO",
                           "VERIFICACION" => "VERIFICACION"},
                        { :include_blank => true },
                      { :style=>"width:150px", :class => "campo", :onFocus => "this.style.border='1px solid #f00'", :onBlur => "this.style.border='1px solid #bbb'" })%>
          <%= error_message_on :credito, :estado, :css_class =>"cerror"%></td>

        </tr>
      </table>

<table width="100%" height="0" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td height="10"><hr size="1" noshade class="hrlinea"/></td>
      </tr>
    </table>
<table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr>
    <td  height="30"><div align="right">
        <div class="uiButton"><img class="img" src="/images/guardar.png"/>&nbsp;&nbsp;<span class="uiButtonText"><%= hidden_field :credito, :id %><%= submit_tag "Guardar", :disable_with => "Guardando..."%></span></div>
</div></td>
  </tr>
</table>
<br/>
