<table width="100%" height="40">
      <tr>
        <td>
          <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="97%"><div class="col_enc"><div align="left">BLOQUES ( PROYECTO <%=@proyecto.descripcion %> )</div></div></td>
              <td width="3%"><div align="right"><div class="uiButton"><img class="img" src="/images/1atras.png"/>&nbsp;&nbsp;<span class="uiButtonText"><%= link_to 'Lista Bloques', proyecto_bloques_path(@proyecto) %></span></div></div>            </td>
            </tr>
          </table></td>
      </tr>
</table>
<br/>
<div align="center">
<table width="60%">
  <tr class="odd1">
    <td width="30%" class="campos" height="20">Descripcion :</td>
    <td width="70%"><%= f.text_field :descripcion ,{ :class => "campo", :size => 60,
                :onChange=> "javascript:this.value=this.value.toUpperCase();",
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" }%></td>
    </tr>
    <tr >
    <td class="campos" height="20">Direccion :</td>
    <td ><%= f.text_field :direccion ,{ :class => "campo", :size => 60,
                :onChange=> "javascript:this.value=this.value.toUpperCase();",
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" }%></td>
  </tr>
</table>
<BR/>
<table width="60%" height="40">
      <tr>
        <td>
          <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="97%"><div class="col_enc"><div align="left">REGLAMENTO</div></div></td>
            </tr>
          </table></td>
      </tr>
</table>
<table width="60%">
   <tr class="odd1">
    <td class="campos" height="20">Nro Escritura :</td>
    <td ><%= f.text_field :nro_escritura ,{ :class => "campo", :size => 30,:maxlength => 20,
                :onChange=> "javascript:this.value=this.value.toUpperCase();",
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" }%></td>
  </tr>
  <tr>
    <td class="campos" height="20">Fecha Expedicion Escritura :</td>
    <td ><%= calendar_date_select "bloque", "fecha_expedicion", :year_range => select_rangocalendar, :class=> "campo", :size => 10, :time => false, :onfocus=>"this.blur()"%></td>
  </tr>
   <tr class="odd1">
    <td class="campos" height="20">Notaria Origen :</td>
    <td ><%= f.text_field :notaria_origen ,{ :class => "campo", :size => 60,:maxlength => 50,
                :onChange=> "javascript:this.value=this.value.toUpperCase();",
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" }%></td>
  </tr>
   <tr>
    <td class="campos" height="20">Nro Aclaracion :</td>
    <td ><%= f.text_field :nro_aclaracion ,{ :class => "campo", :size => 30,:maxlength => 20,
                :onChange=> "javascript:this.value=this.value.toUpperCase();",
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" }%></td>
  </tr>
    <tr class="odd1">
    <td class="campos" height="20">Fecha Exp. Aclaracion :</td>
    <td ><%= calendar_date_select "bloque", "fecha_expaclaracion", :year_range => select_rangocalendar, :class=> "campo", :size => 10, :time => false, :onfocus=>"this.blur()"%></td>
  </tr>
  <tr>
    <td class="campos" height="20">Notaria Aclaracion :</td>
    <td ><%= f.text_field :notaria_aclaracion ,{ :class => "campo", :size => 60,:maxlength => 50,
                :onChange=> "javascript:this.value=this.value.toUpperCase();",
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" }%></td>
  </tr>
  <tr>
    <td class="campos" width="167" height="20"></td>
    <td></td>
  </tr>
</table>
</div>