<%=  javascript_include_tag :defaults %>
<table width="100%" height="40">
      <tr>
        <td>
          <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="3%"><img src="/images/usersdatomin.png" width="64" height="64"/></td>
              <td width="94%"><div class="col_enc">RESULTADOS CONSULTA USUARIOS SIFI</div></td>
              <td width="3%"><div align="right"><%= link_to image_tag('atras.png',
	                            { :border=>0, :title => "Buscar"}),busqueda_usersdatos_path %></div></td>
            </tr>
          </table></td>
      </tr>
</table>
<br/>
<div align="center">
<table width="60%" border="0" align="center" cellpadding="0" cellspacing="0" id="one-column-emphasis">
  <tr valign="middle">
    <td width="40%" height="30" class="camposDesc"><div align="right"><strong>Nombre :&nbsp;&nbsp;</strong></div></td>
    <td width="60%" height="30" class="camposDesc"> <%=@buscarnombre%></td>
  </tr>
</table>
<br/>
<table width="70%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr valign="middle">
    <td width="20%" height="30" class="oce-first">Nombre</td>
    <td width="60%" class="oce-first">Nombre</td>
    <td width="20%" class="oce-first">&nbsp;</td>
  </tr>
</table>
<table width="70%" border="0" align="center" cellpadding="0" cellspacing="0" id="one-column-emphasis">
   <% i = 0 %>
  <% @usersdatos.each do |usersdato| %>
  <% i = i + 1 %>
  <tr valign="middle">
    <td width="60%" class="camposDesc"><%=h usersdato.user.nombre %></td>
    <td width="20%"><div align="center">
        <%= link_to 'Editar', edit_usersdato_path(usersdato),:class=>"editarlink"%>
    </div></td>
  </tr>
  <% end %>
</table>
<table width="80%" height="0" align="center" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="10"><hr size="1" noshade class="hrlinea"/></td>
  </tr>
</table>
<table width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr valign="middle">
    <td width="100%" height="30" class="camposDescN"><div align="center">Nro Total de Registro : <%=i%></div></td>
  </tr>
</table> 
</div>


