<p>
  <b>Nroformulario:</b>
  <%=h @feriadocentejefe.nroformulario %>
</p>

<p>
  <b>Documento:</b>
  <%=h @feriadocentejefe.documento %>
</p>

<p>
  <b>Identificacion:</b>
  <%=h @feriadocentejefe.identificacion %>
</p>

<p>
  <b>Primernombre:</b>
  <%=h @feriadocentejefe.primernombre %>
</p>

<p>
  <b>Segundonombre:</b>
  <%=h @feriadocentejefe.segundonombre %>
</p>

<p>
  <b>Primerapellido:</b>
  <%=h @feriadocentejefe.primerapellido %>
</p>

<p>
  <b>Segundoapellido:</b>
  <%=h @feriadocentejefe.segundoapellido %>
</p>

<p>
  <b>Fecha nacimiento:</b>
  <%=h @feriadocentejefe.fecha_nacimiento %>
</p>

<p>
  <b>Institucion educativa:</b>
  <%=h @feriadocentejefe.institucion_educativa %>
</p>

<p>
  <b>Parentesco:</b>
  <%=h @feriadocentejefe.parentesco %>
</p>

<p>
  <b>Estadocivil:</b>
  <%=h @feriadocentejefe.estadocivil %>
</p>

<p>
  <b>Ocupacion:</b>
  <%=h @feriadocentejefe.ocupacion %>
</p>

<p>
  <b>Condicionespecial:</b>
  <%=h @feriadocentejefe.condicionespecial %>
</p>

<p>
  <b>Ingresos mensuales:</b>
  <%=h @feriadocentejefe.ingresos_mensuales %>
</p>

<p>
  <b>Direccion:</b>
  <%=h @feriadocentejefe.direccion %>
</p>

<p>
  <b>Barrio:</b>
  <%=h @feriadocentejefe.barrio %>
</p>

<p>
  <b>Ciudad:</b>
  <%=h @feriadocentejefe.ciudad %>
</p>

<p>
  <b>Telefonos1:</b>
  <%=h @feriadocentejefe.telefonos1 %>
</p>

<p>
  <b>Telefonos2:</b>
  <%=h @feriadocentejefe.telefonos2 %>
</p>

<p>
  <b>Celular:</b>
  <%=h @feriadocentejefe.celular %>
</p>

<p>
  <b>Antiguedad annos:</b>
  <%=h @feriadocentejefe.antiguedad_annos %>
</p>

<p>
  <b>Antiguedad meses:</b>
  <%=h @feriadocentejefe.antiguedad_meses %>
</p>

<p>
  <b>Jal:</b>
  <%=h @feriadocentejefe.jal %>
</p>

<p>
  <b>Valor ahorro:</b>
  <%=h @feriadocentejefe.valor_ahorro %>
</p>

<p>
  <b>Sisben:</b>
  <%=h @feriadocentejefe.sisben %>
</p>

<p>
  <b>Opv:</b>
  <%=h @feriadocentejefe.opv %>
</p>

<p>
  <b>Opv cual:</b>
  <%=h @feriadocentejefe.opv_cual %>
</p>


<%= link_to 'Edit', edit_feriadocentejefe_path(@feriadocentejefe) %> |
<%= link_to 'Back', feriadocentejefes_path %>