<p>
  <b>Proceso:</b>
  <%=h @listasverificacion.proceso %>
</p>

<p>
  <b>Codigo:</b>
  <%=h @listasverificacion.codigo %>
</p>

<p>
  <b>Documento:</b>
  <%=h @listasverificacion.documento %>
</p>


<%= link_to 'Edit', edit_listasverificacion_path(@listasverificacion) %> |
<%= link_to 'Back', listasverificaciones_path %>