<p>
  <b>Codigo:</b>
  <%=h @indicadorescodigo.codigo %>
</p>

<p>
  <b>Descripcion:</b>
  <%=h @indicadorescodigo.descripcion %>
</p>

<p>
  <b>Estado:</b>
  <%=h @indicadorescodigo.estado %>
</p>

<p>
  <b>Formula:</b>
  <%=h @indicadorescodigo.formula %>
</p>


<%= link_to 'Edit', edit_indicadorescodigo_path(@indicadorescodigo) %> |
<%= link_to 'Back', indicadorescodigos_path %>