<div align="center">
<table width="800" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
     <%=image_tag("frame.png")%>
     <table width="100%" border="0" cellpadding="2" cellspacing="2" align="center">
      <tr>
        <td height="30"><div class="col_enc">MEJORAMIENTO</div></td>
      </tr>
    </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="1">
        <tr class="odd1">
          <td class="campos" colspan="4">Objeto Resolucion</td>
        </tr>
        <tr class="odd1">
          <td class="camposDesc" colspan="4"><%=@mejoramiento.resolucion.resuelve rescue nil%>&nbsp; <strong>- VALOR SUBSIDIO: $ <%=number_to_currency(@mejoramiento.valor_resolucion,{:precision => 0, :unit=>"", :delimiter =>"."})%></strong></td>
        </tr>
        <tr class="odd1">
          <td width="50%" class="campos">Beneficiario</td>
          <td width="10%" class="campos">CBML</td>
          <td width="20%" class="campos">Tipo Mejoramiento</td>
          <td width="20%" class="campos">Estado</td>
        </tr>
        <tr class="odd1">
          <td class="camposDesc"><%=@mejoramiento.persona.autobuscar rescue nil%>&nbsp;</td>
          <td class="camposDesc"><%=@mejoramiento.cobama rescue nil%>&nbsp;</td>
          <td class="camposDesc"><%=@mejoramiento.tipomejoramiento rescue nil%>&nbsp;</td>
          <td class="camposDesc"><%=@mejoramiento.mejoramientosestado.descripcion rescue nil%>&nbsp;</td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="1">
        <tr class="odd1">
          <td width="25%" align="left" class="campos">Coordinador UDEM</td>
          <td width="25%" align="left" class="campos">Profesional UDEM</td>
          <td width="25%" align="left" class="campos">Tecnologo UDEM</td>
          <td width="25%" align="left" class="campos">Coordinador ISVIMED</td>
        </tr>
        <tr>
          <td class="camposDesc"><%=User.find(@mejoramiento.user_coordinador).nombre rescue nil rescue nil%>&nbsp;</td>
          <td class="camposDesc"><%=User.find(@mejoramiento.user_profesional).nombre rescue nil rescue nil%>&nbsp;</td>
          <td class="camposDesc"><%=User.find(@mejoramiento.user_tecnologo).nombre rescue nil rescue nil%>&nbsp;</td>
          <td class="camposDesc"><%=User.find(@mejoramiento.user_interventor).nombre rescue nil rescue nil%>&nbsp;</td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="1">
        <tr class="odd1">
          <td width="33%" align="left" class="campos">Coordinador Operador</td>
          <td width="33%" align="left" class="campos">Ingeniero Operador</td>
          <td width="33%" align="left" class="campos">Profesional Operador</td>
        </tr>
        <tr>
          <td class="camposDesc"><%=@mejoramiento.responsable1 rescue nil rescue nil%>&nbsp;</td>
          <td class="camposDesc"><%=@mejoramiento.responsable2 rescue nil rescue nil%>&nbsp;</td>
          <td class="camposDesc"><%=@mejoramiento.responsable3 rescue nil rescue nil%>&nbsp;</td>
        </tr>
      </table>
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr class="odd1">
        <td width="15%" class="campos">Nro Convenio</td>
        <td width="15%" class="campos">Vigencia</td>
        <td width="15%" class="campos">Nro Soluciones</td>
        <td width="20%" class="campos">Tipo Solucion</td>
        <td width="35%" class="campos">Ubicacion</td>
      </tr>
      <tr>
        <td class="camposDesc"><%=@mejoramiento.convenio.nro_convenio rescue nil%></td>
        <td class="camposDesc"><%=@mejoramiento.convenio.vigencia rescue nil%></td>
        <td class="camposDesc"><%=@mejoramiento.convenio.nro_viviendas rescue nil%></td>
        <td class="camposDesc"><%=@mejoramiento.convenio.tipo_solucion rescue nil%></td>
        <td class="camposDesc"><%=@mejoramiento.convenio.comuna.comuna rescue nil%></td>
      </tr>
    </table>
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr class="odd1">
        <td width="42%" class="campos">Responsable Diagnostico</td>
        <td width="18%" class="campos">Valor Diagnostico</td>
        <td width="40%" class="campos">Operador</td>
      </tr>
      <tr>
        <td class="camposDesc"><%=@mejoramiento.convenio.responsable_diagnostico rescue nil%></td>
        <td class="camposDesc"><%=@mejoramiento.convenio.valor_diagnostico rescue nil%></td>
        <td class="camposDesc"><%=@mejoramiento.convenio.ejecutor rescue nil%></td>
      </tr>
    </table>
    <br/>
<% if @mejoramiento.mejoramientoslistas.exists? %>
<table width="100%" border="1" cellspacing="0" cellpadding="0" style="border:1px solid #CCCCCC; font-family: Tahoma; font-size: 11px;">
  <tr valign="middle">
    <td width="45%" height="30" align="left" class="oce-first">Proceso - Documentacion</td>
    <td width="5%" height="30" align="left" class="oce-first">Estado</td>
    <td width="5%" height="30" align="left" class="oce-first">Folio</td>
    <td width="45%" height="30" align="left" class="oce-first">Observacion</td>
  </tr>
<% @mejoramiento.mejoramientoslistas.each do |mejoramientoslista| %>
   <tr  valign="middle" class="<%=cycle('even1', 'odd1')%>">
     <td width="45%" height="30" class="camposDesc"><div align="justify"><strong><%=mejoramientoslista.listasverificacion.proceso rescue nil%></strong><br/>
                 <%=mejoramientoslista.listasverificacion.codigo rescue nil%> - <%=mejoramientoslista.listasverificacion.documento rescue nil%></div></td>
     <td width="5%" height="30" align="left" class="camposDesc"><div align="center"><strong><%=mejoramientoslista.estado rescue nil%></strong></div></td>
     <td width="5%" height="30" align="left" class="camposDesc"><div align="center"><strong><%=mejoramientoslista.folios rescue nil%></strong></div></td>
     <td width="40%" height="30" align="left" class="camposDesc">
        <% if mejoramientoslista.user_actualiza %>
        <%=mejoramientoslista.created_at.strftime("%Y-%m-%d %X") rescue nil%> - <%=User.find(mejoramientoslista.user_actualiza).username rescue nil%><br/>
        <% end %>
        <%=mejoramientoslista.observacion rescue nil%></td>
    </tr>
 <% end %>
 <% end %>
</table>
    <table width="100%" height="0"border="0" cellpadding="2" cellspacing="2"  align="center">
      <tr><td height="0"class="campos"> S I F I - Sistema de Informacion ISVIMED - <%=Time.now().strftime("%Y-%m-%d %H:%M:%S")%></td></tr>
    </table>
</td>
</tr>
</table>
</div>