<!-- <%#
 #var = ""
 #var2 = ""
 #if @contrato.tiposcontrato_id.to_i == 2
 #  var = "CONVENIO"
 #  var2 = "ASOCIADO"
 #else
 #  var = "CONTRATO"
 #  var2 = "CONTRATISTA"
 # => end
%> -->
<style type="text/css">
<!--
  H1.SaltoDePagina { PAGE-BREAK-AFTER: always  }
-->
</style>
<div align="center">
<table width="750" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
      <table width="100%"  border="0" cellspacing="0" cellpadding="0" class="sample">
        <tr>
          <td rowspan="4" width="20%" style="font-size: 16px; font-family: Arial Narrow; line-height: 150%; "><div align="center"><img src="http://190.0.34.154:3013/images/feriaisvimed.png"/></div></td>
          <td rowspan="4" width="60%" style="font-size: 20px; font-family: Arial Narrow; line-height: 150%; "><strong><div align="center">MINUTA PRESTACIÓN DE SERVICIOS </div></strong></td>
          <td width="20%" style="font-size: 12px; font-family: Arial Narrow; line-height: 150%; "><strong>CÓDIGO:</strong> <%#=@calidadversion.codigo rescue nil%></td>
        </tr>
        <tr>
          <td style="font-size: 12px; font-family: Arial Narrow; line-height: 150%; "><strong>VERSIÓN:</strong> <%#=@calidadversion.version rescue nil%></td>
        </tr>
        <tr>
          <td style="font-size: 12px; font-family: Arial Narrow; line-height: 150%; "><strong>FECHA:</strong> <%#=@calidadversion.fecha rescue nil%></td>
        </tr>
        <tr>
          <td style="font-size: 12px; font-family: Arial Narrow; line-height: 150%; "><strong>PÁGINA:</strong> <%#=@calidadversion.pagina rescue nil%></td>
        </tr>
      </table><br/>
      <table width="100%"  border="0" cellspacing="0" cellpadding="0" class="sample">
        <tr>
          <td width="20%" style="font-size: 12px; font-family: Arial Narrow; line-height: 150%;"><strong>CONTRATO No</strong></td>
          <td width="80%" style="font-size: 12px; font-family: Arial Narrow; line-height: 150%;"> <%=Contrato.find(@estudiosprevio.contrato_id).nro_contrato rescue nil%></td>
        </tr>
        <tr>
          <td style="font-size: 12px; font-family: Arial Narrow; line-height: 150%;"><strong>CONTRATANTE:</strong></td>
          <td style="font-size: 12px; font-family: Arial Narrow; line-height: 150%;">INSTITUTO SOCIAL DE VIVIENDA Y HABITAT DE MEDELLIN – ISVIMED</td>
        </tr>
        <tr>
          <td style="font-size: 12px; font-family: Arial Narrow; line-height: 150%;"><strong>CONTRATISTA:</strong></td>
          <td style="font-size: 12px; font-family: Arial Narrow; line-height: 150%;"><%= @estudiosprevio.empleado.nombre rescue nil %></td>
        </tr>
        <tr>
          <td style="font-size: 12px; font-family: Arial Narrow; line-height: 150%;"><strong>OBJETO:</strong></td>
          <td style="font-size: 12px; font-family: Arial Narrow; line-height: 150%;"><%= @estudiosprevio.objeto rescue nil %></td>
        </tr>
        <tr>
          <td style="font-size: 12px; font-family: Arial Narrow; line-height: 150%;"><strong>VALOR:</strong></td>
          <td style="font-size: 12px; font-family: Arial Narrow; line-height: 150%;"><%= numero_a_palabras(@estudiosprevio.valor_total) rescue nil %> ($<%= camponumerico(@estudiosprevio.valor_total) rescue 0 %>) </td>
        </tr>
        <tr>
          <td style="font-size: 12px; font-family: Arial Narrow; line-height: 150%;"><strong>PLAZO:</strong></td>
          <td style="font-size: 12px; font-family: Arial Narrow; line-height: 150%;"><%= @estudiosprevio.meses rescue nil %> Meses y <%= @estudiosprevio.meses rescue nil %> Dias</td>
        </tr>
      </table><br/>
      <div align="justify" style="font-size: 14px; font-family: Arial Narrow; line-height: 150%; ">
        Entre los suscritos <strong><%= Sifi.find(17).valor rescue nil %></strong>, identificado(a) con Cédula de Ciudadanía N° <%= Sifi.find(18).valor rescue nil %>, obrando en nombre y representación del 
        <strong>INSTITUTO SOCIAL DE VIVIENDA Y HABITAT DE MEDELLIN – ISVIMED</strong>,  en su calidad de Director, conforme a las normas pertinentes de la Ley 80 de 1993, Ley 
        1150 de 2007 y sus decretos reglamentarios, quien para efectos del presente contrato se denominará EL CONTRATANTE, con NIT. 900.014.480-8; y <strong><%= @estudiosprevio.empleado.nombre rescue nil %></strong> identificada(o) con Cédula de Ciudadanía <strong><%= @estudiosprevio.empleado.identificacion rescue nil %></strong>, quien manifiesta no encontrarse incursa en ninguna causal de inhabilidad, ni incompatibilidad 
        para contratar y quien en adelante se denominará <strong>EL(LA) CONTRATISTA</strong>, han acordado celebrar el presente contrato de prestación de servicios y apoyo a la gestión, el cual se regirá por las normas vigentes en materia contractual, Ley 80 de 1993, Ley 1150 de 2007, Ley 1474 de 2011, Decreto-ley 
        0019 de 2012 y Decreto Reglamentario 1082 de 2015, considerando: <strong>1.</strong> Que el ISVIMED tiene por objeto Gerenciar Políticas y Programas de 
        Vivienda y Hábitat, conduciendo a la solución de las necesidades habitacionales, especialmente de los asentamientos humanos y grupos 
        familiares en situación de pobreza y vulnerabilidad, involucrando actores públicos, privados y comunitarios en la gestión y ejecución 
        de proyectos de vivienda, titulación y legalización, mejoramiento de vivienda y hábitat, reasentamiento, acompañamiento social, gestión urbana, 
        relacionados con la vivienda y el hábitat en el contexto urbano y rural. <strong>2.</strong> Que la idoneidad y experiencia del Contratista se encuentra 
        acreditada en los documentos anexos a este contrato. <strong>3.</strong> Que el Subdirector Administrativo y Financiero a través del Profesional 
        Universitario de Gestión Humana del ISVIMED, certificó que no existe personal de planta suficiente en la Entidad para realizar el 
        objeto del presente Contrato, lo cual consta en documento anexo al mismo <strong>4.</strong> Que el Comité Estructurador de la <strong><%= @estudiosprevio.empleado.dependencia.descripcion rescue nil %></strong>,mediante Acta N° <%= @estudiosprevio.nro_estructurador rescue nil %> del <%= @estudiosprevio.fecha_estructurador.strftime('%d') rescue nil %> de <%=descmesmin(@estudiosprevio.fecha_estructurador.strftime("%m")) rescue nil%> de <%= @estudiosprevio.fecha_estructurador.strftime('%Y') rescue nil %>, evidencia la necesidad de la presente contratación <strong>5.</strong> Que el 
        presente Contrato se suscribe con fundamento en la modalidad de selección de contratación directa, de conformidad con el artículo 
        2° numeral 4 literal h de la Ley 1150 de 2007, reglamentado por el artículo 2.2.1.2.1.4.9 del Decreto 1082 de 2015 <strong>6.</strong> Que el Comité de 
        Contratación del Instituto en el Acta No. <%= @estudiosprevio.nro_contratacion rescue nil %> del <%= @estudiosprevio.feha_contratacion.strftime('%d') rescue nil %> de <%=descmesmin(@estudiosprevio.fecha_contratacion.strftime("%m")) rescue nil%> de <%= @estudiosprevio.fecha_contratacion.strftime('%Y') rescue nil %>, recomienda la celebración del presente contrato de prestación de servicios. 
        <strong>7.</strong> Que esta contratación se regirá de acuerdo a los anteriores considerandos y las normas vigentes en materia contractual y en 
        especial por las siguientes cláusulas. <strong>PRIMERA - OBJETO:</strong> “<%= @estudiosprevio.objeto.capitalize rescue nil %>”. 
        <strong>SEGUNDA - OBLIGACIONES DE LAS PARTES: Del CONTRATISTA.</strong>1.  
        <% contador = 0 %>
        <% for p in @estudiosprevio.estudiosactividades.find(:all, :conditions=>["estudiosprevio_id = #{@estudiosprevio.id}"]) %>
         <% contador = contador + 1 %>
          <strong><%= contador %>.</strong> <%= p.observaciones.capitalize rescue nil%>
        <% end -%>
        <strong>PARAGRAFO: Serán obligaciones generales del contrato: a)</strong> En cumplimiento del artículo 282 de la Ley 100 de 1993 y del 50 de la Ley 789 de 2002, deberá presentar la constancia de afiliación como trabajador independiente y de sus pagos respectivos al sistema integral de seguridad social en salud, pensiones y riesgos, durante la vigencia del contrato, con una base de cotización del 40% sobre los honorarios percibidos mensualmente, los cuales, en todo caso no podrá ser inferior al mínimo legal mensual vigente. El no cumplimiento de esta obligación será causal de suspensión inmediata del
        contrato. En caso de persistir en la conducta, se dará por terminado de manera unilateral el contrato, conforme a lo establecido 
        en el artículo 17 de la Ley 80 de 1993. Estos pagos se deben realizar en las fechas establecidas en el artículo 4 del Decreto 1670 de 2007. 
        <strong>b)</strong> Aportar los elementos de seguridad y protección personal, necesarias para el cumplimiento de las obligaciones a cargo. c) Aportar equipo de cómputo en caso que se requiera para el cumplimiento de las obligaciones a cargo. <strong>d)</strong> Guardar absoluta reserva de la información que en la ejecución de sus obligaciones llegue a conocer durante el plazo de ejecución y aún después de la finalización del plazo. Cualquier suministro 
        de información que se realice para propósitos no autorizados por parte del ISVIMED, será sancionada de acuerdo al régimen legal vigente, y se 
        iniciaran las acciones a que haya lugar para el resarcimiento de los perjuicios que por estos actos se lleguen a causar al ISVIMED y/o a 
        terceros. <strong>e)</strong> Asume especiales obligaciones de cuidado y custodia de los bienes, que siendo propiedad del ISVIMED, se le lleguen a entregar para el debido desarrollo de las obligaciones a cargo, y en consecuencia, estará obligado a hacer el correspondiente reintegro en especie o en dinero 
        cuando quiera que se produzca cualquier tipo de daño, sin que esto excluya la indemnización de perjuicios. Lo anterior sin perjuicio de las 
        acciones civiles, penales o de cualquier otro tipo que del hecho se puedan predicar. Los elementos, documentos, creaciones, etc., que se produzcan 
        en razón o durante la ejecución del presente contrato, serán propiedad exclusiva del ISVIMED; esto es: Los derechos patrimoniales de autor, 
        por lo que el ISVIMED es el propietario de los mismos y podrá utilizarlos, modificarlos, difundirlos sin que por ello le deba reconocimiento 
        alguno al CONTRATISTA. <strong>f)</strong> Suscribir el contrato dentro de los tres (3) días siguientes a su elaboración, y/o a la fecha en que sea requerido para ello <strong>g)</strong> Aportar la Garantía Única de Cumplimiento establecida en el contrato, dentro de los cinco (5) días hábiles siguiente a la suscripción del contrato. <strong>h)</strong> Suscribir el acta de inicio del contrato, en la fecha acordada para ello. <strong>i)</strong> Conocer y aplicar el Sistema de Gestión en Seguridad y Salud en el Trabajo, en cumplimiento de la normativa vigente y las políticas internas. <strong>j)</strong> Cumplir con la Política Ambiental del Instituto y con la regulación de la materia. <strong>k)</strong> Cualquier tipo de elemento distintivo entregado al contratista para una adecuada prestación del servicio deberán ser reintegrados a la entidad una vez finalice la ejecución del contrato y los mismos no constituyen honorarios, ni asimilan dotación. <strong>OBLIGACIONES DEL ISVIMED.</strong> 
        <strong>a).</strong> Suministrar al Contratista la información que se encuentre disponible en la Entidad y que fuere necesaria para el desarrollo del objeto contractual.  
        <strong>b).</strong> Afiliar al contratista a la ARL (Administradora de Riesgos Laborales), de conformidad con lo señalado en el Decreto 1072 de 2015. 
        <strong>c).</strong> Realizar los pagos en la forma y oportunidad establecidas, siempre y cuando se cumplan las condiciones para ello.  <strong>d)</strong> Cumplir con las obligaciones 
        y facultades establecidas para este tipo de contratos en el Manual Interno de Contratación y en el Estatuto General de Contratación de la Administración Pública. 
        <strong>e)</strong> Ejercer la Supervisión del contrato, en cumplimiento de lo establecido en el Manual Interno de Contratación y en el Estatuto General de Contratación de 
        la Administración Pública. <strong>TERCERA - VALOR Y FORMA DE PAGO:</strong> El valor del presente contrato es de <strong><%= numero_a_palabras(@estudiosprevio.valor_total) rescue nil %> ($<%= camponumerico(@estudiosprevio.valor_total) rescue 0 %>),  IVA incluido</strong>. 
        El valor por concepto de honorarios será cancelado en pagos mensuales de <strong><%= numero_a_palabras(@estudiosprevio.valor_mes) rescue nil %>. ($<%= @estudiosprevio.valor_mes rescue 0 %>)</strong> y/o proporcional por fracción, previa entrega 
        del informe de actividades y/o los productos que se deriven de las obligaciones a cargo, por el respectivo período de tiempo recibidos a entera satisfacción 
        por parte del SUPERVISOR. <strong>Parágrafo 1:</strong> De las cuentas de cobro o facturas que se originen en el presente contrato, al contratista se le harán las 
        deducciones establecidas por la Ley. <strong>Parágrafo 2:</strong> Previamente a cada pago, el supervisor verificará el cumplimiento de las obligaciones del 
        contratista a seguridad social y parafiscales de acuerdo con lo establecido en las Leyes 789 de 2002, 828 de 2003 y artículo 41 de la Ley 80 de 1993, 
        modificado por el artículo 23 de la Ley 1150 de 2007. <strong>Parágrafo 3:</strong> El contratista informará al Contratante el número de cuenta en el que se le deberá 
        efectuar la transferencia del pago. <strong>Parágrafo 4:</strong> El pago se efectuará a más tardar dentro de los 30 días siguientes a la presentación de la factura, 
        cuenta de cobro o solicitud del contratista. <strong>Parágrafo 5:</strong> Los saldos que al momento de finalizar la ejecución del contrato no sean ejecutados, serán 
        liberados a favor del contratante. <strong>CUARTA - APROPIACIÓN PRESUPUESTAL:</strong> De conformidad con la legislación presupuestal vigente, para la ejecución del 
        presente contrato se cuenta con el Certificado de Disponibilidad Presupuestal N° XXXX del XX de XXXXX de 20XX y Registro Presupuestal N° XXXX del XX de XXXXX de 20XX. 
        <strong>QUINTA - PLAZO:</strong> El plazo de ejecución del presente contrato, es de <%= @estudiosprevio.meses rescue nil %> Meses y <%= @estudiosprevio.meses rescue nil %> Dias, contados a partir de la suscripción del acta de inicio, sin superar 
        el <%= @estudiosprevio.fecha_fin.strftime('%d') rescue nil%> de <%= descmesmin(@estudiosprevio.fecha_fin.strftime('%m')) rescue nil%> de <%= @estudiosprevio.fecha_fin.strftime('%Y')%>. <strong>Parágrafo:</strong> Este plazo podrá modificarse previo acuerdo entre las partes y con la suscripción de la respectiva acta. 
        <strong>SEXTA - GARANTÍA.</strong> Para amparar las obligaciones asumidas en virtud del presente contrato, <strong>EL CONTRATISTA</strong> deberá constituir garantía única, la cual consistirá en 
        <strong>1).</strong> Póliza expedida por compañías de seguros legalmente autorizadas para funcionar en Colombia <strong>2)</strong> Garantía bancaria. <strong>3)</strong> Patrimonio Autónomo; a favor 
        del ISVIMED con NIT. 900.014.480-8, que ampare el siguiente riesgo: <strong>Cumplimiento del Contrato:</strong> Equivalente al diez por ciento (10%) del valor del contrato 
        y su vigencia será la del plazo del contrato y seis (06) meses más. <strong>Parágrafo primero:</strong> Cuando se presenten ampliaciones y/o adiciones justificadas al valor 
        o plazo del Contrato, la garantía señalada deberá ampliarse por el mismo tiempo y valor, en las mismas condiciones inicialmente establecidas. 
        <strong>SÉPTIMA - CLÁUSULAS EXCEPCIONALES DEL DERECHO COMÚN:</strong> Al presente contrato se incorporan las cláusulas excepcionales al Derecho común, consagradas en 
        la Ley 80 de 1993, sobre modificación, terminación e interpretación unilateral. <strong>OCTAVA - CADUCIDAD DEL CONTRATO:</strong> Si se presenta alguno de los hechos 
        constitutivos de incumplimiento de las obligaciones a cargo de <strong>EL CONTRATISTA</strong>, que afecte de manera grave y directa la ejecución del contrato y evidencie 
        que puede conducir a su paralización, <strong>EL ISVIMED</strong> podrá declarar la caducidad del contrato. <strong>NOVENA - MULTAS:</strong> En caso que el CONTRATISTA incurra  en mora o 
        deficiencia o faltare al cumplimiento de alguna (s) de las obligaciones contraídas por el presente CONTRATO, EL CONTRATANTE podrá imponer multas sucesivas, 
        que  serán proporcionales al valor total del contrato y a los perjuicios que él sufra  sin exceder del cinco por ciento (5%) del valor total del mismo, 
        cada vez que se impongan. <strong>DECIMA - CLÁUSULA PENAL PECUNIARIA:</strong> En caso de declaratoria de caducidad o de incumplimiento total o parcial de las obligaciones 
        del presente Contrato, <strong>EL CONTRATISTA</strong> debe pagar al <strong>ISVIMED</strong>, a título de indemnización, una suma equivalente al 10% del valor del Contrato. El valor pactado de la presente cláusula penal es el de la estimación anticipada de perjuicios, no obstante, esta cláusula no impide el cobro de todos los perjuicios adicionales que se causen sobre el citado valor. Este valor puede ser compensado con los montos que el ISVIMED adeude a EL CONTRATISTA con ocasión de la ejecución del presente Contrato, de conformidad con las reglas del Código Civil. No obstante lo anterior, por el pago de la pena no se entiende extinguida la obligación principal. 
        (Art.1594 CCC) <strong>DÉCIMA PRIMERA - APLICACIÓN DE LA MULTA Y/O DE LA CLÁUSULA PENAL:</strong> En el evento en que el CONTRATISTA incurra en mora o incumplimiento parcial de las obligaciones que adquiere por el contrato, ISVIMED mediante resolución motivada, aplicará las siguientes multas en forma simultánea o sucesiva de ser necesario, previa la garantía de un debido procedimiento de conformidad con el artículo 29 de la Constitución Política, el Artículo 86 de la Ley 1474 de 2011 y demás normas concordantes: 
        <strong>a)</strong>   Por no iniciar o no reanudar las actividades, según el caso, en la fecha determinada, o por suspensión temporal de las mismas sin causa justificada o por causas imputables al CONTRATISTA, el uno por mil (1 x 1.000) del valor total del contrato por cada día de mora, sin superar el tres por ciento (3%) del valor total del mismo. 
        <strong>b)</strong> Por cada día de mora en las entregas de los informes y/o productos a que se obliga, el uno por mil (1 x 1.000) del valor total del contrato, sin superar el dos por ciento (2%) del valor total del contrato. <strong>c)</strong> Por no acatar las órdenes del Supervisor o Coordinador del contrato para que se corrijan defectos observados en el desarrollo del contrato, o para que se tomen las medidas de seguridad necesarias para la prevención de accidentes, el uno por mil (1 x 1.000) del valor total del contrato dejado de ejecutar por cada día de mora en el cumplimiento de este requisito, contado a partir de la fecha en que se haya dado la orden por escrito por parte del supervisor, sin superar el dos por ciento (2%) del valor total del mismo. <strong>d)</strong> Por no constituir a tiempo la garantía única de cumplimiento, en cualquiera de sus riesgos amparados, el uno por ciento (1%) del valor total del contrato. <strong>e)</strong> Por no prorrogar la garantía única de cumplimiento, en cualquiera de sus riesgos amparados, cuando a ello hubiere lugar, el uno por ciento (1%) del valor total del contrato. <strong>f)</strong> Por el incumplimiento de cualquiera de las obligaciones que afecte el contrato, el uno por mil (1 x 1.000) del valor del contrato dejado de ejecutar. 
        <strong>PARÁGRAFO:</strong> Una vez declarado el incumplimiento del contrato, el valor de las multas se tomará directamente de cualquier suma que se le adeude a EL CONTRATISTA, si la hubiere, y si esto no fuere posible se cobrará ejecutivamente. <strong>DÉCIMA SEGUNDA - DE CONFIDENCIALIDAD:</strong> Las partes acuerdan que cualquier información intercambiada, facilitada o creada entre ellas durante la etapa contractual y post-contractual será mantenida en estricta confidencialidad, entre la cual se incluye en forma enunciativa pero no taxativa la información objeto de derecho de autor, patentes, técnicas, modelos, invenciones, know-how, procesos, algoritmos, programas, ejecutables, investigaciones, detalles de diseño, información financiera, lista de clientes, inversionistas, empleados, relaciones de negocios y contractuales, pronósticos de negocios, planes de mercadeo y cualquier información revelada sobre terceras personas La parte receptora sólo podrá revelar información confidencial a quienes la necesiten y estén autorizados previamente por ISVIMED.  Se considera también información confidencial: a) Aquella que como conjunto o por la configuración o estructuración exacta de sus componentes, no sea generalmente conocida entre los expertos en los campos correspondientes. b) La que no sea de fácil acceso, y c) Aquella información que esté sujeta a medidas de protección razonables, y que será definida en cada caso según la actuación a desarrollar, a fin de mantener su carácter confidencial. <strong>PARÁGRAFO PRIMERO. EXCEPCIONES:</strong> No habrá deber alguno de confidencialidad en los siguientes casos: a) Cuando la información recibida sea de dominio público y no se desconozca ningún derecho con ella. b) Cuando la información deje de ser confidencial de conformidad con el ordenamiento jurídico Colombiano. <strong>PARÁGRAFO SEGUNDO. SANCIÓN:</strong> El incumplimiento de esta obligación especial de confidencialidad establecidas en el presente contrato, dará lugar a la aplicación de las sanciones establecidas en el presente contrato por el incumplimiento de las obligaciones contractuales. <strong>PARÁGRAFO TERCERO. DURACIÓN:</strong> El acuerdo de confidencialidad que consta en la presente cláusula regirá mientras el contrato se encuentre vigente, aun durante sus suspensiones y prorrogas, y durante dos (2) años más contados a partir del día siguiente a su terminación por cualquier causa. <strong>DÉCIMA TERCERA - DE LA SUPERVISIÓN:</strong> La supervisión del contrato será ejercida por el <strong><%= Empleado.find(@estudiosprevio.user_interventor).cargo rescue nil %> (<%= Empleado.find(@estudiosprevio.user_interventor).nombres rescue nil %>)</strong> o a quien designe el director, quien vigilará y coordinará el adecuado cumplimiento del objeto del contrato conforme a las normas que regulan la materia y el Manual de Contratación del ISVIMED, <strong>Parágrafo:</strong> El incumplimiento de las funciones por parte de la Supervisión conlleva las responsabilidades previstas en la ley. <strong>DÉCIMA CUARTA - GASTOS E IMPUESTOS:</strong> El CONTRATISTA deberá asumir los impuestos, deducciones y retenciones  que se causen en razón o durante la ejecución del CONTRATO,  de acuerdo con el régimen tributario al que pertenece y al tipo de contrato celebrado en los términos de las disposiciones legales sobre la materia. <strong>DÉCIMA QUINTA - SOLUCIÓN DE CONTROVERSIAS.</strong> Las partes acuerdan que en el evento de presentarse diferencias en razón de la celebración, ejecución, desarrollo y terminación del presente contrato procederán a realizar la conciliación prejudicial o extrajudicial antes de iniciar cualquier acción judicial. <strong>DÉCIMA SEXTA - TERMINACIÓN:</strong> El Contrato termina por: <strong>1.</strong> Vencimiento del plazo. <strong>2.</strong> Cumplimiento del objeto del contrato <strong>3.</strong> Mutuo acuerdo de las partes. <strong>4.</strong> Imposibilidad insuperable para su cumplimiento, debidamente justificada. <strong>5.</strong> Incumplimiento parcial o total de las obligaciones por parte del contratista que afecte la ejecución del Contrato, sin perjuicio de las sanciones o indemnizaciones a las que haya lugar. <strong>6.</strong> Por el no pago oportuno de la seguridad social.  <strong>DÉCIMA SÉPTIMA - USO DE IMAGEN INSTITUCIONAL:</strong> En desarrollo de las obligaciones contractuales en las que se requiera realizar publicaciones y/o garantizar utilizar los logos del ISVIMED, El CONTRATISTA, debe dar cumplimiento a lo establecido en el Manual de Identidad Corporativa del Instituto. <strong>ÈCIMA OCTAVA - USO DE NOMBRES, EMBLEMAS O SELLOS:</strong> Salvo autorización expresa y escrita de las partes, ningún funcionario, agente o dependiente; podrá utilizar el nombre, emblema o sello oficial del instituto, para fines publicitarios o de cualquier otra índole. <strong>DÉCIMA NOVENA - PROPIEDAD INTELECTUAL:</strong> Todos los derechos de propiedad intelectual que lleguen a derivarse de la ejecución y actividades desarrolladas por el Contratista en desarrollo del objeto contractual corresponden a ISVIMED por todo el tiempo que establezca la ley nacional e internacional en cuanto a los derechos patrimoniales (reproducción, comunicación pública, transformación y distribución). De igual manera ISVIMED posee las facultades para usar el producto o material creado en todos los usos que considere pertinente (medios físicos, magnéticos, ópticos, electrónicos y similares) y realizar cualquier tipo de reproducción y explotación que de los materiales se pueda hacer por cualquier medio conocido o por conocer. Todo lo anterior sin perjuicio de los derechos morales consagrados en el artículo 11, 13 y 15 de la Decisión Andina 351 de 1993 concordante con el artículo 10, 20, 30, 92, 125, 182 y 183, de la Ley 23 de 1982. El CONTRATISTA se compromete a tutelar y defender a ISVIMED en eventuales casos de acciones judiciales o extrajudiciales promovidas por terceros en razón de estos derechos. Toda la Información o Material Confidencial, creada, inventada, concebida o descubierto por el Receptor dentro de la ejecución contractual, que esté sujeta a derechos de autor explícitamente, corresponde a trabajos propios de la labor contratada y son de propiedad de ISVIMED, en los términos del artículo 28 de la Ley 1450 del 16 de junio de 2011, y demás normas que la modifiquen o complementen.  El contratista manifiesta con la suscripción del contrato que todos los trabajos y materiales que desarrolle dentro del objeto de éste contrato, no violarán ni infringirán los derechos de propiedad intelectual de terceros. En todo caso, la parte que incumpla responderá por cualquier reclamo que se pueda presentar, exonerando de cualquier responsabilidad a ISVIMED. <strong>VIGÈSIMA - PERFECCIONAMIENTO:</strong> El presente acto se perfecciona con la suscripción del mismo por las partes.  <strong>VIGÉSIMA PRIMERA - EJECUCIÓN:</strong> Para la iniciación de la prestación del servicio objeto de este contrato, se requiere de la aprobación de la garantía única por parte de la Subdirección de Apoyo Jurídico del -ISVIMED-, la existencia de los Registros Presupuestales y la suscripción del acta de inicio entre <strong>EL CONTRATISTA</strong> y la Supervisor(a) designado(a). <strong>VIGÉSIMA SEGUNDA - VÍNCULO LABORAL:</strong> EL - ISVIMED, no adquiere ningún vínculo de carácter laboral o similar, con <strong>EL CONTRATISTA.</strong> Además, esta sólo tendrá derecho al valor estipulado en la cláusula tercera de este contrato y en ningún caso se pagará a <strong>EL CONTRATISTA</strong> suma alguna por otro concepto <strong>VIGÉSIMA TERCERA - DOCUMENTOS DEL CONTRATO:</strong> Hacen parte integrante del presente contrato y por tanto adquieren carácter vinculante todos los documentos precontractuales y los que se originen con ocasión de la ejecución del contrato, tales como: <strong>a)</strong> Estudios previos con sus respectivos anexos. <strong>b)</strong> Certificados de Disponibilidad Presupuestal y Registro Presupuestal  <strong>c)</strong> Hoja de vida <strong>d)</strong> Copia de la cédula de ciudanía de EL CONTRATISTA. <strong>e)</strong> RUT. <strong>f)</strong> Hoja de Vida de la Función Pública de EL CONTRATISTA. g) Declaración juramentada de bienes y rentas de EL CONTRATISTA. h) Certificado de Antecedentes Disciplinarios. <strong>i).</strong> Documentos que acreditan la formación y experiencia de EL CONTRATISTA. <strong>j).</strong> Certificado de aptitud médico laboral de EL CONTRATISTA. <strong>k).</strong> Acta del comité de contratación del ISVIMED. <strong>l).</strong> Certificado del Boletín de Responsables Fiscales expedido por la Contraloría General de la República. <strong>m).</strong> Certificado de antecedentes judiciales expedido por la Policía Nacional <strong>n)</strong> Certificado expedido por el Sistema Registro Nacional de Medidas Correctivas RNMC (página web de la Policía Nacional) y <strong>m)</strong> Constancia de afiliación al Sistema General de Seguridad Social (EPS, AFP). <strong>VIGÉSIMA CUARTA - CESIÓN Y SUBCONTRATACIÓN: EL CONTRATISTA</strong> no podrá ceder o subcontratar los derechos y obligaciones que adquiere con el perfeccionamiento del presente contrato, solo podrá hacerlo si media autorización escrita del ISVMED-. <strong>VIGÉSIMA QUINTA - LIQUIDACIÓN DEL CONTRATO:</strong> De conformidad con lo dispuesto en el artículo  217 del Decreto Ley 019 de 2012, que modificó el artículo 60 de la Ley 80 de 1993, modificado por el artículo 32 de la Ley 1150 de 2007, será discrecional por parte del INSTITUTO la liquidación o no del presente contrato. <strong>VIGÉSIMA SEXTA - INDEMNIDAD:</strong> Será obligación de <strong>EL CONTRATISTA</strong> mantener indemne al ISVMED de cualquier reclamación de terceros que tenga como causa sus actuaciones. <strong>VIGÉSIMA SEPTIMA - DOMICILIO:</strong> Para todos los efectos legales, se acuerda como domicilio la ciudad de Medellín. <strong>VIGÉSIMA OCTAVA - PUBLICACIÓN.</strong> El presente contrato se publicará por parte del ISVIMED en el Sistema Electrónico para la Contratación Pública (SECOP), de conformidad con lo establecido en el artículo 223 del Decreto Ley 019 de 2012.<br/><br/>
        Para constancia se firma en Medellín a los, 
      </div><br/>

      <H1 class=SaltoDePagina></H1>
      <table width="100%"  border="0" cellspacing="0" cellpadding="0" class="sample">
        <tr>
          <td rowspan="4" width="20%" style="font-size: 16px; font-family: Arial Narrow; line-height: 150%; "><div align="center"><img src="http://190.0.34.154:3013/images/feriaisvimed.png"/></div></td>
          <td rowspan="4" width="60%" style="font-size: 20px; font-family: Arial Narrow; line-height: 150%; "><strong><div align="center"><%#=@calidadversion.descripcion rescue nil%></div></strong></td>
          <td width="20%" style="font-size: 12px; font-family: Arial Narrow; line-height: 150%; "><strong>CÓDIGO:</strong> <%#=@calidadversion.codigo rescue nil%></td>
        </tr>
        <tr>
          <td style="font-size: 12px; font-family: Arial Narrow; line-height: 150%; "><strong>VERSIÓN:</strong> <%#=@calidadversion.version rescue nil%></td>
        </tr>
        <tr>
          <td style="font-size: 12px; font-family: Arial Narrow; line-height: 150%; "><strong>FECHA:</strong> <%#=@calidadversion.fecha rescue nil%></td>
        </tr>
        <tr>
          <td style="font-size: 12px; font-family: Arial Narrow; line-height: 150%; "><strong>PÁGINA:</strong> 2 DE 2</td>
        </tr>
      </table>
      <div align="center" style="font-size: 16px; font-family: Arial Narrow; line-height: 300%;"><strong>ACUERDAN:</strong></div>
      <div align="justify" style="font-size: 14px; font-family: Arial Narrow; line-height: 150%;">
      <strong>1. </strong>Fijar como fecha de inicio del <%##=var.downcase%> de <strong><%#=@contrato.tiposcontrato.descripcion rescue nil%></strong> Nro.<%#=@contrato.nro_contrato%>, el dia <%#=@contrato.fecha_inicio.strftime("%d") rescue nil%> de <%#=descmesmin(@contrato.fecha_inicio.strftime("%m")) rescue nil%> de <%#=@contrato.fecha_inicio.strftime("%Y") rescue nil%>.<br/><br/>
      <strong>2. </strong>De acuerdo con lo anterior la fecha de terminación será el día <%#=@contrato.fecha_final.strftime("%d") rescue nil%> de <%#=descmesmin(@contrato.fecha_final.strftime("%m")) rescue nil%> de <%#=@contrato.fecha_final.strftime("%Y") rescue nil%><br/><br/><br/>
      Para constancia, se firma la presente acta por quienes en ella intervinieron.
      </div>
      <br/><br/><br/><br/>
      <table width="100%"  border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="49%">________________________________________</td>
          <td width="2%">&nbsp;</td>
          <td width="49%">________________________________________</td>
        </tr>
        <tr valign="top">
          <td style="font-size: 14px; font-family: Arial Narrow; line-height: 150%;"><strong><%#=@contrato.empleado.nombres%></strong></td>
          <td>&nbsp;</td>
          <td style="font-size: 14px; font-family: Arial Narrow; line-height: 150%;"><strong><%#=@contrato.nombresinterventor rescue nil%></strong></td>
        </tr>
        <tr valign="top">
          <td style="font-size: 14px; font-family: Arial Narrow; line-height: 150%;"><strong><%##=var2.upcase%></strong></td>
          <td>&nbsp;</td>
          <td style="font-size: 14px; font-family: Arial Narrow; line-height: 150%;"><strong>SUPERVISOR</strong></td>
        </tr>
      </table>
      <div style="font-size: 10px; font-family: Arial Narrow;"><strong>S I F I - Sistema de Informacion ISVIMED - <%#=Time.now.strftime("%Y-%m-%d %X")%> <%#=User.find(is_admin).nombre rescue nil%></strong></div>
    </td>
  </tr>
</table>
</div>
