<p>
  <b>Catastro:</b>
  <%=h @catastrosinterseccion.catastro %>
</p>

<p>
  <b>Cbml:</b>
  <%=h @catastrosinterseccion.cbml %>
</p>

<p>
  <b>Componente:</b>
  <%=h @catastrosinterseccion.componente %>
</p>

<p>
  <b>Afectacion:</b>
  <%=h @catastrosinterseccion.afectacion %>
</p>

<p>
  <b>Categorias:</b>
  <%=h @catastrosinterseccion.categorias %>
</p>

<p>
  <b>Shape:</b>
  <%=h @catastrosinterseccion.shape %>
</p>

<p>
  <b>Superficie afec:</b>
  <%=h @catastrosinterseccion.superficie_afec %>
</p>

<p>
  <b>Porc afectacion:</b>
  <%=h @catastrosinterseccion.porc_afectacion %>
</p>


<%= link_to 'Edit', edit_catastrosinterseccion_path(@catastrosinterseccion) %> |
<%= link_to 'Back', catastrosintersecciones_path %>