<table width="100%" border="0" cellpadding="2" cellspacing="2" align="center">
  <tr>
    <td height="30"><div class="col_enc">CONTRATOS</div></td>
  </tr>
  <tr>
    <td height="10"></td>
  </tr>
</table>
<div align="center">
<% remote_form_for [@convenio, @convenioscontrato] do |form| %>
<% if permiso("convenioscontrato","C").to_s == "S" %>
       <% if !@convenioscontrato.id %>
            <%= render :partial => "/convenioscontratos/convenioscontratos_form" %>
       <% end %>
<% end %>
  <% if @convenio.convenioscontratos.exists? %>
<table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr valign="middle">
    <td width="20%" height="30" align="left" class="oce-first">Fecha</td>
    <td width="15%" height="30" align="left" class="oce-first">Nro Contrato</td>
    <td width="20%" height="30" align="left" class="oce-first">Contratista</td>
    <td width="35%" height="30" align="left" class="oce-first">Objeto</td>
    <td width="10%" height="30" class="oce-first"></td>
  </tr>
</table>
<% @convenio.convenioscontratos.each do |convenioscontrato| %>
<%  if convenioscontrato.id != @convenioscontrato.id %>
  <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" id="one-column-emphasis">
   <tr  valign="middle" class="<%=cycle('even1', 'odd1')%>" id="convenioscontrato_<%= convenioscontrato.id%>">
     <td width="20%" height="30" align="left" class="camposDesc"><%=convenioscontrato.created_at.strftime("%Y-%m-%d %X") rescue nil%><br/><%=convenioscontrato.user.username rescue nil%></td>
     <td width="15%" height="30" align="left" class="camposDesc"><%=h convenioscontrato.contrato.nro_contrato rescue nil%> - <%=h convenioscontrato.contrato.fecha_firma rescue nil%></td>
     <td width="20%" height="30" align="left" class="camposDesc"><%=h convenioscontrato.contrato.empleado.nombre rescue nil %></td>
     <td width="35%" height="30" align="left" class="camposDesc"><%=h convenioscontrato.contrato.objeto rescue nil %></td>
     <td width="10%" align="right" class="camposDesc"><div align="center">
        <% if permiso("convenioscontrato","E").to_s == "S" %>
          <%= link_to_remote('Borrar',{:url => convenio_convenioscontrato_path(@convenio, convenioscontrato),:method => :delete, :confirm => "¿Seguro?"}, :class=>"borrarlink")%>
        <% end %></div>
        </td>
 </tr>
</table>
    <% end %>
   <% end %>
 <% else %>
<table width="40%" border="0" cellpadding="0" align="center" cellspacing="0" bgcolor="#E5E5E5">
      <tr>
        <td width="10%"><div align="right"><img src="/images/alerta.png"></div></td>
        <td width="90%" align="left" class="campos">&nbsp;&nbsp;No hay datos asociados.</td>
     </tr>
</table>
<% end %>
            <%= hidden_field :convenio, :id %>
<% end %>
<br/>
<% if flash[:convenioscontrato] %>
<div id="convenioscontrato">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#E5E5E5">
   <tr>
        <td width="5%"><div align="right"><img src="/images/connect.png"/></div></td>
        <td width="95%" align="left" class="campos">&nbsp;&nbsp;<%= flash[:convenioscontrato] %></td>
   </tr>
  </table>
</div>
<script type="text/javascript">
  setTimeout("new Effect.Fade('convenioscontrato');", 5000)
</script>
<% end %>
</div>

