<table width="100%" height="40">
  <tr>
    <td>
      <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="3%"><img src="/images/corvidemin.png"/></td>
          <td width="94%"><div class="col_enc">SANEAMIENTO CORVIDE</div></td>
          <td width="3%"><div align="right">
              <% if permiso("corvide","C").to_s == "S" %>
                  <%= link_to image_tag('database_add.png',
                                { :border=>0, :title => "Nuevo"}),new_corvide_path %>
              <% end %>
          </div></td>
        </tr>
      </table></td>
  </tr>
</table>
<br/>
<% form_tag buscar_corvides_path, :method => 'get' do %>
<div align="center">
<table width="72%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr class="odd1">
      <td width="30%" height="25" class="campos" align="left">Nro de Expediente</td>
      <td width="70%" class="camposDesc" align="left"><%= text_field_tag :nro_expediente, params[:nro_expediente],{ :class => "campo", :size => 20,
                :onChange=> "javascript:this.value=this.value.toUpperCase();",
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" } %></td>
    </tr>
    <tr>
      <td class="campos" height="25" align="left">Comuna - Barrio</td>
      <td class="camposDesc" align="left"><%=select("ubicacion", "comuna_id", select_comuna.collect {|p| [ p.descripcion2, p.id ] }, { :include_blank => true },
            { :style=>"width:400px", :class => "campo", :onFocus => "this.style.border='1px solid #f00'", :onBlur => "this.style.border='1px solid #bbb'" }) %></td>
    </tr>
    <tr class="odd1">
      <td class="campos" height="25" align="left">CBML</td>
      <td class="camposDesc" align="left"><%= text_field_tag :cbml, params[:cbml],{ :class => "campo", :size => 20,
                :onChange=> "javascript:this.value=this.value.toUpperCase();",
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" } %></td>
    </tr>
    <tr>
      <td class="campos" height="25" align="left">Matrícula Inmobiliaria</td>
      <td class="camposDesc" align="left"><%= text_field_tag :matricula, params[:matricula],{ :class => "campo", :size => 20,
                :onChange=> "javascript:this.value=this.value.toUpperCase();",
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" } %></td>
    </tr>
    <tr class="odd1">
      <td class="campos" height="25" align="left">Proyecto</td>
      <td class="camposDesc" align="left"><%= select('ubicacion','transferencia', select_proyectocorvide,{ :include_blank => true },{ :style=>"width:300px", :class => "campo"})%></td>
    </tr>
    <tr>
      <td class="campos" height="25" align="left">Estado</td>
      <td class="camposDesc" align="left"><%= select('ubicacion','estado', select_estadocorvide,{ :include_blank => true },{ :style=>"width:250px", :class => "campo"})%></td>
    </tr> 
    <tr class="odd1">
      <td class="campos" height="25" align="left">Identificacion Poseedor</td>
      <td class="camposDesc" align="left"><%= text_field_tag :poseedor, params[:poseedor],{ :class => "campo", :size => 20,
                :onChange=> "javascript:this.value=this.value.toUpperCase();",
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" } %></td>
    </tr>
    <tr>
      <td class="campos" height="25" align="left">Identificacion Adjudicatario</td>
      <td class="camposDesc" align="left"><%= text_field_tag :adjudicatario, params[:adjudicatario],{ :class => "campo", :size => 20,
                :onChange=> "javascript:this.value=this.value.toUpperCase();",
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" } %></td>
    </tr>
</table>
<table width="72%" height="0" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr><td height="10"><hr size="1" noshade class="hrlinea"/></td></tr>
</table>
<table width="72%" border="0" cellpadding="2" align="center" cellspacing="0">
  <tr>
    <td  height="30"><div align="right">
    <div class="uiButton"><img class="img" src="/images/search.png"/>&nbsp;&nbsp;<span class="uiButtonText">
      <%= submit_tag "Buscar", :name => 'nil', :value => 'Buscar', :disable_with => "Buscando..." %>
          </span></div>
      <div class="uiButton"><img class="img" src="/images/excel.png"/>&nbsp;&nbsp;<span class="uiButtonText">
      <%= submit_tag "Buscar", :name => 'format', :value => 'xls'%>
          </span></div>
</div></td>
  </tr>
</table>
</div>
<%end%>
<% if permiso("corvide","C").to_s == "S" %>
<table width="85%" border="0" cellpadding="2" cellspacing="2"  align="center">
  <tr><td></td></tr>
  <tr>
    <td align="left" height="30"><div class="col_enc">INFORMES CONSOLIDADOS</div></td>
  </tr>
</table>
<table width="85%" border="0" cellpadding="2" align="center" cellspacing="2">
  <tr>
    <td  height="100%"><div align="right">
      <div class="uiButton"><img class="img" src="/images/excel.png"/>&nbsp;&nbsp;<span class="uiButtonText">
      <%= link_to 'Generar detallado', {:controller=>"corvides", :action=>"informedetallado" } %>
      </span></div>
     <div class="uiButton"><img class="img" src="/images/excel.png"/>&nbsp;&nbsp;<span class="uiButtonText">
      <%= link_to 'Consolidado proyecto', {:controller=>"corvides", :action=>"informeconsolidado" } %>
      </span></div>
     <div class="uiButton"><img class="img" src="/images/excel.png"/>&nbsp;&nbsp;<span class="uiButtonText">
      <%= link_to 'Consolidado estado', {:controller=>"corvides", :action=>"informeconsolidado2" } %>
      </span></div>
</div></td>
  </tr>
</table>
<br/>
<% end %>