<h1>Editing interbitacora</h1>

<% form_for(@interbitacora) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :interventoria_id %><br />
    <%= f.text_field :interventoria_id %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :observacion %><br />
    <%= f.text_field :observacion %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @interbitacora %> |
<%= link_to 'Back', interbitacoras_path %>