<p>
  <b>Interventoria:</b>
  <%=h @interbitacora.interventoria_id %>
</p>

<p>
  <b>User:</b>
  <%=h @interbitacora.user_id %>
</p>

<p>
  <b>Observacion:</b>
  <%=h @interbitacora.observacion %>
</p>


<%= link_to 'Edit', edit_interbitacora_path(@interbitacora) %> |
<%= link_to 'Back', interbitacoras_path %>