<p>
  <b>Contrato:</b>
  <%=h @contratosinterventoria.contrato_id %>
</p>

<p>
  <b>Userinterventoria:</b>
  <%=h @contratosinterventoria.userinterventoria_id %>
</p>

<p>
  <b>Fecha inicio:</b>
  <%=h @contratosinterventoria.fecha_inicio %>
</p>

<p>
  <b>Fecha fin:</b>
  <%=h @contratosinterventoria.fecha_fin %>
</p>

<p>
  <b>User:</b>
  <%=h @contratosinterventoria.user_id %>
</p>

<p>
  <b>User actualiza:</b>
  <%=h @contratosinterventoria.user_actualiza %>
</p>


<%= link_to 'Edit', edit_contratosinterventoria_path(@contratosinterventoria) %> |
<%= link_to 'Back', contratosinterventorias_path %>