<p>
  <b>Arrendamientoscontrato:</b>
  <%=h @arrendamientosprorroga.arrendamientoscontrato_id %>
</p>

<p>
  <b>Descripcion:</b>
  <%=h @arrendamientosprorroga.descripcion %>
</p>

<p>
  <b>User:</b>
  <%=h @arrendamientosprorroga.user_id %>
</p>

<p>
  <b>Arrendamientosprorroga file name:</b>
  <%=h @arrendamientosprorroga.arrendamientosprorroga_file_name %>
</p>

<p>
  <b>Arrendamientosprorroga content type:</b>
  <%=h @arrendamientosprorroga.arrendamientosprorroga_content_type %>
</p>

<p>
  <b>Arrendamientosprorroga file size:</b>
  <%=h @arrendamientosprorroga.arrendamientosprorroga_file_size %>
</p>

<p>
  <b>Arrendamientosprorroga updated at:</b>
  <%=h @arrendamientosprorroga.arrendamientosprorroga_updated_at %>
</p>


<%= link_to 'Edit', edit_arrendamientosprorroga_path(@arrendamientosprorroga) %> |
<%= link_to 'Back', arrendamientosprorrogas_path %>