<h1>Editing feria2009calificacion</h1>

<% form_for(@feria2009calificacion) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :feria2009jefe_id %><br />
    <%= f.text_field :feria2009jefe_id %>
  </p>
  <p>
    <%= f.label :nroformulario %><br />
    <%= f.text_field :nroformulario %>
  </p>
  <p>
    <%= f.label :calificacion %><br />
    <%= f.text_field :calificacion %>
  </p>
  <p>
    <%= f.label :puntaje %><br />
    <%= f.text_field :puntaje %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @feria2009calificacion %> |
<%= link_to 'Back', feria2009calificaciones_path %>