<p>
  <b>Feria2009jefe:</b>
  <%=h @feria2009calificacion.feria2009jefe_id %>
</p>

<p>
  <b>Nroformulario:</b>
  <%=h @feria2009calificacion.nroformulario %>
</p>

<p>
  <b>Calificacion:</b>
  <%=h @feria2009calificacion.calificacion %>
</p>

<p>
  <b>Puntaje:</b>
  <%=h @feria2009calificacion.puntaje %>
</p>


<%= link_to 'Edit', edit_feria2009calificacion_path(@feria2009calificacion) %> |
<%= link_to 'Back', feria2009calificaciones_path %>