   <%= stylesheet_link_tag 'scaffold'%>
   <%=  javascript_include_tag :defaults %>
<table width="100%" border="0" cellpadding="2" cellspacing="2" align="center">
  <tr>
    <td height="30"><div class="col_enc">REGISTRO DE ACTIVIDADES</div></td>
  </tr>
  <tr>
    <td height="10"></td>
  </tr>
</table>
<div align="center">
<% remote_form_for [@contrato, @contratosmodificacion] do |form| %>
<%   if permiso("contratosmodificacion","C").to_s == "S"
       if permiso("contratosespecial","C").to_s == "S"
         if !@contratosmodificacion.id %>
           <%= render :partial => "/contratosmodificaciones/contratosmodificaciones_form" %>
<%       end
       else
         if contratosresponsable.exists?(["contrato_id = #{@contrato.id} and user_id = #{is_admin}"]) == true
           if !@contratosmodificacion.id %>
              <%= render :partial => "/contratosmodificaciones/contratosmodificaciones_form" %>
<%         end
         end
       end
     end %>
<br/>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr valign="middle">
    <td width="15%" height="30" align="left" class="oce-first">Fecha Registro</td>
    <td width="15%" height="30" align="left" class="oce-first">Dependencia</td>
    <td width="40%" height="30" align="left" class="oce-first">Tarea</td>
    <td width="10%" height="30" align="left" class="oce-first">Fecha Vence</td>
    <td width="8%" height="30" align="left" class="oce-first">Estado</td>
    <td width="12%" height="30" align="left" class="oce-first"></td>
  </tr>
</table>
<% for contratosmodificacion in @contrato.contratosmodificaciones.find(:all, :order => 'created_at DESC') %>
   <% if contratosmodificacion.id != @contratosmodificacion.id %>
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
   <tr valign="middle" class="<%=cycle('even1', 'odd1')%>" id="contratosmodificacion_<%=contratosmodificacion.id%>">
     <td width="15%" align="left" class="camposDesc"><%=contratosmodificacion.created_at.strftime("%Y-%m-%d %X")%></td>
     <td width="15%" align="left" class="camposDesc"><%=contratosmodificacion.dependencia.descripcion rescue nil%></td>
     <td width="40%" align="left" class="camposDesc"><%=contratosmodificacion.tarea%></td>
     <td width="10%" align="left" class="camposDesc"><%=contratosmodificacion.fecha_limite.strftime("%Y-%m-%d") rescue nil%></td>
     <td width="8%" align="left" class="camposDesc"><%=contratosmodificacion.estado%></td>
     <td width="12%" align="right" class="camposDesc">
<%   if permiso("contratosmodificacion","A").to_s == "S"
       if permiso("contratosespecial","C").to_s == "S" %>
           <%= link_to_remote('Editar',{:url=>edit_contrato_contratosmodificacion_path(@contrato,contratosmodificacion),:method => :get},:class=>"editarlink")%>
<%     else
         if contratosresponsable.exists?(["contrato_id = #{@contrato.id} and user_id = #{is_admin}"]) == true %>
           <%= link_to_remote('Editar',{:url=>edit_contrato_contratosmodificacion_path(@contrato,contratosmodificacion),:method => :get},:class=>"editarlink")%>
<%       end
       end
     end %>
<%   if permiso("contratosmodificacion","E").to_s == "S"
       if permiso("contratosespecial","C").to_s == "S" %>
           |&nbsp;<%= link_to_remote('Borrar',{:url => contrato_contratosmodificacion_path(@contrato, contratosmodificacion),:method =>:delete,:confirm =>"¿Seguro?"},:class=>"borrarlink")%>
<%     else
         if contratosresponsable.exists?(["contrato_id = #{@contrato.id} and user_id = #{is_admin}"]) == true %>
           |&nbsp;<%= link_to_remote('Borrar',{:url => contrato_contratosmodificacion_path(@contrato, contratosmodificacion),:method =>:delete,:confirm =>"¿Seguro?"},:class=>"borrarlink")%>
<%       end
       end
     end %>
    </td>
 </tr>
</table>
<% else %>
      <fieldset>
      <table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr>
    <td  height="30"><div class="col_enc">EDITAR ACTIVIDAD</div></td>
  </tr>
</table>
    <tr class="<%=cycle('even1', 'odd1')%>" id="contratosmodificacion_<%=@contratosmodificacion.id%>">
     <%= render :partial => "contratosmodificaciones_form" %>
    </tr>
    </fieldset>
<% end %>
        <% end %>
            <%= hidden_field :contrato, :id %>
<% end %>
</div>
<br/>
<% if flash[:contratosmodificacion] %>
<div id="credito">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#E5E5E5">
   <tr>
        <td width="5%"><div align="right"><img src="/images/connect.png"></div></td>
        <td width="95%" class="campos" align="left" >&nbsp;&nbsp;<%= flash[:contratosmodificacion] %></td>
   </tr>
  </table>
</div>
<script type="text/javascript">
  setTimeout("new Effect.Fade('contratosmodificacion');", 5000)
</script>
<% end %>
