<fieldset>
<table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr>
    <td height="30"><div class="col_enc">INFORMACION PQRS</div></td>
  </tr>
</table>
<% @ayuda.persona.quejas.each do |queja| %>
  <div align="center">
     <table width="90%" align="center" id="one-column-emphasis">
        <tr class="odd1">
          <td width="33%" height="20" class="campos" align="left">Tipo PQRS </td>
          <td class="camposDesc" align="left"><%=queja.tipopqrs rescue nil%></td>
        </tr>
        <tr>
          <td width="33%" height="20" class="campos" align="left">Dependencia a la que se dirige</td>
          <td class="camposDesc" align="left"><%=queja.temadesc%></td>
        </tr>
        <tr class="odd1">
          <td width="33%" height="20" class="campos" align="left">Motivo de la pregunta, queja, reclamo o sugerencia</td>
          <td class="camposDesc"><div align="justify"><%=queja.descripcion%></div></td>
        </tr>
        <tr>
          <td width="33%" height="20" class="campos" align="left">Procedencia</td>
          <td class="camposDesc" align="left"><%=queja.procedencia%></td>
        </tr>
        <tr class="odd1">
          <td width="33%" height="20" class="campos" align="left">Estado</td>
          <td class="camposDesc" align="left"><%=queja.estado%></td>
        </tr>
        <tr>
          <td width="33%" height="20" class="campos" align="left">ID</td>
          <td class="camposDesc" align="left"><%=queja.id%></td>
        </tr>
        <tr class="odd1">
          <td width="33%" height="20" class="campos" align="left">Fecha Ult. Actualización</td>
          <td class="camposDesc" align="left"><%=queja.updated_at.strftime("%Y-%m-%d %X") rescue nil%></td>
        </tr>
     </table>
     <br/>
     <table width="100%" height="0" border="0" cellpadding="0" cellspacing="0">
        <tr><td height="10"><hr size="1" noshade class="hrlinea"/></td></tr>
     </table>
     <br/>
  </div>
<% end %>
  <br/>
<% @ayuda.persona.beneviviendas.each do |benevivienda|
     if Queja.exists?(["benevivienda_id = #{benevivienda.id}"])
       quejas = Queja.find_all_by_benevivienda_id(benevivienda.id)
       quejas.each do |queja|
%>
  <div align="center">
     <table width="90%" align="center" id="one-column-emphasis">
        <tr class="odd1">
          <td width="33%" height="20" class="campos" align="left">Beneficiario</td>
          <td class="camposDesc" align="left"><%=queja.quejaidentificacion rescue nil%> - <%=queja.quejanombre rescue nil%></td>
        </tr>
        <tr>
          <td width="33%" height="20" class="campos" align="left">Tipo PQRS </td>
          <td class="camposDesc" align="left"><%=queja.tipopqrs rescue nil%></td>
        </tr>
        <tr class="odd1">
          <td width="33%" height="20" class="campos" align="left">Dependencia a la que se dirige</td>
          <td class="camposDesc" align="left"><%=queja.temadesc%></td>
        </tr>
        <tr>
          <td width="33%" height="20" class="campos" align="left">Motivo de la pregunta, queja, reclamo o sugerencia</td>
          <td class="camposDesc"><div align="justify"><%=queja.descripcion%></div></td>
        </tr>
        <tr class="odd1">
          <td width="33%" height="20" class="campos" align="left">Procedencia</td>
          <td class="camposDesc" align="left"><%=queja.procedencia%></td>
        </tr>
        <tr>
          <td width="33%" height="20" class="campos" align="left">Estado</td>
          <td class="camposDesc" align="left"><%=queja.estado%></td>
        </tr>
        <tr class="odd1">
          <td width="33%" height="20" class="campos" align="left">ID</td>
          <td class="camposDesc" align="left"><%=queja.id%></td>
        </tr>
        <tr>
          <td width="33%" height="20" class="campos" align="left">Fecha Ult. Actualización</td>
          <td class="camposDesc" align="left"><%=queja.updated_at.strftime("%Y-%m-%d %X") rescue nil%></td>
        </tr>
     </table>
     <br/>
     <table width="100%" height="0" border="0" cellpadding="0" cellspacing="0">
        <tr><td height="10"><hr size="1" noshade class="hrlinea"/></td></tr>
     </table>
    <br/>
  </div>
<%    end
    end
  end
%>



<br/>
</fieldset>
