<p>
  <b>Titulo:</b>
  <%=h @viviendascarta.titulo %>
</p>

<p>
  <b>Nombre:</b>
  <%=h @viviendascarta.nombre %>
</p>

<p>
  <b>Cargo:</b>
  <%=h @viviendascarta.cargo %>
</p>

<p>
  <b>Atn nombre:</b>
  <%=h @viviendascarta.atn_nombre %>
</p>

<p>
  <b>Atn cargo:</b>
  <%=h @viviendascarta.atn_cargo %>
</p>

<p>
  <b>Empresa:</b>
  <%=h @viviendascarta.empresa %>
</p>

<p>
  <b>Direccion:</b>
  <%=h @viviendascarta.direccion %>
</p>

<p>
  <b>Telefono:</b>
  <%=h @viviendascarta.telefono %>
</p>

<p>
  <b>Ciudad:</b>
  <%=h @viviendascarta.ciudad %>
</p>


<%= link_to 'Edit', edit_viviendascarta_path(@viviendascarta) %> |
<%= link_to 'Back', viviendascartas_path %>