<%= stylesheet_link_tag 'tabs'%>
<%= javascript_include_tag 'fabtabulous' %>
<table width="100%" height="40"  align="center">
      <tr>
        <td>
          <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0"  align="center">
            <tr>
              <td width="3%"><img src="/images/inmobiliariomin.png" width="64" height="64"/></td>
              <td width="94%"><div class="col_enc">&nbsp;&nbsp;INFORMACION ARCHIVOS - INMUEBLE</div></td>
            </tr>
          </table></td>
      </tr>
</table>
<% form_for(:inmobiliariosimagen, @inmobiliariosimagen, :url => inmobiliario_inmobiliariosimagenes_path(@inmobiliario), :html => { :multipart => true }) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
<br/>
<div align="center">
<table width="70%" height="0" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td height="10"><hr size="1" noshade class="hrlinea"/></td>
      </tr>
</table>
<table width="70%" border="0" cellpadding="2" cellspacing="2">
  <tr>
    <td  height="30"><div align="right">
        <div class="uiButton"><img class="img" src="/images/guardar.png"/>&nbsp;&nbsp;<span class="uiButtonText"><%= submit_tag "Guardar", :disable_with => "Guardando..."%></span></div>
        <div class="uiButton"><img class="img" src="/images/cancel.png"/>&nbsp;&nbsp;<span class="uiButtonText"><%= link_to 'Regresar',  edit_inmobiliario_path(@inmobiliario) %></span></div>
</div></td>
  </tr>
</table>
  </div>
<% end %>
