<p>
  <b>Iguana:</b>
  <%=h @iguanasactualizacion.iguana %>
</p>

<p>
  <b>User:</b>
  <%=h @iguanasactualizacion.user %>
</p>

<p>
  <b>Tabla:</b>
  <%=h @iguanasactualizacion.tabla_id %>
</p>

<p>
  <b>Bloque:</b>
  <%=h @iguanasactualizacion.bloque %>
</p>

<p>
  <b>Tipo transaccion:</b>
  <%=h @iguanasactualizacion.tipo_transaccion %>
</p>

<p>
  <b>Observacion:</b>
  <%=h @iguanasactualizacion.observacion %>
</p>


<%= link_to 'Edit', edit_iguanasactualizacion_path(@iguanasactualizacion) %> |
<%= link_to 'Back', iguanasactualizaciones_path %>