<p>
  <b>Empleado:</b>
  <%=h @empleadobitacora.empleado %>
</p>

<p>
  <b>User:</b>
  <%=h @empleadobitacora.user %>
</p>

<p>
  <b>Dependencia:</b>
  <%=h @empleadobitacora.dependencia %>
</p>

<p>
  <b>Profesion:</b>
  <%=h @empleadobitacora.profesion %>
</p>

<p>
  <b>Userinterventor:</b>
  <%=h @empleadobitacora.userinterventor_id %>
</p>

<p>
  <b>Tipo:</b>
  <%=h @empleadobitacora.tipo %>
</p>

<p>
  <b>Eps:</b>
  <%=h @empleadobitacora.eps %>
</p>

<p>
  <b>Pension:</b>
  <%=h @empleadobitacora.pension %>
</p>

<p>
  <b>Arl:</b>
  <%=h @empleadobitacora.arl %>
</p>

<p>
  <b>Caja compensacion:</b>
  <%=h @empleadobitacora.caja_compensacion %>
</p>

<p>
  <b>Cargo:</b>
  <%=h @empleadobitacora.cargo %>
</p>

<p>
  <b>Nro cuenta:</b>
  <%=h @empleadobitacora.nro_cuenta %>
</p>

<p>
  <b>Entidad:</b>
  <%=h @empleadobitacora.entidad %>
</p>

<p>
  <b>Tipo cuenta:</b>
  <%=h @empleadobitacora.tipo_cuenta %>
</p>

<p>
  <b>Nivel educativo:</b>
  <%=h @empleadobitacora.nivel_educativo %>
</p>

<p>
  <b>Profesion:</b>
  <%=h @empleadobitacora.profesion %>
</p>


<%= link_to 'Edit', edit_empleadobitacora_path(@empleadobitacora) %> |
<%= link_to 'Back', empleadobitacoras_path %>