<h1>Listing empleadosgrupos</h1>

<table>
  <tr>
    <th>Empleado</th>
    <th>Nombre</th>
    <th>Parentesco</th>
    <th>Fecha nacimiento</th>
  </tr>

<% @empleadosgrupos.each do |empleadosgrupo| %>
  <tr>
    <td><%=h empleadosgrupo.empleado_id %></td>
    <td><%=h empleadosgrupo.nombre %></td>
    <td><%=h empleadosgrupo.parentesco %></td>
    <td><%=h empleadosgrupo.fecha_nacimiento %></td>
    <td><%= link_to 'Show', empleadosgrupo %></td>
    <td><%= link_to 'Edit', edit_empleadosgrupo_path(empleadosgrupo) %></td>
    <td><%= link_to 'Destroy', empleadosgrupo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New empleadosgrupo', new_empleadosgrupo_path %>