<% if @correspondenciasinternasrechazados.count != 0 %>
  <table width="100%" border="0" cellpadding="2" align="center" cellspacing="2">
    <tr>
      <td height="30" align="left"><div class="col_enc">RECHAZADOS (<%=@correspondenciasinternasrechazados.count.to_i rescue o%>)</div></td>
    </tr>
  </table>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr valign="middle">
    <td width="12%" height="25" class="oce-first"><div align="center">Fecha Documento</div></td>
    <td width="55%" class="oce-first"><div align="center">Dirigido a?</div></td>
    <td width="28%" class="oce-first"><div align="center">Asunto</div></td>
    <td width="5%" class="oce-first">&nbsp;</td>
  </tr>
<% @correspondenciasinternasrechazados.each do |correspondenciasinterna| %>
<tr valign="middle" class="<%=cycle('even1', 'odd1')%>">
    <td height="30" class="camposDesc"><div align="center"><%=h correspondenciasinterna.fecha_documento rescue nil%></div></td>
    <td class="camposDesc"><div align="left">
      <% correspondenciasinterna.corresinternasdirigidos.each do |corresinternasdirigido| %>
           <%=corresinternasdirigido.user.nombre rescue nil%> (<%=corresinternasdirigido.user.dependencia.descripcion rescue nil%>)<br/>
      <% end %>
    </div></td>
    <td class="camposDesc"><div align="justify"><%=h correspondenciasinterna.asunto rescue nil%></div></td>
    <td class="camposDesc"><div align="center"><%= link_to 'Editar', edit_correspondenciasinterna_path(correspondenciasinterna),:class=>"editarlink"%></div></td>
  </tr>
<% end %>
</table>
<% else %>
  <table width="100%" border="0" cellpadding="2" align="center" cellspacing="2">
    <tr>
      <td height="30" align="left"><div class="col_enc">RECHAZADOS</div></td>
    </tr>
  </table>
<table width="40%" border="0" cellpadding="0" align="center" cellspacing="0" bgcolor="#E5E5E5">
      <tr>
        <td width="10%"><div align="right"><img src="/images/alerta.png"></div></td>
        <td width="90%" class="campos">&nbsp;&nbsp;Usted no tiene memorandos pendientes</td>
     </tr>
</table>
<% end %>
<br/>