<p>
  <b>Persona:</b>
  <%=h @temporal.persona_id %>
</p>

<p>
  <b>Resolucion:</b>
  <%=h @temporal.resolucion_id %>
</p>

<p>
  <b>Nro resolucion:</b>
  <%=h @temporal.nro_resolucion %>
</p>

<p>
  <b>Identificacion:</b>
  <%=h @temporal.identificacion %>
</p>

<p>
  <b>Primer nombre:</b>
  <%=h @temporal.primer_nombre %>
</p>

<p>
  <b>Segundo nombre:</b>
  <%=h @temporal.segundo_nombre %>
</p>

<p>
  <b>Primer apellido:</b>
  <%=h @temporal.primer_apellido %>
</p>

<p>
  <b>Segundo apellido:</b>
  <%=h @temporal.segundo_apellido %>
</p>


<%= link_to 'Edit', edit_temporal_path(@temporal) %> |
<%= link_to 'Back', temporales_path %>