<table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr><td></td></tr>
  <tr>
    <td  height="30"><div class="col_enc">REQUERIMIENTOS</div></td>
  </tr>
</table>
<table width="100%" align="center" id="one-column-emphasis">
  <tr>
    <td class="campos" width="294" height="0">Fecha</td>
    <td width="664"><%= calendar_date_select_tag "requerimiento[fecha]", @requerimiento.fecha.to_s,
            :year_range => [90.years.ago, 0.years.from_now], :class=> "campo", :size => 13%></td>
  </tr>
  <tr>
    <td class="campos" height="0">Descripcion</td>
    <td><%= text_area :requerimiento, :descripcion, { :class => "campoMultiLinea", :cols=>"140", :rows=>"2",
                :onChange=> "javascript:this.value=this.value.toUpperCase();",
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" } %></td>
  </tr>
  <tr>
    <td class="campos" height="0">Dependencia</td>
    <td><%=select("requerimiento", "dependencia_id", Dependencia.all.collect {|p| [ p.descripcion, p.id ] }, { :include_blank => true },
      { :style=>"width:300px", :class => "campo", :onFocus => "this.style.border='1px solid #f00'", :onBlur => "this.style.border='1px solid #bbb'" }) %></td>
  </tr>
  <tr>
    <td height="30" colspan="2"><div align="center"><%= hidden_field :requerimiento, :id %>
    <%= submit_tag "Guardar"%></div></td>
  </tr>
  <tr>
    <td class="campos" height="0"></td>
    <td></td>
  </tr>
</table>
<br/>