<h1>Editing especial</h1>

<% form_for(@especial) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @especial %> |
<%= link_to 'Back', especiales_path %>