<h1>Listing especiales</h1>

<table>
  <tr>
    <th>Descripcion</th>
  </tr>

<% @especiales.each do |especial| %>
  <tr>
    <td><%=h especial.descripcion %></td>
    <td><%= link_to 'Show', especial %></td>
    <td><%= link_to 'Edit', edit_especial_path(especial) %></td>
    <td><%= link_to 'Destroy', especial, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New especial', new_especial_path %>