<table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr>
    <td  height="30"><div class="col_enc">OTROS</div></td>
  </tr>
</table>
<% remote_form_for [@elemento, @elementosotro] do |form| %>
  <% if permiso("elementosotro","C").to_s == "S" %>
     <% if !@elementosotro.id %>
      	<%= render :partial => "/elementosotros/elementosotros_form" %>
     <% end %>
  <% end %>
<% if @elemento.elementosotros.exists? %>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr valign="middle">
    <td width="20%" class="oce-first">Fecha</td>
    <td width="70%" class="oce-first">Descripcion</td>
    <td width="10%" class="oce-first">&nbsp;</td>
  </tr>
</table>
<% for elementosotro in @elemento.elementosotros.find(:all, :order => 'created_at DESC') %>
    <% if elementosotro.id != @elementosotro.id %>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" id="one-column-emphasis">
          <tr  valign="middle" class="<%=cycle('even1', 'odd1')%>" id="elementosotro_<%=elementosotro.id%>">
            <td width="20%" class="camposDesc"><%=elementosotro.fecha.strftime("%Y-%m-%d")%> - <%=elementosotro.user.username rescue nil%></td>
            <td width="70%" class="camposDesc"><div align="justify"><%=elementosotro.observaciones rescue nil%></div></td>
            <td width="10%" class="camposDesc" ><div align="center"><%= link_to 'Imagen',  img_elementosotrossoportes_path(elementosotro.id), :class=>"imagenlink"%></div></td>
          </tr>
        </table>
        <% if elementosotro.elementosotrossoportes.exists? %>
        <div align="center">
          <table width="80%" border="0" align="center" cellpadding="1" cellspacing="1">
            <tr>
              <td width="10%" valign="middle" class="oce-first"><div align="center">Imagenes</div></td>
              <td width="90%">
                <table width="100%" border="0" cellspacing="1" cellpadding="1">
                  <tr>
                    <td class="oce-first" width="10%" align="center">Fecha</td>
                    <td class="oce-first" width="45%" align="center">Descripcion</td>
                    <td class="oce-first" width="40%" align="center">Nombre Archivo</td>
                    <td class="oce-first" width="5%" align="center"></td>
                  </tr>
                <% elementosotro.elementosotrossoportes.each do |elementosotrossoporte| %>
                  <tr class="<%=cycle('even1', 'odd1')%>">
                    <td class="camposDesc" align="left"><%=elementosotrossoporte.created_at.strftime("%Y-%m-%d") rescue nil%></td>
                    <td class="camposDesc" align="left"><%=elementosotrossoporte.descripcion%></td>
                    <td class="camposDesc" align="left"><%=elementosotrossoporte.eleotrossoporte_file_name%></td>
                    <td class="camposDesc" align="left"><%= link_to "Ver", elementosotrossoporte.eleotrossoporte.url(:original, false),{ :popup => ['new_window','height=450,width=600,scrollbars=yes'], :class=>"verlink"}%></td>
                  </tr>
                <% end %>
                  </table>
              </td>
            </tr>
          </table>
        </div>
        <% end %>
    <% else %>
        <fieldset>
          <table width="100%" border="0" cellpadding="2" cellspacing="2"><tr><td  height="30"><div class="col_enc">EDITAR</div></td></tr></table>
          <tr class="<%=cycle('even1', 'odd1')%>" id="elementosotro_<%=@elementosotro.id%>">
            <%= render :partial => "elementosotros_form" %>
          </tr>
        </fieldset>
    <% end %>
  <% end %>
<% else %>
<table width="40%" border="0" cellpadding="0" align="center" cellspacing="0" bgcolor="#E5E5E5">
      <tr>
        <td width="10%"><div align="right"><img src="/images/alerta.png"/></div></td>
        <td width="90%" class="campos">&nbsp;&nbsp;No hay datos asociados.</td>
     </tr>
</table>
<% end %>
  <%= hidden_field :elemento, :id %>
<% end %>
<br/>
<% if flash[:elementosotro] %>
<div id="elementosotro">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#E5E5E5">
   <tr>
        <td width="5%"><div align="right"><img src="/images/connect.png"></div></td>
        <td width="95%" align="left" class="campos">&nbsp;&nbsp;<%= flash[:elementosotro] %></td>
   </tr>
  </table>
</div>
<script type="text/javascript">
  setTimeout("new Effect.Fade('elementosotro');", 5000)
</script>
<% end %>



