<h1>Listing potdatos</h1>

<table>
  <tr>
    <th>Descripcion</th>
  </tr>

<% @potdatos.each do |potdato| %>
  <tr>
    <td><%=h potdato.descripcion %></td>
    <td><%= link_to 'Show', potdato %></td>
    <td><%= link_to 'Edit', edit_potdato_path(potdato) %></td>
    <td><%= link_to 'Destroy', potdato, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New potdato', new_potdato_path %>