<h1>Editing ocupacion</h1>

<% form_for(@ocupacion) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @ocupacion %> |
<%= link_to 'Back', ocupaciones_path %>