<%=  javascript_include_tag :defaults %>
<table width="100%" height="40">
      <tr>
        <td>
          <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="3%"><img src="/images/titulacionmin.png" width="64" height="64"/></td>
              <td width="94%"><div class="col_enc">&nbsp;&nbsp;INFORMACION DEMANDAS - TITULACION</div></td>
              <td width="3%"><div align="right">
                  <%= link_to image_tag('atras.png',{ :border=>0, :title => "Buscar Demandas"}),titulaciones_path %>
                </div></td>
            </tr>
          </table></td>
      </tr>
</table><br/>
<table width="70%" border="0" align="center" cellpadding="0" cellspacing="0" id="one-column-emphasis">
  <tr valign="middle">
    <td width="10%" height="30" class="oce-first"><div align="center">ID</div></td>
    <td width="15%" class="oce-first"><div align="center">Tipo de proceso</div></td>
    <td width="15%" class="oce-first"><div align="center">Radicado</div></td>
    <td width="15%" class="oce-first"><div align="center">Fecha radicado</div></td>
    <td width="35%" class="oce-first"><div align="center">Estado</div></td>
    <td width="15%" class="oce-first">&nbsp;</td>
  </tr>
<% @demandas.each do |demanda| %>
  <tr valign="middle">
    <td height="30" class="camposDesc"><div align="center"><%=h demanda.id %></div></td>
    <td class="camposDesc"><div align="center"><%=h demanda.tipoproceso %></div></td>
    <td class="camposDesc"><div align="center"><%=h demanda.radicado rescue nil %></div></td>
    <td class="camposDesc"><div align="center"><%=h demanda.fecha_radicado %></div></td>
    <td class="camposDesc"><div align="center"><%=h demanda.estado %></div></td>
    <td class="camposDesc"><div align="center">
    <%= link_to 'Editar', edit_demanda_path(demanda),:class=>"editarlink"%>
      </div></td>
  </tr>
<% end %>
</table>
<table width="80%" height="0" align="center" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="10"><hr size="1" noshade class="hrlinea"/></td>
  </tr>
</table>
<table width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr valign="middle">
    <td width="100%" height="30" class="camposDescN"><div align="center">Nro Total de Registro : <%=@demandas.count%></div></td>
  </tr>
</table>