<%= stylesheet_link_tag 'tabs'%>
<%= javascript_include_tag 'fabtabulous' %>
<table width="100%" height="40"  align="center">
      <tr>
        <td>
          <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0"  align="center">
            <tr>
              <td width="3%"><img src="/images/titulacionmin.png" width="64" height="64"/></td>
              <td width="94%"><div class="col_enc">&nbsp;&nbsp;INFORMACION DEMANDAS - TITULACION</div></td>
              <td width="3%"><div align="right">
                <%= link_to image_tag('atras.png',{ :border=>0, :title => "Buscar Demandas"}),titulaciones_path %>
              </div></td>
            </tr>
          </table></td>
      </tr>
</table>
  <div id="container">
    <div id="mainmenu">
      <ul id="tabs">
        <li><a href="#tab1"><img src="/images/titulo.png" border="0" title="Información Predio"/></a></li>
<% unless @demanda.new_record? %>
        <li><a href="#tab2"><img src="/images/beneficiarios.png" border="0" title="Propietarios"/></a></li>
<% end %>
      </ul>
    </div>
    <div class="panel" id="tab1">
      <fieldset>
<% form_for(@demanda) do |f| %>
<table width="100%" border="0" cellpadding="2" cellspacing="2"  align="center">
  <tr><td></td></tr>
  <tr>
    <td  height="30"><div class="col_enc">INFORMACIÓN DEMANDA</div></td>
  </tr>
</table>
<table width="800" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
      <div align="center">
  <table width="75%" border="0" cellspacing="2" cellpadding="0">
      <tr>
        <td width="30%" class="campos">Tipo de proceso *</td>
        <td width="70%"><%= select(:demanda,:tipoproceso, [["FISCAL","FISCAL"],
                                              ["PERTENENCIA","PERTENENCIA"]],
                        { :include_blank => true },
                      { :style=>"width:300px", :class => "campo" })%>
         <%= f.error_message_on :tipoproceso, :css_class =>"cerror"%></td>
      </tr>
      <tr>
        <td class="campos">Radicado *</td>
        <td >
          <%= f.text_field :radicado ,{ :class => "campo", :size => 40,
            :onChange=> "javascript:this.value=this.value.toUpperCase();",
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" }%>
          <%= f.error_message_on :radicado, :css_class =>"cerror"%>
        </td>
      </tr>
      <tr>
        <td class="campos">Fecha radicado</td>
        <td ><%= calendar_date_select "demanda", "fecha_radicado", :year_range => select_rangocalendar, :class=> "campo", :size => 10, :time => false, :onfocus=>"this.blur()"%>
          <%= f.error_message_on :fecha_radicado, :css_class =>"cerror"%>
        </td>
      </tr>
      <tr>
        <td class="campos">Juzgado</td>
        <td ><%= f.text_field :juzgado ,{ :class => "campo", :size => 40,
            :onChange=> "javascript:this.value=this.value.toUpperCase();",
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" }%>
          <%= f.error_message_on :juzgado, :css_class =>"cerror"%>
        </td>
      </tr>
      <tr>
        <td class="campos">Estado *</td>
        <td ><%= select(:demanda,:estado, [["REPARTO","REPARTO"],
                                              ["ADMITIDO","ADMITIDO"],
                                              ["NO ADMITIDO","NO ADMITIDO"],
                                              ["RECHAZADO","RECHAZADO"],
                                            ["RADICADO","RADICADO"]],
                        { :include_blank => true },
                      { :style=>"width:300px", :class => "campo" })%>
          <%= f.error_message_on :estado, :css_class =>"cerror"%>
        </td>
      </tr>
      <tr>
        <td class="campos">Notificado</td>
        <td ><%= select(:demanda,:notificado, [["SI","SI"],
                                              ["NO","NO"]],
                        { :include_blank => true },
                      { :style=>"width:120px", :class => "campo" })%>
          <%= f.error_message_on :notificado, :css_class =>"cerror"%>
        </td>
      </tr>
      <tr>
        <td class="campos">Inspeccion Judifical</td>
        <td ><%= select(:demanda,:inspeccion, [["SI","SI"],
                                              ["NO","NO"]],
                        { :include_blank => true },
                      { :style=>"width:120px", :class => "campo" })%>
          <%= f.error_message_on :inspeccion, :css_class =>"cerror"%>
        </td>
      </tr>
      <tr>
        <td class="campos">Sentencia</td>
        <td ><%= select(:demanda,:sentencia, [["ESTIMADO (POSITIVO)","ESTIMADO (POSITIVO)"],
                                              ["DESESTIMADO (NEGATIVO)","DESESTIMADO (NEGATIVO)"]],
                        { :include_blank => true },
                      { :style=>"width:300px", :class => "campo" })%>
          <%= f.error_message_on :sentencia, :css_class =>"cerror"%>
        </td>
      </tr>
      <tr>
        <td class="campos">Demanda Elaborada</td>
        <td ><%= select(:demanda,:elaborado, [["SI","SI"],
                                              ["NO","NO"]],
                        { :include_blank => true },
                      { :style=>"width:120px", :class => "campo" })%>
          <%= f.error_message_on :elaborado, :css_class =>"cerror"%>
        </td>
      </tr>
      <tr>
        <td class="campos">Abogado Asignado</td>
        <td><%=select("demanda", "user_juridico", User.find(:all,:conditions=>["activo='S'"], :order=>['nombre']).collect {|p| [ p.nombre, p.id ] }, { :include_blank => true },
                    { :style=>"width:420px", :class => "campo", :onFocus => "this.style.border='1px solid #f00'", :onBlur => "this.style.border='1px solid #bbb'" }) %>
          <%= f.error_message_on :user_juridico, :css_class =>"cerror"%>
        </td>
      </tr>
      <tr>
          <td class="campos">Observaciones</td>
         <td >
          <%=f.text_area(:observaciones, :cols => 80, :rows => 4, :class => 'campo', :maxlength => 3900,
          :onChange=> "javascript:this.value=this.value.toUpperCase();") %>
          <%= f.error_message_on :observaciones, :css_class =>"cerror"%></td>
        </tr>
  </table></div>
</td>
  </tr>
</table>
<table width="100%" height="0" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="10"><hr size="1" noshade class="hrlinea"/></td>
  </tr>
</table>
<table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr>
    <td class="camposNotas" align="left">
       <% unless @demanda.new_record? %>
        Ultima Actualización: <%=User.find(@demanda.user_actualiza).username rescue nil%> - <%=@demanda.updated_at.strftime("%Y-%m-%d %X")%>
       <% end %></td>
    <td  height="30"><div align="right">
        <% if permiso("demanda","A").to_s == "S" %>
          <div class="uiButton"><img class="img" src="/images/guardar.png"/>&nbsp;&nbsp;<span class="uiButtonText"><%= submit_tag "Guardar", :disable_with => "Guardando..."%></span></div>
        <% elsif permiso("demanda","C").to_s == "S" %>
          &nbsp;&nbsp;<div class="uiButton"><img class="img" src="/images/guardar.png"/>&nbsp;&nbsp;<span class="uiButtonText"><%= submit_tag "Guardar", :disable_with => "Guardando..."%></span></div>
        <% end %>
        <% if permiso("demanda","E").to_s == "S" %>
           &nbsp;&nbsp;<%= link_to 'Eliminar', @demanda, :confirm => 'Esta seguro que desea eliminiar este registro con todos sus componentes?', :method => :delete,:class=>"borrarlink" %>
        <% end %></div></td>
  </tr>
</table>
<% end %>
</fieldset>
</div>
<% unless @demanda.new_record? %>
    <div class="panel" id="tab2">
      <fieldset>
         <div id="demandascobamas_form">
            <%= render :partial => "/demandascobamas/demandascobamas" %>
         </div>
      </fieldset>
    </div>
<% end %>