<h1>Editing crucesimagen</h1>

<% form_for(@crucesimagen) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :persona %><br />
    <%= f.text_field :persona %>
  </p>
  <p>
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @crucesimagen %> |
<%= link_to 'Back', crucesimagenes_path %>