<fieldset>
<table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr>
    <td height="30"><div class="col_enc">INFORMACION CENSO PUENTE 94-95</div></td>
  </tr>
</table>
<% remote_form_for [@persona, @personascenso] do |form| %>
  <% if permiso("personascenso","C").to_s == "S" %>
        <% if !@personascenso.id %>
	<%= render :partial => "/personascensos/personascensos_form" %>
    <% end %>
<% end %>
<% if @persona.personascensos.exists? %>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr valign="middle">
    <td width="20%" height="30" class="oce-first">Tipo de tenencia</td>
    <td width="15%" class="oce-first">Cobama</td>
    <td width="10%" class="oce-first">Ficha Socieconomia</td>
    <td width="20%" class="oce-first">Matricula edu</td>
    <td width="20%" class="oce-first">Faltantes</td>
    <td width="15%" class="oce-first">&nbsp;</td>
  </tr>
</table>
<% @persona.personascensos.each do |personascenso| %>
<% if personascenso.id != @personascenso.id %>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
   <tr  valign="middle" class="<%=cycle('even1', 'odd1')%>" id="personascenso_<%=personascenso.id%>">
    <td width="20%" class="camposDesc"><%=personascenso.tipotenencia%></td>
    <td width="15%" class="camposDesc"><%=personascenso.cobama%></td>
    <td width="10%" class="camposDesc"><%=personascenso.ficha%></td>
    <td width="20%" class="camposDesc"><%=personascenso.matricula_edu%></td>
    <td width="20%" class="camposDesc"><%=personascenso.faltantes%></td>
    <td width="15%" class="camposDesc"><div align="center">
    <% if permiso("personascenso","A").to_s == "S" %>
      <%= link_to_remote('Editar',{:url => edit_persona_personascenso_path(@persona, personascenso),
		:method => :get}, :class=>"editarlink")%>
    <%  end %>
    <% if permiso("personascenso","E").to_s == "S" %>
       |&nbsp;<%= link_to_remote('Borrar',{:url => persona_personascenso_path(@persona, personascenso),
		:method => :delete, :confirm => "¿Seguro?"}, :class=>"borrarlink")%>
    <%  end %>
    <%= link_to "Ver", {:controller => "personascensos", :action => "visualizar", :id=>personascenso.id}, :popup => ['new_window','height=500,width=800,scrollbars=yes'], :class=>"verlink"%>
    </div></td>
 </tr>
</table>
<% else %>
      <fieldset>
      <table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr>
    <td  height="30"><div class="col_enc">EDITAR</div></td>
  </tr>
  </table>
    <tr class="<%=cycle('even1', 'odd1')%>" id="personascenso_<%=@personascenso.id%>">
      <%= render :partial => "personascensos_form" %>
    </tr>
    </fieldset>
<% end %>
        <% end %>
<% else %>
<table width="40%" border="0" cellpadding="0" align="center" cellspacing="0" bgcolor="#E5E5E5">
      <tr>
        <td width="10%"><div align="right"><img src="/images/alerta.png"></div></td>
        <td width="90%" class="campos">&nbsp;&nbsp;No hay datos asociados.</td>
     </tr>
</table>
<% end %>
            <%= hidden_field :persona, :id %>
<% end %>
<br/>
<% if flash[:personascenso] %>
<div id="personascenso">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#E5E5E5">
   <tr>
        <td width="5%"><div align="right"><img src="/images/connect.png"></div></td>
        <td width="95%" align="left" class="campos">&nbsp;&nbsp;<%= flash[:personascenso] %></td>
   </tr>
  </table>
</div>
<script type="text/javascript">
  setTimeout("new Effect.Fade('personascenso');", 5000)
</script>
<% end %>
</fieldset>


