   <%= stylesheet_link_tag 'scaffold'%>
<table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr>
    <td  height="30"><div class="col_enc">INFORME CENSO PUENTE 94- 95 - <%=@personascenso.persona.autobuscar rescue nil %></div></td>
  </tr>
</table>
<br/><div align="center">
<table width="90%" border="0" cellpadding="2" cellspacing="2">
  <tr class="odd1">
    <td width="30%" valign="middle" class="campos"><div align="left">Tipo de tenencia</div></td>
    <td width="70%" class="camposDesc"><div align="left"><%=@personascenso.tipotenencia%></div></td>
  </tr>
  <tr>
    <td valign="middle" class="campos"><div align="left">Habita la vivienda</div></td>
    <td class="camposDesc"><div align="left"><%=@personascenso.habita_vivienda%></div></td>
  </tr>
  <tr class="odd1">
    <td valign="middle" class="campos"><div align="left">Unipersonal</div></td>
    <td class="camposDesc"><div align="left"><%=@personascenso.unipersonal%></div></td>
  </tr>
  <tr>
    <td valign="middle" class="campos"><div align="left">Arrendatarios y/o ocupantes</div></td>
    <td class="camposDesc"><div align="left"><%=@personascenso.arrendatarios%></div></td>
  </tr>
  <tr class="odd1">
    <td valign="middle" class="campos"><div align="left">Cobama</div></td>
    <td class="camposDesc"><div align="left"><%=@personascenso.cobama%></div></td>
  </tr>
  <tr>
    <td valign="middle" class="campos"><div align="left">Matricula edu</div></td>
    <td class="camposDesc"><div align="left"><%=@personascenso.matricula_edu%></div></td>
  </tr>
  <tr class="odd1">
    <td valign="middle" class="campos"><div align="left">Ficha Socieconomia</div></td>
    <td class="camposDesc"><div align="left"><%=@personascenso.ficha%></div></td>
  </tr>
  <tr>
    <td valign="middle" class="campos"><div align="left">Nro de hogares</div></td>
    <td class="camposDesc"><div align="left"><%=@personascenso.nro_hogares%></div></td>
  </tr>
  <tr class="odd1">
    <td valign="middle" class="campos"><div align="left">Faltantes</div></td>
    <td class="camposDesc"><div align="left"><%=@personascenso.faltantes%></div></td>
  </tr>
  <tr>
    <td valign="middle" class="campos"><div align="left">Sub / avaluo</div></td>
    <td class="camposDesc"><div align="left"><%=@personascenso.sub_avaluo%></div></td>
  </tr>
  <tr class="odd1">
    <td valign="middle" class="campos"><div align="left">Avaluo</div></td>
    <td class="camposDesc"><div align="left"><%=@personascenso.avaluo%></div></td>
  </tr>
  <tr>
    <td valign="middle" class="campos"><div align="left">Ptl</div></td>
    <td class="camposDesc"><div align="left"><%=@personascenso.ptl%></div></td>
  </tr>
  <tr class="odd1">
    <td valign="middle" class="campos"><div align="left">Pt</div></td>
    <td class="camposDesc"><div align="left"><%=@personascenso.pt%></div></td>
  </tr>
  <tr>
    <td valign="middle" class="campos"><div align="left">Pae</div></td>
    <td class="camposDesc"><div align="left"><%=@personascenso.pae%></div></td>
  </tr>
  <tr class="odd1">
    <td valign="middle" class="campos"><div align="left">Total</div></td>
    <td class="camposDesc"><div align="left"><%=@personascenso.total%></div></td>
  </tr>
  <tr>
    <td valign="middle" class="campos"><div align="left">Aceptacion de oferta de compra</div></td>
    <td class="camposDesc"><div align="left"><%=@personascenso.aceptacion_ofec%></div></td>
  </tr>
  <tr class="odd1">
    <td valign="middle" class="campos"><div align="left">Opcion isvimed</div></td>
    <td class="camposDesc"><div align="left"><%=@personascenso.opcion_isvimed%></div></td>
  </tr>
  <tr>
    <td valign="middle" class="campos"><div align="left">Social edu</div></td>
    <td class="camposDesc"><div align="left"><%=@personascenso.social_edu%></div></td>
  </tr>
  <tr class="odd1">
    <td valign="middle" class="campos"><div align="left">Notificacion de oferta de compra</div></td>
    <td class="camposDesc"><div align="left"><%=@personascenso.notificacion_ofec%></div></td>
  </tr>
  <tr>
    <td valign="middle" class="campos"><div align="left">Predio</div></td>
    <td class="camposDesc"><div align="left"><%=@personascenso.predio%></div></td>
  </tr>
  <tr class="odd1">
    <td valign="middle" class="campos"><div align="left">Aceptacion de oferta de compra</div></td>
    <td class="camposDesc"><div align="left"><%=@personascenso.acepta_ofe%></div></td>
  </tr>
  <tr>
    <td valign="middle" class="campos"><div align="left">Caso especiales</div></td>
    <td class="camposDesc"><div align="left"><%=@personascenso.caso_especial%></div></td>
  </tr>
</table>
</div>
<br/>
