<p>
  <b>Tiposacto:</b>
  <%=h @tiposactosdocumento.tiposacto %>
</p>

<p>
  <b>Descripcion:</b>
  <%=h @tiposactosdocumento.descripcion %>
</p>

<p>
  <b>User:</b>
  <%=h @tiposactosdocumento.user %>
</p>


<%= link_to 'Edit', edit_tiposactosdocumento_path(@tiposactosdocumento) %> |
<%= link_to 'Back', tiposactosdocumentos_path %>