<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
   <title>...:SIFI:...</title>
    <style type="text/css" media="screen">
      h3 { color: #7185B9; }
      ul { list-style: none; }
      #some-id { font-size:2em; }
      .some-class { color:red; }
    </style>
</head>
<body>
<img src="http://190.0.34.154:3013/images/frame.png"/>
<br/>
<br/>
<div style="font-size:11px; font-family: Tahoma;"><strong>Señor</strong></div>
<br/>
<div style="color:red; font-size:13px; font-family: Tahoma;"><strong><%= @user.nombre %></strong></div>
<br/>
<br/>
<div style="font-size:12px; font-family: Tahoma;">Los siguientes expedientes estan a su cargo y se encuentra vencidos</div>
<br/>
<br/>
  <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
   <tr valign="middle">
      <td width="65%" height="30" style="border:1px solid #000000; font-size: 11px; font-family: Tahoma;"><strong>Beneficiario</strong></td>
      <td width="15%" style="border:1px solid #000000; font-size: 11px; font-family: Tahoma;"><strong>Fecha Vence</strong></td>
      <td width="20%" style="border:1px solid #000000; font-size: 11px; font-family: Tahoma;"><strong>Barrio</strong></td>
    </tr>
    <% @archivosprestamos.each do |archivosprestamo|
       cadena = ""
       cadena2 = ""
       @archivospersonas = Archivospersona.find_all_by_archivo_id(archivosprestamo.archivo_id);
       for archivospersona in @archivospersonas
         if cadena != ""
           cadena = cadena + ' - ' + archivospersona.persona.autobuscar rescue nil
         else
           cadena = archivospersona.persona.autobuscar rescue nil
         end
       end
       @archivosempleados = Archivosempleado.find_all_by_archivo_id(archivosprestamo.archivo_id);
       for archivosempleado in @archivosempleados
         if cadena2 != ""
           cadena2 = cadena2 + ' - ' + archivosempleado.empleado.autobuscar rescue nil
         else
           cadena2 = archivosempleado.empleado.autobuscar rescue nil
         end
       end %>
    <tr valign="middle">
      <td style="border:1px solid #000000; font-size: 11px; font-family: Tahoma;"><%=cadena rescue nil%><%=cadena2 rescue nil%></td>
      <td style="border:1px solid #000000; font-size: 11px; font-family: Tahoma;"><%=archivosprestamo.fecha_vence rescue nil%></td>
      <td style="border:1px solid #000000; font-size: 11px; font-family: Tahoma;"><%=archivosprestamo.archivo.barrio rescue nil%></td>
    </tr>
    <%  end %>
  </table>
<br/>
<br/>
<div style="font-size:12px; font-family: Tahoma;">Estos expedientes deben ser retornados al Archivo Central o solicitar su renovación por 5 dias mas al
  correo correspondencia@isvimed.gov.co</div>
<br/><br/>
<div style="font-size:12px; font-family: Tahoma;">Recuerde que las carpetas deben entregarse sin ganchos y sin notas adicionales</div>
<br/><br/>
<div style="font-size: 11px; font-family: Tahoma;"><strong>S I F I - Sistema de Informacion ISVIMED</strong></div>
<br/>
<strong style="font-size: 11px; font-family: Tahoma;"><%=Time.now.strftime("%Y-%m-%d %X")%></strong>
<br/>
<div style="font-size: 10px; font-family: Tahoma;">
    <strong>***Por favor no conteste este mensaje, ha sido enviado desde un e-mail automático y no recibirá respuesta.***</strong><br/><br/>
    CONFIDENCIAL. La información contenida en este e-mail es confidencial y sólo puede ser utilizada por el individuo o la compañía a la cual está dirigido. Si no es usted el destinatario autorizado, cualquier retención, difusión, distribución o copia de este mensaje está prohibida y es sancionada por la ley. Si por error recibe este mensaje, le ofrecemos disculpas y le agradecemos reenviar y borrar el mensaje recibido inmediatamente.</div>
</body>
</html>
