<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
   <title>...:SIFI:...</title>
    <style type="text/css" media="screen">
      h3 { color: #7185B9; }
      ul { list-style: none; }
      #some-id { font-size:2em; }
      .some-class { color:red; }
    </style>
</head>
<body>
  <table background="http://190.0.34.154:3013/images/frame.png" border="0" cellpadding="0" cellspacing="0" height="65" width="100%">
            <tr valign="middle">
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
 </table>
      <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr valign="middle">
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr valign="middle">
          <td width="20%" style="font-size:1em; font-family: Verdana, Geneva, sans-serif;">Señor(a)</td>
          <td width="80%">&nbsp;</td>
        </tr>
        <tr valign="middle">
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr valign="middle">
          <td colspan="2" style="color:red; font-size:1em; font-family: Verdana, Geneva, sans-serif;"><strong><%= @user.nombre %></strong></td>
        </tr>
        <tr valign="middle">
          <td colspan="2">&nbsp;</td>
        </tr>
        <tr valign="middle">
          <td colspan="2" style="font-size:1em; font-family: Verdana, Geneva, sans-serif;">Usted ha sido invitado a la <strong><%=@comite.comitestipo.descripcion rescue nil%></strong> Nro <strong><%=@comite.nro_comision%></strong> coordinada por el Concejal <strong><%=@comite.concejal%></strong> que se realizará el dia <strong><%=@comite.fecha.strftime("%Y-%m-%d")%></strong>, los demas invitados son:</td>
        </tr>
        <tr valign="middle">
          <td colspan="2">&nbsp;</td>
        </tr>
        <tr valign="middle">
          <td colspan="2">&nbsp;</td>
        </tr>
        <% @comitesresponsables.each do |comitesresponsable| %>
        <tr valign="middle">
          <td colspan="2" style="font-size:1em; font-family: Verdana, Geneva, sans-serif;"><%=comitesresponsable.user.nombre rescue nil%></td>
        </tr>        
        <% end %>
        <tr valign="middle">
          <td colspan="2">&nbsp;</td>
        </tr>
        <tr valign="middle">
          <td colspan="2">&nbsp;</td>
        </tr>
        <tr valign="middle">
          <td colspan="2" style="font-size:1em; font-family: Verdana, Geneva, sans-serif;">El tema de la <strong><%=@comite.comitestipo.descripcion rescue nil%></strong> será <strong>"<%=@comite.temas rescue nil%>"</strong></td>
        </tr>
        <tr valign="middle">
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr valign="middle">
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr valign="middle">
          <td colspan="2" style="font-size:1em; font-family: Verdana, Geneva, sans-serif;"><strong>S I F I - Sistema de Informacion ISVIMED</strong></td>
        </tr>
        <tr valign="middle">
          <td colspan="2" ><strong style="font-size:1em; font-family: Verdana, Geneva, sans-serif;"><%=Time.now.strftime("%Y-%m-%d %X")%></strong></td>
        </tr>
      </table>
<br/><div style="font-size: 11px;">
    <strong>***Por favor no conteste este mensaje, ha sido enviado desde un e-mail automático y no recibirá respuesta.***</strong><br/><br/>
    CONFIDENCIAL. La información contenida en este e-mail es confidencial y sólo puede ser utilizada por el individuo o la compañía a la cual está dirigido. Si no es usted el destinatario autorizado, cualquier retención, difusión, distribución o copia de este mensaje está prohibida y es sancionada por la ley. Si por error recibe este mensaje, le ofrecemos disculpas y le agradecemos reenviar y borrar el mensaje recibido inmediatamente.</div>
</body>
</html>
