<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
   <title>...:SIFI:...</title>
    <style type="text/css" media="screen">
      h3 { color: #7185B9; }
      ul { list-style: none; }
      #some-id { font-size:2em; }
      .some-class { color:red; }
    </style>
</head>
<body>
<img src="http://190.0.34.154:3013/images/frame.png"/>
<br/>
<br/>
<div style="color:red; font-size:13px; font-family: Tahoma;"><strong>ATENCION PQRS</strong></div>
<br/>
<br/>
<div style="font-size:12px; font-family: Tahoma;">El SIFI le informa sobre un PQRS que debe ser revisado y validado por usted</div>
<br/>
<br/>
<div  style="font-size: 11px; font-family: Tahoma;">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
    <tr>
      <td width="40%" height="30" style="border:1px solid #000000; font-size: 11px; font-family: Tahoma;"><strong>Tipo PQRS </strong></td>
      <td width="60%" style="border:1px solid #000000; font-size: 11px; font-family: Tahoma;"><%=@queja.tipopqrs rescue nil%></td>
    </tr>
    <tr>
      <td height="30" style="border:1px solid #000000; font-size: 11px; font-family: Tahoma;"><strong>Identificaci&oacute;n </strong></td>
      <td style="border:1px solid #000000; font-size: 11px; font-family: Tahoma;"><%=@queja.identificacion rescue nil%></td>
    </tr>
    <tr>
      <td height="30" style="border:1px solid #000000; font-size: 11px; font-family: Tahoma;"><strong>Primer Nombre </strong></td>
      <td style="border:1px solid #000000; font-size: 11px; font-family: Tahoma;"><%=@queja.primer_nombre rescue nil%></td>
    </tr>
    <tr>
      <td height="30" style="border:1px solid #000000; font-size: 11px; font-family: Tahoma;"><strong>Segundo Nombre</strong></td>
      <td style="border:1px solid #000000; font-size: 11px; font-family: Tahoma;"><%=@queja.segundo_nombre rescue nil%></td>
    </tr>
    <tr>
      <td height="30" style="border:1px solid #000000; font-size: 11px; font-family: Tahoma;"><strong>Primer Apellido </strong></td>
      <td style="border:1px solid #000000; font-size: 11px; font-family: Tahoma;"><%=@queja.primer_apellido rescue nil%></td>
    </tr>
    <tr>
      <td height="30" style="border:1px solid #000000; font-size: 11px; font-family: Tahoma;"><strong>Segundo Apellido</strong></td>
      <td style="border:1px solid #000000; font-size: 11px; font-family: Tahoma;"><%=@queja.segundo_apellido rescue nil%></td>
    </tr>
    <tr>
      <td height="30" style="border:1px solid #000000; font-size: 11px; font-family: Tahoma;"><strong>Telefono Fijo </strong></td>
      <td style="border:1px solid #000000; font-size: 11px; font-family: Tahoma;"><%=@queja.telefono rescue nil%></td>
    </tr>
    <tr>
      <td height="30" style="border:1px solid #000000; font-size: 11px; font-family: Tahoma;"><strong>Celular </strong></td>
      <td style="border:1px solid #000000; font-size: 11px; font-family: Tahoma;"><%=@queja.celular rescue nil%></td>
    </tr>
    <tr>
      <td height="30" style="border:1px solid #000000; font-size: 11px; font-family: Tahoma;"><strong>Dirección </strong></td>
      <td style="border:1px solid #000000; font-size: 11px; font-family: Tahoma;"><%=@queja.direccion rescue nil%></td>
    </tr>
    <tr>
      <td height="30" style="border:1px solid #000000; font-size: 11px; font-family: Tahoma;"><strong>Correo Electronico </strong></td>
      <td style="border:1px solid #000000; font-size: 11px; font-family: Tahoma;"><%=@queja.email rescue nil%></td>
    </tr>
    <tr>
      <td height="30" style="border:1px solid #000000; font-size: 11px; font-family: Tahoma;"><strong>Comuna</strong></td>
      <td style="border:1px solid #000000; font-size: 11px; font-family: Tahoma;"><%=@queja.comuna.descripcion2 rescue nil%></td>
    </tr>
    <tr>
      <td height="30" style="border:1px solid #000000; font-size: 11px; font-family: Tahoma;"><strong>Motivo de la pregunta, queja, reclamo o sugerencia </strong></td>
      <td style="border:1px solid #000000; font-size: 11px; font-family: Tahoma;"><%=@queja.descripcion rescue nil%></td>
    </tr>
    <tr>
      <td height="30" style="border:1px solid #000000; font-size: 11px; font-family: Tahoma;"><strong>Radicado </strong></td>
      <td style="border:1px solid #000000; font-size: 11px; font-family: Tahoma;">Nro <%=@queja.correspondenciasrecibida.nro_radicado rescue nil%> - Fecha: <%=@queja.correspondenciasrecibida.created_at.strftime("%Y-%m-%d %X") rescue nil%></td>
    </tr>
  </table>
</div>
<br/>
<div style="font-size: 11px; font-family: Tahoma;"><strong>S I F I - Sistema de Informacion ISVIMED</strong></div>
<br/>
<strong style="font-size: 11px; font-family: Tahoma;"><%=Time.now.strftime("%Y-%m-%d %X")%></strong>
<br/>
<div style="font-size: 10px; font-family: Tahoma;">
    Por favor no conteste este mensaje, ha sido enviado desde un e-mail automático y no recibirá respuesta.<br/><br/>
    CONFIDENCIAL. La información contenida en este e-mail es confidencial y sólo puede ser utilizada por el individuo o la compañía a la cual está dirigido. Si no es usted el destinatario autorizado, cualquier retención, difusión, distribución o copia de este mensaje está prohibida y es sancionada por la ley. Si por error recibe este mensaje, le ofrecemos disculpas y le agradecemos reenviar y borrar el mensaje recibido inmediatamente.</div>
</body>
</html>
