<p>
  <b>Feria2009jefe:</b>
  <%=h @feria2009cruce.feria2009jefe_id %>
</p>

<p>
  <b>Nroformulario:</b>
  <%=h @feria2009cruce.nroformulario %>
</p>

<p>
  <b>Baseinformacion:</b>
  <%=h @feria2009cruce.baseinformacion %>
</p>


<%= link_to 'Edit', edit_feria2009cruce_path(@feria2009cruce) %> |
<%= link_to 'Back', feria2009cruces_path %>