<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
<table width="100%" border="0" cellspacing="2" cellpadding="0">
          <tr class="odd1">
          <td width="40%" class="campos">Nombres</td>
          <td width="20%" class="campos">Apto</td>
          <td width="20%" class="campos">Teléfono </td>
        </tr>
          <tr>
            <td width="359"><%= text_field :proyectoscopconsejo, :nombres,{ :class => "campo", :size => 50,
                        :onChange=> "javascript:this.value=this.value.toUpperCase();",
                        :onFocus => "this.style.border='1px solid #f00'",
                        :onBlur => "this.style.border='1px solid #bbb'" } %></td>
            <td width="359"><%= text_field :proyectoscopconsejo, :apto,{ :class => "campo",
                        :onChange=> "javascript:this.value=this.value.toUpperCase();",
                        :onFocus => "this.style.border='1px solid #f00'",
                        :onBlur => "this.style.border='1px solid #bbb'" } %></td>
            <td width="359"><%= text_field :proyectoscopconsejo, :telefono,{ :class => "campo",
                        :onChange=> "javascript:this.value=this.value.toUpperCase();",
                        :onFocus => "this.style.border='1px solid #f00'",
                        :onBlur => "this.style.border='1px solid #bbb'" } %></td>
          </tr>
        </table>
<table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr>
    <td  height="30"><div align="right">
        <div class="uiButton"><img class="img" src="/images/guardar.png"/>&nbsp;&nbsp;<span class="uiButtonText"><%= hidden_field :proyectoscopconsejo, :id %><%= submit_tag "Guardar", :disable_with => "Guardando..."%></span></div>
</div></td>
  </tr>
</table>
      </td>
  </tr>
</table>