<p>
  <b>Proyecto:</b>
  <%=h @proyectosfactibilidad.proyecto_id %>
</p>

<p>
  <b>Tiposfactibilidad:</b>
  <%=h @proyectosfactibilidad.tiposfactibilidad_id %>
</p>

<p>
  <b>Fecha:</b>
  <%=h @proyectosfactibilidad.fecha %>
</p>

<p>
  <b>User:</b>
  <%=h @proyectosfactibilidad.user_id %>
</p>


<%= link_to 'Edit', edit_proyectosfactibilidad_path(@proyectosfactibilidad) %> |
<%= link_to 'Back', proyectosfactibilidades_path %>