<table width="100%" border="0" cellpadding="2" cellspacing="2" align="center">
  <tr>
    <td height="30"><div class="col_enc">INFORMACION DIGITALIZADA</div></td>
  </tr>
  <tr>
    <td height="10"></td>
  </tr>
</table>
<% if permiso("lotesimagen","C").to_s == "S" %>
    <table width="100%" border="0" cellpadding="2" cellspacing="2">
      <tr>
        <td  height="30"><div align="right">
            <div class="uiButton"><img class="img" src="/images/images.png"/>&nbsp;&nbsp;<span class="uiButtonText"><%= link_to 'Cargar Información', new_lote_lotesimagen_path(@lote.id) %></span></div>
    </div></td>
      </tr>
    </table>
<% end %>
<br>
<div align="center">
<% remote_form_for [@lote, @lotesimagen] do |form| %>
<% if !@lotesimagen.id %>
<% end %>
<% if @lote.lotesimagenes.exists? %>
<table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr valign="middle">
    <td width="30%" height="30" class="oce-first" align="left">Descripcion</td>
    <td width="50%" height="30" class="oce-first" align="left">Nombre del Archivo</td>
    <td width="20%" height="20" class="oce-first" align="left">&nbsp;</td>
  </tr>
</table>
  <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0" id="one-column-emphasis">
  <% for lotesimagen in @lote.lotesimagenes.find(:all, :conditions =>['lote_content_type not like ?', '%image%'],:order => 'created_at DESC') %>
   <tr  valign="middle" class="<%=cycle('even1', 'odd1')%>" id="lotesimagen_<%= lotesimagen.id%>">
     <td width="30%" height="30" class="camposDesc" align="left"><%=lotesimagen.descripcion%></td>
     <td width="50%" height="30" class="camposDesc" align="left"><%=lotesimagen.lote_file_name%></td>
     <td width="20%" height="30" class="camposDesc" align="right">
      <%= link_to "Ver", lotesimagen.lote.url(:original, false),
                     { :popup => ['new_window','height=450,width=600,scrollbars=yes'], :class=>"verlink"}%>
       <% if permiso("lotesimagen","E").to_s == "S" %>
               &nbsp;|&nbsp;<%= link_to_remote('Borrar',{:url => lote_lotesimagen_path(@lote, lotesimagen),
                        :method => :delete, :confirm => "¿Seguro?"}, :class=>"borrarlink")%>
       <% end %>
     </td>
   </tr>
  <% end %>
</table>
<br/>
<br/>
<table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
 <% for lotesimagen in @lote.lotesimagenes.find(:all, :conditions =>['lote_content_type like ?', '%image%'],:order => 'created_at DESC') %>
   <tr  valign="middle" class="<%=cycle('even1', 'odd1')%>" id="lotesimagen_<%= lotesimagen.id%>">
     <td width="100%" height="30" class="camposDesc"><div align="center">
        <%= link_to image_tag (lotesimagen.lote.url, :size =>"250x250", :border=>0,
                              :title => "Ver Documento"),
                              lotesimagen.lote.url(:original, false),
                             { :title=>"#{lotesimagen.descripcion}", :popup => ['new_window','height=450,width=600,scrollbars=yes'] }%>
         <br/><%=lotesimagen.descripcion%>  <% if permiso("lotesimagen","E").to_s == "S" %>
               &nbsp;<%= link_to_remote('Borrar',{:url => lote_lotesimagen_path(@lote, lotesimagen),
                        :method => :delete, :confirm => "¿Seguro?"}, :class=>"borrarlink")%>
       <% end %>
               <br/>
       </div>
       </td>
   </tr>
  <% end %>
</table>
<% else %>
<table width="40%" border="0" cellpadding="0" align="center" cellspacing="0" bgcolor="#E5E5E5">
      <tr>
        <td width="10%"><div align="right"><img src="/images/alerta.png"></div></td>
        <td width="90%" align="left" class="campos">&nbsp;&nbsp;No hay datos asociados.</td>
     </tr>
</table>
<% end %>
   <%= hidden_field :lote, :id %>
<% end %>
</div>