<h1>Listing catastrosdatos</h1>

<table>
  <tr>
    <th>Catatro</th>
  </tr>

<% @catastrosdatos.each do |catastrosdato| %>
  <tr>
    <td><%=h catastrosdato.catatro_id %></td>
    <td><%= link_to 'Show', catastrosdato %></td>
    <td><%= link_to 'Edit', edit_catastrosdato_path(catastrosdato) %></td>
    <td><%= link_to 'Destroy', catastrosdato, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New catastrosdato', new_catastrosdato_path %>