<fieldset>
<table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr>
    <td  height="30"><div class="col_enc">RENUNCIAS </div></td>
  </tr>
</table>
<% remote_form_for [@persona, @viviendasrenuncia] do |form| %>

  <% if permiso("viviendasrenuncia","C").to_s == "S" %>
        <% if !@viviendasrenuncia.id %>
	<%= render :partial => "/viviendasrenuncias/viviendasrenuncias_form" %>
    <% end %>
<% end %>
<% if @persona.viviendasrenuncias.exists? %>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr valign="middle">
    <td width="15%" height="30" class="oce-first">Tipo de Renuncia</td>
    <td width="10%" class="oce-first">Fecha</td>
    <td width="10%" class="oce-first">Nro Resolucion</td>
    <td width="30%" class="oce-first">Observaciones</td>
    <td width="35%" class="oce-first">Solucion de Vivienda Anterior</td>
  </tr>
</table>
<% @persona.viviendasrenuncias.each do |viviendasrenuncia| %>
   <% if viviendasrenuncia.id != @viviendasrenuncia.id %>
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" id="one-column-emphasis">
   <tr  valign="middle" class="<%=cycle('even1', 'odd1')%>" id="viviendasrenuncia_<%=viviendasrenuncia.id%>">
    <td width="15%" height="30" class="camposDesc"><%=viviendasrenuncia.tiporenuncia%></td>
    <td width="10%" class="camposDesc"><%=viviendasrenuncia.fecha%></td>
    <td width="10%" class="camposDesc"><%=viviendasrenuncia.nro_resolucion%></td>
    <td width="30%" class="camposDesc"><%=viviendasrenuncia.observaciones%></td>
    <td width="35%" class="camposDesc"><%=viviendasrenuncia.infovivienda%></td>
 </tr>
</table>
<% else %>
      <fieldset>
      <table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr>
    <td  height="30"><div class="col_enc">EDITAR RENUNCIA</div></td>
  </tr>
</table>
    <tr class="<%=cycle('even1', 'odd1')%>" id="viviendasrenuncia_<%=@viviendasrenuncia.id%>">
     <%= render :partial => "viviendasrenuncias_form" %>
    </tr>
    </fieldset>
<% end %>
        <% end %>
<% else %>
<table width="40%" border="0" cellpadding="0" align="center" cellspacing="0" bgcolor="#E5E5E5">
      <tr>
        <td width="10%"><div align="right"><img src="/images/alerta.png"></div></td>
        <td width="90%" class="campos">&nbsp;&nbsp;No hay datos asociados.</td>
     </tr>
</table>
<% end %>
            <%= hidden_field :persona, :id %>
<% end %>
<br/>
<% if flash[:viviendasrenuncia] %>
<div id="subsidio">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#E5E5E5">
   <tr>
        <td width="5%"><div align="right"><img src="/images/connect.png"></div></td>
        <td width="95%" align="left" class="campos">&nbsp;&nbsp;<%= flash[:viviendasrenuncia] %></td>
   </tr>
  </table>
</div>
<script type="text/javascript">
  setTimeout("new Effect.Fade('viviendasrenuncia');", 5000)
</script>
<% end %>
</fieldset>