<h1>Listing feria2009jefes</h1>

<table>
  <tr>
    <th>Nroformulario</th>
    <th></th>
    <th>Documento</th>
    <th>Identificacion</th>
    <th>Primernombre</th>
    <th>Segundonombre</th>
    <th>Primerapellido</th>
    <th>Segundoapellido</th>
    <th>Fecha nacimiento</th>
    <th>Parentesco</th>
    <th>Estadocivil</th>
    <th>Ocupacion</th>
    <th>Condicionespecial</th>
    <th>Condicionfamiliar</th>
    <th>Ingresos mensuales</th>
    <th>Sisben</th>
    <th>Direccion</th>
    <th>Barrio</th>
    <th>Ciudad</th>
    <th>Estrato</th>
    <th>Telefonos1</th>
    <th>Telefonos2</th>
    <th>Celular</th>
    <th>Antiguedad resactual</th>
    <th>Antiguedad mpo</th>
    <th>Poseedor</th>
    <th>Poseedor direccion</th>
    <th>Poseedor barrio</th>
    <th>Poseedor ciudad</th>
    <th>Adquiere vivienda</th>
    <th>Adquiere quien</th>
    <th>Adquiere fecha</th>
    <th>Subsidio familiar</th>
    <th>Subsidio invertido</th>
    <th>Subsidio invertido en</th>
    <th>Subsidio restituido</th>
    <th>Subsidio restituido fecha</th>
    <th>Beneficiario arrtemp</th>
    <th>Organizacion vivienda</th>
    <th>Organizacion cual</th>
    <th>Recursos complementarios</th>
    <th>Recursos programado</th>
    <th>Recursos programado entidad</th>
    <th>Recursos ahorro</th>
    <th>Recursos ahorro entidad</th>
    <th>Recursos credito</th>
    <th>Recursos credito entidad</th>
    <th>Recursos cesantias</th>
    <th>Recursos cesantias entidad</th>
    <th>Recursos donaciones</th>
    <th>Recursos donaciones entidad</th>
    <th>Recursos nacional</th>
    <th>Recursos nacional fecha</th>
    <th>Recursos nacional resol</th>
    <th>Recursos municipal</th>
    <th>Recursos municipal fecha</th>
    <th>Recursos municipal resol</th>
    <th>Recursos otros</th>
    <th>Recursos otros entidad</th>
    <th>Recursos especie desc</th>
    <th>Recursos especie cuan</th>
    <th>Recursos especie entidad</th>
    <th>Recursos materiales</th>
    <th>Recursos materiales entidad</th>
    <th>Proyecto1</th>
    <th>Proyecto2</th>
    <th>Proyecto3</th>
    <th>Fecha registro</th>
    <th>Usuario</th>
    <th>Caja compensacion</th>
    <th>Entidad beneficio</th>
    <th>Catastro</th>
    <th>Igac</th>
  </tr>

<% @feria2009jefes.each do |feria2009jefe| %>
  <tr>
    <td><%=h feria2009jefe.nroformulario %></td>
    <td><%=h feria2009jefe. %></td>
    <td><%=h feria2009jefe.documento %></td>
    <td><%=h feria2009jefe.identificacion %></td>
    <td><%=h feria2009jefe.primernombre %></td>
    <td><%=h feria2009jefe.segundonombre %></td>
    <td><%=h feria2009jefe.primerapellido %></td>
    <td><%=h feria2009jefe.segundoapellido %></td>
    <td><%=h feria2009jefe.fecha_nacimiento %></td>
    <td><%=h feria2009jefe.parentesco %></td>
    <td><%=h feria2009jefe.estadocivil %></td>
    <td><%=h feria2009jefe.ocupacion %></td>
    <td><%=h feria2009jefe.condicionespecial %></td>
    <td><%=h feria2009jefe.condicionfamiliar %></td>
    <td><%=h feria2009jefe.ingresos_mensuales %></td>
    <td><%=h feria2009jefe.sisben %></td>
    <td><%=h feria2009jefe.direccion %></td>
    <td><%=h feria2009jefe.barrio %></td>
    <td><%=h feria2009jefe.ciudad %></td>
    <td><%=h feria2009jefe.estrato %></td>
    <td><%=h feria2009jefe.telefonos1 %></td>
    <td><%=h feria2009jefe.telefonos2 %></td>
    <td><%=h feria2009jefe.celular %></td>
    <td><%=h feria2009jefe.antiguedad_resactual %></td>
    <td><%=h feria2009jefe.antiguedad_mpo %></td>
    <td><%=h feria2009jefe.poseedor %></td>
    <td><%=h feria2009jefe.poseedor_direccion %></td>
    <td><%=h feria2009jefe.poseedor_barrio %></td>
    <td><%=h feria2009jefe.poseedor_ciudad %></td>
    <td><%=h feria2009jefe.adquiere_vivienda %></td>
    <td><%=h feria2009jefe.adquiere_quien %></td>
    <td><%=h feria2009jefe.adquiere_fecha %></td>
    <td><%=h feria2009jefe.subsidio_familiar %></td>
    <td><%=h feria2009jefe.subsidio_invertido %></td>
    <td><%=h feria2009jefe.subsidio_invertido_en %></td>
    <td><%=h feria2009jefe.subsidio_restituido %></td>
    <td><%=h feria2009jefe.subsidio_restituido_fecha %></td>
    <td><%=h feria2009jefe.beneficiario_arrtemp %></td>
    <td><%=h feria2009jefe.organizacion_vivienda %></td>
    <td><%=h feria2009jefe.organizacion_cual %></td>
    <td><%=h feria2009jefe.recursos_complementarios %></td>
    <td><%=h feria2009jefe.recursos_programado %></td>
    <td><%=h feria2009jefe.recursos_programado_entidad %></td>
    <td><%=h feria2009jefe.recursos_ahorro %></td>
    <td><%=h feria2009jefe.recursos_ahorro_entidad %></td>
    <td><%=h feria2009jefe.recursos_credito %></td>
    <td><%=h feria2009jefe.recursos_credito_entidad %></td>
    <td><%=h feria2009jefe.recursos_cesantias %></td>
    <td><%=h feria2009jefe.recursos_cesantias_entidad %></td>
    <td><%=h feria2009jefe.recursos_donaciones %></td>
    <td><%=h feria2009jefe.recursos_donaciones_entidad %></td>
    <td><%=h feria2009jefe.recursos_nacional %></td>
    <td><%=h feria2009jefe.recursos_nacional_fecha %></td>
    <td><%=h feria2009jefe.recursos_nacional_resol %></td>
    <td><%=h feria2009jefe.recursos_municipal %></td>
    <td><%=h feria2009jefe.recursos_municipal_fecha %></td>
    <td><%=h feria2009jefe.recursos_municipal_resol %></td>
    <td><%=h feria2009jefe.recursos_otros %></td>
    <td><%=h feria2009jefe.recursos_otros_entidad %></td>
    <td><%=h feria2009jefe.recursos_especie_desc %></td>
    <td><%=h feria2009jefe.recursos_especie_cuan %></td>
    <td><%=h feria2009jefe.recursos_especie_entidad %></td>
    <td><%=h feria2009jefe.recursos_materiales %></td>
    <td><%=h feria2009jefe.recursos_materiales_entidad %></td>
    <td><%=h feria2009jefe.proyecto1 %></td>
    <td><%=h feria2009jefe.proyecto2 %></td>
    <td><%=h feria2009jefe.proyecto3 %></td>
    <td><%=h feria2009jefe.fecha_registro %></td>
    <td><%=h feria2009jefe.usuario %></td>
    <td><%=h feria2009jefe.caja_compensacion %></td>
    <td><%=h feria2009jefe.entidad_beneficio %></td>
    <td><%=h feria2009jefe.catastro %></td>
    <td><%=h feria2009jefe.igac %></td>
    <td><%= link_to 'Show', feria2009jefe %></td>
    <td><%= link_to 'Edit', edit_feria2009jefe_path(feria2009jefe) %></td>
    <td><%= link_to 'Destroy', feria2009jefe, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New feria2009jefe', new_feria2009jefe_path %>