<p>
  <b>Nroformulario:</b>
  <%=h @feria2009jefe.nroformulario %>
</p>

<p>
  <b>:</b>
  <%=h @feria2009jefe. %>
</p>

<p>
  <b>Documento:</b>
  <%=h @feria2009jefe.documento %>
</p>

<p>
  <b>Identificacion:</b>
  <%=h @feria2009jefe.identificacion %>
</p>

<p>
  <b>Primernombre:</b>
  <%=h @feria2009jefe.primernombre %>
</p>

<p>
  <b>Segundonombre:</b>
  <%=h @feria2009jefe.segundonombre %>
</p>

<p>
  <b>Primerapellido:</b>
  <%=h @feria2009jefe.primerapellido %>
</p>

<p>
  <b>Segundoapellido:</b>
  <%=h @feria2009jefe.segundoapellido %>
</p>

<p>
  <b>Fecha nacimiento:</b>
  <%=h @feria2009jefe.fecha_nacimiento %>
</p>

<p>
  <b>Parentesco:</b>
  <%=h @feria2009jefe.parentesco %>
</p>

<p>
  <b>Estadocivil:</b>
  <%=h @feria2009jefe.estadocivil %>
</p>

<p>
  <b>Ocupacion:</b>
  <%=h @feria2009jefe.ocupacion %>
</p>

<p>
  <b>Condicionespecial:</b>
  <%=h @feria2009jefe.condicionespecial %>
</p>

<p>
  <b>Condicionfamiliar:</b>
  <%=h @feria2009jefe.condicionfamiliar %>
</p>

<p>
  <b>Ingresos mensuales:</b>
  <%=h @feria2009jefe.ingresos_mensuales %>
</p>

<p>
  <b>Sisben:</b>
  <%=h @feria2009jefe.sisben %>
</p>

<p>
  <b>Direccion:</b>
  <%=h @feria2009jefe.direccion %>
</p>

<p>
  <b>Barrio:</b>
  <%=h @feria2009jefe.barrio %>
</p>

<p>
  <b>Ciudad:</b>
  <%=h @feria2009jefe.ciudad %>
</p>

<p>
  <b>Estrato:</b>
  <%=h @feria2009jefe.estrato %>
</p>

<p>
  <b>Telefonos1:</b>
  <%=h @feria2009jefe.telefonos1 %>
</p>

<p>
  <b>Telefonos2:</b>
  <%=h @feria2009jefe.telefonos2 %>
</p>

<p>
  <b>Celular:</b>
  <%=h @feria2009jefe.celular %>
</p>

<p>
  <b>Antiguedad resactual:</b>
  <%=h @feria2009jefe.antiguedad_resactual %>
</p>

<p>
  <b>Antiguedad mpo:</b>
  <%=h @feria2009jefe.antiguedad_mpo %>
</p>

<p>
  <b>Poseedor:</b>
  <%=h @feria2009jefe.poseedor %>
</p>

<p>
  <b>Poseedor direccion:</b>
  <%=h @feria2009jefe.poseedor_direccion %>
</p>

<p>
  <b>Poseedor barrio:</b>
  <%=h @feria2009jefe.poseedor_barrio %>
</p>

<p>
  <b>Poseedor ciudad:</b>
  <%=h @feria2009jefe.poseedor_ciudad %>
</p>

<p>
  <b>Adquiere vivienda:</b>
  <%=h @feria2009jefe.adquiere_vivienda %>
</p>

<p>
  <b>Adquiere quien:</b>
  <%=h @feria2009jefe.adquiere_quien %>
</p>

<p>
  <b>Adquiere fecha:</b>
  <%=h @feria2009jefe.adquiere_fecha %>
</p>

<p>
  <b>Subsidio familiar:</b>
  <%=h @feria2009jefe.subsidio_familiar %>
</p>

<p>
  <b>Subsidio invertido:</b>
  <%=h @feria2009jefe.subsidio_invertido %>
</p>

<p>
  <b>Subsidio invertido en:</b>
  <%=h @feria2009jefe.subsidio_invertido_en %>
</p>

<p>
  <b>Subsidio restituido:</b>
  <%=h @feria2009jefe.subsidio_restituido %>
</p>

<p>
  <b>Subsidio restituido fecha:</b>
  <%=h @feria2009jefe.subsidio_restituido_fecha %>
</p>

<p>
  <b>Beneficiario arrtemp:</b>
  <%=h @feria2009jefe.beneficiario_arrtemp %>
</p>

<p>
  <b>Organizacion vivienda:</b>
  <%=h @feria2009jefe.organizacion_vivienda %>
</p>

<p>
  <b>Organizacion cual:</b>
  <%=h @feria2009jefe.organizacion_cual %>
</p>

<p>
  <b>Recursos complementarios:</b>
  <%=h @feria2009jefe.recursos_complementarios %>
</p>

<p>
  <b>Recursos programado:</b>
  <%=h @feria2009jefe.recursos_programado %>
</p>

<p>
  <b>Recursos programado entidad:</b>
  <%=h @feria2009jefe.recursos_programado_entidad %>
</p>

<p>
  <b>Recursos ahorro:</b>
  <%=h @feria2009jefe.recursos_ahorro %>
</p>

<p>
  <b>Recursos ahorro entidad:</b>
  <%=h @feria2009jefe.recursos_ahorro_entidad %>
</p>

<p>
  <b>Recursos credito:</b>
  <%=h @feria2009jefe.recursos_credito %>
</p>

<p>
  <b>Recursos credito entidad:</b>
  <%=h @feria2009jefe.recursos_credito_entidad %>
</p>

<p>
  <b>Recursos cesantias:</b>
  <%=h @feria2009jefe.recursos_cesantias %>
</p>

<p>
  <b>Recursos cesantias entidad:</b>
  <%=h @feria2009jefe.recursos_cesantias_entidad %>
</p>

<p>
  <b>Recursos donaciones:</b>
  <%=h @feria2009jefe.recursos_donaciones %>
</p>

<p>
  <b>Recursos donaciones entidad:</b>
  <%=h @feria2009jefe.recursos_donaciones_entidad %>
</p>

<p>
  <b>Recursos nacional:</b>
  <%=h @feria2009jefe.recursos_nacional %>
</p>

<p>
  <b>Recursos nacional fecha:</b>
  <%=h @feria2009jefe.recursos_nacional_fecha %>
</p>

<p>
  <b>Recursos nacional resol:</b>
  <%=h @feria2009jefe.recursos_nacional_resol %>
</p>

<p>
  <b>Recursos municipal:</b>
  <%=h @feria2009jefe.recursos_municipal %>
</p>

<p>
  <b>Recursos municipal fecha:</b>
  <%=h @feria2009jefe.recursos_municipal_fecha %>
</p>

<p>
  <b>Recursos municipal resol:</b>
  <%=h @feria2009jefe.recursos_municipal_resol %>
</p>

<p>
  <b>Recursos otros:</b>
  <%=h @feria2009jefe.recursos_otros %>
</p>

<p>
  <b>Recursos otros entidad:</b>
  <%=h @feria2009jefe.recursos_otros_entidad %>
</p>

<p>
  <b>Recursos especie desc:</b>
  <%=h @feria2009jefe.recursos_especie_desc %>
</p>

<p>
  <b>Recursos especie cuan:</b>
  <%=h @feria2009jefe.recursos_especie_cuan %>
</p>

<p>
  <b>Recursos especie entidad:</b>
  <%=h @feria2009jefe.recursos_especie_entidad %>
</p>

<p>
  <b>Recursos materiales:</b>
  <%=h @feria2009jefe.recursos_materiales %>
</p>

<p>
  <b>Recursos materiales entidad:</b>
  <%=h @feria2009jefe.recursos_materiales_entidad %>
</p>

<p>
  <b>Proyecto1:</b>
  <%=h @feria2009jefe.proyecto1 %>
</p>

<p>
  <b>Proyecto2:</b>
  <%=h @feria2009jefe.proyecto2 %>
</p>

<p>
  <b>Proyecto3:</b>
  <%=h @feria2009jefe.proyecto3 %>
</p>

<p>
  <b>Fecha registro:</b>
  <%=h @feria2009jefe.fecha_registro %>
</p>

<p>
  <b>Usuario:</b>
  <%=h @feria2009jefe.usuario %>
</p>

<p>
  <b>Caja compensacion:</b>
  <%=h @feria2009jefe.caja_compensacion %>
</p>

<p>
  <b>Entidad beneficio:</b>
  <%=h @feria2009jefe.entidad_beneficio %>
</p>

<p>
  <b>Catastro:</b>
  <%=h @feria2009jefe.catastro %>
</p>

<p>
  <b>Igac:</b>
  <%=h @feria2009jefe.igac %>
</p>


<%= link_to 'Edit', edit_feria2009jefe_path(@feria2009jefe) %> |
<%= link_to 'Back', feria2009jefes_path %>