<p>
  <b>Plan:</b>
  <%=h @planespago.plan_id %>
</p>

<p>
  <b>Fecha:</b>
  <%=h @planespago.fecha %>
</p>

<p>
  <b>Valor:</b>
  <%=h @planespago.valor %>
</p>


<%= link_to 'Edit', edit_planespago_path(@planespago) %> |
<%= link_to 'Back', planespagos_path %>