<p>
  <b>Feria2010jefe:</b>
  <%=h @feria2010calificacionrecurso.feria2010jefe_id %>
</p>

<p>
  <b>Nroformulario:</b>
  <%=h @feria2010calificacionrecurso.nroformulario %>
</p>

<p>
  <b>Calificacion:</b>
  <%=h @feria2010calificacionrecurso.calificacion %>
</p>

<p>
  <b>Puntaje:</b>
  <%=h @feria2010calificacionrecurso.puntaje %>
</p>


<%= link_to 'Edit', edit_feria2010calificacionrecurso_path(@feria2010calificacionrecurso) %> |
<%= link_to 'Back', feria2010calificacionrecursos_path %>