<p>
  <b>Certificado:</b>
  <%=h @archivospazysalvo.certificado %>
</p>

<p>
  <b>Userautoriza:</b>
  <%=h @archivospazysalvo.userautoriza %>
</p>

<p>
  <b>Userpazysalvo:</b>
  <%=h @archivospazysalvo.userpazysalvo %>
</p>

<p>
  <b>Anno:</b>
  <%=h @archivospazysalvo.anno %>
</p>


<%= link_to 'Edit', edit_archivospazysalvo_path(@archivospazysalvo) %> |
<%= link_to 'Back', archivospazysalvos_path %>