<p>
  <b>Capitulo:</b>
  <%=h @listaspago.capitulo %>
</p>

<p>
  <b>Descripcion:</b>
  <%=h @listaspago.descripcion %>
</p>

<p>
  <b>Orden:</b>
  <%=h @listaspago.orden %>
</p>


<%= link_to 'Edit', edit_listaspago_path(@listaspago) %> |
<%= link_to 'Back', listaspagos_path %>