<div align="center">
<table width="800" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
<%=image_tag("frame.png")%>
      <table width="100%" border="0" cellpadding="2" align="center" cellspacing="2">
      <tr>
        <td width="10%" height="30"><div align="right"><a href="javascript:window.print()" class="imprimirlink">Imprimir</a></div></td>
      </tr>
    </table>
    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td height="0" class="campos"><div align="center">INSTITUTO SOCIAL DE VIVIENDA Y HABITAT DE MEDELLIN - ISVIMED
              <br/>SALIDAS DEL ALMACEN</div></td>
        </tr>
    </table>
    <br/>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"class="sample">
  <tr class="odd1">
    <td width="5%" class="campos"><div align="center">Nro.</div></td>
    <td width="50%" class="campos">Producto</td>
    <td width="10%" class="campos"><div align="center">Cant Entregada</div></td>
    <td width="15%" class="campos"><div align="center">Valor Unitario</div></td>
    <td width="15%" class="campos"><div align="center">Valor Total</div></td>
  </tr>
<% i = 0
  for almacenessolicitud in @almacenessolicitudes
    i = i + 1
    @id      = almacenessolicitud.consecutivo
    @fecha   = almacenessolicitud.fecha_envio.strftime("%Y-%m-%d").to_s
    @usuario = almacenessolicitud.user.nombre.to_s rescue nil
    @lastsal = almacenessolicitud.nro_salida rescue nil
%>
  <tr class="<%=cycle('even1', 'odd1')%> postS_<%=almacenessolicitud.id%>">
    <td class="camposDesc"><div align="center"><%=i %></div></td>
    <td class="camposDesc"><%=h almacenessolicitud.producto.descripcion rescue nil%></td>
    <td class="camposDesc"><div align="center"><%=h almacenessolicitud.cantreal rescue nil %></div></td>
    <td class="camposDesc"><div align="center"><%=camponumerico(almacenessolicitud.valor_unitario.to_i) rescue nil %></div></td>
    <td class="camposDesc"><div align="center"><%=camponumerico(almacenessolicitud.valor_total.to_i) rescue nil %></div></td>

  </tr>
<% end %>
</table>
<br/><br/><br/>
<table width="50%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="0" class="campos">_______________________________________________</td>
      </tr>
      <tr>
        <td height="20" class="campos"><%=@usuario%>&nbsp;<br/>Solicitud Nro : <%=@id%><br/>
                                                               Fecha Solicitud : <%=@fecha%><br/>
                                                               SALIDA NRO : <%=@lastsal rescue nil%><br/></td>
      </tr>
    </table>
<br/>
    <div align="justify" style="font-family: Tahoma; font-size: 10px;"> S I F I - Sistema de Informacion ISVIMED - <%=User.find(is_admin).nombre rescue nil%> - <%=Time.now().strftime("%Y-%m-%d %H:%M:%S")%> - <a href="javascript:window.print()" class="imprimirlink">Imprimir</a></div>
    <br/>
    </td>
  </tr>
</table>
</div>