<h1>Listing etapasprocesos</h1>

<table>
  <tr>
    <th>Descripcion</th>
  </tr>

<% @etapasprocesos.each do |etapasproceso| %>
  <tr>
    <td><%=h etapasproceso.descripcion %></td>
    <td><%= link_to 'Show', etapasproceso %></td>
    <td><%= link_to 'Edit', edit_etapasproceso_path(etapasproceso) %></td>
    <td><%= link_to 'Destroy', etapasproceso, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New etapasproceso', new_etapasproceso_path %>