</form>
<div align="left"><table width="100%" border="0" cellpadding="2" cellspacing="2" align="center">
  <tr>
    <td height="30"><div class="col_enc">PERSONAS VINCULADAS</div></td>
  </tr>
  <tr>
    <td height="10"></td>
  </tr>
</table>
  </div>
<% remote_form_for [@resolucion, @resolucionespersona] do |form| %>
   <% if !@resolucionespersona.id %>
      <% if permiso("resolucionespersona","C").to_s == "S" %>
	<%= render :partial => "/resolucionespersonas/resolucionespersonas_form" %>
      <% end %>
   <% end %>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" id="one-column-emphasis">
  <tr valign="middle">
    <td width="35%" height="30" class="oce-first">Persona Vinculada</td>
    <td width="10%" height="30" class="oce-first"><div align="center">Valor Sub.<p></p>Dinero</div></td>
    <td width="10%" height="30" class="oce-first"><div align="center">Valor Sub.<p></p>Especie</div></td>
    <td width="10%" height="30" class="oce-first"><div align="center">Valor Recon.<p></p>Mejoras</div></td>
    <td width="10%" height="30" class="oce-first"><div align="center">Valor <p></p>Credito</div></td>
    <td width="10%" height="30" class="oce-first"><div align="center">Valor <p></p>Escrituración</div></td>
    <td width="10%" height="30" class="oce-first"><div align="center">Valor <p></p>Arrendamiento</div></td>
    <td width="5%" height="30" class="oce-first"></td>
  </tr>
<% for resolucionespersona in @resolucion.resolucionespersonas.search(@resolucion.pag.to_i) %>
   <% if resolucionespersona.id != @resolucionespersona.id %>
   <tr  valign="middle" class="<%=cycle('even1', 'odd1')%>"  id="resolucionespersona_<%=resolucionespersona.id%>">
     <td height="30" class="camposDesc"><%=resolucionespersona.persona.autobuscar rescue nil%></td>
     <td class="camposDesc"><div align="center"><%=number_to_currency(resolucionespersona.subsidio_dinero,{:precision => 0, :unit=>"", :delimiter =>"."})%></div></td>
     <td class="camposDesc"><div align="center"><%=number_to_currency(resolucionespersona.subsidio_especie,{:precision => 0, :unit=>"", :delimiter =>"."})%></div></td>
     <td class="camposDesc"><div align="center"><%=number_to_currency(resolucionespersona.subsidio_mejoras,{:precision => 0, :unit=>"", :delimiter =>"."})%></div></td>
     <td class="camposDesc"><div align="center"><%=number_to_currency(resolucionespersona.credito,{:precision => 0, :unit=>"", :delimiter =>"."})%></div></td>
     <td class="camposDesc"><div align="center"><%=number_to_currency(resolucionespersona.titulacion,{:precision => 0, :unit=>"", :delimiter =>"."})%></div></td>
     <td class="camposDesc"><div align="center"><%=number_to_currency(resolucionespersona.arrendamiento,{:precision => 0, :unit=>"", :delimiter =>"."})%></div></td>
     <td class="camposDesc"><div align="center">
        <% if permiso("resolucionespersona","A").to_s == "S" %>
          <%= link_to_remote(image_tag("editar.png"),{:url => edit_resolucion_resolucionespersona_path(@resolucion, resolucionespersona),:method => :get})%>
        <% end %>
        <% if permiso("resolucionespersona","E").to_s == "S" %>
          <%= link_to_remote(image_tag("borrar.png"),{:url =>resolucion_resolucionespersona_path(@resolucion, resolucionespersona),:method => :delete, :confirm => "¿Seguro?"})%>
      <% end %></div></td>
       </tr>
   <% if resolucionespersona.observacion.to_s != "" %>
   <tr  valign="middle">
     <td height="0" colspan="8" align="left" class="camposDesc">
       <table width="100%" border="0" cellspacing="0" cellpadding="0">
       <tr>
         <td width="15%" class="oce-first">Observacion:</td>
         <td width="85%" class="camposDesc"><div align="justify"><%=resolucionespersona.observacion%></div></td>
       </tr>
     </table></td>
    </tr>
    <% end %>
     <% if resolucionespersona.persona.beneviviendas.exists? %>
       <tr>
          <td colspan="8">
            <div align="center">
            <table width="70%" border="0" cellspacing="0" cellpadding="0">
            <tr>
            <td width="90%" align="left" height="20" class="oce-first">Beneficiario </td>
            <td width="10%" align="left" height="20" class="oce-first"> </td>
            </tr>
             <% resolucionespersona.persona.beneviviendas.each do |benevivienda| %>
            <tr>
            <td align="left" class="camposDesc"><%=benevivienda.identificacion rescue nil%> -
            <%=benevivienda.primer_nombre rescue nil%> <%=benevivienda.segundo_nombre rescue nil%> <%=benevivienda.primer_apellido rescue nil%> <%=benevivienda.segundo_apellido rescue nil%></td>
            <td align="left" class="camposDesc">
              <% if permiso("resolucionespersona","E").to_s == "S" %>
                <%=link_to image_tag("borrar.png"), {:controller=>"resolucionespersonas", :action=>"destroybeneficiario", :idresol=>@resolucion.id, :idbene=>benevivienda.id}, :confirm => "¿Seguro que desea desvincular este beneficiario?"%>
              <% end %>
            </td>
            </tr>
             <% end %>
            </table>
            </div>
        </td>
     </tr>
     <% end %>
     <% if Antbenevivienda.exists?(["persona_id = ? and resolucion_id = ?", resolucionespersona.persona_id, @resolucion.id]) == true %>
     <tr>
        <td colspan="8">
            <div align="center">
            <table width="70%" border="0" cellspacing="0" cellpadding="0">
            <tr>
            <td width="90%" align="left" height="20" class="oce-first">Beneficiario Eliminados de la Resolucion</td>
            </tr>
             <% resolucionespersona.persona.antbeneviviendas.each do |antbenevivienda|
                if antbenevivienda.resolucion_id == @resolucion.id
             %>
            <tr>
            <td align="left" class="camposDesc"><%=antbenevivienda.identificacion rescue nil%> -
            <%=antbenevivienda.primer_nombre rescue nil%> <%=antbenevivienda.segundo_nombre rescue nil%> <%=antbenevivienda.primer_apellido rescue nil%> <%=antbenevivienda.segundo_apellido rescue nil%></td>
            </tr>
                <% end %>
             <% end %>
            </table>
            </div>
        </td>
     </tr>
     <% end %>
<% else %>
      <table width="100%" height="0" align="center" border="0" cellpadding="0" cellspacing="0">
        <tr><td height="10"><div class="col_enc"></div></td></tr>
      </table><br/>
      <table width="100%" border="0" cellpadding="2" cellspacing="2"><tr><td height="30"><div class="col_enc">EDITAR RESOLUCIONES</div></td></tr></table>
       <%= render :partial => "resolucionespersonas_form" %>
      <table width="100%" height="0" align="center" border="0" cellpadding="0" cellspacing="0">
        <tr><td height="10"><div class="col_enc"></div></td></tr>
      </table>
      <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" id="one-column-emphasis">
<% end %>
        <% end %>
</table>
<%= hidden_field :resolucion, :id %>
<% end %>
<br/>
<% if flash[:resolucionespersona] %>
<div id="resolucionespersona">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#E5E5E5">
   <tr>
        <td width="5%"><div align="right"><img src="/images/connect.png"/></div></td>
        <td width="95%" align="left" class="campos">&nbsp;&nbsp;<%= flash[:resolucionespersona] %></td>
   </tr>
  </table>
</div>
<script type="text/javascript">
  setTimeout("new Effect.Fade('resolucionespersona');", 5000)
</script>
<% end %>
<table width="100%" height="0" align="center" border="0" cellpadding="0" cellspacing="0">
  <tr><td height="10"><hr size="1" noshade class="hrlinea"/></td></tr>
</table>
<div id="pagination" align="center" class="camposDesc"><%= will_paginate @resolucion.resolucionespersonas.search(@resolucion.pag.to_i), :previous_label =>"Anterior", :next_label =>"Siguiente »" %></div>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr valign="middle">
    <td width="100%" height="30" class="camposDescN"><div align="center">Nro Total de Registro : <%=@resolucion.resolucionespersonas.count%></div></td>
  </tr>
</table>

