<% form_for @user do |f| %>
<%= f.error_messages %>
<br/>
<table width="90%" align="center" id="one-column-emphasis">
  <tr>
    <td class="campos" width="294" height="30">Nombre</td>
    <td width="664"><%= f.text_field :nombre,{ :class => "campo", :size => "80",
                  :onChange=> "javascript:this.value=this.value.toUpperCase();",
                  :onFocus => "this.style.border='1px solid #f00'",
                  :onBlur => "this.style.border='1px solid #bbb'" } %></td>
  </tr>
  <tr>
    <td class="campos" width="294" height="30">Usuario</td>
    <td width="664"><%= f.text_field :username,{ :class => "campo",
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" } %></td>
  </tr>
  <tr>
    <td class="campos" height="30">Clave</td>
    <td><%= f.password_field :password,{ :class => "campo",
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" } %></td>
  </tr>
    <tr>
    <td class="campos" height="30">Confirmación de clave</td>
    <td><%= f.password_field :password_confirmation,{ :class => "campo",
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" } %></td>
  </tr>
    <tr>
    <td class="campos" height="30">Email</td>
    <td><%= f.text_field :email,{ :class => "campo",
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" } %></td>
  </tr>
  <tr>
    <td class="campos" height="30">Rol</td>
    <td><%= f.label :roles %><br />
    <% for role in User::ROLES %>
      <%= check_box_tag "user[roles][]", role, @user.roles.include?(role) %>
      <%=h role.humanize %><br />
    <% end %>
    <%= hidden_field_tag "user[roles][]", "" %></td>
  </tr>
  <tr>
    <td class="campos" height="30">Dependencia</td>
    <td><%=select("user", "dependencia_id", Dependencia.all.collect {|p| [ p.descripcion, p.id ] }, { :include_blank => true },
      { :style=>"width:300px", :class => "campo", :onFocus => "this.style.border='1px solid #f00'", :onBlur => "this.style.border='1px solid #bbb'" }) %></td>
  </tr>
  <tr>
    <td height="30" colspan="2"><div align="center"><%= f.submit "Enviar" %></div></td>
  </tr>
</table>
   <% end %>