   <%= stylesheet_link_tag 'scaffold'%>
   <%=  javascript_include_tag :defaults %>
<table width="100%" height="40">
      <tr>
        <td>
          <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="3%"><img src="/images/arrendamientotemporalmin.png" width="64" height="64"/></td>
              <td width="94%"><div class="col_enc">BUSCADOR DE ARRENDAMIENTO TEMPORAL</div></td>
              <td width="3%"><div align="right"><%= link_to image_tag('atras.png',
	            { :border=>0, :title => "Buscar"}),ayudas_path %>
                </div></td>
            </tr>
          </table></td>
      </tr>
</table>
<br/>
<table width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="30%" class="oce-first">Informacion Usuario</td>
    <td width="15%" class="oce-first">Tipo Evacuacion</td>
    <td width="15%" class="oce-first">Fase C. Humanitaria</td>
    <td width="15%" class="oce-first">Fecha Remision </td>
    <td width="20%" class="oce-first">Categoria ISVIMED </td>
    <td width="5%" class="oce-first">&nbsp;</td>
  </tr>
<% @agendas.each do |agenda| %>
<tr valign="middle" class="<%=cycle('even1', 'odd1')%>">
    <td class="camposDesc"><%=h agenda.persona.autobuscar rescue nil%></td>
    <td class="camposDesc" align="left"><%#=agenda.tipo_de_evacuacion rescue nil%></td>
    <td class="camposDesc" align="left"><%#=agenda.fase_c_humanitaria rescue nil%></td>
    <td class="camposDesc" align="left"><%#=agenda.fecha_de_remision rescue nil%></td>
    <td class="camposDesc" align="left"><%#=agenda.categorias_isvimed rescue nil%></td>
    <td class="camposDesc"><div align="center">
    <%#= link_to 'Editar', edit_ayuda_path(:id=>agenda, :etapa=>'1'),:class=>"editarlink"%>
      </div></td>
  </tr>
<% end %>
</table>
<table width="80%" height="0" align="center" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="10"><hr size="1" noshade class="hrlinea"/></td>
  </tr>
</table>
<table width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr valign="middle">
    <td width="100%" height="30" class="camposDescN"><div align="center">Nro Total de Registro : <%#= @ayudas.count%></div></td>
  </tr>
</table>