<p>
  <b>Indicador:</b>
  <%=h @indicadoresdato.indicador_id %>
</p>

<p>
  <b>Identificacion:</b>
  <%=h @indicadoresdato.identificacion %>
</p>

<p>
  <b>Nombre:</b>
  <%=h @indicadoresdato.nombre %>
</p>

<p>
  <b>Fecha nacimiento:</b>
  <%=h @indicadoresdato.fecha_nacimiento %>
</p>

<p>
  <b>Genero:</b>
  <%=h @indicadoresdato.genero %>
</p>

<p>
  <b>Grupo etnico:</b>
  <%=h @indicadoresdato.grupo_etnico %>
</p>

<p>
  <b>Especial:</b>
  <%=h @indicadoresdato.especial %>
</p>

<p>
  <b>Comuna:</b>
  <%=h @indicadoresdato.comuna %>
</p>


<%= link_to 'Edit', edit_indicadoresdato_path(@indicadoresdato) %> |
<%= link_to 'Back', indicadoresdatos_path %>