<p>
  <b>Descripcion:</b>
  <%=h @valorizacionesobra.descripcion %>
</p>

<p>
  <b>Valor:</b>
  <%=h @valorizacionesobra.valor %>
</p>

<p>
  <b>Estado:</b>
  <%=h @valorizacionesobra.estado %>
</p>


<%= link_to 'Edit', edit_valorizacionesobra_path(@valorizacionesobra) %> |
<%= link_to 'Back', valorizacionesobras_path %>