<div align="center">
<table width="100%" border="0" cellpadding="2" cellspacing="2" align="center">
  <tr>
    <td height="30" width="100%"><div class="col_enc">INFORMACION CATASTRAL</div></td>
    <td height="30"></td>
  </tr>
</table>
<br/>
<table width="60%" border="0" cellpadding="2" cellspacing="2" align="center">
  <tr class="odd1">
    <th width="50%" class="camposDesc"><div align="left">Nombres Y Apellidos</div></th>
    <td width="50%" class="camposDesc"><%= @catastros2017dato.nombres_compl rescue nil%></td>
  </tr>
  <tr>
    <th width="50%" class="camposDesc"><div align="left">Identificación</div></th>
    <td width="50%" class="camposDesc"><%= @catastros2017dato.identificacion rescue nil%></td>
  </tr>
  <tr class="odd1">
    <th width="50%" class="camposDesc"><div align="left">Tipo Propietario</div></th>
    <td width="50%" class="camposDesc"><%= @catastros2017dato.tipopropietario rescue nil%></td>
  </tr>
  <tr>
    <th width="50%" class="camposDesc"><div align="left">Cod Comuna</div></th>
    <td width="50%" class="camposDesc"><%= @catastros2017dato.codcomuna rescue nil%></td>
  </tr>
  <tr class="odd1">
    <th width="50%" class="camposDesc"><div align="left">Matricula</div></th>
    <td width="50%" class="camposDesc"><%= @catastros2017dato.matricula rescue nil%></td>
  </tr>
  <tr>
    <th width="50%" class="camposDesc"><div align="left">Cod Barrio</div></th>
    <td width="50%" class="camposDesc"><%= @catastros2017dato.codbarrio rescue nil%></td>
  </tr>
  <tr class="odd1">
    <th width="50%" class="camposDesc"><div align="left">CEDCAT</div></th>
    <td width="50%" class="camposDesc"><%= @catastros2017dato.cedcat rescue nil%></td>
  </tr>
  <tr>
    <th width="50%" class="camposDesc"><div align="left">Manzana</div></th>
    <td width="50%" class="camposDesc"><%= @catastros2017dato.manzana rescue nil%></td>
  </tr>
  <tr class="odd1">
    <th width="50%" class="camposDesc"><div align="left">Cobama</div></th>
    <td width="50%" class="camposDesc"><%= @catastros2017dato.cbml rescue nil%></td>
  </tr>
  <tr>
    <th width="50%" class="camposDesc"><div align="left">Area - Lote</div></th>
    <td width="50%" class="camposDesc"><%= @catastros2017dato.arealote rescue nil%></td>
  </tr>
  <tr class="odd1">
    <th width="50%" class="camposDesc"><div align="left">Estrato</div></th>
    <td width="50%" class="camposDesc"><%= @catastros2017dato.estrato rescue nil%></td>
  </tr>
  <tr>
    <th width="50%" class="camposDesc"><div align="left">Area Cons</div></th>
    <td width="50%" class="camposDesc"><%= @catastros2017dato.areacons rescue nil%></td>
  </tr>
  <tr class="odd1">
    <th width="50%" class="camposDesc"><div align="left">Num Pisos</div></th>
    <td width="50%" class="camposDesc"><%= @catastros2017dato.numpisos rescue nil%></td>
  </tr>
  <tr>
    <th width="50%" class="camposDesc"><div align="left">Relacion Prop</div></th>
    <td width="50%" class="camposDesc"><%= @catastros2017dato.relacionprop rescue nil%></td>
  </tr>
  <tr class="odd1">
    <th width="50%" class="camposDesc"><div align="left">Dirección</div></th>
    <td width="50%" class="camposDesc"><%= @catastros2017dato.direccionencasillada rescue nil%></td>
  </tr>
  <tr>
    <th width="50%" class="camposDesc"><div align="left">Dirección Especial</div></th>
    <td width="50%" class="camposDesc"><%= @catastros2017dato.direccionespecial rescue nil%></td>
  </tr>
  <tr class="odd1">
    <th width="50%" class="camposDesc"><div align="left">Poder</div></th>
    <td width="50%" class="camposDesc"><%= @catastros2017dato.porder rescue nil%></td>
  </tr>
  </table>
</div>

<br/>
