<div align="center"><table width="80%" border="0" cellpadding="2" cellspacing="2" align="center">
  <tr>
    <td height="30"><div class="col_enc">ASOCIACION DE PERMISOS</div></td>
  </tr>
  <tr>
    <td height="10"></td>
  </tr>
</table>
  </div>
<% remote_form_for [@user, @userspermiso] do |form| %>
<% if !@userspermiso.id %>
	<%= render :partial => "/userspermisos/userspermisos_form" %>
<% end %>
      <div align="center">
<table width="70%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr valign="middle">
    <td width="50%" height="30" class="oce-first">Modulo</td>
    <td width="10%" height="30" class="oce-first"><div align="center">Actualiza</div></td>
    <td width="10%" height="30" class="oce-first"><div align="center">Elimina</div></td>
    <td width="10%" height="30" class="oce-first"><div align="center">Crea</div></td>
    <td width="20%" height="30" class="oce-first"></td>
  </tr>
</table>
<% for userspermiso in @user.userspermisos.find(:all, :order => 'objeto_id') %>
   <% if userspermiso.id != @userspermiso.id %>
  <table width="70%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr class="<%=cycle('even1', 'odd1')%>" id="userspermiso_<%=userspermiso.id%>">
     <td width="50%" class="camposDesc"><%=userspermiso.objeto.descripcion%></td>
     <td width="10%" class="camposDesc"><div align="center"><%=userspermiso.actualiza%></div></td>
     <td width="10%" class="camposDesc"><div align="center"><%=userspermiso.elimina%></div></td>
     <td width="10%" class="camposDesc"><div align="center"><%=userspermiso.crea%></div></td>
     <td width="20%" class="camposDesc"><div align="center">
        <%= link_to_remote('Editar',{:url => edit_user_userspermiso_path(@user, userspermiso),
                        :method => :get}, :class=>"editarlink")%>
        <%= link_to_remote('Borrar',{:url =>user_userspermiso_path(@user, userspermiso),
                        :method => :delete, :confirm => "¿Seguro?"}, :class=>"borrarlink")%>
        </div></td>
 </tr>
</table>
<% else %>
      <fieldset>
      <table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr>
    <td  height="30"><div class="col_enc">EDITAR permisos</div></td>
  </tr>
  </table>
    <tr class="<%=cycle('even1', 'odd1')%>" id="userspermiso_<%=@userspermiso.id%>">
      <%= render :partial => "userspermisos_form" %>
    </tr>
    </fieldset>
<% end %>
<% end %>
        </div>
            <%= hidden_field :user, :id %>
<% end %>