<strong>INFORMACION CONSOLIDADA DEL PROYECTO <%=@proyecto%></strong>
<br/>
<table width="100%" border="1" >
  <tr bgcolor="#00CCFF" valign="middle">
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>ID</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Proyecto</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Identificacion Plano</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Social Asignado </strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Juridico Asignado </strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Sector</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Encuesta</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Cobama</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Matricula</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Comuna</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Barrio</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Manzana</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Lote</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Interior</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Disponibilidad</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Direccion</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Compensacion Economica</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Compensacion Traslado</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Compensacion Tramites Legales</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Valor AVALUO</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Compensacion Arrendatario</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Fecha Solicitud Avaluo </strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Fecha LIMITE </strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Entidad Avaluadora </strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Fecha Avaluo </strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Resolucion Oferta de Compra</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Acepta Oferta Compra</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Resolucion Notificada </strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Resolucion Fecha Notificacion</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Resolucion Fecha Aceptacion </strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Solicitud Revision Avaluo </strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Fecha Solicitud</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Solicitud Resultado </strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Compraventa Firmada </strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Nro Resolucion Oferta de Compra </strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Fecha Resolucion de Compra </strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Nro Resolucion Modificatorias</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Fecha Resolucion Modificatoria </strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Escritura</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Nro Escritura </strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Fecha Escritura</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Notaria</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Expropiacion</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Opcion de Vivienda </strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Estado Vivienda</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Cruce con Ministerio</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Fecha Cruce</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Reasentado</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Fecha Reasentado</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Fecha Inicio Arrendamiento</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Fecha Finalizacion Arrendamiento</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>VU - Fecha Solicitud Certificado Riesgo </strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>VU - Fecha Recibido Certificado Riesgo </strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>VU - Fecha Solicitud Avaluo </strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>VU - Fecha Recibido Avaluo</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>VU - Fecha Remision Banco Inmobiliario</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>VU - Fecha Devolucion  Banco Inmobiliario</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>VU - Fecha Remision Asignacion Subsidio </strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>VU - Fecha Devolucion Asignacion Subsidio</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>VN - Fecha Remision Financiera</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>VN - Fecha Remision Juridica</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Fecha Estimada Liberacion </strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Tratamiento</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Deshabilitado</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Demolido</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Fecha Acta Entrega</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Descargue Catastro</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Fecha Radicado Catastro</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Descargue Catastro - Nro Radicado</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Descargue EPM</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Descargue EPM - Nro Radicado</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Descargue EEVV</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Predio Lote?</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Paga Catastro?</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Fecha Ult Actualizacion</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Usuario Ult Actualizacion</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Estado General</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>ID</strong></td>
    <td width="20%" colspan="2" style="font-size: 11px; font-family: Tahoma;"><strong>Beneficiarios</strong></td>
    <td width="20%" style="font-size: 11px; font-family: Tahoma;"><strong>Telefonos</strong></td>
  </tr>
<% for iguana in @iguanas %>
  <tr>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.id rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.proyecto rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.nro_registro rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.dsocial_asignado rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.djuridico_asignado rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.sector rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.encuesta rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.cobama rescue nil%>&nbsp;</div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.matricula rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.comuna rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.barrio rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.manzana rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.lote rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.interior rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.disponibilidad rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.direccion rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="right"><%=number_to_currency(iguana.valor_compensacion,{:precision => 0, :unit=>"", :delimiter =>"."}) rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="right"><%=number_to_currency(iguana.valor_traslado,{:precision => 0, :unit=>"", :delimiter =>"."}) rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="right"><%=number_to_currency(iguana.valor_tramites,{:precision => 0, :unit=>"", :delimiter =>"."}) rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="right"><%=number_to_currency(iguana.valor_avaluo,{:precision => 0, :unit=>"", :delimiter =>"."}) rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="right"><%=number_to_currency(iguana.valor_arrendatario,{:precision => 0, :unit=>"", :delimiter =>"."}) rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.fecha_sol_avaluo rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.fecha_limite rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.entidad_avaluadora rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.fecha_avaluo rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.dresolucion_ofercompra rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.dacepta_oferta_compra rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.dresolucion_notificada rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.fecha_notificacion rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.resolucion_aceptada rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.dsolicitud_revision_avaluo rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.fecha_sol_rev_avaluo rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.dresultado_revision rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.compraventa_firma rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.nro_resol_compra rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.fecha_resol_compra rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.nro_resol_modif rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.fecha_resol_modif rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.descritura rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.nro_escritura rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.fecha_escritura rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.notaria rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.dexpropiacion rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.opcion_vivienda rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.estado_vivienda rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.dcruzado rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.fecha_cruzado rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.dreasentado rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.fecha_reasentamiento rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.fecha_inicio_arre rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.fecha_fin_arre rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.fecha_sol_riesgo rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.fecha_rec_riesgo rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.fecha_solre_avaluo rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.fecha_rec_avaluo rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.fecha_rem_banco rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.fecha_dev_banco rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.fecha_rem_subsidio rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.fecha_dev_subsidio rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.fecha_rem_financiera rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.fecha_rem_juridica rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.fecha_estimada rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.dtratamiento rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.ddeshabilitado rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.ddemolido rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.fecha_entrega rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.dsolicitud_desccatastro rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.fecha_radicadocatastro rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.radicado_nro rescue nil%>&nbsp;</div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.fecha_epm rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.epm_radicado_nro rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.fecha_eevv rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.dpredio_lote rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.dpaga_catastro rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.updated_at.strftime("%Y-%m-%d %X") rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.duseract_id rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.iguanasestado.descripcion rescue nil%></div></td>
     <td valign="top" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguana.id rescue nil%></div></td>
     <td valign="top" colspan=3" width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left">
<%    if iguana.iguanaspersonas.exists? == true %>
       <table border="1">
<%      iguana.iguanaspersonas.each do |iguanaspersona| %>
           <tr>
            <td width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguanaspersona.persona.identificacion rescue nil%></div></td>
            <td width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguanaspersona.persona.nombres rescue nil%></div></td>
            <td width="5%" style="font-size: 11px; font-family: Tahoma;"><div align="left"><%=iguanaspersona.persona.telefonos rescue nil%></div></td>
           </tr>
<%      end %>
       </table>
<%    end %>
    </div></td>

 </tr>
<% end %>
</table>
