<p>
  <b>Nro registro:</b>
  <%=h @iguana.nro_registro %>
</p>

<p>
  <b>Grupo asignado:</b>
  <%=h @iguana.grupo_asignado %>
</p>

<p>
  <b>Sector:</b>
  <%=h @iguana.sector %>
</p>

<p>
  <b>Encuesta:</b>
  <%=h @iguana.encuesta %>
</p>

<p>
  <b>Cobama:</b>
  <%=h @iguana.cobama %>
</p>

<p>
  <b>Comuna:</b>
  <%=h @iguana.comuna %>
</p>

<p>
  <b>Barrio:</b>
  <%=h @iguana.barrio %>
</p>

<p>
  <b>Manzana:</b>
  <%=h @iguana.manzana %>
</p>

<p>
  <b>Lote:</b>
  <%=h @iguana.lote %>
</p>

<p>
  <b>Interior:</b>
  <%=h @iguana.interior %>
</p>

<p>
  <b>Disponibilidad:</b>
  <%=h @iguana.disponibilidad %>
</p>

<p>
  <b>Matricula:</b>
  <%=h @iguana.matricula %>
</p>

<p>
  <b>Direccion:</b>
  <%=h @iguana.direccion %>
</p>

<p>
  <b>Fecha sol avaluo:</b>
  <%=h @iguana.fecha_sol_avaluo %>
</p>

<p>
  <b>Tiene avaluo:</b>
  <%=h @iguana.tiene_avaluo %>
</p>

<p>
  <b>Entidad avaluadora:</b>
  <%=h @iguana.entidad_avaluadora %>
</p>

<p>
  <b>Fecha avaluo:</b>
  <%=h @iguana.fecha_avaluo %>
</p>

<p>
  <b>Valor avaluo:</b>
  <%=h @iguana.valor_avaluo %>
</p>

<p>
  <b>Solicitud revision avaluo:</b>
  <%=h @iguana.solicitud_revision_avaluo %>
</p>

<p>
  <b>Resultado revision:</b>
  <%=h @iguana.resultado_revision %>
</p>

<p>
  <b>Valor compensacion:</b>
  <%=h @iguana.valor_compensacion %>
</p>

<p>
  <b>Estado:</b>
  <%=h @iguana.estado %>
</p>

<p>
  <b>Caso:</b>
  <%=h @iguana.caso %>
</p>

<p>
  <b>Demolido:</b>
  <%=h @iguana.demolido %>
</p>

<p>
  <b>Aplica subsidio:</b>
  <%=h @iguana.aplica_subsidio %>
</p>

<p>
  <b>Reasentado:</b>
  <%=h @iguana.reasentado %>
</p>

<p>
  <b>Fecha reasentamiento:</b>
  <%=h @iguana.fecha_reasentamiento %>
</p>

<p>
  <b>Demanda libre:</b>
  <%=h @iguana.demanda_libre %>
</p>

<p>
  <b>Opcion vivienda:</b>
  <%=h @iguana.opcion_vivienda %>
</p>

<p>
  <b>Inicio tramite:</b>
  <%=h @iguana.inicio_tramite %>
</p>

<p>
  <b>Resolucion elaborada:</b>
  <%=h @iguana.resolucion_elaborada %>
</p>

<p>
  <b>Resolucion notificada:</b>
  <%=h @iguana.resolucion_notificada %>
</p>

<p>
  <b>Fecha notificacion:</b>
  <%=h @iguana.fecha_notificacion %>
</p>

<p>
  <b>Resolucion aceptada:</b>
  <%=h @iguana.resolucion_aceptada %>
</p>


<%= link_to 'Edit', edit_iguana_path(@iguana) %> |
<%= link_to 'Back', iguanas_path %>