<table width="100%" border="0" cellspacing="2" align="center" cellpadding="0">
        <tr class="odd1">
          <td width="17%"><span class="campos">Fecha Solicitud *</span></td>
          <td width="17%"><span class="campos">Fecha Atención *</span></td>
          <td width="66%"><span class="campos">Obsevación *</span></td>
        </tr>
        <tr>
          <td><%= calendar_date_select "impresorasreporte", "fecha_solicitud", :year_range => select_rangocalendar, :class=> "campo", :size => 16, :time => true, :onfocus=>"this.blur()"%>
          <%= error_message_on :impresorasreporte, :fecha_solicitud, :css_class =>"cerror"%></td>
          <td><%= calendar_date_select "impresorasreporte", "fecha_atencion", :year_range => select_rangocalendar, :class=> "campo", :size => 16, :time => true, :onfocus=>"this.blur()"%>
          <%= error_message_on :impresorasreporte, :fecha_atencion, :css_class =>"cerror"%></td>
          <td><%= text_area(:impresorasreporte, :observacion, :cols => 90, :rows => 4, :class => 'campo', :maxlength => 4000,
              :onChange=> "javascript:this.value=this.value.toUpperCase();",
              :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'") %>
          <%= error_message_on :impresorasreporte, :observacion, :css_class =>"cerror"%></td>
          
        </tr>
      </table>
<table width="100%" height="0" border="0" cellpadding="0" align="left" cellspacing="0">
      <tr>
        <td height="10"><hr size="1" noshade class="hrlinea"/></td>
      </tr>
    </table>
<table width="100%" border="0" cellpadding="2" align="left" cellspacing="2">
  <tr>
    <td  height="30"><div align="right">
        <div class="uiButton"><img class="img" src="/images/guardar.png"/>&nbsp;&nbsp;<span class="uiButtonText"><%= hidden_field :subsidio, :id %><%= submit_tag "Guardar", :disable_with => "Guardando..."%></span></div>
</div></td>
  </tr>
</table>
<br/>
  