<table width="100%" border="0" cellpadding="2" cellspacing="2"  align="center">
  <tr><td></td></tr>
  <tr>
    <td height="30"><div class="col_enc">PROPIEDADES HORIZONTALES</div></td>
  </tr>
</table><br/>
<div align="center">
  <% @proyectostipos = Proyectostipo.find(:all, :conditions=>["clase = 'HORIZONTALES'"])
     @proyectostipos.each do |proyectostipo|%>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr class="odd1">
          <td colspan="3" height="20" class="camposDesc10"><strong><%=proyectostipo.documento rescue nil%></strong> - <%= link_to 'Adjuntar...',{:controller=>"proyectoscopdocumentos", :action=>"new", :proyectoscopropiedad_id=>@proyectoscopropiedad.id, :proyectostipo_id=>proyectostipo.id},:class=>"imagenlink"%></td>
        </tr>
        <% if @proyectoscopropiedad.proyectoscopdocumentos.exists?(["proyectostipo_id = #{proyectostipo.id}"])  %>
            <tr>
              <td width="25%" align="left" height="20" class="oce-first">Fecha Documento</td>
              <td width="65%" align="left" height="20" class="oce-first">Documento </td>
              <td width="10%" align="left" height="20" class="oce-first"></td>
            </tr>
             <% for proyectoscopdocumento in @proyectoscopropiedad.proyectoscopdocumentos.find(:all,:conditions=>["proyectostipo_id = #{proyectostipo.id}"], :order => 'created_at DESC') %>
            <tr  valign="middle" class="<%=cycle('even1', 'odd1')%> proyectoscopdocumento_<%=proyectoscopdocumento.id%>">
              <td align="left" class="camposDesc"><%=proyectoscopdocumento.created_at.strftime("%Y-%m-%d %X") rescue nil%> - <%=proyectoscopdocumento.user.username rescue nil%></td>
              <td align="left" class="camposDesc"><em><%=proyectoscopdocumento.copropiedad_file_name%></em></td>
              <td align="left" class="camposDesc"><div align="center"><%= link_to image_tag('download2.png', :border=>0,
                                :title => "Descargar: #{proyectoscopdocumento.copropiedad_file_name}"),
                                proyectoscopdocumento.copropiedad.url(:original, false),
                               { :title=>"#{proyectoscopdocumento.copropiedad_file_name}", :popup => ['new_window','height=450,width=600,scrollbars=yes'] }%>
                    &nbsp;
                    <%#= link_to_remote('Borrar',{:url => proyectoscopropiedad_proyectoscopdocumento_path(@proyectoscopropiedad, proyectoscopdocumento),
                        :method => :delete, :confirm => "¿Seguro?",
                        :before => "$(this).up('.proyectoscopdocumento_#{proyectoscopdocumento.id}').remove()"},
                        :class=>"borrarlink")%></div>
              </td>
            </tr>
            <% end %>
        <% else %>
        <tr>
          <td colspan="3" height="20" class="camposDesc">NO hay documentos cargados..</td>
        </tr>
        <% end %>
      </table><br/>
  <% end %>
</div>