<p>
  <b>Aclasificacion:</b>
  <%=h @aetapa.aclasificacion %>
</p>

<p>
  <b>Descripcion:</b>
  <%=h @aetapa.descripcion %>
</p>

<p>
  <b>Cumplimiento:</b>
  <%=h @aetapa.cumplimiento %>
</p>


<%= link_to 'Edit', edit_aetapa_path(@aetapa) %> |
<%= link_to 'Back', aetapas_path %>