<p>
  <b>Personasarrendamiento:</b>
  <%=h @arrendamientossoporte.personasarrendamiento_id %>
</p>

<p>
  <b>Descripcion:</b>
  <%=h @arrendamientossoporte.descripcion %>
</p>

<p>
  <b>User:</b>
  <%=h @arrendamientossoporte.user_id %>
</p>

<p>
  <b>Arrendamientossoporte file name:</b>
  <%=h @arrendamientossoporte.arrendamientossoporte_file_name %>
</p>

<p>
  <b>Arrendamientossoporte content type:</b>
  <%=h @arrendamientossoporte.arrendamientossoporte_content_type %>
</p>

<p>
  <b>Arrendamientossoporte file size:</b>
  <%=h @arrendamientossoporte.arrendamientossoporte_file_size %>
</p>

<p>
  <b>Arrendamientossoporte updated at:</b>
  <%=h @arrendamientossoporte.arrendamientossoporte_updated_at %>
</p>


<%= link_to 'Edit', edit_arrendamientossoporte_path(@arrendamientossoporte) %> |
<%= link_to 'Back', arrendamientossoportes_path %>