<div align="center">
<table width="95%" border="0" cellspacing="0" cellpadding="0">
  <tr class="odd1">
    <td width="30%" class="campos">Nro Matricula lote objeto de cesión *</td>
    <td width="20%" class="campos">Escritura de Cesión *</td>
    <td width="25%" class="campos">Nro Matricula mayor extensión *</td>
    <td width="25%" class="campos">Nombre del predio *</td>
  </tr>
  <tr>
     <td><%= text_field :legalizazonasmatricula, :matricula,{ :class => "campo", :size => 15,
                :onChange=> "javascript:this.value=this.value.toUpperCase();",
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" } %>
         <strong><%= error_message_on :legalizazonasmatricula, :matricula, :css_class =>"cerror"%></strong></td>
     <td><%=select("legalizazonasmatricula", "legalizazonasreglamento_id", @legalizacion.legalizazonasreglamentos.find(:all,:order => 'id').collect {|p| [ p.rph.to_s, p.id ] }, { :include_blank => true },
      { :style=>"width:100px", :class => "campo", :onFocus => "this.style.border='1px solid #f00'", :onBlur => "this.style.border='1px solid #bbb'" }) %>
         <strong><%= error_message_on :legalizazonasmatricula, :legalizazonasreglamento_id, :css_class =>"cerror"%></strong></td>
     <td><%= text_field :legalizazonasmatricula, :matriculamayor,{ :class => "campo", :size => 15,
                :onChange=> "javascript:this.value=this.value.toUpperCase();",
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" } %>
         <strong><%= error_message_on :legalizazonasmatricula, :matriculamayor, :css_class =>"cerror"%></strong></td>
     <td><%= text_field :legalizazonasmatricula, :nombre,{ :class => "campo", :size => 30,
                :onChange=> "javascript:this.value=this.value.toUpperCase();",
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" } %>
         <strong><%= error_message_on :legalizazonasmatricula, :nombre, :css_class =>"cerror"%></strong></td>
  </tr>
</table>
<table width="95%" border="0" cellspacing="0" cellpadding="0">
  <tr><td height="10"><hr size="1" noshade class="hrlinea"/></td></tr>
</table>
<table width="95%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="30"><div align="right">
        <div class="uiButton"><img class="img" src="/images/guardar.png"/>
          <span class="uiButtonText"><%= hidden_field :legalizazonasmatricula, :id %><%= submit_tag "Guardar", :disable_with => "Guardando..."%></span></div></div>
    </td>
  </tr>
</table>
</div>