</form>
<%= stylesheet_link_tag 'scaffold'%>
<% remote_form_for [@estudiosprevio, @estudiospreviosrubro] do |form| %>
   <% if !@estudiospreviosrubro.id %>
      <% if @estudiosprevio.estado.to_s == 'PENDIENTE' or permiso("estudiosrubrosespecial","C").to_s == "S" %>
 	<%= render :partial => "/estudiospreviosrubros/estudiospreviosrubros_form" %>
      <% end%>
   <% end %>
<% if @estudiosprevio.estudiospreviosrubros.exists? %>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr valign="middle">
    <td width="70%" class="oce-first">Rubro</td>
    <td width="15%" class="oce-first">Valor</td>
    <td width="15%" class="oce-first">&nbsp;</td>
  </tr>
<% @estudiosprevio.estudiospreviosrubros.each do |estudiospreviosrubro| %>
   <% if estudiospreviosrubro.id != @estudiospreviosrubro.id %>
   <tr  valign="middle" class="<%=cycle('even1', 'odd1')%>" id="estudiospreviosrubro_<%=estudiospreviosrubro.id%>">
    <td class="camposDesc"><%=estudiospreviosrubro.rubro.codigo_corto rescue nil%> - <%=estudiospreviosrubro.rubro.descripcion rescue nil%></td>
    <td class="camposDesc"> <%=number_to_currency(estudiospreviosrubro.valor,{:precision => 0, :unit=>"", :delimiter =>"."})%></td>
    <td class="camposDesc">
       <% if @estudiosprevio.estado.to_s == 'PENDIENTE' or permiso("estudiosrubrosespecial","C").to_s == "S"%>
     <%= link_to_remote('Editar',{:url => edit_estudiosprevio_estudiospreviosrubro_path(@estudiosprevio, estudiospreviosrubro),
		:method => :get}, :class=>"editarlink")%>
     |&nbsp;<%= link_to_remote('Borrar',{:url => estudiosprevio_estudiospreviosrubro_path(@estudiosprevio, estudiospreviosrubro),
		:method => :delete, :confirm => "¿Seguro?"}, :class=>"borrarlink")%>
       <% end %>
</td>
 </tr>
  <% else %>
     <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"><tr valign="top"><td><h3>Editar</h3></td></tr></table>
     <%= render :partial => "estudiospreviosrubros_form" %>
     <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <% end %>
<% end %>
 </table>      
<% else %>
<table width="40%" border="0" cellpadding="0" align="center" cellspacing="0" bgcolor="#E5E5E5">
      <tr>
        <td width="10%"><div align="right"><img src="/images/alerta.png"/></div></td>
        <td width="90%" class="campos">&nbsp;&nbsp;No hay datos asociados.</td>
     </tr>
</table>
<% end %>
            <%= hidden_field :estudiosprevio, :id %>
<% end %>
<br/>

