<p>
  <b>Mejoramiento:</b>
  <%=h @mejoramientosactualizacion.mejoramiento_id %>
</p>

<p>
  <b>Bloque:</b>
  <%=h @mejoramientosactualizacion.bloque %>
</p>

<p>
  <b>User:</b>
  <%=h @mejoramientosactualizacion.user_id %>
</p>


<%= link_to 'Edit', edit_mejoramientosactualizacion_path(@mejoramientosactualizacion) %> |
<%= link_to 'Back', mejoramientosactualizaciones_path %>