<table width="100%" height="40">
      <tr>
        <td>
          <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="3%"><img src="/images/menu2min.png" width="64" height="64"/></td>
              <td width="94%"><div class="col_enc">&nbsp;&nbsp;PARAMETROS SIFI</div></td>
              <td width="3%"><div align="right"> </div></td>
            </tr>
          </table></td>
      </tr>
</table>
<BR/>
<table width="100%" height="219" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="middle"><table width="70%" height="312" border="0" align="center" cellpadding="5" cellspacing="5">
      <tr>
        <td width="20%"><div align="center"><%= link_to image_tag('construmensaje.png', { :border => 0, :title => "Conf. Mensajes" }),
                              mensajes_path %></div></td>
        <td width="20%"><div align="center"><%= link_to image_tag('seguridad.png', { :border => 0, :title => "Seguridad" }),
                              users_path %></div></td>
        <td width="20%"><div align="center"><%= link_to image_tag('ip.png', { :border => 0, :title => "Seguridad" }),
                              accesos_path %></div></td>
        <td width="20%"><div align="center"><%= link_to image_tag('dependencias.png', { :border => 0, :title => "Dependencias" }),
                              dependencias_path %></div></td>
        <td width="20%"><div align="center"><%= link_to image_tag('crucesminambiente.png', { :border => 0, :title => "Cruces Minambiente" }),
                              import_cruces_path %></div></td>
        </tr>
      <tr>
        <td width="20%"><div align="center">&nbsp;</div></td>
        <td width="20%"><div align="center">&nbsp;</div></td>
        <td width="20%"><div align="center">&nbsp;</div></td>
        <td width="20%"><div align="center">&nbsp;</div></td>
        <td width="20%"><div align="center">&nbsp;</div></td>
        </tr>
    </table>
    </td>
  </tr>
  <tr>
    <td align="center" valign="middle">&nbsp;</td>
  </tr>
  <tr>
    <td width="60%" align="center" valign="middle"><table width="50%" height="77" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td valign="top"></td>
      </tr>
</table>
<br/>
        </td>
      </tr>
    </table>