   <%= stylesheet_link_tag 'scaffold'%>
   <%=  javascript_include_tag :defaults %>
<table width="100%" height="40">
      <tr>
        <td>
          <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="3%"><img src="/images/insumomin.png" width="64" height="64"/></td>
              <td width="82%"><div class="col_enc">INFORMACION INSUMOS</div></td>
              <td width="15%"><div align="right">
               <%= link_to image_tag('nuevo.png',
	                            { :border=>0, :title => "Nuevo"}),new_precioselemento_path %>
                  <%= link_to image_tag('atras.png',
	                            { :border=>0, :title => "Buscar"}),indexanalisis_analisisprecios_path %>
              </div></td>
            </tr>
          </table></td>
      </tr>
</table>
<div align="center">
<% form_tag request.path, :method => 'get' do %>
  <% content_tag :label do %>
<table width="60%" height="40" border="0" cellpadding="0" cellspacing="0">
   <tr>
     <td width="30%">Digite el dato a buscar :</td>
     <td width="70%"><%= text_field_tag :search, params[:search],{ :class => "campo2",  :size => "50",
  :onChange=> "javascript:this.value=this.value.toUpperCase();",
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" } %>
      <%= image_submit_tag '/images/find.png', :width => '18', :name => nil %></td>
   </tr>
</table>
    <% end %>
  <% end %>
</div>
<br/>
<table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr valign="middle">
    <th width="15%" height="30" class="oce-first">Grupo</th>
    <th width="5%" class="oce-first">Codigo</th>
    <th width="40%" class="oce-first">Descripcion</th>
    <th width="8%" class="oce-first"><div align="center">Unidad</div></th>
    <th width="10%" class="oce-first"><div align="center">Valor</div></th>
    <th width="15%" class="oce-first"><div align="center">Fecha Revision</div></th>
    <th width="7%" class="oce-first">&nbsp;</th>
  </tr>
<% @precioselementos.each do |precioselemento| %>
  <tr valign="middle" class="<%=cycle('even1', 'odd1')%>">
    <td class="camposDesc"><%=h precioselemento.grupo rescue nil %></td>
    <td class="camposDesc"><%=h precioselemento.codigo rescue nil %></td>
    <td class="camposDesc"><%=h precioselemento.descripcion rescue nil %></td>
    <td class="camposDesc"><div align="center"><%=h precioselemento.unidadmedida %></div></td>
    <td class="camposDesc"><div align="right"><%=camponumerico(precioselemento.valor) %></div></td>
    <td class="camposDesc"><div align="center"><%=h precioselemento.fecha_verificacion %></div></td>
    <td class="camposDesc"><div align="center">
       <% if precioselemento.precioselementoshijos.exists? %>
       <img src="/images/link_suspencion.png" title="precioselemento con SubAnalisis"/>
       <% end %>
        <%= link_to 'Editar', edit_precioselemento_path(precioselemento), :class=>"editarlink"%></div>
    </td>
  </tr>
<% end %>
</table>
<br/>
<table width="90%" height="40" border="0" cellpadding="0" cellspacing="0">
   <tr>
     <td width="100%" class="acci_titcontenido2"><div align="center"><%= will_paginate @precioselementos, :previous_label => 'Anterior', :next_label => 'Siguiente' %></div></td>
   </tr>
   <tr>
     <td width="100%" class="acci_titcontenido2"><div align="center">Total Registros: <%= @precioselementos.total_entries %></div></td>
   </tr>
</table>
<br/>
