<p>
  <b>Titulacion:</b>
  <%=h @titulacionesactualizacion.titulacion_id %>
</p>

<p>
  <b>Bloque:</b>
  <%=h @titulacionesactualizacion.bloque %>
</p>

<p>
  <b>Tipo transaccion:</b>
  <%=h @titulacionesactualizacion.tipo_transaccion %>
</p>

<p>
  <b>User:</b>
  <%=h @titulacionesactualizacion.user_id %>
</p>


<%= link_to 'Edit', edit_titulacionesactualizacion_path(@titulacionesactualizacion) %> |
<%= link_to 'Back', titulacionesactualizaciones_path %>