<h1>Editing local</h1>

<% form_for(@local) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :piso_id %><br />
    <%= f.text_field :piso_id %>
  </p>
  <p>
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @local %> |
<%= link_to 'Back', locales_path %>