<h1>Listing procesos</h1>

<table>
  <tr>
    <th>Descripcion</th>
  </tr>

<% @procesos.each do |proceso| %>
  <tr>
    <td><%=h proceso.descripcion %></td>
    <td><%= link_to 'Show', proceso %></td>
    <td><%= link_to 'Edit', edit_proceso_path(proceso) %></td>
    <td><%= link_to 'Destroy', proceso, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New proceso', new_proceso_path %>