<h1>New proceso</h1>

<% form_for(@proceso) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :descripcion %><br />
   <%= f.text_field :descripcion,{ :class => "campo", :size => 120,
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" } %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', procesos_path %>