<h1>Editing aclasificacion</h1>

<% form_for(@aclasificacion) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </p>
  <p>
    <%= f.label :estado %><br />
    <%= f.text_field :estado %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @aclasificacion %> |
<%= link_to 'Back', aclasificaciones_path %>