<h1>Listing festivos</h1>

<table>
  <tr>
    <th>Fecha</th>
  </tr>

<% @festivos.each do |festivo| %>
  <tr>
    <td><%=h festivo.fecha %></td>
    <td><%= link_to 'Show', festivo %></td>
    <td><%= link_to 'Edit', edit_festivo_path(festivo) %></td>
    <td><%= link_to 'Destroy', festivo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New festivo', new_festivo_path %>