<h1>Editing tipos_subsidio</h1>

<% form_for(@tipos_subsidio) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @tipos_subsidio %> |
<%= link_to 'Back', tipos_subsidios_path %>