<h1>Listing tipos_subsidios</h1>

<table>
  <tr>
    <th>Descripcion</th>
  </tr>

<% @tipos_subsidios.each do |tipos_subsidio| %>
  <tr>
    <td><%=h tipos_subsidio.descripcion %></td>
    <td><%= link_to 'Show', tipos_subsidio %></td>
    <td><%= link_to 'Edit', edit_tipos_subsidio_path(tipos_subsidio) %></td>
    <td><%= link_to 'Destroy', tipos_subsidio, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New tipos_subsidio', new_tipos_subsidio_path %>