<h1>Editing obrasproyecto</h1>

<% form_for(@obrasproyecto) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @obrasproyecto %> |
<%= link_to 'Back', obrasproyectos_path %>