<h1>Listing obrasproyectos</h1>

<table>
  <tr>
    <th>Descripcion</th>
  </tr>

<% @obrasproyectos.each do |obrasproyecto| %>
  <tr>
    <td><%=h obrasproyecto.descripcion %></td>
    <td><%= link_to 'Show', obrasproyecto %></td>
    <td><%= link_to 'Edit', edit_obrasproyecto_path(obrasproyecto) %></td>
    <td><%= link_to 'Destroy', obrasproyecto, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New obrasproyecto', new_obrasproyecto_path %>