<table width="100%" height="40">
  <tr>
    <td class="camposDesc">
      <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="3%"><img src="/images/repartomin.png" width="64" height="64"/></td>
          <td width="94%"><div class="col_enc">REPARTO NOTARIAL</div></td>
          <td width="3%"><div align="right">
              <% if permiso("reparto","C").to_s == "S" %>
           <%= link_to image_tag('database_add.png',
                                { :border=>0, :title => "Nuevo"}),new_reparto_path %>
              <% end %>
          </div></td>
        </tr>
      </table></td>
  </tr>
</table>
<% if @repartoespecial == 'SI' %>
  <%= render 'pendientesreparto' %>
<% end %>
<div align="center">
<% form_tag request.path, :method => 'get' do %>
    <% content_tag :label do %>
      <table width="90%" height="40" border="0" cellpadding="0" cellspacing="0">
         <tr>
           <td width="30%">Digite el nro de reparto a buscar:</td>
           <td width="70%">
                      <%= text_field_tag :search, params[:search],{ :class => "campo2",  :size => "10",:onChange=> "javascript:this.value=this.value.toUpperCase();", :onFocus => "this.style.border='1px solid #f00'",
                      :onBlur => "this.style.border='1px solid #bbb'" } %>
            <%= image_submit_tag '/images/find.png', :width => '18', :name => nil %></td>
         </tr>
      </table>
    <% end %>
  <% end %>
</div>
<br/>
<table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr valign="middle">
    <td width="10%" height="25" class="oce-first"><div align="center">Id</div></td>
    <td width="18%" class="oce-first"><div align="left">Fecha Creacion</div></td>
    <td width="20%" class="oce-first"><div align="left">Solicitante</div></td>
    <td width="20%" class="oce-first"><div align="center">Estado</div></td>
    <td width="10%" class="oce-first"><div align="center">Radicado</div></td>
    <td width="10%" class="oce-first"><div align="center">Matricula</div></td>
    <td width="10%" class="oce-first">&nbsp;</td>
  </tr>
<% @repartos.each do |reparto| %>
<tr valign="middle" class="<%=cycle('even1', 'odd1')%>">
    <td height="20" class="camposDesc"><div align="center"><%=reparto.id%></div></td>
    <td class="camposDesc"><div align="left"><%=reparto.created_at.strftime("%Y-%m-%d %X") rescue nil%></div></td>
    <td class="camposDesc"><div align="left"><%=User.find(reparto.user_solicita).nombre rescue nil%></div></td>
    <td class="camposDesc"><div align="center"><%=reparto.estado rescue nil%></div></td>
    <td class="camposDesc"><div align="center"><%=reparto.nro_acta rescue nil%></div></td>
    <td class="camposDesc"><div align="center"><%=reparto.matriculas rescue nil%></div></td>
    <td class="camposDesc"><div align="center">
        <% if reparto.user_solicita.to_i == is_admin or permiso("repartotodos","C").to_s == "S" %> 
        <%= link_to 'Editar', edit_reparto_path(reparto),:class=>"editarlink"%>
        <% end%>
      </div></td>
  </tr>
<% end %>
</table>  
<br/>
<div align="center" class="camposDesc"><strong><%= will_paginate @repartos, :previous_label => 'Anterior', :next_label => 'Siguiente' %></strong></div>
<div align="center" class="camposDesc"><strong>Total Registros: <%= @repartos.total_entries %></strong></div>
<br/>

<% if @repartoespecial == 'SI' %>
    <% form_tag informe_repartos_path, :method => 'get' do %>
    <div align="center">
    <table width="80%" border="0" cellpadding="2" cellspacing="0"  align="center">
      <tr><td></td></tr>
      <tr>
        <td align="left" height="30"><div class="col_enc">INFORME REPARTOS</div></td>
      </tr>
    </table>
    <table width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr class="odd1">
        <td width="50%" height="25" class="campos">Rango de fechas del reparto </td>
        <td width="40%" class="campos">Zona</td>
      </tr>
      <tr>
        <td height="25" class="camposDesc">&nbsp;&nbsp;Fecha Inicial &nbsp; <%= calendar_date_select "ubicacion", "fchinicial", :year_range => select_rangocalendar, :class=> "campo", :size => 10, :time => false, :onfocus=>"this.blur()"%> &nbsp;&nbsp;Fecha Final&nbsp; <%= calendar_date_select "ubicacion", "fchfinal", :year_range => select_rangocalendar, :class=> "campo", :size => 10, :time => false, :onfocus=>"this.blur()"%></td>
        <td class="camposDesc"><%= select("ubicacion","zona", [["ZONA SUR","ZONA SUR"],["ZONA NORTE","ZONA NORTE"]],
                          { :include_blank => true },
                          { :style=>"width:100px", :class => "campo" })%></td>
      </tr>
    </table>
    <table width="80%" height="0" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td height="10"><hr size="1" noshade class="hrlinea"/></td>
          </tr>
        </table>
    <table width="80%" border="0" cellpadding="2" cellspacing="0">
      <tr>
        <td  height="30"><div align="right">
          <div class="uiButton"><img class="img" src="/images/excel.png"/>&nbsp;&nbsp;<span class="uiButtonText">
          <%= submit_tag "Buscar", :name => 'format', :value => 'xls' %>
        </span></div>
    </div></td>
      </tr>
    </table>
    </div>
    <% end %>

    <div align="center">
      <table width="80%" border="0" cellpadding="2" cellspacing="0"  align="center">
        <tr><td></td></tr>
        <tr>
          <td align="left" height="30"><div class="col_enc">IMPRESION DE CONSTANCIAS</div></td>
        </tr>
      </table>
      <table width="80%" border="0" cellpadding="2" cellspacing="0">
        <tr>
          <td  height="30"><div align="right">
            <div class="uiButton"><img class="img" src="/images/search.png"/>&nbsp;&nbsp;<span class="uiButtonText">
            <%= link_to 'Iniciar Proceso', masive_repartos_path, :popup => ['new_window','height=600,width=830,scrollbars=yes'] %>
          </span></div>
      </div></td>
        </tr>
      </table>
    </div>




<% end %>
