<%=  javascript_include_tag :defaults %>
<table width="100%" height="40"  align="center">
<tr>
  <td>
    <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0"  align="center">
      <tr>
        <td width="3%"><img src="/images/resolucionmin.png" width="64" height="64"/></td>
        <td width="94%"><div class="col_enc">&nbsp;&nbsp;INFORMACION RESOLUCIONES</div></td>
        <td width="3%"><div align="right"><%= link_to image_tag('atras.png',{ :border=>0, :title => "Busca Resoluciones"}),resoluciones_path %>
        </div></td>
      </tr>
    </table></td>
</tr>
</table><br/>
<table width="85%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr valign="middle">
    <td width="15%" height="25" class="oce-first"><div align="center">Nro Resolucion</div></td>
    <td width="5%" class="oce-first" align="left"><div align="center">Año</div></td>
    <td width="10%" class="oce-first" align="left"><div align="center">Fecha</div></td>
    <td width="35%" class="oce-first" align="left">Clase</td>
    <td width="30%" class="oce-first" align="left">Modalidad</td>
    <td width="5%" class="oce-first">&nbsp;</td>
  </tr>
<% @resoluciones.each do |resolucion| %>
  <tr valign="middle" class="<%=cycle('even1', 'odd1')%>">
    <td height="25" class="camposDesc" align="left"><div align="center"><%=h resolucion.nro_resolucion %></div></td>
    <td class="camposDesc" align="left"><div align="center"><%=h resolucion.anno %></div></td>
    <td class="camposDesc" align="left"><div align="center"><%=h resolucion.fecha %></div></td>
    <td class="camposDesc" align="left"><%=h resolucion.resolucionesclase.descripcion rescue nil %></td>
    <td class="camposDesc" align="left"><%=h resolucion.modalidad %></td>
    <td class="camposDesc"><div align="center">
      <% if permiso("resolucion","A").to_s == "S" %>
        <%= link_to 'Editar', edit_resolucion_path(:id=>resolucion, :etapa=>'1'),:class=>"editarlink"%>
      <% end %>
      </div></td>
  </tr>
<% end %>
</table>
<br/>
<table width="90%" height="40" border="0" cellpadding="0" cellspacing="0">
   <tr>
     <td width="100%" height="20" class="camposDescN"><div align="center"><%= will_paginate @resoluciones, :previous_label => 'Anterior', :next_label => 'Siguiente' %></div></td>
   </tr>
  <tr valign="middle">
    <td width="100%" height="20" class="camposDescN"><div align="center">Total Registros consulta: <%= @resoluciones.total_entries %> - Nro Total de Registro : <%=@resoluciones.count%></div></td>
  </tr>
</table>
<br/>