<table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr><td  height="30"><div class="col_enc">OBSERVACIONES</div></td></tr>
</table>
<% remote_form_for [@fiducia, @fiduciasnota] do |form| %>
  <%# if permiso("fiduciasnota","C").to_s == "S" %>
     <% if !@fiduciasnota.id %>
      	<%= render :partial => "/fiduciasnotas/fiduciasnotas_form" %>
     <% end %>
  <%# end %>
<% if @fiducia.fiduciasnotas.exists? %>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr valign="middle">
    <td width="15%" class="oce-first">Fecha</td>
    <td width="70%" class="oce-first">Observación</td>
    <td width="15%" class="oce-first">&nbsp;</td>
  </tr>
</table>
<% @fiducia.fiduciasnotas.each do |fiduciasnota| %>
<% if fiduciasnota.id != @fiduciasnota.id %>
  <table width="100%" border="0" cellpadding="0" cellspacing="0" id="one-column-emphasis">
   <tr  valign="middle" class="<%=cycle('even1', 'odd1')%>" id="fiduciasnota_<%=fiduciasnota.id%>">
    <td width="15%" class="camposDesc"><%=fiduciasnota.created_at.strftime("%Y-%m-%d %X")%></td>
    <td width="70%" class="camposDesc"><%=fiduciasnota.observacion rescue nil%></td>
    <td width="15%" class="camposDesc">
      <div align="center">
            <%# if permiso("fiduciasnota","A").to_s == "S" %>
              <%= link_to_remote('Editar',{:url => edit_fiducia_fiduciasnota_path(@fiducia, fiduciasnota),
                        :method => :get}, :class=>"editarlink")%>
            <%# end %>
            <%# if permiso("fiduciasnota","E").to_s == "S" %>
               |&nbsp;<%= link_to_remote('Borrar',{:url => fiducia_fiduciasnota_path(@fiducia, fiduciasnota),
                        :method => :delete, :confirm => "¿Seguro?"}, :class=>"borrarlink")%>
            <%# end %>
      </div></td>
 </tr>
</table>
<% else %>
      <fieldset>
      <table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr>
    <td  height="30"><div class="col_enc">EDITAR CARACTERISTICAS</div></td>
  </tr>
  </table>
    <tr class="<%=cycle('even1', 'odd1')%>" id="fiduciasnota_<%=@fiduciasnota.id%>">
      <%= render :partial => "fiduciasnotas_form" %>
    </tr>
    </fieldset>
<% end %>
        <% end %>
<% else %>
<table width="40%" border="0" cellpadding="0" align="center" cellspacing="0" bgcolor="#E5E5E5">
      <tr>
        <td width="10%"><div align="right"><img src="/images/alerta.png"></div></td>
        <td width="90%" class="campos">&nbsp;&nbsp;No hay datos asociados.</td>
     </tr>
</table>
<% end %>
            <%= hidden_field :fiducia, :id %>
<% end %>
<br/>
<% if flash[:fiduciasnota] %>
<div id="fiduciasnota">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#E5E5E5">
   <tr>
        <td width="5%"><div align="right"><img src="/images/connect.png"></div></td>
        <td width="95%" align="left" class="campos">&nbsp;&nbsp;<%= flash[:fiduciasnota] %></td>
   </tr>
  </table>
</div>
<script type="text/javascript">
  setTimeout("new Effect.Fade('fiduciasnota');", 5000)
</script>
<% end %>


