<h1>Listing vehiculoshorarios</h1>

<table>
  <tr>
    <th>Descripcion</th>
  </tr>

<% @vehiculoshorarios.each do |vehiculoshorario| %>
  <tr>
    <td><%=h vehiculoshorario.descripcion %></td>
    <td><%= link_to 'Show', vehiculoshorario %></td>
    <td><%= link_to 'Edit', edit_vehiculoshorario_path(vehiculoshorario) %></td>
    <td><%= link_to 'Destroy', vehiculoshorario, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New vehiculoshorario', new_vehiculoshorario_path %>