<p>
  <b>Ayudasdocumento:</b>
  <%=h @ayudasdocimagen.ayudasdocumento %>
</p>

<p>
  <b>User:</b>
  <%=h @ayudasdocimagen.user %>
</p>

<p>
  <b>Descripcion:</b>
  <%=h @ayudasdocimagen.descripcion %>
</p>


<%= link_to 'Edit', edit_ayudasdocimagen_path(@ayudasdocimagen) %> |
<%= link_to 'Back', ayudasdocimagenes_path %>