<table width="100%" height="40">
      <tr>
        <td>
          <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="3%"><img src="/images/fiduciamin.png" width="64" height="64"/></td>
              <td width="94%"><div class="col_enc">&nbsp;&nbsp;INFORMACION DE EXTRACTOS</div></td>
              <td width="3%"><div align="right"><div class="uiButton"><img class="img" src="/images/1atras.png"/>&nbsp;&nbsp;<span class="uiButtonText"><%= link_to 'Regresar',  edit_fiducia_path(@fiduciascontrato.fiducia_id) %></span></div></div>            </td>
            </tr>
          </table></td>
      </tr>
</table>
<table width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr valign="middle">
    <td width="10%" height="30" class="oce-first"><div align="center">Nro Fondo</div></td>
    <td width="50%" height="30" class="oce-first">Nombre del Fondo</td>
    <td width="40%" height="30" class="oce-first">Proyecto</td>
  </tr>
   <tr>
     <td height="10" class="camposDesc"><div align="center"><%=@fiduciascontrato.nro_fondo rescue nil%></div></td>
     <td height="50" class="camposDesc"><%=@fiduciascontrato.fondo rescue nil%></td>
     <td height="40" class="camposDesc"><%=@fiduciascontrato.proyecto rescue nil%></td>
 </tr>
</table>
   <br>
<table width="80%" height="40" align="center" >
      <tr>
        <td>
          <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="94%"><div class="col_enc">&nbsp;&nbsp;EXTRACTOS</div></td>
            </tr>
          </table></td>
      </tr>
</table>
<table width="70%" align="center">
  <tr>
    <td class="campos">Mes - Año:</td>
    <td><%= select(:fiduciasimagen, :mes, select_mes,{ :include_blank => true },
         { :style=>"width:100px", :class => "campo", :onFocus => "this.style.border='1px solid #f00'", :onBlur => "this.style.border='1px solid #bbb'" })%>
        <%= error_message_on :fiduciasimagen, :mes, :css_class =>"cerror"%> - 
       <%= select(:fiduciasimagen, :anno, select_annos,{ :include_blank => true },
         { :style=>"width:100px", :class => "campo", :onFocus => "this.style.border='1px solid #f00'", :onBlur => "this.style.border='1px solid #bbb'" })%>
        <%= error_message_on :fiduciasimagen, :anno, :css_class =>"cerror"%></td>
  </tr>
  <tr>
    <td class="campos">Archivo :</td>
     <td><%= f.file_field :doc, { :class => "campo",
              :size => 46,
              :maxlength => 1000,
              :onFocus => "this.style.border='1px solid #f00'",
              :onBlur => "this.style.border='1px solid #bbb'" } %>
     <%= f.error_message_on :doc, :css_class =>"cerror"%></td>
  </tr>
</table>
</br>
