<p>
  <b>Fase:</b>
  <%=h @tiposfactibilidad.fase %>
</p>

<p>
  <b>Descripcion fase:</b>
  <%=h @tiposfactibilidad.descripcion_fase %>
</p>

<p>
  <b>Codigo:</b>
  <%=h @tiposfactibilidad.codigo %>
</p>

<p>
  <b>Actividad:</b>
  <%=h @tiposfactibilidad.actividad %>
</p>


<%= link_to 'Edit', edit_tiposfactibilidad_path(@tiposfactibilidad) %> |
<%= link_to 'Back', tiposfactibilidades_path %>