<h1>Editing indicadoresresultado</h1>

<% form_for(@indicadoresresultado) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :indicador_id %><br />
    <%= f.text_field :indicador_id %>
  </p>
  <p>
    <%= f.label :edad1 %><br />
    <%= f.text_field :edad1 %>
  </p>
  <p>
    <%= f.label :edad2 %><br />
    <%= f.text_field :edad2 %>
  </p>
  <p>
    <%= f.label :edad3 %><br />
    <%= f.text_field :edad3 %>
  </p>
  <p>
    <%= f.label :edad0 %><br />
    <%= f.text_field :edad0 %>
  </p>
  <p>
    <%= f.label :edadtotal %><br />
    <%= f.text_field :edadtotal %>
  </p>
  <p>
    <%= f.label :genero1 %><br />
    <%= f.text_field :genero1 %>
  </p>
  <p>
    <%= f.label :genero2 %><br />
    <%= f.text_field :genero2 %>
  </p>
  <p>
    <%= f.label :genero0 %><br />
    <%= f.text_field :genero0 %>
  </p>
  <p>
    <%= f.label :generototal %><br />
    <%= f.text_field :generototal %>
  </p>
  <p>
    <%= f.label :afro1 %><br />
    <%= f.text_field :afro1 %>
  </p>
  <p>
    <%= f.label :afro2 %><br />
    <%= f.text_field :afro2 %>
  </p>
  <p>
    <%= f.label :afro0 %><br />
    <%= f.text_field :afro0 %>
  </p>
  <p>
    <%= f.label :afrototal %><br />
    <%= f.text_field :afrototal %>
  </p>
  <p>
    <%= f.label :indi1 %><br />
    <%= f.text_field :indi1 %>
  </p>
  <p>
    <%= f.label :indi2 %><br />
    <%= f.text_field :indi2 %>
  </p>
  <p>
    <%= f.label :indi0 %><br />
    <%= f.text_field :indi0 %>
  </p>
  <p>
    <%= f.label :inditotal %><br />
    <%= f.text_field :inditotal %>
  </p>
  <p>
    <%= f.label :rom1 %><br />
    <%= f.text_field :rom1 %>
  </p>
  <p>
    <%= f.label :rom2 %><br />
    <%= f.text_field :rom2 %>
  </p>
  <p>
    <%= f.label :rom0 %><br />
    <%= f.text_field :rom0 %>
  </p>
  <p>
    <%= f.label :romtotal %><br />
    <%= f.text_field :romtotal %>
  </p>
  <p>
    <%= f.label :grupoetnicosininfo %><br />
    <%= f.text_field :grupoetnicosininfo %>
  </p>
  <p>
    <%= f.label :disc1 %><br />
    <%= f.text_field :disc1 %>
  </p>
  <p>
    <%= f.label :disc2 %><br />
    <%= f.text_field :disc2 %>
  </p>
  <p>
    <%= f.label :disc0 %><br />
    <%= f.text_field :disc0 %>
  </p>
  <p>
    <%= f.label :disctotal %><br />
    <%= f.text_field :disctotal %>
  </p>
  <p>
    <%= f.label :comuna1 %><br />
    <%= f.text_field :comuna1 %>
  </p>
  <p>
    <%= f.label :comuna2 %><br />
    <%= f.text_field :comuna2 %>
  </p>
  <p>
    <%= f.label :comuna3 %><br />
    <%= f.text_field :comuna3 %>
  </p>
  <p>
    <%= f.label :comuna4 %><br />
    <%= f.text_field :comuna4 %>
  </p>
  <p>
    <%= f.label :comuna5 %><br />
    <%= f.text_field :comuna5 %>
  </p>
  <p>
    <%= f.label :comuna6 %><br />
    <%= f.text_field :comuna6 %>
  </p>
  <p>
    <%= f.label :comuna7 %><br />
    <%= f.text_field :comuna7 %>
  </p>
  <p>
    <%= f.label :comuna8 %><br />
    <%= f.text_field :comuna8 %>
  </p>
  <p>
    <%= f.label :comuna9 %><br />
    <%= f.text_field :comuna9 %>
  </p>
  <p>
    <%= f.label :comuna10 %><br />
    <%= f.text_field :comuna10 %>
  </p>
  <p>
    <%= f.label :comuna11 %><br />
    <%= f.text_field :comuna11 %>
  </p>
  <p>
    <%= f.label :comuna12 %><br />
    <%= f.text_field :comuna12 %>
  </p>
  <p>
    <%= f.label :comuna13 %><br />
    <%= f.text_field :comuna13 %>
  </p>
  <p>
    <%= f.label :comuna14 %><br />
    <%= f.text_field :comuna14 %>
  </p>
  <p>
    <%= f.label :comuna15 %><br />
    <%= f.text_field :comuna15 %>
  </p>
  <p>
    <%= f.label :comuna16 %><br />
    <%= f.text_field :comuna16 %>
  </p>
  <p>
    <%= f.label :comuna50 %><br />
    <%= f.text_field :comuna50 %>
  </p>
  <p>
    <%= f.label :comuna60 %><br />
    <%= f.text_field :comuna60 %>
  </p>
  <p>
    <%= f.label :comuna70 %><br />
    <%= f.text_field :comuna70 %>
  </p>
  <p>
    <%= f.label :comuna80 %><br />
    <%= f.text_field :comuna80 %>
  </p>
  <p>
    <%= f.label :comuna90 %><br />
    <%= f.text_field :comuna90 %>
  </p>
  <p>
    <%= f.label :sincomuna %><br />
    <%= f.text_field :sincomuna %>
  </p>
  <p>
    <%= f.label :comunatotal %><br />
    <%= f.text_field :comunatotal %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @indicadoresresultado %> |
<%= link_to 'Back', indicadoresresultados_path %>