<p>
  <b>Indicador:</b>
  <%=h @indicadoresresultado.indicador_id %>
</p>

<p>
  <b>Edad1:</b>
  <%=h @indicadoresresultado.edad1 %>
</p>

<p>
  <b>Edad2:</b>
  <%=h @indicadoresresultado.edad2 %>
</p>

<p>
  <b>Edad3:</b>
  <%=h @indicadoresresultado.edad3 %>
</p>

<p>
  <b>Edad0:</b>
  <%=h @indicadoresresultado.edad0 %>
</p>

<p>
  <b>Edadtotal:</b>
  <%=h @indicadoresresultado.edadtotal %>
</p>

<p>
  <b>Genero1:</b>
  <%=h @indicadoresresultado.genero1 %>
</p>

<p>
  <b>Genero2:</b>
  <%=h @indicadoresresultado.genero2 %>
</p>

<p>
  <b>Genero0:</b>
  <%=h @indicadoresresultado.genero0 %>
</p>

<p>
  <b>Generototal:</b>
  <%=h @indicadoresresultado.generototal %>
</p>

<p>
  <b>Afro1:</b>
  <%=h @indicadoresresultado.afro1 %>
</p>

<p>
  <b>Afro2:</b>
  <%=h @indicadoresresultado.afro2 %>
</p>

<p>
  <b>Afro0:</b>
  <%=h @indicadoresresultado.afro0 %>
</p>

<p>
  <b>Afrototal:</b>
  <%=h @indicadoresresultado.afrototal %>
</p>

<p>
  <b>Indi1:</b>
  <%=h @indicadoresresultado.indi1 %>
</p>

<p>
  <b>Indi2:</b>
  <%=h @indicadoresresultado.indi2 %>
</p>

<p>
  <b>Indi0:</b>
  <%=h @indicadoresresultado.indi0 %>
</p>

<p>
  <b>Inditotal:</b>
  <%=h @indicadoresresultado.inditotal %>
</p>

<p>
  <b>Rom1:</b>
  <%=h @indicadoresresultado.rom1 %>
</p>

<p>
  <b>Rom2:</b>
  <%=h @indicadoresresultado.rom2 %>
</p>

<p>
  <b>Rom0:</b>
  <%=h @indicadoresresultado.rom0 %>
</p>

<p>
  <b>Romtotal:</b>
  <%=h @indicadoresresultado.romtotal %>
</p>

<p>
  <b>Grupoetnicosininfo:</b>
  <%=h @indicadoresresultado.grupoetnicosininfo %>
</p>

<p>
  <b>Disc1:</b>
  <%=h @indicadoresresultado.disc1 %>
</p>

<p>
  <b>Disc2:</b>
  <%=h @indicadoresresultado.disc2 %>
</p>

<p>
  <b>Disc0:</b>
  <%=h @indicadoresresultado.disc0 %>
</p>

<p>
  <b>Disctotal:</b>
  <%=h @indicadoresresultado.disctotal %>
</p>

<p>
  <b>Comuna1:</b>
  <%=h @indicadoresresultado.comuna1 %>
</p>

<p>
  <b>Comuna2:</b>
  <%=h @indicadoresresultado.comuna2 %>
</p>

<p>
  <b>Comuna3:</b>
  <%=h @indicadoresresultado.comuna3 %>
</p>

<p>
  <b>Comuna4:</b>
  <%=h @indicadoresresultado.comuna4 %>
</p>

<p>
  <b>Comuna5:</b>
  <%=h @indicadoresresultado.comuna5 %>
</p>

<p>
  <b>Comuna6:</b>
  <%=h @indicadoresresultado.comuna6 %>
</p>

<p>
  <b>Comuna7:</b>
  <%=h @indicadoresresultado.comuna7 %>
</p>

<p>
  <b>Comuna8:</b>
  <%=h @indicadoresresultado.comuna8 %>
</p>

<p>
  <b>Comuna9:</b>
  <%=h @indicadoresresultado.comuna9 %>
</p>

<p>
  <b>Comuna10:</b>
  <%=h @indicadoresresultado.comuna10 %>
</p>

<p>
  <b>Comuna11:</b>
  <%=h @indicadoresresultado.comuna11 %>
</p>

<p>
  <b>Comuna12:</b>
  <%=h @indicadoresresultado.comuna12 %>
</p>

<p>
  <b>Comuna13:</b>
  <%=h @indicadoresresultado.comuna13 %>
</p>

<p>
  <b>Comuna14:</b>
  <%=h @indicadoresresultado.comuna14 %>
</p>

<p>
  <b>Comuna15:</b>
  <%=h @indicadoresresultado.comuna15 %>
</p>

<p>
  <b>Comuna16:</b>
  <%=h @indicadoresresultado.comuna16 %>
</p>

<p>
  <b>Comuna50:</b>
  <%=h @indicadoresresultado.comuna50 %>
</p>

<p>
  <b>Comuna60:</b>
  <%=h @indicadoresresultado.comuna60 %>
</p>

<p>
  <b>Comuna70:</b>
  <%=h @indicadoresresultado.comuna70 %>
</p>

<p>
  <b>Comuna80:</b>
  <%=h @indicadoresresultado.comuna80 %>
</p>

<p>
  <b>Comuna90:</b>
  <%=h @indicadoresresultado.comuna90 %>
</p>

<p>
  <b>Sincomuna:</b>
  <%=h @indicadoresresultado.sincomuna %>
</p>

<p>
  <b>Comunatotal:</b>
  <%=h @indicadoresresultado.comunatotal %>
</p>


<%= link_to 'Edit', edit_indicadoresresultado_path(@indicadoresresultado) %> |
<%= link_to 'Back', indicadoresresultados_path %>