<h1>Editing arrendimientospago</h1>

<% form_for(@arrendimientospago) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :personasarrendamiento_id %><br />
    <%= f.text_field :personasarrendamiento_id %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :user_actualiza %><br />
    <%= f.text_field :user_actualiza %>
  </p>
  <p>
    <%= f.label :clase %><br />
    <%= f.text_field :clase %>
  </p>
  <p>
    <%= f.label :entidad %><br />
    <%= f.text_field :entidad %>
  </p>
  <p>
    <%= f.label :valor %><br />
    <%= f.text_field :valor %>
  </p>
  <p>
    <%= f.label :fecha_inicio %><br />
    <%= f.date_select :fecha_inicio %>
  </p>
  <p>
    <%= f.label :fecha_fin %><br />
    <%= f.date_select :fecha_fin %>
  </p>
  <p>
    <%= f.label :nro_dias %><br />
    <%= f.text_field :nro_dias %>
  </p>
  <p>
    <%= f.label :pagado %><br />
    <%= f.text_field :pagado %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @arrendimientospago %> |
<%= link_to 'Back', arrendimientospagos_path %>