<p>
  <b>Personasarrendamiento:</b>
  <%=h @arrendimientospago.personasarrendamiento_id %>
</p>

<p>
  <b>User:</b>
  <%=h @arrendimientospago.user_id %>
</p>

<p>
  <b>User actualiza:</b>
  <%=h @arrendimientospago.user_actualiza %>
</p>

<p>
  <b>Clase:</b>
  <%=h @arrendimientospago.clase %>
</p>

<p>
  <b>Entidad:</b>
  <%=h @arrendimientospago.entidad %>
</p>

<p>
  <b>Valor:</b>
  <%=h @arrendimientospago.valor %>
</p>

<p>
  <b>Fecha inicio:</b>
  <%=h @arrendimientospago.fecha_inicio %>
</p>

<p>
  <b>Fecha fin:</b>
  <%=h @arrendimientospago.fecha_fin %>
</p>

<p>
  <b>Nro dias:</b>
  <%=h @arrendimientospago.nro_dias %>
</p>

<p>
  <b>Pagado:</b>
  <%=h @arrendimientospago.pagado %>
</p>


<%= link_to 'Edit', edit_arrendimientospago_path(@arrendimientospago) %> |
<%= link_to 'Back', arrendimientospagos_path %>