<table width="837" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="100%" border="0" cellspacing="2" cellpadding="0">
        <tr class="odd1">
          <td width="80%" class="campos">Identificacion del jefe de hogar :</td>
          <td width="20%" class="campos">Tipo</td>
          </tr>
          <tr>
          <td class="campos"><%= text_field_with_auto_complete :valorizacionespersona, :persona_autobuscar,
	    { :class => "campo",
                :size => 90,
                :maxlength => 50,
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" },
	    { :url => listar_personas_path(:js), :method => :get, :with => "'search=' + element.value" } %>
          &nbsp;<%= link_to "",new2_personas_path, :title => "Crear Persona", :popup => ['new_window','height=650,width=1000,scrollbars=yes'], :class=>"nuevoplink"%>
          <%= error_message_on :valorizacionespersona, :persona_autobuscar, :css_class =>"cerror"%></td>
          <td class="campos"><%= select(:valorizacionespersona, :tipo, select_fonvaltipo, { :include_blank => true },
                      { :style=>"width:150px", :class => "campo" })%>
            <%= error_message_on :valorizacionespersona, :tipo, :css_class =>"cerror"%>
          </td>
        </tr>
      </table>
    <table width="100%" height="0" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td height="10"><hr size="1" noshade class="hrlinea"/></td>
      </tr>
    </table>
    <table width="100%" border="0" cellpadding="2" cellspacing="2">
    <tr>
    <td  height="30"><div align="right">
        <div class="uiButton"><img class="img" src="/images/guardar.png"/>&nbsp;&nbsp;<span class="uiButtonText"><%= hidden_field :valorizacionespersona, :id %><%= submit_tag "Guardar", :disable_with => "Guardando..."%></span></div>
</div></td>
  </tr>
</table>
            </td>
      </tr>
</table>
