<div align="center">
<% remote_form_for [@licitacionesinforme, @licitacionesinformesdetalle] do |form| %>
   <% if !@licitacionesinformesdetalle.id%>
   <% end %>
<% if @licitacionesinforme.licitacionesinformesdetalles.exists? %>
<table width="90%" border="0" align="center" cellpadding="0" cellspacing="0" class="sample">
  <tr valign="middle">
    <td width="65%" height="30" class="oce-first">Descripcion APU</td>
    <td width="10%" height="30" class="oce-first"><div align="center">Cant. Inicial</div></td>
    <td width="10%" height="30" class="oce-first"><div align="center">Avance </div></td>
    <td width="10%" height="30" class="oce-first"><div align="center">Valor </div></td>
    <td width="5%" height="30" class="oce-first"></td>
  </tr>
<% for licitacionesinformesdetalle in @licitacionesinforme.licitacionesinformesdetalles.find(:all, :order => 'created_at DESC') %>
   <% if licitacionesinformesdetalle.id != @licitacionesinformesdetalle.id%>
     <tr valign="middle"  class="<%=cycle('even1', 'odd1')%>" id="licitacionesinformesdetalle_<%=licitacionesinformesdetalle.id%>">
       <td class="camposDesc"><div align="left"><%=licitacionesinformesdetalle.licitacionesenlace.analisisprecio.descripcion rescue nil %>
         <%  @grupo = Grupo.find(licitacionesinformesdetalle.licitacionesenlace.analisisprecio.gruposactividad.grupo_id) %><br/>
        <strong>Grupo : </strong><%=@grupo.codigogrupo rescue nil%> - <%=@grupo.grupo rescue nil%><br/>
        <strong>Subgrupo : </strong><%=@grupo.codigosubgrupo rescue nil%> - <%=@grupo.subgrupo rescue nil%></div>
       </td>
       <td class="camposDesc"><div align="center"><%=licitacionesinformesdetalle.licitacionesenlace.cantidad rescue nil %></div></td>
       <td class="camposDesc"><div align="center"><%=licitacionesinformesdetalle.cantidad rescue nil %></div></td>
       <td class="camposDesc"><div align="center"><%=camponumerico(licitacionesinformesdetalle.valor_total) rescue nil %></div></td>
       <td class="camposDesc"><div align="center">
         <%= link_to_remote('',{:url => edit_licitacionesinforme_licitacionesinformesdetalle_path(@licitacionesinforme, licitacionesinformesdetalle),:method => :get},:title=>"Editar", :class=>"editarlink")%>
         </div>
       </td>
    </tr>
    <% else %>
        <table width="100%" border="0" cellpadding="2" cellspacing="2">
          <tr><td height="30"><div class="col_enc">EDITAR</div></td></tr>
        </table>
        <%= render :partial => "licitacionesinformesdetalles_form" %>
        <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
    <% end %>
  <% end %>
     <tr valign="middle" class="oce-first">
       <td class="camposDesc" height="30" colspan="3"><div align="right">Total Ejecutado (<%=number_to_currency(@licitacionesinforme.porcentajeavanceinforme,{:precision => 2, :unit=>"", :delimiter =>"."})%> %)</div></td>
       <td class="camposDesc" colspan="2"><div align="center">$ <%=camponumerico(@licitacionesinforme.licitacionesinformesdetalles.sum("valor_total")) rescue nil %></div></td>
    </tr>
</table>
<% else %>
<table width="40%" border="0" cellpadding="0" align="center" cellspacing="0" bgcolor="#E5E5E5">
      <tr>
        <td width="10%"><div align="right"><img src="/images/alerta.png"></div></td>
        <td width="90%" align="left" class="campos">&nbsp;&nbsp;No hay datos asociados.</td>
     </tr>
</table>
<% end %>
            <%= hidden_field :licitacionesinforme, :id %>
<% end %>
<br/>
<% if flash[:licitacionesinformesdetalle] %>
<div id="licitacionesinformesdetalle">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#E5E5E5">
   <tr>
        <td width="5%"><div align="right"><img src="/images/connect.png"/></div></td>
        <td width="95%" align="left" class="campos">&nbsp;&nbsp;<%= flash[:licitacionesinformesdetalle] %></td>
   </tr>
  </table>
</div>
<script type="text/javascript">
  setTimeout("new Effect.Fade('licitacionesinformesdetalle');", 5000)
</script>
<% end %>
</div>