<p>
  <b>User:</b>
  <%=h @almacenesmantenimiento.user_id %>
</p>

<p>
  <b>Req adecuaciones:</b>
  <%=h @almacenesmantenimiento.req_adecuaciones %>
</p>

<p>
  <b>Req plomeria:</b>
  <%=h @almacenesmantenimiento.req_plomeria %>
</p>

<p>
  <b>Req pintura:</b>
  <%=h @almacenesmantenimiento.req_pintura %>
</p>

<p>
  <b>Req arreglo:</b>
  <%=h @almacenesmantenimiento.req_arreglo %>
</p>

<p>
  <b>Req instalacion:</b>
  <%=h @almacenesmantenimiento.req_instalacion %>
</p>

<p>
  <b>Req arreglochapas:</b>
  <%=h @almacenesmantenimiento.req_arreglochapas %>
</p>

<p>
  <b>Req organizar:</b>
  <%=h @almacenesmantenimiento.req_organizar %>
</p>

<p>
  <b>Req trabajos:</b>
  <%=h @almacenesmantenimiento.req_trabajos %>
</p>

<p>
  <b>Req otros:</b>
  <%=h @almacenesmantenimiento.req_otros %>
</p>

<p>
  <b>Descripcion:</b>
  <%=h @almacenesmantenimiento.descripcion %>
</p>

<p>
  <b>Clasificacion:</b>
  <%=h @almacenesmantenimiento.clasificacion %>
</p>

<p>
  <b>User clasifica:</b>
  <%=h @almacenesmantenimiento.user_clasifica %>
</p>

<p>
  <b>Fecha clasifica:</b>
  <%=h @almacenesmantenimiento.fecha_clasifica %>
</p>

<p>
  <b>Materiales necesarios:</b>
  <%=h @almacenesmantenimiento.materiales_necesarios %>
</p>

<p>
  <b>Sustentacion:</b>
  <%=h @almacenesmantenimiento.sustentacion %>
</p>

<p>
  <b>Materiales utilizados:</b>
  <%=h @almacenesmantenimiento.materiales_utilizados %>
</p>

<p>
  <b>Fecha ejecucion:</b>
  <%=h @almacenesmantenimiento.fecha_ejecucion %>
</p>

<p>
  <b>User recibe:</b>
  <%=h @almacenesmantenimiento.user_recibe %>
</p>

<p>
  <b>User responsable:</b>
  <%=h @almacenesmantenimiento.user_responsable %>
</p>

<p>
  <b>Fecha registro:</b>
  <%=h @almacenesmantenimiento.fecha_registro %>
</p>

<p>
  <b>Cumple:</b>
  <%=h @almacenesmantenimiento.cumple %>
</p>

<p>
  <b>Observaciones:</b>
  <%=h @almacenesmantenimiento.observaciones %>
</p>


<%= link_to 'Edit', edit_almacenesmantenimiento_path(@almacenesmantenimiento) %> |
<%= link_to 'Back', almacenesmantenimientos_path %>