<h1>Editing interventoriasfecha</h1>

<% form_for(@interventoriasfecha) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :anno %><br />
    <%= f.text_field :anno %>
  </p>
  <p>
    <%= f.label :mes %><br />
    <%= f.text_field :mes %>
  </p>
  <p>
    <%= f.label :fecha_inicial %><br />
    <%= f.date_select :fecha_inicial %>
  </p>
  <p>
    <%= f.label :fecha_final %><br />
    <%= f.date_select :fecha_final %>
  </p>
  <p>
    <%= f.label :fecha_limite %><br />
    <%= f.date_select :fecha_limite %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @interventoriasfecha %> |
<%= link_to 'Back', interventoriasfechas_path %>