<p>
  <b>Anno:</b>
  <%=h @interventoriasfecha.anno %>
</p>

<p>
  <b>Mes:</b>
  <%=h @interventoriasfecha.mes %>
</p>

<p>
  <b>Fecha inicial:</b>
  <%=h @interventoriasfecha.fecha_inicial %>
</p>

<p>
  <b>Fecha final:</b>
  <%=h @interventoriasfecha.fecha_final %>
</p>

<p>
  <b>Fecha limite:</b>
  <%=h @interventoriasfecha.fecha_limite %>
</p>


<%= link_to 'Edit', edit_interventoriasfecha_path(@interventoriasfecha) %> |
<%= link_to 'Back', interventoriasfechas_path %>