<table width="100%" height="40">
      <tr>
        <td>
          <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="3%"><img src="/images/empleadosmin.png" width="64" height="64"/></td>
              <td width="94%"><div class="col_enc">&nbsp;&nbsp;INFORMACION CONTRATISTAS</div></td>
              <td width="3%"><div align="right"><% if permiso("empleado","C").to_s == "S" %>
  <%= link_to image_tag('nuevo.png',{ :border=>0, :title => "Nuevo"}),
      {:controller => "empleados", :action => "new", :tipo=> "C"}%>
                 <% end %> </div></td>
            </tr>
          </table></td>
      </tr>
</table><br/>
<% form_tag buscar_empleados_path, :method => 'get' do %>

<table width="65%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr class="odd1">
      <td width="30%" height="30" class="campos" align="left">Identificacion</td>
      <td width="70%" class="camposDesc" align="left"><%= text_field_tag :identificacion, params[:identificacion],{ :class => "campo", :size => 25,
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" } %></td>
    </tr>
    <tr>
      <td class="campos" height="30" align="left">Nombre</td>
      <td class="camposDesc" align="left"><%= text_field_tag :nombre, params[:nombre],{ :class => "campo", :size => 70,
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" } %></td>
    </tr>
    <tr class="odd1">
      <td class="campos" height="30" align="left">Nro Contrato</td>
      <td class="camposDesc" align="left"><%= text_field_tag :nro_contrato, params[:nro_contrato],{ :class => "campo", :size => 25,
                :onFocus => "this.style.border='1px solid #f00'",
                :onBlur => "this.style.border='1px solid #bbb'" } %>
        <div class="cerror"><strong>* Ultimo Contrato <%=help_lastcont.to_s%></strong></div></td>
    </tr>    
</table>
<table width="80%" height="0" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="10"><hr size="1" noshade class="hrlinea"/></td>
      </tr>
</table>
<table width="80%" border="0" cellpadding="2" align="center" cellspacing="2">
  <tr>
    <td  height="30"><div align="right">
    <div class="uiButton"><img class="img" src="/images/search.png"/>&nbsp;&nbsp;<span class="uiButtonText">
      <%= submit_tag "Buscar", :name => 'nil', :value => 'Buscar', :disable_with => "Buscando..." %>
          </span></div>
</div></td>
  </tr>
</table>
<% end %>
<br/>
<table width="80%" border="0" cellpadding="2" cellspacing="2"  align="center">
  <tr><td></td></tr>
  <tr>
    <td align="left" height="30"><div class="col_enc">INFORME CONSOLIDADO</div></td>
  </tr>
</table>
<% form_tag reporteconsol_empleados_path, :method => 'get' do %>
<table width="80%" border="0" cellpadding="2" align="center" cellspacing="2">
  <tr>
    <td  height="100%"><div align="right">
      <div class="uiButton"><img class="img" src="/images/excel.png"/>&nbsp;&nbsp;<span class="uiButtonText">
      <%= submit_tag "Consolidado"%>
          </span></div>
</div></td>
  </tr>
</table>
<% end %>
<br/>
<table width="80%" border="0" cellpadding="2" cellspacing="2"  align="center">
  <tr><td></td></tr>
  <tr>
    <td align="left" height="30"><div class="col_enc">INFORME CONTRATOS POR RANGO DE FECHAS</div></td>
  </tr>
</table>
<% form_tag rango_empleados_path, :method => 'get' do %>
<table width="75%" border="0" align="center" cellpadding="0" cellspacing="2">
  <tr class="odd1">
    <td width="58%" height="30" class="campos">Seleccione el rango de fecha de inicio de los Contratos</td>
  </tr>
  <tr>
    <td height="30"  class="camposDesc">&nbsp;&nbsp;Fecha Inicial &nbsp; <%= calendar_date_select "ubicacion", "fchinicial", :year_range => select_rangocalendar, :class=> "campo", :size => 10, :time => false, :onfocus=>"this.blur()"%> &nbsp;&nbsp;Fecha Final&nbsp; <%= calendar_date_select "ubicacion", "fchfinal", :year_range => select_rangocalendar, :class=> "campo", :size => 10, :time => false, :onfocus=>"this.blur()"%></td>
  </tr>
</table>
<table width="80%" height="0" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="10"><hr size="1" noshade class="hrlinea"/></td>
      </tr>
</table>
<table width="80%" border="0" cellpadding="2" align="center" cellspacing="2">
  <tr>
    <td  height="100%"><div align="right">
      <div class="uiButton"><img class="img" src="/images/excel.png"/>&nbsp;&nbsp;<span class="uiButtonText">
      <%= submit_tag "Generar informe"%>
          </span></div>
</div></td>
  </tr>
</table>
<% end %>
<br/>
<br/>
<table width="80%" border="0" cellpadding="2" cellspacing="2"  align="center">
  <tr><td></td></tr>
  <tr>
    <td align="left" height="30"><div class="col_enc">INFORME CONTRATOS POR INTERVENTOR</div></td>
  </tr>
</table>
<% form_tag informeinterventor_empleados_path, :method => 'get' do %>
<table width="80%" border="0" cellpadding="2" align="center" cellspacing="2">
  <tr>
    <td  height="100%"><div align="right">
      <div class="uiButton"><img class="img" src="/images/excel.png"/>&nbsp;&nbsp;<span class="uiButtonText">
      <%= submit_tag "Informe Interventor"%>
          </span></div>
</div></td>
  </tr>
</table>
<% end %>
<br/>
<% if permiso("estudiosprevioscontrato","C").to_s == "S" %>
    <% if Estudiosprevio.exists?(["estado = 'ENVIADO'"]) == true
      @estudiosprevios = Estudiosprevio.find_all_by_estado("ENVIADO")
    %>
    <table width="80%" border="0" cellpadding="2" cellspacing="2"  align="center">
      <tr><td></td></tr>
      <tr>
        <td align="left" height="30"><div class="col_enc">PRESUPUESTOS PENDIENTES DE ASIGNACION DE NRO DE CONTRATO</div></td>
      </tr>
    </table>
    <table width="80%" border="0" align="center" cellpadding="0" cellspacing="0" id="one-column-emphasis">
      <tr>
        <td width="25%" class="oce-first">Empleado</td>
        <td width="33%" class="oce-first">Objeto</td>
        <td width="5%" class="oce-first">Dias</td>
        <td width="5%" class="oce-first">Meses</td>
        <td width="10%" class="oce-first">Valor total</td>
        <td width="10%" class="oce-first"></td>
      </tr>
    <% @estudiosprevios.each do |estudiosprevio| %>
      <tr>
        <td height="30" class="camposDesc"><%=h estudiosprevio.empleado.autobuscar rescue nil %></td>
        <td class="camposDesc"><%=h estudiosprevio.objeto %></td>
        <td class="camposDesc"><%=h estudiosprevio.dias %></td>
        <td class="camposDesc"><%=h estudiosprevio.meses %></td>
        <td class="camposDesc"><%=h estudiosprevio.valor_total %></td>
        <td class="camposDesc"><div align="center">
          <%= link_to "Crear", {:controller => "estudiosprevios", :action => "createcontrato", :id=>estudiosprevio.id}, :confirm=>"Seguro?", :class=>"verlink"%>
          &nbsp;<%= link_to "Ver", {:controller => "estudiosprevios", :action => "ver", :id=>estudiosprevio.id},  :popup => ['new_window','height=600,width=830,scrollbars=yes'], :class=>"verlink"%>
          &nbsp;<%= link_to 'Eliminar', estudiosprevio, :confirm => 'Esta seguro que desea eliminiar este registro con todos sus componentes?', :method => :delete,:class=>"borrarlink" %>
          </div>
        </td>
      </tr>
    <% end %>
    </table>
    <br/>
    <% end%>
<% end%>
