<h1>Editing empleado</h1>

<% form_for(@empleado) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :identificacion %><br />
    <%= f.text_field :identificacion %>
  </p>
  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </p>
  <p>
    <%= f.label :direccion %><br />
    <%= f.text_field :direccion %>
  </p>
  <p>
    <%= f.label :telefono %><br />
    <%= f.text_field :telefono %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :tipo %><br />
    <%= f.text_field :tipo %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @empleado %> |
<%= link_to 'Back', empleados_path %>