<table width="100%" border="0" cellpadding="2" cellspacing="2" align="center">
  <tr>
    <td height="30"><div class="col_enc">INFORMACION DIGITALIZADA</div></td>
  </tr>
  <tr>
    <td height="10"></td>
  </tr>
</table>
<% if permiso("viviendasimagen","C").to_s == "S" %>
<table width="100%" border="0" cellpadding="2" cellspacing="2">
  <tr>
    <td  height="30"><div align="right">
        <div class="uiButton"><img class="img" src="/images/images.png"/>&nbsp;&nbsp;<span class="uiButtonText"><%= link_to 'Cargar Información', new_vivienda_viviendasimagen_path(@vivienda.id) %></span></div>
</div></td>
  </tr>
</table>
<% end %>
<br>
<div align="center">
<% remote_form_for [@vivienda, @viviendasimagen] do |form| %>
<% if !@viviendasimagen.id %>
<% end %>
<% if @vivienda.viviendasimagenes.exists? %>
<table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr valign="middle">
    <td width="30%" height="30" class="oce-first" align="left">Descripcion</td>
    <td width="50%" height="30" class="oce-first" align="left">Nombre del Archivo</td>
    <td width="20%" height="20" class="oce-first" align="left">&nbsp;</td>
  </tr>
</table>
  <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0" id="one-column-emphasis">
  <% @vivienda.viviendasimagenes.each do |viviendasimagen| %>
    <% if viviendasimagen.id != @viviendasimagen.id %>

   <tr  valign="middle" class="<%=cycle('even1', 'odd1')%>" id="viviendasimagen_<%= viviendasimagen.id%>">
     <td width="30%" height="30" class="camposDesc" align="left"><%=viviendasimagen.descripcion%></td>
     <td width="50%" height="30" class="camposDesc" align="left"><%=viviendasimagen.foto_file_name%></td>
     <td width="20%" height="30" class="camposDesc" align="right">
      <%= link_to "Ver", viviendasimagen.foto.url(:original, false),
                     { :popup => ['new_window','height=450,width=600,scrollbars=yes'], :class=>"verlink"}%>
       <% if permiso("viviendasimagen","E").to_s == "S" %>
       &nbsp;|&nbsp;<%= link_to_remote('Borrar',{:url => vivienda_viviendasimagen_path(@vivienda, viviendasimagen),
		:method => :delete, :confirm => "¿Seguro?"}, :class=>"borrarlink")%>
       <% end %>
     </td>
 </tr>
<% else %>
      <tr class="<%=cycle('even1', 'odd1')%>" id="viviendasimagen_<%=@viviendasimagen.id%>">
          <%= render :partial => "viviendasimagenes_form" %>
      </tr>
     <% end %>
  <% end %>
</table>
<% else %>
<table width="40%" border="0" cellpadding="0" align="center" cellspacing="0" bgcolor="#E5E5E5">
      <tr>
        <td width="10%"><div align="right"><img src="/images/alerta.png"></div></td>
        <td width="90%" align="left" class="campos">&nbsp;&nbsp;No hay datos asociados.</td>
     </tr>
</table>
<% end %>
   <%= hidden_field :vivienda, :id %>
<% end %>
</div>