<table width="100%" height="0" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td height="10"><hr size="1" noshade class="hrlinea"/></td>
      </tr>
</table>
<table width="100%" height="40">
      <tr>
        <td>
          <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="3%"><img src="/images/proyectosmin.png" width="64" height="64"/></td>
              <td width="94%"><div class="col_enc">INFORMACIÓN LOTES</div></td>
              <td width="3%"><div align="right">
          <% if permiso("lote","C").to_s == "S" %>
               <%= link_to image_tag('nuevo.png',
                              { :border=>0, :title => "Nuevo"}),new_lote_path %>
          <% end %>
              </div></td>
            </tr>
          </table></td>
      </tr>
</table>
<br/>
<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" id="one-column-emphasis">
  <tr valign="middle">
    <td width="10%" class="oce-first">Consecutivo</td>
    <td width="10%" class="oce-first">Clasificacion</td>
    <td width="35%" height="30" class="oce-first">Direccion</td>
    <td width="20%" class="oce-first">Interesado</td>
    <td width="20%" class="oce-first">Barrio</td>
    <td width="5%" class="oce-first">&nbsp;</td>
  </tr>
<% @lotes.each do |lote| %>
  <tr class="<%=cycle('even1', 'odd1')%>">
    <td class="camposDesc"><div align="center"><%=h lote.consecutivo_lote %></div></td>
    <td class="camposDesc"><div align="center"><%=h lote.clasificacion %></div></td>
    <td class="camposDesc"><%=h lote.direccion %></td>
    <td class="camposDesc"><%=h lote.interesado %></td>
    <td class="camposDesc"><%=h lote.barrio %></td>
    <td class="camposDesc"><%= link_to 'Editar', edit_lote_path(lote), :class=>"editarlink" %></td>
  </tr>
<% end %>
</table>
<br/><br/>