<table width="100%" height="40">
  <tr>
    <td>
      <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="3%"><img src="/images/proyectosmin.png" width="64" height="64"/></td>
          <td width="94%"><div class="col_enc">INFORMACIÓN PROYECTOS</div></td>
          <td width="3%"><div align="right">
          </div></td>
        </tr>
      </table></td>
  </tr>
</table>
<table width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr valign="middle">
    <td width="30%" height="30" class="oce-first">Descripción</td>
    <td width="20%" class="oce-first"><div align="center">SubEtapa</div></td>
    <td width="20%" class="oce-first"><div align="center">Etapa proyecto</div></td>
    <td width="30%" class="oce-first">&nbsp;</td>
  </tr>
<% @proyectos.each do |proyecto| %>
  <tr valign="middle"  class="<%=cycle('even1', 'odd1')%>">
    <td height="20" class="camposDesc"><%=h proyecto.descripcion %></td>
    <td class="camposDesc"><div align="center"><%=h proyecto.sub_etapa %></div></td>
    <td class="camposDesc"><div align="center"><%=h proyecto.etapa_proyecto %></div></td>
    <td class="camposDesc"><div align="center"><%= link_to 'Editar', edit_proyecto_path(proyecto), :class=>"editarlink"%></div></td>
  </tr>
<% end %>
</table>
<br/>