<h1>Editing modalidad</h1>

<% form_for(@modalidad) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @modalidad %> |
<%= link_to 'Back', modalidades_path %>